/*custom css  */
:root {
    --primary-color: #9aadec;
    --secondary-color: #d5ddf8;
    --3nd-color: #7e96e8;
    --4th-color: #374986;
    --5th-color: #f3c6f2;
    --6th-color: #efa6b6;
}

.modal-xlg {
    max-width: 1280px;
}

/*end custom css*/
.window {
    z-index: 20;
}

.jtk-connector {
    z-index: 4;
}

.jtk-endpoint {
    z-index: 5;
}

.jtk-overlay {
    z-index: 6;
}

.dropdown-menu {
    width: 100%;
}

#flowchart_workflow {
    position: relative;
}

#tab_next_node .wrap-flowchart {
    display: flex;
    justify-content: space-between;
}

#tab_next_node #node_dragbox {
    width: 30%;
    border: solid 1px #cdcdcd;
    height: 90vh;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}

#node_dragbox .control {
    flex: 0 0 auto;
}

.wrap-flowchart .control {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.wrap-flowchart .control,
.wrap-flowchart .clone {
    background: var(--secondary-color);
    padding: 12px 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #cdd6f5;
    border-radius: 10px;
    display: flex;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 4px 10px 1px rgba(154, 173, 236, .45);
    position: relative;
    cursor: grab;

}

.wrap-flowchart .control .drag-title,
.wrap-flowchart .clone .drag-title {
    font-weight: 500;
    color: var(--4th-color);
}

#tab_next_node #flowchart_workflow {
    width: calc(70% - 12px);
    border: solid 1px #cdcdcd;
    border-radius: 10px;
    height: 90vh;
}

.custom-menu {
    z-index: 1000;
    position: absolute;
    background: #8d90e2;
    border: solid 1px #cdcdcd;
    padding: 5px 10px;
    border-radius: 4px;
}

.custom-menu a {
    color: #fff !important;
}

.control.ui-draggable-disabled {
    opacity: .5;
    cursor: no-drop;
}

.cssAssociateLabel {
    width: 10px;
    height: 10px;
    background: #7e96e8;
    transition: transform .5s ease-in;
    border-radius: 5px;
}

.jtk-connector path:hover + .cssAssociateLabel {
    transform: scale(1.3);
}