/*custom css  */
:root {
    --primary-color: #9aadec;
    --secondary-color: #d5ddf8;
    --3nd-color: #7e96e8;
    --4th-color: #374986;
    --5th-color: #f3c6f2;
    --6th-color: #efa6b6;
}

.modal-xlg {
    max-width: 1280px;
}

@media screen and (max-width: 1280px) {
    .modal-xlg {
        max-width: 70%;
    }
}

/*end custom css*/
.window {
    z-index: 20;
}

.jtk-connector {
    z-index: 4;
}

.jtk-endpoint {
    z-index: 5;
}

.jtk-overlay {
    z-index: 6;
}

.dropdown-menu {
    width: 100%;
}

#tab_next_node .wrap-flowchart {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#tab_next_node #node_dragbox {
    width: 30%;
    border: solid 1px #cdcdcd;
    /*height: 75vh;*/
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
    /*overflow-y: auto;*/
}

#node_dragbox .control {
    flex: 0 0 auto;
}

.wrap-flowchart .control {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.wrap-flowchart .control,
.wrap-flowchart .clone {
    background: var(--secondary-color);
    padding: 12px 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #cdd6f5;
    border-radius: 10px;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 4px 10px 1px rgba(154, 173, 236, .45);
    position: relative;
    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
}

.wrap-flowchart .clone {
    position: absolute;
}

.wrap-flowchart .control .drag-title,
.wrap-flowchart .clone .drag-title {
    font-size: .8rem;
    font-weight: 500;
    color: var(--4th-color);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tab_next_node .wrap-flowchart_wf {
    width: calc(70% - 12px);
    border: solid 1px #cdcdcd;
    border-radius: 10px;
    height: 75vh;
    overflow: auto;
}

#flowchart_workflow {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.custom-menu {
    z-index: 1000;
    position: absolute;
    background: #8d90e2;
    border: solid 1px #cdcdcd;
    padding: 5px 10px;
    border-radius: 4px;
}

.custom-menu a {
    color: #fff !important;
}

.control.ui-draggable-disabled {
    opacity: .5;
    cursor: no-drop;
}

.cssAssociateLabel {
    width: 10px;
    height: 10px;
    background: #7e96e8;
    transition: transform .5s ease-in;
    border-radius: 5px;
}

.jtk-connector path:hover + .cssAssociateLabel {
    transform: scale(1.3);
}

/*scrollbar*/
#node_dragbox::-webkit-scrollbar-track,
.wrap-flowchart_wf::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#node_dragbox::-webkit-scrollbar,
.wrap-flowchart_wf::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

#node_dragbox::-webkit-scrollbar-thumb,
.wrap-flowchart_wf::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/*end scrollbar*/
.wrap-btn_extend {
    position: absolute;
    top: 6px;
    right: 12px;
    z-index: 111;
    opacity: 0;
    visibility: hidden;
    color: var(--4th-color);
}

#tab_next_node:hover .wrap-btn_extend {
    visibility: visible;
    opacity: 1;
}

.wrap-btn_extend .btn {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.wrap-btn_extend .btn:hover {
    background: var(--secondary-color);
}

.jtk-overlay.cssAssociateLabel.jtk-hover {
    background: var(--4th-color);
}