
.window {
    z-index: 20;
}

.jtk-connector {
    z-index: 4;
}

.jtk-endpoint {
    z-index: 5;
}

.jtk-overlay {
    z-index: 6;
}

.dropdown-menu {
    width: 100%;
}

#flowchart_workflow {
    position: relative;
}

#tab_next_node .wrap-flowchart {
    display: flex;
    justify-content: space-between;
}

#tab_next_node #node_dragbox {
    width: 30%;
    border: solid 1px #cdcdcd;
    height: 90vh;
    border-radius: 10px;
}

#node_dragbox {
    padding: 10px;
}

.wrap-flowchart .control{
    user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.wrap-flowchart .control,
.wrap-flowchart .clone{
    background: #d5ddf8;
    padding: 12px 10px;
    margin-bottom: 20px;
    border-left: solid 18px #9aadec;
    border-bottom: solid 1px #cdd6f5;
    border-radius: 10px;
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 4px 10px 1px rgba(154, 173, 236, .45);
    position: relative;
    cursor: grab;

}

.wrap-flowchart .control:before {
    content: '::::';
    position: absolute;
    top: 10px;
    left: -19px;
    transform: rotate(90deg);
    letter-spacing: 2px;
    font-size: 20px;
    color: #7e96e8;
}

.wrap-flowchart .control .drag-title,
.wrap-flowchart .clone .drag-title{
    font-weight: 500;
    color: #374986;
}

#tab_next_node #flowchart_workflow {
    width: calc(70% - 12px);
    border: solid 1px #cdcdcd;
    border-radius: 10px;
    height: 90vh;
}

.custom-menu {
    z-index: 1000;
    position: absolute;
    background: #8d90e2;
    border: solid 1px #cdcdcd;

    padding: 5px 10px;
    border-radius: 4px;
}

.custom-menu a {
    color: #fff !important;
}

.control.ui-draggable-disabled {
    opacity: .5;
    cursor: no-drop;
}