{% load i18n %}

<div class="modal fade" id="account-select-modal" tabindex="-1" role="dialog" aria-labelledby="account-select-modal">
    <div class="modal-dialog" style="min-width: 70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Select account' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table nowrap w-100"
                               id="table-select-account"
                               data-method="GET"
                               data-url="{% url 'AccountDDListAPI' %}"
                        >
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>{% trans 'Account' %}</th>
                                    <th>{% trans 'Tax number' %}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" id="accept-select-account-btn" class="btn btn-primary">{% trans 'Select' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="picking-product-modal" tabindex="-1" role="dialog" aria-labelledby="picking-product-modal">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Pick detail' %}</h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="row h-100">
                    <div class="col-12 col-md-4 col-lg-4 table-none-space border-right">
                        <table class="table nowrap w-100" id="table-select-warehouse">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px"></th>
                                    <th style="min-width: 20px"></th>
                                    <th style="min-width: 150px">{% trans 'Warehouse' %}</th>
                                    <th style="min-width: 100px">{% trans 'Current quantity' %}</th>
                                    <th style="min-width: 100px">{% trans 'Picked quantity' %}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-12 col-md-8 col-lg-8 table-lot-space" hidden>
                        <table class="table nowrap w-100" id="table-select-lot">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px"></th>
                                    <th style="min-width: 20px"></th>
                                    <th style="min-width: 150px">{% trans 'Lot number' %}</th>
                                    <th style="min-width: 150px">{% trans 'Remain' %}</th>
                                    <th style="min-width: 80px">{% trans 'Expiration date' %}</th>
                                    <th style="min-width: 80px">{% trans 'Mfr date' %}</th>
                                    <th style="min-width: 150px">{% trans 'Picked quantity' %}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-12 col-md-8 col-lg-8 table-serial-space" hidden>
                        <table class="table nowrap w-100" id="table-select-serial">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px"></th>
                                    <th style="min-width: 20px"></th>
                                    <th style="min-width: 150px">{% trans 'Vendor serial no.' %}</th>
                                    <th style="min-width: 150px">{% trans 'Serial no.' %}</th>
                                    <th style="min-width: 80px">{% trans 'Expiration date' %}</th>
                                    <th style="min-width: 80px">{% trans 'Mfr date' %}</th>
                                    <th style="min-width: 80px">{% trans 'Warranty start' %}</th>
                                    <th style="min-width: 80px">{% trans 'Warranty end' %}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% trans 'Done' %}</button>
            </div>
        </div>
    </div>
</div>
