{% load i18n %}

<div id="bastion-space">
    {% trans 'Select Sale Person (Beneficiary)' as inherit_title %}
    {% include 'extends/the-documents/bastion.html' with auto_select_current_employee=True show_warning=True opp_title=opp_title has_opp=True has_process=True has_inherit=True is_open=True inherit_title=inherit_title inherit_required=True %}
</div>

<div class="row">
    <div class="col-12 col-md-9 col-lg-9">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label" for="quotation_mapped_select">{% trans "Quotation" %}</label>
                    <select name="quotation_id"
                            class="select2 form-select"
                            data-url="{% url 'CashOutflowQuotationListAPI' %}"
                            id="quotation_mapped_select">
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label" for="sale_order_mapped_select">{% trans "Sale Order" %}</label>
                    <select name="sale_order_id"
                            class="select2 form-select"
                            data-url="{% url 'CashOutflowSaleOrderListAPI' %}"
                            id="sale_order_mapped_select"
                    ></select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label required" for="title">{% trans "Title" %}</label>
                    <input required maxlength="100" name="title" class="form-control" id="title">
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label required" for="advance_payment_type">{% trans "Type" %}</label>
                    <select required class="form-select"
                            id="advance_payment_type"
                            name="advance_payment_type">
                        <option value="0">{% trans "Advance for employee" %}</option>
                        <option value="1">{% trans "Advance for supplier" %}</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-9 col-lg-9">
                <div class="form-group">
                    <label class="form-label" id="supplier-label" for="supplier_id">{% trans "Advance for supplier" %}</label>
                    <select name="supplier_id"
                            class="form-select select2"
                            data-method="GET"
                            id="supplier_id"
                            disabled
                            data-url="{% url 'CashOutflowSupplierListAPI' %}">
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label required" for="method">{% trans "Method" %}</label>
                    <select class="form-select" required id="method" name="method">
                        <option value="0">{% trans "Cash" %}</option>
                        <option value="1" selected>{% trans "Bank transfer" %}</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-9 col-lg-9">
                <div class="form-group">
                    <label class="form-label" for="bank-info">{% trans "Bank information" %}</label>
                    <textarea readonly
                              rows="3"
                              placeholder="{% trans 'Click to select or input new' %}" id="bank-info" class="form-control"
                              data-bs-toggle="modal"
                              data-bs-target="#bank-account-modal"
                    ></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="date_created">{% trans "Date created" %}</label>
                    <input disabled readonly class="form-control form-control-line" id="date_created" name="date_created">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="employee_created">{% trans "Employee created" %}</label>
                    <input disabled readonly class="form-control form-control-line" id="employee_created" name="employee_created">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="advance_date">{% trans "Date of advance payment" %}</label>
                    <input class="form-control" id="advance_date" name="advance_date">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label required" for="return_date">{% trans "Return date" %}</label>
                    <input required class="form-control" id="return_date" name="return_date">
                </div>
            </div>
            <div class="col-12">
                <div class="form-check d-flex align-items-center overflow-hidden">
                    <input type="checkbox" class="form-check-input" name="money_gave" id="money-gave">
                    <label class="text-primary fw-bold" for="money-gave">{% trans "Money gave/transferred" %}</label>
                </div>
            </div>
        </div>
    </div>
</div>
