{% load i18n %}

<ul class="nav nav-line nav-tabs nav-light" id="tab-select-table">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#tab_line_detail">
            <span class="nav-link-text">{% trans 'Line Detail' %}</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab_plan">
            <span class="nav-link-text">{% trans 'Plan' %}</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab_bank_info">
            <span class="nav-link-text">{% trans 'Bank info' %}</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab_attachment">
            <span class="nav-icon-wrap"><span class="feather-icon"><i class="far fa-file-alt"></i></span></span>
            <span class="nav-link-text">{% trans 'Attachment' %}</span>
        </a>
    </li>
</ul>
