#service-order-tab-content .tab-pane {
    height: 65vh;
}

.min-w-1200p{
    min-width: 1200px !important;
}

.min-w-1350p{
    min-width: 1350px !important;
}

table.dataTable tbody th, table.dataTable tbody td, table.dataTable thead th, table.dataTable thead td {
  padding: 0.5rem 1rem
}
