<table style="border-collapse: collapse; width: 100%;" border="0"
       data-mce-style="border-collapse: collapse; width: 100%;" class="mce-item-table">
    <tbody>
    <tr>
        <td style="width: 28.8612%;" data-mce-style="width: 28.8612%;"><img alt="" height="100" loading="lazy"
                                                                            src="http://ngoctrinh.sit.mtsolution.com.vn/media/public/80785ce8f13848b8b7fa5fb1971fe204/global/logo.png"
                                                                            width="199"
                                                                            data-mce-src="http://ngoctrinh.sit.mtsolution.com.vn/media/public/80785ce8f13848b8b7fa5fb1971fe204/global/logo.png">
        </td>
        <td style="width: 70.75%; text-align: center;" data-mce-style="width: 70.75%; text-align: center;"><p>
            <strong><span style="font-size: 18px;"
                          data-mce-style="font-size: 18px;">CÔNG TY CỔ PHẦN GIẢI PHÁP MINH TÂM</span></strong></p>
            <p>Địa chỉ: 20 đường số 22, KDC Him Lam, ấp 4, xã Bình Hưng, huyện Bình Chánh, TP. Hồ Chí Minh</p>
            <p>Email: <a rel="noopener noreferrer nofollow" href="mailto:info@mtsolution.com;vn"
                         data-mce-href="mailto:info@mtsolution.com;vn">info@mtsolution.com;vn</a></p>
            <p>Tel: 0903608494</p></td>
    </tr>
    </tbody>
</table>
<p style="text-align: center;" data-mce-style="text-align: center;"><strong><span style="font-size: 18px;"
                                                                                  data-mce-style="font-size: 18px;">PHIẾU KIỂM KÊ KHO</span></strong>
</p>
<p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 12px;"
                                                                          data-mce-style="font-size: 12px;">Mã số phiếu: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="code" id="idx-W9CueKxluIBNMhBj"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Code</span>​</span></p>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><br></p>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><span style="font-size: 14px;"
                                                                            data-mce-style="font-size: 14px;">Tên phiếu: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="title" id="idx-Y18LPbN36qm29vuH"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Title</span>​</span></p>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><span style="font-size: 14px;"
                                                                            data-mce-style="font-size: 14px;">Ngày tạo: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="date_created"
        id="idx-eDo8EHHABncJfaeG"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Date created</span>​​</span></p>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><span style="font-size: 14px;"
                                                                            data-mce-style="font-size: 14px;">Sản phẩm:</span>
</p>
<table style="border-collapse: collapse; width: 86.5551%; height: 83px;" border="1"
       data-mce-style="border-collapse: collapse; width: 86.5551%; height: 83px;">
    <tbody>
    <tr style="height: 12px;" data-mce-style="height: 12px;">
        <td style="width: 10.63%; height: 12px; text-align: center;"
            data-mce-style="width: 10.63%; height: 12px; text-align: center;"><span style="font-size: 14px;"
                                                                                    data-mce-style="font-size: 14px;"><strong>Tên sản phẩm</strong></span>
        </td>
        <td style="width: 9.52638%; height: 12px; text-align: center;"
            data-mce-style="width: 9.52638%; height: 12px; text-align: center;"><span style="font-size: 14px;"
                                                                                      data-mce-style="font-size: 14px;"><strong>Tên kho</strong></span>
        </td>
        <td style="width: 7.36621%; height: 12px; text-align: center;"
            data-mce-style="width: 7.36621%; height: 12px; text-align: center;"><strong><span style="font-size: 14px;"
                                                                                              data-mce-style="font-size: 14px;">Đơn vị</span></strong>
        </td>
        <td style="width: 9.50119%; height: 12px; text-align: center;"
            data-mce-style="width: 9.50119%; height: 12px; text-align: center;"><span style="font-size: 14px;"
                                                                                      data-mce-style="font-size: 14px;"><strong>Số lượng hệ thống</strong></span>
        </td>
        <td style="width: 11.867%; height: 12px; text-align: center;"
            data-mce-style="width: 11.867%; height: 12px; text-align: center;"><span style="font-size: 14px;"
                                                                                     data-mce-style="font-size: 14px;"><strong>Số lượng thực tế</strong></span>
        </td>
        <td style="width: 9.19012%; height: 12px; text-align: center;"
            data-mce-style="width: 9.19012%; height: 12px; text-align: center;"><span style="font-size: 14px;"
                                                                                      data-mce-style="font-size: 14px;"><strong>Đã xuất/ đã nhập</strong></span>
        </td>
    </tr>
    <tr style="height: 12px;" data-mce-style="height: 12px;">
        <td style="width: 10.63%; height: 10px;" data-mce-style="width: 10.63%; height: 10px;"><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="inventory_adjustment_item_mapped___product_mapped__title" id="idx-H0ye1XxLalfUToAt"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product name</span>​</span></td>
        <td style="width: 9.52638%; height: 10px;" data-mce-style="width: 9.52638%; height: 10px;"><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="inventory_adjustment_item_mapped___warehouse_mapped__title" id="idx-3cfEwGBEOvDce6cj"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product warehouse title</span>​</span></td>
        <td style="width: 7.36621%; height: 10px;" data-mce-style="width: 7.36621%; height: 10px;"><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="inventory_adjustment_item_mapped___uom_mapped__title" id="idx-aF5fC2HX5oPU7tRe"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product UoM name</span>​</span></td>
        <td style="width: 9.50119%; height: 10px;" data-mce-style="width: 9.50119%; height: 10px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="inventory_adjustment_item_mapped___book_quantity" id="idx-7N9WX5l9INcC6ZRF"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product booked quantity</span>​
        </td>
        <td style="width: 11.867%; height: 10px;" data-mce-style="width: 11.867%; height: 10px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="inventory_adjustment_item_mapped___count" id="idx-9hKw0yuwEOaaUgn5"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product counted quantity</span>​
        </td>
        <td style="width: 9.19012%; height: 10px;" data-mce-style="width: 9.19012%; height: 10px;"><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="inventory_adjustment_item_mapped___issued_receipted_quantity" id="idx-QuPTTiGBq5YSq34B"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product issued/receipted quantity</span>​​</span>
        </td>
    </tr>
    </tbody>
</table>
<p><br></p>