#canvas {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*cursor: none;*/
    /* style="top: 0; left: 0; width: 100%;height:100%;"*/
}

.box-vertical-blur {
    background-color: rgb(255, 255, 255, 0.85);
    /*box-shadow: 0.225rem 0.312rem 0.525rem #9E9E9EFF !important;*/
}

.copyrighttext {
    font-size: 0.8rem;
    color: #000000;
    /*color: #ffffff;*/
}

.copyrightbox {
    background-color: rgba(239, 239, 239, 0.2) !important;
    /*background-color: rgba(0, 0, 0, 0.1) !important;*/
}

:root {
    --box-height: 80vh;
}

.hk-pg-wrapper {
    padding-top: calc(100vh - var(--box-height)) !important;
}