#canvas {
    background-color: #2c343f;
    width: 100%;
    height: 100%;
    cursor: none;
}

.box-vertical-blur {
    background-color: rgb(255, 255, 255, 0.85);
    /*box-shadow: 0.225rem 0.312rem 0.525rem #9E9E9EFF !important;*/
}

.copyrighttext {
    font-size: 0.8rem;
    color: #ffffff;
}

.copyrightbox {
    background-color: rgba(0, 0, 0, 0.2) !important;
}