.page-item {
    cursor: pointer;
}

.page-tree ul > li {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.page-tree ul > li > .badge-indicator {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.page-tree ul > ul > li:before {
    content: "⨽";
    padding-left: 10px;
    padding-right: 10px;
}