{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Equipment loan' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url "EquipmentLoanCreate" %}">
        <button class="btn btn-outline-primary" type="button">
            <span>
                <span>{% trans 'Add' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <div class="row">
        <div class="col-12">
            <table id="datatable_equipment_loan_list"
                   class="table nowrap w-100 mb-5"
                   data-method="GET"
                   data-url="{% url 'EquipmentLoanListAPI' %}"
                   data-url-detail="{% url 'EquipmentLoanDetail' '0' %}"
            >
                <thead>
                <tr>
                    <th style="min-width: 50px"></th>
                    <th style="min-width: 100px">{% trans "Code" %}</th>
                    <th style="min-width: 300px">{% trans "Name" %}</th>
                    <th style="min-width: 300px">{% trans "Account" %}</th>
                    <th style="min-width: 100px">{% trans "Product list" %}</th>
                    <th style="min-width: 150px">{% trans "Employee created" %}</th>
                    <th style="min-width: 150px">{% trans "Date created" %}</th>
                    <th style="min-width: 150px">{% trans "Loan date" %}</th>
                    <th style="min-width: 150px">{% trans "Return date" %}</th>
                    <th style="min-width: 80px">{% trans "System status" %}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% block modalData %}
    <div class="modal fade" id="modal-detail-product-loan" tabindex="-1" role="dialog" aria-labelledby="modal-detail-product-loan">
        <div class="modal-dialog" style="min-width: 70%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Loan product' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table nowrap w-100" id="table-loan-product">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{% trans 'Product' %}</th>
                                        <th>{% trans 'Quantity' %}</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/equipmentloan/equipment_loan_list.js' %}"></script>
{% endblock %}
