{% load i18n %}

<div class="row">
    <div class="col-12 col-lg-7 col-md-7">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label required" for="name">{% trans "Name" %}</label>
                    <input class="form-control" id="name" placeholder="{% trans 'Meeting with customer ...' %}">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label required" for="content">{% trans "Meeting content" %}</label>
                    <textarea class="form-control" id="content"></textarea>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3">
                <div class="form-group">
                    <label class="form-label required" for="start-date">{% trans 'Start date' %}</label>
                    <input class="form-control" id="start-date">
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3">
                <div class="form-group">
                    <label class="form-label required" for="start-time">{% trans 'Start time' %}</label>
                    <input class="form-control" id="start-time">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label required" for="duration-hour">{% trans 'Duration' %}</label>
                    <div class="input-group">
                        <select type="number" class="form-select" id="duration-hour">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <span class="input-group-text">{% trans 'hour(s)' %}</span>
                        <select class="form-select" id="duration-min">
                            <option value="0">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                        <span class="input-group-text">{% trans 'min(s)' %}</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label required">{% trans "Meeting type" %}</label>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="meeting-type" id="offline-meeting" value="1" checked>
                                <label class="form-check-label" for="offline-meeting">{% trans 'Offline' %}</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="meeting-type" id="online-meeting" value="0">
                                <label class="form-check-label" for="online-meeting">{% trans 'Online' %}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label required" for="room">{% trans "Meeting room" %}</label>
                    <select class="form-select select2" id="room"
                            data-method="GET"
                            data-url="{% url 'MeetingRoomListAPI' %}"
                    ></select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-5 col-md-5">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label required" for="internal-participants">{% trans "Internal participants" %}</label>
                    <div class="input-group">
                        <select disabled multiple class="form-select select2"
                                id="internal-participants"
                                data-method="GET"
                                data-url="{% url 'EmployeeListAPI' %}"
                                data-bs-toggle="tooltip"
                        ></select>
                        <span id="btn_load_internal_participants_table"
                              data-bs-toggle="modal" data-bs-target="#internal_employees_modal"
                              class="input-group-text">
                            <i class="fa-regular fa-circle-check"></i>
                        </span>
                    </div>
                    <span class="text-muted small">{% trans 'Click the button behind the box to select' %}</span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="external-participants">{% trans "External participants" %}</label>
                    <div class="input-group">
                        <select disabled multiple class="form-select select2"
                                id="external-participants"
                                data-method="GET"
                                data-url="{% url 'EmployeeListAPI' %}"
                        ></select>
                        <span id="btn_load_external_participants_table"
                              data-bs-toggle="modal" data-bs-target="#external_employees_modal"
                              class="input-group-text">
                            <i class="fa-regular fa-circle-check"></i>
                        </span>
                    </div>
                    <span class="text-muted small">{% trans 'Click the button behind the box to select' %}</span>
                </div>
            </div>
        </div>
    </div>
</div>
