{% load i18n %}

<div
        class="modal fade" id="selectProductModal" tabindex="-1"
        role="dialog" aria-labelledby="selectProductModal"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>{% trans 'Select product' %}</b></h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
                <table
                        id="table-select-product"
                        class="table nowrap w-100 mb-5"
                >
                    <thead>
                    <tr class="bg-light">
                        <th class="w-20">{% trans 'Product name' %}</th>
                        <th class="w-15">{% trans 'Product code' %}</th>
                        <th class="w-15">{% trans 'Description' %}</th>
                        <th class="w-10">{% trans 'Category' %}</th>
                        <th class="w-10">{% trans 'UoM' %}</th>
                        <th class="w-10">{% trans 'Duration UoM' %}</th>
                        <th class="w-10">{% trans 'Status' %}</th>
                        <th class="w-10">{% trans 'Note' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-zone="sale_order_products_data">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-save-select-product" data-bs-dismiss="modal" data-zone="sale_order_products_data">{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>

<div
        class="modal fade" id="selectPriceModal" tabindex="-1"
        role="dialog" aria-labelledby="selectPriceModal"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>{% trans 'Select product price' %}</b></h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-zone="sale_order_products_data">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-save-select-price" data-bs-dismiss="modal" data-zone="sale_order_products_data" hidden>{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>

<div
        class="modal fade" id="selectCostModal" tabindex="-1"
        role="dialog" aria-labelledby="selectCostModal"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>{% trans 'Select product cost' %}</b></h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-zone="sale_order_costs_data">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-save-select-cost" data-bs-dismiss="modal" data-zone="sale_order_costs_data" hidden>{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>

<div
        class="modal fade" id="selectTermModal" tabindex="-1"
        role="dialog" aria-labelledby="selectTermModal"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>{% trans 'Select payment term' %}</b></h5>
                <button
                        type="button"
                        class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg"
                        data-bs-dismiss="modal"
                ><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
                <table
                        id="table-select-term"
                        class="table nowrap w-100 mb-5"
                >
                    <thead>
                    <tr class="bg-light">
                        <th class="w-25">{% trans 'Installment' %}</th>
                        <th class="w-25">{% trans 'Description' %}</th>
                        <th class="w-25">{% trans 'Percentage' %}</th>
                        <th class="w-25">{% trans 'Specific amount' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-save-select-term" data-bs-dismiss="modal">{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>

<div
        class="modal fade" id="selectInvoiceModal" tabindex="-1"
        role="dialog" aria-labelledby="selectInvoiceModal"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>{% trans 'Select invoice' %}</b></h5>
                <button
                        type="button"
                        class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg"
                        data-bs-dismiss="modal"
                ><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
                <table
                        id="table-select-invoice"
                        class="table nowrap w-100 mb-5"
                >
                    <thead>
                    <tr class="bg-light">
                        <th class="w-15">{% trans 'Invoice issue' %}</th>
                        <th class="w-25">{% trans 'Description' %}</th>
                        <th class="w-20">{% trans 'Percentage' %}</th>
                        <th class="w-15">{% trans 'Tax' %}</th>
                        <th class="w-25">{% trans 'Total value' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-save-select-invoice" data-bs-dismiss="modal">{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>

<div
        class="modal fade" id="selectReconcileModal" tabindex="-1"
        role="dialog" aria-labelledby="selectReconcileModal"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>{% trans 'Select invoice' %}</b></h5>
                <button
                        type="button"
                        class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg"
                        data-bs-dismiss="modal"
                ><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
                <table
                        id="table-select-reconcile"
                        class="table nowrap w-100 mb-5"
                >
                    <thead>
                    <tr class="bg-light">
                        <th class="w-15">{% trans 'Invoice issue' %}</th>
                        <th class="w-25">{% trans 'Description' %}</th>
                        <th class="w-20">{% trans 'Percentage' %}</th>
                        <th class="w-15">{% trans 'Tax' %}</th>
                        <th class="w-25">{% trans 'Total value' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-save-select-reconcile" data-bs-dismiss="modal">{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade" id="deliveryInfoModalCenter" tabindex="-1"
    role="dialog" aria-labelledby="deliveryInfoModalCenter"
    aria-hidden="true" data-zone="title"
>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><b>{% trans 'Delivery information' %}</b></h5>
            <button
                    type="button"
                    class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg"
                    data-bs-dismiss="modal"
            ><span class="icon"><i class="far fa-window-close"></i></span></button>
        </div>
        <div class="modal-body">
            <b class="target-code text-primary"></b>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="form-label required" for="estimated_delivery_date">{% trans 'Estimated delivery date' %}</label>
                        <div class="input-affix-wrapper">
                            <input type="text" id="estimated_delivery_date"
                                   class="form-control flat-picker" autocomplete="off">
                            <div class="input-suffix">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="form-label" for="remarks">{% trans 'Note' %}</label>
                    <textarea class="form-control" rows="4" id="remarks" name="remarks"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
            <button type="button" class="btn btn-primary" id="btn-delivery">{% trans 'Save' %}</button>
        </div>
    </div>
</div>
</div>