{% extends 'base.html' %}
{% load static i18n %}
{% block cssHeader %}
    <link href="{% static 'assets/sales/quotation/css/quotation_create.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block pageAction %}
    <a href="{% url 'SaleOrderUpdate' pk=pk %}">
        <button class="btn btn-outline-primary" id="btn-enable-edit">
            <span>
                <span>{% trans 'Edit' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <ul class="nav nav-line nav-tabs nav-light justify-content-start quotation-tabs">
                <li class="nav-item quotation-tab-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_block_1">
                        <span class="nav-link-text">{% trans 'Sale Order' %}</span>
                    </a>
                </li>
                <li class="nav-item quotation-tab-item" id="tab-indicator">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab_block_2">
                        <span class="nav-link-text">{% trans 'Indicator' %}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-soft-primary ml-3" id="printButton"><span><span>{% trans 'Print' %}</span><span class="icon"><span class="feather-icon"><i class="fas fa-print"></i></span></span></span></button>
            </div>
        </div>
    </div>

    <form
            data-url="{% url 'SaleOrderDetailAPI' pk=pk %}"
            data-url-redirect="{% url 'SaleOrderList' %}"
            data-method="GET"
            id="frm_quotation_create"
            class="sale-order"
            method="post"
    >
        {% csrf_token %}
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_block_1">
                <div class="container-fluid">
                    <div class="collapse multi-collapse show" id="collapseExample">
                        <div class="row">
                            {% trans 'Select Sale Person' as inherit_title %}
                            {% include 'extends/the-documents/bastion.html' with has_opp=True has_inherit=True opp_disabled=True inherit_disabled=True opp_readonly=True inherit_readonly=True is_open=True inherit_title=inherit_title inherit_required=True %}
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label required" for="quotation-create-title">{% trans 'Title' %}</label>
                                        <input
                                                type="text" class="form-control"
                                                name="title"
                                                id="quotation-create-title"
                                                disabled
                                        >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label required" for="quotation-create-date-created">{% trans 'Date Created' %}</label>
                                        <div class="input-group">
                                            <div class="input-affix-wrapper">
                                                <input
                                                    type="text" class="form-control disabled-custom-show"
                                                    placeholder="dd/mm/yyyy"
                                                    name="date_created"
                                                    id="quotation-create-date-created"
                                                    disabled
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label required" for="select-box-quotation-create-customer">{% trans 'Select Customer' %}</label>
                                        <div class="input-group">
                                            <div class="input-affix-wrapper">
                                                <div class="dropstart input-prefix">
                                                    <i
                                                            class="fas fa-info-circle text-blue"
                                                            data-bs-toggle="dropdown"
                                                            data-dropdown-animation
                                                            aria-haspopup="true"
                                                            aria-expanded="false"
                                                            disabled
                                                    ></i>
                                                    <div class="dropdown-menu w-210p mt-4"></div>
                                                </div>
                                                <select
                                                        class="form-select"
                                                        id="select-box-quotation-create-customer"
                                                        data-url="{% url "AccountForSaleListAPI" %}"
                                                        data-method="GET"
                                                        data-link-detail="{% url "AccountDetail" 1 %}"
                                                        name="customer"
                                                        data-keyResp="account_sale_list"
                                                        disabled
                                                ></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label required" for="select-box-quotation-create-payment-term">{% trans 'Select Payment Terms' %}</label>
                                        <div class="input-group">
                                            <div class="input-affix-wrapper">
                                                <div class="dropstart input-prefix">
                                                    <i
                                                            class="fas fa-info-circle text-blue"
                                                            data-bs-toggle="dropdown"
                                                            data-dropdown-animation
                                                            aria-haspopup="true"
                                                            aria-expanded="false"
                                                            disabled
                                                    ></i>
                                                    <div class="dropdown-menu w-210p mt-4"></div>
                                                </div>
                                                <select
                                                        class="form-select"
                                                        id="select-box-quotation-create-payment-term"
                                                        data-url="{% url "PaymentsTermsListAPI" %}"
                                                        data-link-detail=""
                                                        data-method="GET"
                                                        name="payment_term"
                                                        data-keyResp="payment_terms_list"
                                                        disabled
                                                ></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label required" for="select-box-quotation-create-contact">{% trans 'Select Contact' %}</label>
                                        <div class="input-group">
                                            <div class="input-affix-wrapper">
                                                <div class="dropstart input-prefix">
                                                    <i
                                                            class="fas fa-info-circle text-blue"
                                                            data-bs-toggle="dropdown"
                                                            data-dropdown-animation
                                                            aria-haspopup="true"
                                                            aria-expanded="false"
                                                            disabled
                                                    ></i>
                                                    <div class="dropdown-menu w-210p mt-4"></div>
                                                </div>
                                                <select
                                                    class="form-select"
                                                    id="select-box-quotation-create-contact"
                                                    data-url="{% url "ContactListAPI" %}"
                                                    data-method="GET"
                                                    data-link-detail="{% url 'ContactDetail' 1 %}"
                                                    name="contact"
                                                    data-keyResp="contact_list"
                                                    disabled
                                                ></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label" for="select-box-quotation">{% trans 'Select Quotation' %}</label>
                                        <div class="input-group">
                                            <div class="input-affix-wrapper">
                                                <div class="dropstart input-prefix">
                                                    <i
                                                            class="fas fa-info-circle text-blue"
                                                            data-bs-toggle="dropdown"
                                                            data-dropdown-animation
                                                            aria-haspopup="true"
                                                            aria-expanded="false"
                                                            disabled
                                                    ></i>
                                                    <div class="dropdown-menu w-210p mt-4"></div>
                                                </div>
                                                <select
                                                        class="form-select"
                                                        id="select-box-quotation"
                                                        data-url="{% url "QuotationListAPI" %}"
                                                        data-method="GET"
                                                        data-link-detail="{% url "QuotationDetail" 1 %}"
                                                        name="quotation"
                                                        data-keyResp="quotation_list"
                                                        disabled
                                                ></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-end">
                            <button
                                    type="button"
                                    id="btnDeliverySaleOrder"
                                    class="btn btn-soft-warning hidden"
                            >{% trans 'Delivery' %}</button>
                        </div>
                    </div>
                    <div class="row collapse-arrow mt-2 mb-2">
                        <i
                                class="fas fa-angle-double-up"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseExample"
                                data-bs-placement="top"
                                aria-expanded="false"
                                aria-controls="collapseExample"
                                id="quotation-info-collapse"
                        ></i>
                    </div>
                    <div class="row">
                        <div class="row">
                            <ul class="nav nav-light nav-tabs" id="quotation-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_line_detail">
                                        <span class="nav-link-text">{% trans 'Line Detail' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_logistic">
                                        <span class="nav-link-text">{% trans 'Logistics' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item quotation-cost">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_cost">
                                        <span class="nav-link-text">{% trans 'Cost' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_expense">
                                        <span class="nav-link-text">{% trans 'Expense' %}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content" id="tab-content-quotation-product">
                            <div class="tab-pane fade show active" id="tab_line_detail">
                                <div class="row">
                                    <table
                                            id="datable-quotation-create-product"
                                            class="table nowrap w-100 mb-5"
                                    >
                                        <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>{% trans 'Product' %}<span class="required"></span></th>
                                            <th>{% trans 'Description' %}</th>
                                            <th>{% trans 'Unit Of Measure' %}<span class="required"></span></th>
                                            <th>{% trans 'Quantity' %}<span class="required"></span></th>
                                            <th>{% trans 'Unit Price' %}<span class="required"></span></th>
                                            <th>{% trans 'Discount' %}</th>
                                            <th>{% trans 'Tax' %}</th>
                                            <th>{% trans 'Subtotal Price' %}</th>
                                            <th>{% trans 'Actions' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="5"></th>
                                            <th colspan="5">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="mb-3" style="text-align: right">{% trans 'Pretax Amount' %}:</h6>
                                                    </div>
                                                    <div class="col-2"></div>
                                                    <div class="col-4">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-pretax-amount"></span></h6>
                                                        <input id="quotation-create-product-pretax-amount-raw" type="text" class="form-control" value="0" hidden>
                                                        <input type="hidden" id="quotation-final-revenue-before-tax">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="mb-3" style="text-align: right">{% trans 'Discount' %}:</h6>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="input-group">
                                                            <span class="input-affix-wrapper">
                                                                <input type="text" class="form-control validated-number" id="quotation-create-product-discount" value="0" disabled>
                                                                <span class="input-suffix">%</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-discount-amount"></span></h6>
                                                        <input id="quotation-create-product-discount-amount-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="mb-3" style="text-align: right">{% trans 'Taxes' %}:</h6>
                                                    </div>
                                                    <div class="col-2"></div>
                                                    <div class="col-4">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-taxes"></span></h6>
                                                        <input id="quotation-create-product-taxes-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="mb-3" style="text-align: right">{% trans 'Total' %}:</h6>
                                                    </div>
                                                    <div class="col-2"></div>
                                                    <div class="col-4">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-total"></span></h6>
                                                        <input id="quotation-create-product-total-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_logistic">
                                <div class="row logistics-body">
                                    <div class="form-group">
                                        <label class="form-label">{% trans 'Shipping Address' %}
                                            <button
                                                    type="button" class="btn btn-icon btn-rounded flush-soft-hover"
                                                    data-bs-toggle="modal" data-bs-target="#shippingModalCenter"
                                                    disabled
                                            ><span class="icon"><i class="fa-regular fa-pen-to-square"></i></span>
                                            </button>
                                        </label>
                                        <textarea
                                                class="form-control disabled-custom-show" rows="3" cols="50" name=""
                                                id="quotation-create-shipping-address" disabled
                                        ></textarea>
                                        <input type="hidden" id="quotation-create-customer-shipping">
                                    </div>
                                    <div
                                            class="modal fade" id="shippingModalCenter" tabindex="-1"
                                            role="dialog" aria-labelledby="shippingModalCenter"
                                            aria-hidden="true"
                                    >
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content" id="quotation-create-modal-shipping-body">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">{% trans 'Shipping Address' %}</h5>
                                                    <button
                                                            type="button" class="btn-close"
                                                            data-bs-dismiss="modal" aria-label="Close"
                                                    >
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body"></div>
                                                <div class="modal-footer">
                                                    <button
                                                            type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal"
                                                    >{% trans 'Close' %}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{% trans 'Billing Address' %}
                                            <button
                                                    type="button" class="btn btn-icon btn-rounded flush-soft-hover"
                                                    data-bs-toggle="modal" data-bs-target="#billingModalCenter" disabled
                                            ><span class="icon"><i class="fa-regular fa-pen-to-square"></i></span>
                                            </button>
                                        </label>
                                        <textarea
                                                class="form-control disabled-custom-show" rows="3" cols="50" name=""
                                                id="quotation-create-billing-address" disabled
                                        ></textarea>
                                        <input type="hidden" id="quotation-create-customer-billing">
                                    </div>
                                    <div
                                            class="modal fade" id="billingModalCenter" tabindex="-1"
                                            role="dialog" aria-labelledby="billingModalCenter"
                                            aria-hidden="true"
                                    >
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content" id="quotation-create-modal-billing-body">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">{% trans 'Billing Address' %}</h5>
                                                    <button
                                                            type="button" class="btn-close"
                                                            data-bs-dismiss="modal" aria-label="Close"
                                                    >
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body"></div>
                                                <div class="modal-footer">
                                                    <button
                                                            type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal"
                                                    >{% trans 'Close' %}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_cost">
                                <div class="row">
                                    <table
                                            id="datable-quotation-create-cost"
                                            class="table nowrap w-100 mb-5"
                                    >
                                        <thead>
                                        <tr>
                                            <th class="w-5">STT</th>
                                            <th class="w-5">{% trans 'Product' %}</th>
                                            <th class="w-5">{% trans 'Unit Of Measure' %}</th>
                                            <th class="w-15">{% trans 'Quantity' %}</th>
                                            <th class="w-30">{% trans 'Cost Price' %}<span class="required"></span></th>
                                            <th class="w-5">{% trans 'Tax' %}</th>
                                            <th class="w-30">{% trans 'Subtotal Price' %}</th>
                                            <th class="w-5">{% trans 'Actions' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="4"></th>
                                            <th colspan="4">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="mb-3" style="text-align: right">{% trans 'Pretax Amount' %}:</h6>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-cost-pretax-amount"></span></h6>
                                                        <input id="quotation-create-cost-pretax-amount-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="mb-3" style="text-align: right">{% trans 'Taxes' %}:</h6>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-cost-taxes"></span></h6>
                                                        <input id="quotation-create-cost-taxes-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="mb-3" style="text-align: right">{% trans 'Total' %}:</h6>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-cost-total"></span></h6>
                                                        <input id="quotation-create-cost-total-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_expense">
                                <div class="row">
                                    <table
                                            id="datable-quotation-create-expense"
                                            class="table nowrap w-100 mb-5"
                                    >
                                        <thead>
                                        <tr>
                                            <th class="w-5">STT</th>
                                            <th class="w-15 required">{% trans 'Expense name' %}</th>
                                            <th class="w-5 required">{% trans 'Expense items' %}</th>
                                            <th class="w-10 required">{% trans 'Unit Of Measure' %}</th>
                                            <th class="w-5 required">{% trans 'Quantity' %}</th>
                                            <th class="w-35 required">{% trans 'Expense Price' %}</th>
                                            <th class="w-5">{% trans 'Tax' %}</th>
                                            <th class="w-15">{% trans 'Subtotal Price' %}</th>
                                            <th class="w-5">{% trans 'Actions' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="4"></th>
                                            <th colspan="5">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="mb-3" style="text-align: right">{% trans 'Pretax Amount' %}:</h6>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-expense-pretax-amount"></span></h6>
                                                        <input id="quotation-create-expense-pretax-amount-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="mb-3" style="text-align: right">{% trans 'Taxes' %}:</h6>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-expense-taxes"></span></h6>
                                                        <input id="quotation-create-expense-taxes-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="mb-3" style="text-align: right">{% trans 'Total' %}:</h6>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-expense-total"></span></h6>
                                                        <input id="quotation-create-expense-total-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <input
                                type="hidden"
                                id="data-init-quotation-create-tables-product"
                                data-url="{% url "ProductForSaleListAPI" %}"
                                data-link-detail="{% url "ProductDetail" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-tables-expense"
                                data-url="{% url "ExpenseListAPI" %}"
                                data-link-detail="{% url "ExpenseDetail" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-tables-expense-item"
                                data-url="{% url "ExpenseItemListAPI" %}"
                                data-link-detail="{% url "ExpenseItemDetailAPI" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-tables-uom"
                                data-url="{% url "UnitOfMeasureListAPI" %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-tables-tax"
                                data-url="{% url "TaxListAPI" %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-request-employee"
                                value="{{ data.data.employee_current }}"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-company-currency-config"
                        >
                        <input
                                type="hidden"
                                id="data-quotation"
                                value="[]"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-promotion"
                                data-url="{% url "PromotionCheckListAPI" %}"
                                data-link-detail="{% url "PromotionDetail" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-shipping"
                                data-url="{% url "ShippingCheckListAPI" %}"
                                data-link-detail="{% url "ShippingDetail" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-copy-quotation"
                                data-url="{% url "QuotationListAPI" %}"
                                data-url-detail="{% url "QuotationDetailAPI" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-opportunity"
                                value="{{ data.data.opportunity }}"
                        >
                        <input
                                type="hidden"
                                id="customer-price-list"
                        >
                        <input
                                type="hidden"
                                id="quotation-config-data"
                                class="quotation-config"
                                data-url="{% url "SaleOrderConfigDetailAPI" %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="quotation-detail-data"
                        >
                        <input
                                type="hidden"
                                id="quotation-copy-discount-on-total"
                        >
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab_block_2">
                <div class="row">
                    <div class="row mb-1">
                        <div class="col-2">
                            <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    id="btn-refresh-quotation-indicator"
                                    disabled
                                    hidden
                            >
                            <span><span>{% trans 'Refresh data' %}</span><span class="icon"><span class="feather-icon"><i class="fas fa-sync-alt"></i></span></span></span>
                            </button>
                        </div>
                        <div class="col-10"></div>
                    </div>
                    <table
                            id="datable-quotation-create-indicator"
                            class="table nowrap w-100 mb-5 sale-order"
                    >
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>{% trans 'Indicator name' %}</th>
                            <th>{% trans 'Quotation indicator value' %}</th>
                            <th>{% trans 'Sale order indicator value' %}</th>
                            <th>{% trans 'Difference value' %}</th>
                            <th>{% trans 'Indicator rate' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <input
                        type="hidden"
                        id="quotation-indicator-data"
                        data-url="{% url 'QuotationIndicatorListAPI' %}"
                        data-method="get"
                >
            </div>
        </div>
        <input
                type="hidden"
                id="app-trans-factory"
                data-check-if-shipping-address="{% trans 'Please select shipping address' %}"
                data-select-address="{% trans 'Select this address' %}"
                data-view-detail-info="{% trans 'View detail' %}"
                data-btn-close="{% trans 'Close' %}"
                data-more-information="{% trans 'More information' %}"
                data-apply="{% trans 'Apply' %}"
                data-refreshed="{% trans 'Data is refreshed.' %}"
        >
    </form>
{% endblock %}

{% block dataHiddenGroup %}
    <span
            class="hidden" id="dataUrlSaleOrderCallDelivery"
            data-url="{% url 'SaleOrderDetailDeliveryAPI' pk=url_pattern.pk %}"
            data-delivery="{% url 'OrderDeliveryList' %}" data-picking="{% url 'OrderPickingList' %}"
    ></span>

{% endblock %}

{% block jsFooter %}
    <!-- Select2 -->
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>

    <!-- Daterangepicker JS -->

    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'assets/sales/quotation/js/quotation_promote_shipping.js' %}"></script>
    <script src="{% static 'assets/sales/quotation/js/quotation_common.js' %}"></script>
    <script src="{% static 'assets/sales/quotation/js/quotation_create.js' %}"></script>
    <script src="{% static 'assets/sales/quotation/js/quotation_detail.js' %}"></script>
    <script src="{% static 'assets/sales/quotation/js/quotation_indicator.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#btnDeliverySaleOrder').click(function (event) {
                const urlElm = $('#dataUrlSaleOrderCallDelivery')
                let callDeliveryUrl = urlElm.attr('data-url');
                if (callDeliveryUrl) {
                    $.fn.callAjax2({
                        'url': callDeliveryUrl,
                        'method': 'POST',
                        isLoading: true,
                        sweetAlertOpts: {
                            'allowOutsideClick': true,
                        },
                    }).then(
                        (resp) => {
                            let data = $.fn.switcherResp(resp);
                            if (data?.['status'] === 200) {
                                const config = data?.config
                                let is_URL = urlElm.attr('data-delivery')
                                if (config?.is_picking && !data?.['is_not_picking']) is_URL = urlElm.attr('data-picking')
                                setTimeout(() => {
                                    window.location.href = is_URL
                                }, 1000);
                            }
                        },
                        (err) =>{
                            $.fn.notifyB({"description": err?.data?.errors, "timeout": 3500}, 'failure')
                        }
                    )
                }
                event.preventDefault();
            });
        });
    </script>
{% endblock %}