<h2 style="text-align: center;"><strong><em>Cộng Ho&agrave; X&atilde; Hội Chủ Nghĩa Việt Nam</em></strong></h2>
<p style="text-align: center;"><strong>ĐỘC LẬP - TỰ DO - HẠNH PH&Uacute;C</strong></p>
<p style="text-align: right;"><em>&hellip;... ,ng&agrave;y &hellip;.. th&aacute;ng &hellip;.. năm ........</em></p>
<p style="text-align: center;"><strong>HỢP ĐỒNG THỬ VIỆC</strong></p>
<p>H&ocirc;m nay, ng&agrave;y &hellip; th&aacute;ng&hellip; năm &hellip;.. tại trụ sở c&ocirc;ng ty &hellip;&hellip;&hellip;&hellip;&hellip;&hellip; &nbsp;ch&uacute;ng t&ocirc;i gồm c&oacute;:</p>
<p><strong>NGƯỜI SỬ DỤNG LAO ĐỘNG</strong></p>
<p>C&ocirc;ng ty: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p>M&atilde; số doanh nghiệp: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p>Đại diện &Ocirc;ng/B&agrave;: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</p>
<p>Chức vụ:&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.&hellip;&hellip;</p>
<p>Địa chỉ trụ sở: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p>Điện thoại: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p><strong>NGƯỜI THỬ VIỆC</strong></p>
<p>Họ v&agrave; t&ecirc;n: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p>Ng&agrave;y th&aacute;ng năm sinh: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p>Số CMND/Căn cước c&ocirc;ng d&acirc;n/Hộ chiếu: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p>Địa chỉ cư tr&uacute;: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p>Người sử dụng lao động v&agrave; người thử việc tr&ecirc;n tinh thần thỏa thuận hữu nghị c&ugrave;ng thống nhất k&yacute; kết hợp đồng sau với c&aacute;c điều khoản dưới đ&acirc;y.</p>
<p><strong>Điều 1. Thời giờ v&agrave; địa điểm l&agrave;m việc</strong></p>
<p><strong>1. Thời giờ l&agrave;m việc</strong></p>
<p>- S&aacute;ng: Từ &hellip; giờ đến &hellip;.. giờ;</p>
<p>- Chiếu: Từ &hellip; giờ đến &hellip;&hellip; giờ; v&agrave; giờ nghỉ trưa, kh&ocirc;ng t&iacute;nh v&agrave;o thời giờ l&agrave;m việc.</p>
<p>- Địa điểm l&agrave;m việc: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p><strong>2. Thời gian thử việc</strong></p>
<p>Thời gian thử việc &hellip;&hellip;. ng&agrave;y dương lịch kể từ &hellip;../&hellip;../&hellip;... Trong&nbsp;thời gian thử việc, nếu c&ocirc;ng việc của người thử việc kh&ocirc;ng đạt c&aacute;c y&ecirc;u cầu như hai b&ecirc;n đ&atilde; thỏa thuận, th&igrave; Hợp đổng thử việc n&agrave;y sẽ chấm dứt ngay lập tức bằng một th&ocirc;ng b&aacute;o bằng văn bản của C&ocirc;ng ty. C&aacute;c quyền v&agrave; nghĩa vụ của người thử việc trong thời gian thử việc sẽ được thực hiện theo quy định của ph&aacute;p luật lao động hiện h&agrave;nh.</p>
<p><strong>Điều 3. Hợp đồng lao động</strong></p>
<p>T&ugrave;y thuộc v&agrave;o kết quả của thời gian thử việc như quy định tại Điều 2 của Hợp đồng thử việc n&agrave;y, C&ocirc;ng ty sẽ k&yacute; với người thử việc một hợp đổng lao động x&aacute;c định thời hạn l&agrave; 12 th&aacute;ng, kh&ocirc;ng bao gồm thời gian thử việc. Lương v&agrave; c&aacute;c lợi &iacute;ch của người thử việc sẽ ph&ugrave; hợp với nội dung tại Điều 5 của Hợp đồng thử việc n&agrave;y.</p>
<p><strong>Điều 4. C&ocirc;ng việc v&agrave; tr&aacute;ch nhiệm</strong></p>
<p>Thực hiện c&ocirc;ng việc theo đ&uacute;ng chức danh chuy&ecirc;n m&ocirc;n dưới sự quản l&yacute;, điều h&agrave;nh của Ban Gi&aacute;m đốc (v&agrave; c&aacute;c c&aacute; nh&acirc;n được bổ nhiệm v&agrave; uỷ quyền của Ban Gi&aacute;m đốc).</p>
<p><strong>Điều 5. Thu nhập</strong></p>
<div class="ads-label text-center"></div>
<p>1. Người thử việc được hưởng thu nhập hằng th&aacute;ng như sau:</p>
<p>a) Lương cơ bản<em>: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</em>VNĐ mỗi th&aacute;ng;</p>
<p>b) Thưởng<em>: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&nbsp;</em>VNĐ mỗi th&aacute;ng;</p>
<p>c) Phụ cấp<em>:&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&nbsp;</em>VNĐ mỗi th&aacute;ng;</p>
<p>v&agrave; theo ch&iacute;nh s&aacute;ch của C&ocirc;ng ty tại từng thời điểm</p>
<p>2. Lương Cơ bản được C&ocirc;ng ty khấu trừ để đ&oacute;ng bảo hiểm x&atilde; hội, bảo hiểm y tế, bảo hiểm thất nghiệp v&agrave; thuế thu nhập c&aacute; nh&acirc;n theo c&aacute;c quy định c&oacute; li&ecirc;n quan của ph&aacute;p luật hiện h&agrave;nh.</p>
<p>3. Tiền thưởng được x&aacute;c định theo c&aacute;c Ti&ecirc;u chuẩn Đ&aacute;nh gi&aacute; Kinh doanh ch&iacute;nh của người thử việc trong từng th&aacute;ng v&agrave; thay đổi theo ch&iacute;nh s&aacute;ch của C&ocirc;ng ty tại từng thời điểm.</p>
<p>4. H&igrave;nh thức thanh to&aacute;n: Thu nhập sẽ được thanh to&aacute;n bằng chuyển khoản.</p>
<p>5. Ng&agrave;y thanh to&aacute;n: v&agrave;o ng&agrave;y 15 của mỗi th&aacute;ng.</p>
<p>6. Chế độ n&acirc;ng lương: theo quy định của Bộ luật Lao động hiện h&agrave;nh, c&aacute;c ch&iacute;nh s&aacute;ch nội bộ v&agrave; Thỏa ước lao động tập thể, nếu c&oacute;, của C&ocirc;ng ty.</p>
<p><strong>Điều 6. Nghĩa vụ bảo mật Th&ocirc;ng tin mật, b&iacute; mật cống nghệ v&agrave; b&iacute; mật kinh doanh.</strong></p>
<p>1. Th&ocirc;ng tin mật nghĩa l&agrave; tất cả mọi dữ liệu hoặc th&ocirc;ng tin thuộc quyền sở hữu của C&ocirc;ng ty m&agrave; kh&ocirc;ng phải l&agrave; th&ocirc;ng tin đ&atilde; được biết đến rộng r&atilde;i, d&ugrave; được thể hiện dưới h&igrave;nh thức v&ocirc; h&igrave;nh hay hữu h&igrave;nh, bất kể được tiết lộ v&agrave;o bất kỳ thời điểm n&agrave;o, bao gồm nhưng kh&ocirc;ng giới hạn tất cả c&aacute;c th&ocirc;ng tin người thử việc c&oacute; thể nhận biết được, bằng lời n&oacute;i hoặc bằng văn bản v&agrave;/hoặc dữ liệu v&agrave; th&ocirc;ng tin điện tử, t&agrave;i liệu hay b&iacute; quyết li&ecirc;n quan đến C&ocirc;ng ty, d&ugrave; ở qu&aacute; khứ, hiện tại hay tương lai. Trong phạm vi của Hợp đồng thử việc n&agrave;y, Th&ocirc;ng tin mật cũng bao gồm to&agrave;n bộ v&agrave; tất cả c&aacute;c th&ocirc;ng tin c&oacute; nguồn gốc từ Th&ocirc;ng tin mật.</p>
<p>2. Người thử việc kh&ocirc;ng được tiết lộ, ph&aacute; hủy, sao ch&eacute;p hoặc để lộ, trục lợi hoặc sử dụng Th&ocirc;ng tin mật, b&iacute; mật c&ocirc;ng nghệ, hoạt động kinh doanh hoặc c&aacute;c vấn đề kh&aacute;c của C&ocirc;ng ty dưới bất kỳ h&igrave;nh thức n&agrave;o hoặc sử dụng tiện &iacute;ch của C&ocirc;ng ty cho mục đ&iacute;ch c&aacute; nh&acirc;n hoặc tư lợi bằng chi ph&iacute; của C&ocirc;ng ty hoặc của c&aacute;c nh&agrave; phần phối, đối t&aacute;c kinh doanh hoặc kh&aacute;ch h&agrave;ng tiềm năng của C&ocirc;ng ty.</p>
<div class="text-center"></div>
<p>3. Người thử việc chỉ sử dụng Th&ocirc;ng tin mật cho c&aacute;c mục đ&iacute;ch li&ecirc;n quan đến c&aacute;c nhiệm vụ của m&igrave;nh với C&ocirc;ng ty v&agrave; kh&ocirc;ng được đem hồ sơ hoặc t&agrave;i liệu ra khỏi phạm vi C&ocirc;ng ty nếu kh&ocirc;ng c&oacute; chấp thuận trước bằng văn bản của Gi&aacute;m đốc.</p>
<p>4. Việc vi phạm c&aacute;c quy định v&ecirc;' bảo mật c&oacute; thể đưa đến việc C&ocirc;ng ty kh&ocirc;ng k&yacute; kết hợp đồng lao động với người thử việc theo quy định tại Điều 2 của Hợp đồng thử việc n&agrave;y v&agrave; người thử việc phải bổi thường tất cả c&aacute;c thiệt hại m&agrave; C&ocirc;ng ty phải g&aacute;nh chịu theo quy định của ph&aacute;p luật.</p>
<p>5. Nghĩa vụ bảo mật của người thử việc theo quy định tại Điều 6 của Hợp đổng thử việc n&agrave;y vẫn c&ograve;n hiệu lực sau khi Hợp đồng thử việc n&agrave;y hết hạn hoặc bị chấm dứt</p>
<p><strong>Điều 7. C&aacute;c thỏa thuận kh&aacute;c</strong></p>
<p>1. Trang bị bảo hộ lao động cho người thử việc sẽ được &aacute;p dụng theo ch&iacute;nh s&aacute;ch của C&ocirc;ng ty tại từng thời điểm.</p>
<p>2. Tất cả c&aacute;c ph&uacute;c lợi kh&aacute;c, nếu c&oacute;, sẽ theo quy định của Bộ luật Lao động, Thỏa ước lao động tập thể, nếu c&oacute;, v&agrave; c&aacute;c ch&iacute;nh s&aacute;ch của C&ocirc;ng ty tại từng thời điểm.</p>
<p>3. Hợp đổng thử việc n&agrave;y l&agrave; c&oacute; hiệu lực trong v&ograve;ng &hellip;. ng&agrave;y dương lịch kể từ ng&agrave;y &hellip;/&hellip;/&hellip;. đến &hellip;/&hellip;/&hellip;..</p>
<p>Hợp đồng thử việc n&agrave;y được lập th&agrave;nh 02 (hai) bản gốc, v&agrave; c&oacute; hiệu lực kể từ ng&agrave;y k&yacute;, trong đ&oacute; 01 (một) bản gốc sẽ được lưu tại văn ph&ograve;ng C&ocirc;ng ty v&agrave; 01 (một) bản gốc sẽ được giao cho người thử việc.</p>
<table style="border-collapse: collapse; width: 100%; height: 85px; border-style: none;" border="0">
<tbody>
<tr style="height: 64px;">
<td style="width: 49.7336%; height: 64px;">
<p style="text-align: center;"><strong>NGƯỜI LAO ĐỘNG</strong></p>
<p style="text-align: center;">(K&yacute;, ghi r&otilde; họ t&ecirc;n)&nbsp;</p>
</td>
<td style="width: 49.7336%; height: 64px;">
<p style="text-align: center;"><strong>NGƯỜI SỬ DỤNG LAO ĐỘNG</strong></p>
<p style="text-align: center;">(K&yacute;, ghi r&otilde; họ t&ecirc;n)</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 49.7336%; height: 21px;">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 49.7336%; height: 21px;">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
