<table style="width: 100%; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="width: 50%; padding: 0in 5.4pt 0in 5.4pt;">
                <p style="text-align: left;">Số: <span>&hellip;</span></p>
            </td>
            <td style="width: 50%;">
                <p style="text-align: right;">TP.HCM, ng&agrave;y <span>&hellip;</span> th&aacute;ng <span>&hellip; </span>năm 2024</p>
            </td>
        </tr>
    </tbody>
</table>
<p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;" align="center"><strong><span style="font-size: 18.0pt;">HỢP ĐỒNG THỬ VIỆC</span></strong></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%; tab-stops: 4.25in;"><span style="font-size: 10.0pt; line-height: 130%;">Ch&uacute;ng t&ocirc;i, một b&ecirc;n l&agrave; &Ocirc;ng: <strong>LƯƠNG TIẾN DŨNG<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong>Quốc tịch: Việt Nam</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%; tab-stops: 1.0in;"><span style="font-size: 10.0pt; line-height: 130%;">Chức vụ<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: Gi&aacute;m đốc</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><span style="font-size: 10.0pt; line-height: 130%;">Đại diện cho<span>&nbsp;&nbsp;&nbsp; </span>: C&Ocirc;NG TY CỔ PHẦN GIẢI PH&Aacute;P MINH T&Acirc;M</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%; tab-stops: 1.0in;"><span style="font-size: 10.0pt; line-height: 130%">Địa chỉ<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: 20 Đường số 22, KDC Him Lam, ấp 4, X. B&igrave;nh Hưng, H. B&igrave;nh Ch&aacute;nh, TP HCM</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%; tab-stops: 1.0in 4.25in;"><span style="font-size: 10.0pt; line-height: 130%">Điện thoại<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: 0902431498 <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%; tab-stops: 4.25in;"><span style="font-size: 10.0pt; line-height: 130%;">V&agrave; một b&ecirc;n l&agrave; &Ocirc;ng:<strong> <span>&hellip;</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong>Quốc tịch: Việt Nam</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%; tab-stops: 1.0in 4.25in;"><span style="font-size: 10.0pt; line-height: 130%;">Ng&agrave;y sinh<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: <span>&hellip;/&hellip;/&hellip;<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Nơi sinh: <span>&hellip;&hellip;&hellip;&hellip;&hellip;</span></span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><span style="font-size: 10.0pt; line-height: 130%;">Nghề nghiệp<span>&nbsp;&nbsp; </span>:</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%; tab-stops: 1.25in;"><span style="font-size: 10.0pt; line-height: 130%;">Địa chỉ thường tr&uacute;: &hellip;</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%; tab-stops: 1.25in;"><span style="font-size: 10.0pt; line-height: 130%;">Chỗ ở hiện tại: &hellip;</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><span style="font-size: 10.0pt; line-height: 130%;">Điện thoại<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: <span style="color: black">&hellip;</span></span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><span style="font-size: 10.0pt; line-height: 130%;">CCCD số<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="color: black; background: white;">: </span><span style="color: black;">&hellip; <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="color: black; background: white;">Nơi cấp: <span>Cục cảnh s&aacute;t quản l&yacute; h&agrave;nh ch&iacute;nh về trật tự x&atilde; hội</span></span></span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><span style="font-size: 10.0pt; line-height: 130%; color: black; background: white;">Ng&agrave;y cấp<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: <span>&hellip;</span></span></p>
<p style="text-align: justify; text-indent: -1.5in; line-height: 130%; margin: 0in 0in 0in 1.5in;"><span style="font-size: 10.0pt; line-height: 130%">Số Sổ lao động (nếu c&oacute;): &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.. Cấp ng&agrave;y:&hellip;/&hellip;/&hellip;&hellip; tại &hellip;&hellip;&hellip;&hellip;</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><span style="font-size: 10.0pt; line-height: 130%">Thỏa thuận k&yacute; kết Hợp đồng thử việc v&agrave; cam kết l&agrave;m đ&uacute;ng những điều khoản sau đ&acirc;y:</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><strong><span style="font-size: 10.0pt; line-height: 130%">Điều 1: Thời hạn v&agrave; c&ocirc;ng việc hợp đồng</span></strong></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Loại hợp đồng: <span>Thử việc</span>
</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Từ ng&agrave;y: <span>&hellip;/&hellip;/&hellip; </span>đến hết ng&agrave;y: <span>&hellip;/&hellip;/&hellip;</span><span>&nbsp; </span>.
</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Địa điểm l&agrave;m việc: 20 Đường số 22, KDC Him Lam, ấp 4, X. B&igrave;nh Hưng, H. B&igrave;nh Ch&aacute;nh, TP HCM</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Chức danh chuy&ecirc;n m&ocirc;n/vị tr&iacute; c&ocirc;ng việc: <strong><span>&hellip;</span></strong></span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    C&ocirc;ng việc phải l&agrave;m: Theo bản m&ocirc; tả c&ocirc;ng việc v&agrave; sự ph&acirc;n c&ocirc;ng của Quản l&yacute; trực tiếp.</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><strong><span style="font-size: 10.0pt; line-height: 130%;">Điều 2: Chế độ l&agrave;m việc</span></strong></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Thời giờ l&agrave;m việc: 8giờ/ ng&agrave;y, 44giờ /tuần, từ Thứ Hai đến hết Thứ S&aacute;u h&agrave;ng tuần (s&aacute;ng, 8:30 &ndash; 12:00; chiều, 13:00 &ndash; 17:30). Thời gian l&agrave;m việc 4 giờ c&ograve;n lại trong tuần t&ugrave;y theo y&ecirc;u cầu c&ocirc;ng việc, C&ocirc;ng ty c&oacute; quyền y&ecirc;u cầu người lao động l&agrave;m việc v&agrave;o Thứ Bảy, Chủ Nhật hoặc v&agrave;o c&aacute;c ng&agrave;y l&agrave;m việc trong tuần ngo&agrave;i thời gian l&agrave;m việc n&ecirc;u tr&ecirc;n.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Được cấp ph&aacute;t những dụng cụ l&agrave;m việc gồm: Văn ph&ograve;ng phẩm, trang thiết bị văn ph&ograve;ng, theo quy định của C&ocirc;ng ty.</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><strong><span style="font-size: 10.0pt; line-height: 130%;">Điều 3. Nghĩa vụ v&agrave; quyền lợi của người lao động</span></strong></p>
<p style="text-align: justify; font-size: 10.0pt"><strong><span>1. <span>&nbsp;&nbsp;&nbsp; </span>Quyền lợi:</span></strong></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Phương tiện đi lại l&agrave;m việc<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: Tự t&uacute;c.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Mức lương thử việc<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: <strong><span>&hellip; </span>đồng/th&aacute;ng</strong></span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    H&igrave;nh thức trả lương<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: Chuyển khoản 01 (một) lần/th&aacute;ng<span>&nbsp;&nbsp;&nbsp;&nbsp; </span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Phụ cấp cơm trưa<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: 730,000 đồng/ th&aacute;ng.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Tiền lương th&aacute;ng được trả v&agrave;o ng&agrave;y 05 của th&aacute;ng kế tiếp.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Tiền thưởng: Theo quy định của Luật Lao động v&agrave; hiệu quả kinh doanh của C&ocirc;ng ty.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Chế độ n&acirc;ng lương<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: Theo quy chế lương của C&ocirc;ng ty.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Được trang bị bảo hộ lao động<span> </span>: Theo y&ecirc;u cầu c&ocirc;ng việc.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Chế độ nghỉ ngơi (nghỉ h&agrave;ng tuần, ph&eacute;p năm, lễ, tết,&hellip;): Theo quy định của Luật Lao động.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Bảo hiểm x&atilde; hội v&agrave; Bảo hiểm y tế<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>: Theo quy định hiện h&agrave;nh.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Chế độ đ&agrave;o tạo: Theo quy định của C&ocirc;ng ty, ph&ugrave; hợp với Luật Lao động v&agrave; c&aacute;c quy định kh&aacute;c c&oacute; li&ecirc;n quan.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt"><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Những thỏa thuận kh&aacute;c: Theo quy định của C&ocirc;ng ty (nếu c&oacute;).</span></p>
<p style="text-align: justify; font-size: 10.0pt"><strong><span>2. <span>&nbsp;&nbsp;&nbsp; </span>Nghĩa vụ:</span></strong></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Ho&agrave;n th&agrave;nh những c&ocirc;ng việc đ&atilde; cam kết trong hợp đồng (theo bản m&ocirc; tả c&ocirc;ng việc).</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Chấp h&agrave;nh mệnh lệnh điều h&agrave;nh sản xuất kinh doanh, nội quy kỷ luật lao động, an to&agrave;n lao động&hellip;</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Bồi thường vi phạm v&agrave; vật chất: Theo Luật lao động.</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><strong><span style="font-size: 10.0pt; line-height: 130%;">Điều 4. Nghĩa vụ v&agrave; quyền hạn của người sử dụng lao động</span></strong></p>
<p style="text-align: justify; font-size: 10.0pt"><strong><span>1. <span>&nbsp;&nbsp;&nbsp; </span>Nghĩa vụ:</span></strong></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Đảm bảo việc l&agrave;m v&agrave; thực hiện đầy đủ những điều khoản đ&atilde; cam kết trong hợp đồng lao động.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Thanh to&aacute;n đầy đủ, đ&uacute;ng thời hạn c&aacute;c chế độ v&agrave; quyền lợi cho người lao động theo hợp đồng lao động, thỏa ước lao động tập thể (nếu c&oacute;).</span></p>
<p style="text-align: justify; font-size: 10.0pt"><strong><span>1. <span>&nbsp;&nbsp;&nbsp; </span>Quyền hạn:</span></strong></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Điều h&agrave;nh người lao động ho&agrave;n th&agrave;nh c&ocirc;ng việc theo hợp đồng (bố tr&iacute;, điều chuyển, tạm ngừng việc,&hellip;) </span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Tạm ho&atilde;n, chấm dứt hợp đồng thử việc, kỷ luật người lao động theo quy định của ph&aacute;p luật, thỏa ước lao động tập thể (nếu c&oacute;) v&agrave; nội quy lao động của doanh nghiệp.</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><strong><span style="font-size: 10.0pt; line-height: 130%;">Điều 5. Điều khoản thi h&agrave;nh</span></strong></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Những vấn đề lao động kh&ocirc;ng ghi trong hợp đồng thử việc n&agrave;y th&igrave; &aacute;p dụng quy định của Thỏa ước lao động tập thể. Trường hợp chưa c&oacute; thỏa ước lao động tập thể th&igrave; &aacute;p dụng quy định của ph&aacute;p luật lao động.</span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Hợp đồng thử việc được lập th&agrave;nh 02 (hai) bản, c&oacute; gi&aacute; trị ngang nhau, b&ecirc;n sử dụng lao động giữ 01 (một) bản, b&ecirc;n người lao động giữ 01 (một) bản v&agrave; c&oacute; hiệu lực từ ng&agrave;y <span>01/11/2024.</span></span></p>
<p style="margin-left: 22.5pt; text-align: justify; text-indent: -22.5pt; "><span style="font-size: 10.0pt;">- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    Khi hai b&ecirc;n k&yacute; kết phụ lục hợp đồng thử việc th&igrave; nội dung của phụ lục hợp đồng thử việc cũng c&oacute; gi&aacute; trị như c&aacute;c nội dung của bản hợp đồng thử việc n&agrave;y.</span></p>
<p style="margin-bottom: 0in; text-align: justify; line-height: 130%;"><span style="font-size: 10.0pt; line-height: 130%;">Hợp đồng thử việc n&agrave;y lập tại C&Ocirc;NG TY CỔ PHẦN GIẢI PH&Aacute;P MINH T&Acirc;M, 20 đường số 22, KDC Him Lam, X. B&igrave;nh Hưng, H. B&igrave;nh Ch&aacute;nh, TP HCM v&agrave;o ng&agrave;y <span>01/11/2024</span></span></p>
<p></p>
<table style="border-collapse: collapse; width: 100%; text-align: center;">
    <tbody>
        <tr>
            <td style="width: 50%; padding: 0in 5.4pt 0in 5.4pt;">
                <p style="font-size: 10.0pt; line-height: 130%;"><strong>NGƯỜI LAO ĐỘNG</strong></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p><strong><span>&hellip;</span></strong></p>
            </td>
            <td style="width: 50%; padding: 0in 5.4pt 0in 5.4pt;">
                <p style="font-size: 10.0pt; line-height: 130%;"><strong>NGƯỜI SỬ DỤNG LAO ĐỘNG</strong></p>
                <p style="font-size: 10.0pt; line-height: 130%;"><strong>GI&Aacute;M ĐỐC</strong></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p style="font-size: 10.0pt; line-height: 130%;"><strong>LƯƠNG TIẾN DŨNG</strong></p>
            </td>
        </tr>
    </tbody>
</table>