/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[name="percent_value"] {
    width: 40px;
    text-align: center;
}

label[for="form-create-customer_per"] {
    width: auto;
}

select[name="customer_per"],
input[name="max_usages"] {
    width: 100px;
}

.sub-text-max_usages,
.ml-auto {
    margin-left: auto;
}

input[name="fixed_amount_value"] {
    width: 140px;
}

input[name="max_amount"],
input[name="discount_special_quantity_value"] {
    width: 180px;
}

input[name="discount_order_opt_value"] {
    width: 180px;
    max-width: 280px;
}

#customer_modal .modal-body {
    min-height: 350px;
}

#customer_modal .modal-body{
    max-height: 450px;
    overflow-y: scroll;
}