

.checklist_item label {
    border: 0px solid transparent;
    padding: 2px 8px;
}

.checklist_item label:focus,
.checklist_item label:hover {
    cursor: text;
    outline: dotted 1px var(--bs-info);
    outline-offset: 2px;
    border-radius: 4px;
}

.txt-create,
.task_edit .txt-update {
    display: block;
}

.task_edit .txt-create,
.txt-update {
    display: none;
}
.custom-layout .container-fluid .row:nth-child(2) > *{
    width: 100%!important;
}
#rangeValue{
    font-size: 1.2rem;
    font-weight: 500;
    color:#e95144;
}
#rangeValue + small{
    color:#e95144;
}
.input-affix-wrapper .form-control:not(:first-child){
    padding-left: 0.75rem;
}