.label-mark .item-tag {
    color: #ffffff;
    background: var(--bs-info);
    border-radius: 0.375rem;
    padding: 1px 4px 2px;
    font-size: .8rem;
}

.label-mark .item-tag > .tag-delete {
    margin-left: 4px;
    color: #555555;
    cursor: pointer;
}

.label-mark .item-tag + .item-tag {
    margin-left: 4px;
}

.checklist_item label {
    border: 0px solid transparent;
    padding: 2px 8px;
}

.checklist_item label:focus,
.checklist_item label:hover {
    cursor: text;
    outline: dotted 1px var(--bs-info);
    outline-offset: 2px;
    border-radius: 4px;
}

.txt-create,
.task_edit .txt-update {
    display: block;
}

.task_edit .txt-create,
.txt-update {
    display: none;
}

.label-mark {
    width: 100%;
    height: 38px;
    color: #262a2e;
    border: 1px solid #d8d8d8;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.label-mark:hover {
    border-color: #007D88
}

.label-mark.dropdown-toggle:after {
    content: '';
    right: 0;
}

.custom-layout .container-fluid .row:nth-child(2) > *{
    width: 100%!important;
}
.leave-filter-wrap button{
    display: none;
}
.form-group-filter{
    display: flex;
    justify-content: start;
    align-items:center;
    gap: 1rem;
    flex-wrap: wrap;
}
.max-w-280{
    width: 100%;
    max-width: 280px;
    margin-right: 15px;
}
.filter-label{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.24px;
    color:#232323;
}

.clear-all-btn > span{
    cursor: pointer;
    border: solid 1px #181a1d;
    transition: all .2s ease-in;
    color: #ffffff;
    background: #181a1d;
}
.clear-all-btn > span:hover{
    color: #181a1d;
    background: #ffffff;
}
.clear-all-btn{display: none}
@media (max-width: 1024px){
    .form-group-filter{
        flex-direction: column;
        display: none
    }
    .leave-filter-wrap button{display: block;}
    .form-group-filter > div,
    .form-group-filter > label,
    .clear-all-btn{width: 100%;}
    .form-group-filter > div{display: block;margin-bottom: 18px;}
    .form-group-filter > span:first-child{display: none}
    .max-w-280{margin-right: 0;min-width: 100%;}

}
#rangeValue{
    font-size: 1.2rem;
    font-weight: 500;
    color:#e95144;
}
#rangeValue + small{
    color:#e95144;
}