.label-mark .item-tag {
    color: #ffffff;
    background: var(--bs-info);
    border-radius: 0.375rem;
    padding: 1px 4px 2px;
    font-size: .8rem;
}

.label-mark .item-tag > .tag-delete {
    margin-left: 4px;
    color: #555555;
    cursor: pointer;
}

.label-mark .item-tag + .item-tag {
    margin-left: 4px;
}

.checklist_item label {
    border: 0px solid transparent;
    padding: 2px 8px;
}

.checklist_item label:focus,
.checklist_item label:hover {
    cursor: text;
    outline: dotted 1px var(--bs-info);
    outline-offset: 2px;
    border-radius: 4px;
}

.txt-create,
.task_edit .txt-update {
    display: block;
}

.task_edit .txt-create,
.txt-update {
    display: none;
}

.label-mark {
    width: 100%;
    height: 38px;
    color: #262a2e;
    border: 1px solid #ced4da;
    border-color: #d8d8d8;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.label-mark:hover {
    border-color: #007D88
}

.label-mark.dropdown-toggle:after {
    content: '';
    right: 0;
}