.blog-body{
display: flex;
}
#idxPageContent{
    padding-left:1.2rem;
    padding-top:1rem;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.tab-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex: 1;
    flex: 1;
}
.tab-column{
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.tasklist-scroll {
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    max-height: 100%;
    overflow-y: hidden;
    margin-top: 2.25rem;
    padding-bottom: 1.25rem;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

.tasklist-wrap {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    padding: 0 1.25rem;
    float: left;
}

.tasklist-wrap .tasklist {
    max-height: 100%;
    margin: 0 0.875rem;
}
.badge-icon.badge-icon-xxs{
    width: 1.25rem;
    height: 1.813rem;
    font-size: .8rem;
}