.tasklist-scroll {
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    max-height: 100%;
    overflow-y: hidden;
    margin-top: 1rem;
    padding-bottom: 1.25rem;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

.tasklist-wrap {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    float: left;
}

.tasklist-wrap .tasklist {
    max-height: 100%;
    margin: 0 0.875rem;
}
.badge-icon.badge-icon-xxs{
    width: 1.25rem;
    height: 1.813rem;
    font-size: .8rem;
}
.wrap-child{
    min-height: 180px;
}
.wrap-child > .card{
    margin-top:0;
}
.wrap-child > .card + .card{
    margin-top: 30px;
}
.sub_task_count{
    padding: 0 4px;
    min-width: 21px;
    justify-content: center;
    align-items: center;
}
.card-title:hover{
    text-decoration: underline;
}