.hand-drag {
    cursor: grab;
}

.tasklist-scroll {
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    max-height: 100%;
    overflow-y: hidden;
    margin-top: 1rem;
    padding-bottom: 0;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    transition: width 0.2s ease;
}
.sub-tasklist-scroll {
    overflow-x: auto;
    max-height: 100%;
    overflow-y: hidden;
    margin-top: 2rem;
    padding-bottom: 0;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

.tasklist-wrap, .sub-tasklist-wrap{
    display: -ms-flexbox;
    display: flex;
    float: left;
    align-items: stretch;
    height: 100%;
}

.tasklist-wrap .tasklist,
.sub-tasklist-wrap .tasklist {
    max-height: 100%;
    margin: 0 0.875rem;
}
.tasklist-name{
    padding: 4px 10px 2px;
    border-radius: 6px;
    margin-right:6px;
}

.badge-icon.badge-icon-xxs {
    width: 1.25rem;
    height: 1.813rem;
    font-size: .8rem;
}

.wrap-child {
    min-height: 216px;
    height: 100%;
}

.card{
    padding-bottom: 0;
    margin-bottom: 0;
}

.wrap-child > .card {
    margin-top: 0;
}

.wrap-child > .card:not(.hidden) + .card {
    margin-top: 30px;
}

.sub_task_count {
    min-width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.sub_task_count small{
    margin-left:-1px;
}
.card-title:hover {
    text-decoration: underline;
}

.task-count{
    background: #eee4ff;
    color: #7429F8;
    height:27px;
    width: 27px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .3rem;
}

.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 48px;
}
.task-discuss{
    cursor: pointer;
}
.isOpened #kb_scroll{
    height:320px;
}
#kb_sub_scroll{
    display:none
}

.isOpened #kb_sub_scroll{
    display: block;
    height:100%
}

.visible-hidden{
    visibility: hidden;
}

.list_act-wrap{
    display: inline-block;
}
.dropdown-menu-end{
    min-width: auto;
}
.subtask_item .sub-tit{
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.subtask_item .sub-employee{
    width: 40%;
    text-align: right;
}
.btn-task-bar{
    position: fixed;
    left: 50%;
    top: calc(100% - 20px);
    transform: translate(-50%, -100%);
    --webkit--transform: translate(-50%, -100%);
}
.card .card-header{
    column-gap: 10px;
    justify-content: flex-start;
}
.tasklist-card .card-header .card-action-wrap{
    margin-left:auto;
}
.card .card-header .card-code{
    line-height: 1;
}
.card-ticket{
    background: #e95144;
    font-size: 12px;
    line-height: 1;
    padding: 2px 6px 1px;
    border-radius:2px;
    color:#fff;
}
#table_task_list tr td .card-ticket{
    vertical-align: 1px;
}
/*custom filter desktop*/
.form-group-filter{
    display: flex;
    justify-content: start;
    align-items:center;
    gap: 1rem;
    flex-wrap: wrap;
}
.max-w-280{
    width: 100%;
    max-width: 280px;
    margin-right: 15px;
}
.filter-label{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.24px;
    color:#232323;
}

.clear-all-btn > span{
    cursor: pointer;
    border: solid 1px #181a1d;
    transition: all .2s ease-in;
    color: #ffffff;
    background: #181a1d;
}
.clear-all-btn > span:hover{
    color: #181a1d;
    background: #ffffff;
}
.clear-all-btn{display: none}
.desktop-btn,
.leave-filter-wrap .sp-btn{
    display: none;
}
@media screen and (min-width:1025px){
    .leave-filter-wrap{
        position: relative;
    }
    .desktop-btn{
        display: block;
        position: absolute;
        z-index: 1;
    }
    .form-group-filter{
        position: absolute;
        overflow: hidden;
        right: 122px;
        background: #fff;
        z-index: 111;
        width: calc(100% - 122px);
        border-radius: 5px;
        height: 150px;
        padding: 10px;
        box-shadow: 2px 2px 10px 4px rgb(205 205 205 / 40%);
    }
    .desktop-btn{right: 0}
}
@media screen and (max-width: 1024px) {
    .leave-filter-wrap .sp-btn{
        display: block;
    }
    .form-group-filter{
        flex-direction: column;
    }
    .form-group-filter > div,
    .form-group-filter > label,
    .clear-all-btn{width: 100%;}
    .form-group-filter > div{display: block;margin-bottom: 18px;}
    .form-group-filter > span:first-child{display: none}
    .max-w-280{margin-right: 0;min-width: 100%;}
}