.hand-drag {
    cursor: grab;
}

.tasklist-scroll {
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    max-height: 100%;
    overflow-y: hidden;
    margin-top: 1rem;
    padding-bottom: 0;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    transition: width 0.2s ease;
}
.sub-tasklist-scroll {
    overflow-x: auto;
    max-height: 100%;
    overflow-y: hidden;
    margin-top: 2rem;
    padding-bottom: 0;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

.tasklist-wrap, .sub-tasklist-wrap {
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    float: left;
}

.tasklist-wrap .tasklist,
.sub-tasklist-wrap .tasklist {
    max-height: 100%;
    margin: 0 0.875rem;
}

.badge-icon.badge-icon-xxs {
    width: 1.25rem;
    height: 1.813rem;
    font-size: .8rem;
}

.wrap-child {
    min-height: 216px;
}

.card{
    padding-bottom: 0;
    margin-bottom: 0;
}

.wrap-child > .card {
    margin-top: 0;
}

.wrap-child > .card + .card {
    margin-top: 30px;
}

.sub_task_count {
    padding: 0 4px;
    min-width: 21px;
    justify-content: center;
    align-items: center;
}

.card-title:hover {
    text-decoration: underline;
}

.label-mark{
    width: 100%;
    height:38px;
    color: #262a2e;
    border: 1px solid #ced4da;
    border-color: #d8d8d8;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.label-mark:hover{
    border-color:#007D88
}
.label-mark.dropdown-toggle:after{
    content: '';
    right:0;
}
.txt-create,
.task_edit .txt-update{
    display: block;
}
.task_edit .txt-create,
.txt-update
{
    display: none;
}

.task-count{
    background: #eee4ff;
    color: #7429F8;
    height:27px;
    width: 27px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .3rem;
}

.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 48px;
}
.task-discuss{
    cursor: pointer;
}
.isOpened #kb_scroll{
    height:320px;
}
#kb_sub_scroll{
    display:none
}
.isOpened #kb_sub_scroll{
    display: block;
}