{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'JE group assignment' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
{% endblock %}
{% block pageContent %}
    <script id="script-url"
            data-url-list="{% url 'JEGroupAssignmentListAPI' %}"
    ></script>
    <div class="row">
        <div class="col-12">
            <table class="table nowrap w-100"
                   id="je-group-assignment-table"
            >
                <thead class="bg-secondary-light-5">
                <tr>
                    <th style="min-width: 50px"></th>
                    <th style="min-width: 150px">{% trans 'Current category' %}</th>
                    <th style="min-width: 250px">{% trans 'Posting group code' %}</th>
                    <th style="min-width: 250px">{% trans 'Posting group title' %}</th>
                    <th style="min-width: 100px">{% trans 'Active' %}</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static 'assets/js/accountingsettings/account_determination/je_group_assignment.js' %}"></script>
{% endblock %}
