{% load i18n %}

<div class="row" id="notify">
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            {% trans 'You have not configured any role for Revenue plan. Go to Settings > Revenue plan config (admin)' %}
        </div>
    </div>
</div>

<div class="row main">
    <div class="col-12 col-md-8 col-lg-8">
        <div class="form-group">
            <label for="title" class="form-label required">{% trans 'Title' %}</label>
            <input type="text" class="form-control" id="title">
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="form-group">
            <label for="revenue-plan-period" class="form-label required">{% trans 'Fiscal year' %}</label>
            <select class="form-select select2" id="revenue-plan-period"
                    data-url="{% url 'PeriodsConfigListAPI' %}"
                    data-method="GET"
            ></select>
        </div>
    </div>
    <div class="col-12 col-md-2 col-lg-2">
        <div class="form-check">
            <input class="form-check-input" id="monthly" type="checkbox" disabled checked>
            <label class="form-check-label" for="monthly">{% trans 'Monthly' %}</label>
        </div>
    </div>
    <div class="col-12 col-md-2 col-lg-2">
        <div class="form-check">
            <input class="form-check-input" id="quarterly" type="checkbox" disabled>
            <label class="form-check-label" for="quarterly">{% trans 'Quarterly' %}</label>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="form-check">
            <input class="form-check-input" id="equal" type="checkbox" checked disabled>
            <label class="form-check-label" for="equal">{% trans 'Period target equals total of sub period targets' %}</label>
        </div>
    </div>
    <div class="col-12 col-md-2 col-lg-2">
        <div class="form-check">
            <input class="form-check-input" name='profit-type' id="gross-profit" type="radio" checked>
            <label class="form-check-label" for="gross-profit">{% trans 'Gross profit' %}</label>
        </div>
    </div>
    <div class="col-12 col-md-2 col-lg-2">
        <div class="form-check">
            <input class="form-check-input" name='profit-type' id="net-income" type="radio">
            <label class="form-check-label" for="net-income">{% trans 'Net income' %}</label>
        </div>
    </div>
</div>

{#<div class="row main mt-5">#}
{#    <div class="col-12 col-md-6 col-lg-6">#}
{#        <button type="button" id="add-group-plan" class="btn btn-custom btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-group-plan-modal">#}
{#            <span>#}
{#                <span class="icon"><span class="feather-icon"><i class="fas fa-plus"></i></span></span>#}
{#                <span>{% trans 'Add group plan' %}</span>#}
{#            </span>#}
{#        </button>#}
{#    </div>#}
{#    <div class="col-12 col-md-6 col-lg-6 mt-1 mt-md-0 mt-lg-0 text-right" id="notify-change-group" hidden>#}
{#        <a href="#" class="fw-bold link-danger underline_hover" id="btn_update_group">#}
{#            {% trans "had been changed. Update here!" %}#}
{#        </a>#}
{#    </div>#}
{#</div>#}

<div class="row main mt-5">
    <div class="col-12 col-md-6 col-lg-6">
        <button type="button" id="btn-check-changes" class="btn bflow-mirrow-btn btn-sm">
            <span>
                <span class="icon"><span class="feather-icon"><i class="fa-solid fa-dice"></i></span></span>
                <span>{% trans 'Check changes' %}</span>
            </span>
        </button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 col-lg-2">
        <ul class="nav nav-light nav-vertical nav-pills" id="nav-group">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#tab_company">
                    <span class="nav-icon-wrap"><span class="feather-icon"><i class="bi bi-building"></i></span></span>
                    <span class="nav-link-text fw-bold">{% trans 'Company' %}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-12 col-lg-10">
        <div class="tab-content" id="nav-content">
            <div class="tab-pane fade show active" id="tab_company">
                <table class="table nowrap w-100" id="revenue-plan-company-table">
                    <thead class="bg-light">
                    <tr>
                        <th style="min-width: 30px;"></th>
                        <th style="min-width: 200px;" class="m1th"></th>
                        <th style="min-width: 200px;" class="m2th"></th>
                        <th style="min-width: 200px;" class="m3th"></th>
                        <th style="min-width: 200px;">{% trans 'QUARTER' %} 1</th>
                        <th style="min-width: 200px;" class="m4th"></th>
                        <th style="min-width: 200px;" class="m5th"></th>
                        <th style="min-width: 200px;" class="m6th"></th>
                        <th style="min-width: 200px;">{% trans 'QUARTER' %} 2</th>
                        <th style="min-width: 200px;" class="m7th"></th>
                        <th style="min-width: 200px;" class="m8th"></th>
                        <th style="min-width: 200px;" class="m9th"></th>
                        <th style="min-width: 200px;">{% trans 'QUARTER' %} 3</th>
                        <th style="min-width: 200px;" class="m10th"></th>
                        <th style="min-width: 200px;" class="m11th"></th>
                        <th style="min-width: 200px;" class="m12th"></th>
                        <th style="min-width: 200px;">{% trans 'QUARTER' %} 4</th>
                        <th style="min-width: 200px;">{% trans 'YEAR' %}</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{#<div class="row main mt-5 mb-5">#}
{#    <div class="col-12">#}
{#        <table class="table table-bordered nowrap w-100" id="revenue-plan-table" data-group-url="{% url 'GroupDetailAPI' '0' %}">#}
{#            <thead class="bg-primary">#}
{#                <tr>#}
{#                    <th style="min-width: 200px;" class="bg-primary">{% trans 'Employee' %}</th>#}
{#                    <th style="min-width: 150px;" class="m1th"></th>#}
{#                    <th style="min-width: 150px;" class="m2th"></th>#}
{#                    <th style="min-width: 150px;" class="m3th"></th>#}
{#                    <th style="min-width: 150px;">{% trans 'QUARTER' %} 1</th>#}
{#                    <th style="min-width: 150px;" class="m4th"></th>#}
{#                    <th style="min-width: 150px;" class="m5th"></th>#}
{#                    <th style="min-width: 150px;" class="m6th"></th>#}
{#                    <th style="min-width: 150px;">{% trans 'QUARTER' %} 2</th>#}
{#                    <th style="min-width: 150px;" class="m7th"></th>#}
{#                    <th style="min-width: 150px;" class="m8th"></th>#}
{#                    <th style="min-width: 150px;" class="m9th"></th>#}
{#                    <th style="min-width: 150px;">{% trans 'QUARTER' %} 3</th>#}
{#                    <th style="min-width: 150px;" class="m10th"></th>#}
{#                    <th style="min-width: 150px;" class="m11th"></th>#}
{#                    <th style="min-width: 150px;" class="m12th"></th>#}
{#                    <th style="min-width: 150px;">{% trans 'QUARTER' %} 4</th>#}
{#                    <th style="min-width: 200px;">{% trans 'YEAR' %}</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody></tbody>#}
{#            <tfoot>#}
{#                <tr>#}
{#                    <td style="min-width: 200px;" class="fw-bold bg-primary-light-5">{% trans 'TOTAL' %}</td>#}
{#                    <td style="min-width: 150px;" class="sum-m1">#}
{#                        <input readonly disabled class="mb-1 sum-company-m1 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m1-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m2">#}
{#                        <input readonly disabled class="mb-1 sum-company-m2 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m2-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m3">#}
{#                        <input readonly disabled class="mb-1 sum-company-m3 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m3-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 15px;" class="sum-q1">#}
{#                        <input readonly disabled class="mb-1 sum-company-q1 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-q1-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m4">#}
{#                        <input readonly disabled class="mb-1 sum-company-m4 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m4-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m5">#}
{#                        <input readonly disabled class="mb-1 sum-company-m5 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m5-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m6">#}
{#                        <input readonly disabled class="mb-1 sum-company-m6 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m6-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-q2">#}
{#                        <input readonly disabled class="mb-1 sum-company-q2 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-q2-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m7">#}
{#                        <input readonly disabled class="mb-1 sum-company-m7 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m7-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m8">#}
{#                        <input readonly disabled class="mb-1 sum-company-m8 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m8-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m9">#}
{#                        <input readonly disabled class="mb-1 sum-company-m9 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m9-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-q3">#}
{#                        <input readonly disabled class="mb-1 sum-company-q3 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-q3-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m10">#}
{#                        <input readonly disabled class="mb-1 sum-company-m10 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m10-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m11">#}
{#                        <input readonly disabled class="mb-1 sum-company-m11 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m11-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-m12">#}
{#                        <input readonly disabled class="mb-1 sum-company-m12 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-m12-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 150px;" class="sum-q4">#}
{#                        <input readonly disabled class="mb-1 sum-company-q4 mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-q4-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                    <td style="min-width: 200px;" class="sum-year">#}
{#                        <input readonly disabled class="mb-1 sum-company-year mask-money form-control form-control-line fw-bold" value="0">#}
{#                        <input readonly disabled class="sum-company-year-profit mask-money form-control form-control-line fw-bold" value="0">#}
{#                    </td>#}
{#                </tr>#}
{#            </tfoot>#}
{#        </table>#}
{#    </div>#}
{#</div>#}
