{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Revenue plan' %}{% endblock %}
{% block cssHeader %}
    <style>
        td input, th input, td, th {
            text-align: right;
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button id="btn-save-revenue-plan" class="btn btn-outline-primary" type="submit" form="form-create-revenue-plan">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    {{ data.revenue_plan_config | json_script:"revenue_plan_config" }}

    <script id="trans-script"
            data-trans-m1th="{% trans 'January' %}"
            data-trans-m2th="{% trans 'February' %}"
            data-trans-m3th="{% trans 'March' %}"
            data-trans-m4th="{% trans 'April' %}"
            data-trans-m5th="{% trans 'May' %}"
            data-trans-m6th="{% trans 'June' %}"
            data-trans-m7th="{% trans 'July' %}"
            data-trans-m8th="{% trans 'August' %}"
            data-trans-m9th="{% trans 'September' %}"
            data-trans-m10th="{% trans 'October' %}"
            data-trans-m11th="{% trans 'November' %}"
            data-trans-m12th="{% trans 'December' %}"
            data-trans-revenue="{% trans 'Revenue' %}"
            data-trans-net-profit="{% trans 'Net income' %}"
            data-trans-gross-profit="{% trans 'Gross profit' %}"
    ></script>
    <form id="form-create-revenue-plan"
          data-method="POST"
          data-url-redirect="{% url "RevenuePlanList" %}"
          data-url-list="{% url 'RevenuePlanList' %}"
          data-url-detail="{% url 'RevenuePlanDetail' '0' %}"
          data-url="{% url "RevenuePlanListAPI" %}">
        {% csrf_token %}
        {% include 'revenue_plan/common.html' %}
    </form>
{% endblock %}
{% block modalData %}
    {% include 'revenue_plan/modal.html' %}
{% endblock %}
{% block jsFooterUnCompress %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static 'assets/js/revenue_plan/revenue_plan_common.js' %}"></script>
    <script src="{% static 'assets/js/revenue_plan/revenue_plan_create.js' %}"></script>
{% endblock %}
