{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Lead Detail' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url 'LeadUpdate' pk=pk %}" id="btn-edit-lead">
        <button class="btn btn-outline-primary">
            <span>
                <span>{% trans 'Edit' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <script hidden id="direct-btn-group-url"
        data-url-list-api="{% url 'LeadListAPI' %}"
        data-url-create="{% url 'LeadCreate' %}"
        data-url-detail="{% url 'LeadDetail' '0' %}"
        data-key-return="lead_list"
    ></script>
    <input type="hidden" id="employee_current_id" value="{{ request.user.employee_current_data.id }}">
    {{ data.stage_list | json_script:"stage_list" }}
    <script id="script-trans"
            data-trans-note="{% trans 'Note' %}"
            data-trans-convert="{% trans 'Convert' %}"
            data-trans-cancel="{% trans 'Cancel' %}"
            data-trans-convert-contact-confirm="{% trans 'Convert to a new Contact?' %}"
            data-trans-convert-opp-confirm="{% trans 'Convert to Opportunity? Related to:' %}"
            data-trans-goto-confirm="{% trans 'Go to this Stage?' %}"
    ></script>
    <script id="script-url" hidden
            data-url-config="{% url 'OpportunityConfigAPI' %}"
    ></script>
    <form id="form-detail-lead" data-url="{% url 'LeadDetailAPI' pk=pk %}" data-method="GET">
        {% csrf_token %}
        {% include 'sales/lead/common/config.html' %}
        {% include 'sales/lead/common/stage.html' %}
        {% include 'sales/lead/common/information.html' %}
        {% include 'sales/lead/common/comments.html' %}
    </form>
{% endblock %}
{% block dataHiddenGroup %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/sales/lead/js/lead_common.js' %}"></script>
    <script src="{% static 'assets/sales/lead/js/lead_detail.js' %}"></script>
    <script src="{% static 'assets/js/direct-btn-group.js' %}"></script>
{% endblock %}
