{% extends 'base.html' %}
{% load static i18n workflowtags %}
{% block title %}{% trans 'Workflow detail' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/JSPlumb/css/jsplumbtoolkit-defaults.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/core/workflow/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/plugins/conditions/conditions.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/core/workflow/css/flowchart-workflow-init.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/core/workflow/css/workflow_node.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/core/workflow/css/wf_detail.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block pageAction %}
    <a href="{% url 'WorkflowUpdate' pk=pk %}">
        <button class="btn btn-outline-primary" id="btn-enable-edit">
            <span>
                <span>{% trans 'Edit' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}

{% block pageContent %}
    <form
            data-url="{% url 'WorkflowDetailAPI' data.data.doc_id %}"
            data-url-redirect="{% url 'WorkflowList' %}"
            data-method="GET"
            id="form-create_workflow"
            method="post"
            readonly
    >
        {% csrf_token %}
        <input type="hidden" name="actions_rename">
        <input type="hidden" name="associate" id="node-associate">

        <div class="d-flex justify-content-center">
            <ul class="nav nav-pills-bfl nav-workflow-form-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-href="#tab_function">
                        <span class="nav-icon-wrap mr-1"><i class="far fa-lightbulb"></i></span>
                        <span class="nav-link-text">{% trans 'Function and Zone' %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-href="#tab_next_node">
                        <span class="nav-icon-wrap mr-1"><i class="fas fa-project-diagram"></i></span>
                        <span class="nav-link-text">{% trans 'Node association' %}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_function">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="form-create-title">{% trans 'Workflow name' %}</label>
                            <input class="form-control" type="text"
                                   name="title"
                                   id="form-create-title" readonly value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label required" for="select-box-features">{% trans 'Select Function Applied' %}</label>
                            <select
                                    class="form-select"
                                    id="select-box-features"
                                    name="application"
                                    data-keyResp="tenant_application_list"
                                    data-keyText="title_i18n"
                                    required
                                    readonly
                            ></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-1">
                        <div class="form-check" hidden>
                            <input type="checkbox" class="form-check-input"
                                   id="id-dhtmlefine_zone" name="define_zone"
                                   disabled
                            >
                            <label class="form-check-label" for="id-dhtmlefine_zone">{% trans 'Define zone' %}</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <table id="table_workflow_zone" class="table nowrap w-100 mb-5">
                            <thead>
                            <tr class="bg-light">
                                <th>{% trans 'Zone name' %}</th>
                                <th>{% trans 'Description' %}</th>
                                <th>{% trans 'Actions' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab_node">
                <div class="row" hidden>
                    <div class="col-9">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="id-is_multi_company"
                                   name="is_multi_company" disabled>
                            <label class="form-check-label" for="id-is_multi_company">
                                {% trans 'Collaborators in multi company' %}</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-flush-success flush-soft-hover wf-is-editable"
                                type="button"
                                data-bs-toggle="modal"
                                title="{% trans 'Button rename' %}"
                                data-bs-target="#change_btn"
                                disabled
                        >
                            <span class="icon">
                                <span class="feather-icon">
                                    <i data-feather="edit"></i>
                                </span>
                                <span class="font-3 ml-1">
                                    {% trans 'Button rename' %}
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab_next_node">
                <div class="wrap-flowchart">
                    <div id="node_dragbox" class="bg-grey-light-5">
                        <p class="text-center pt-3">{% trans 'No content available' %}</p>
                    </div>
                    <div class="wrap-flowchart_wf bg-grey-light-5">
                        <div id="flowchart_workflow" class="bg-grey-light-5"></div>
                    </div>
                    <div class="wrap-btn_extend">
                        <button type="button" class="btn btn-extend_space" data-btn-type="minus">
                            <span class="feather-icon">
                                <i data-feather="minus"></i>
                            </span>
                        </button>
                        <button type="button" class="btn btn-extend_space" data-btn-type="plus">
                            <span class="feather-icon">
                                <i data-feather="plus"></i>
                            </span></button>
                    </div>
                </div>


                <div
                        class="modal fade" id="modal-association-error" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenter" aria-hidden="true"
                >
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            </div>
                            <div class="modal-body" style="text-align: center;">
                            </div>
                            <div class="modal-footer">
                                <button
                                        type="button"
                                        id="close-modal-association-error"
                                        class="btn btn-primary"
                                        data-bs-dismiss="modal"
                                >OK
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="w-100 d-flex justify-content-center mt-2" id="nav-next-prev-step">
            <button class="btn btn btn-outline-light mr-1 prev-btn" type="button" data-nav-type="prev"
                    disabled>{% trans 'Prev' %}</button>
            <button class="btn btn btn-primary next-btn"
                    type="button"
                    data-nav-type="next">
                {% trans 'Next' %}
            </button>
        </div>
    </form>

    <!--- modal add and edit zone--->
    <div class="modal fade"
         id="add_zone"
         tabindex="-1"
         role="dialog"
         aria-labelledby="ModalAddZone"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form data-method="put"
                      method="post"
                      novalidate
                >
                    <input type="hidden" name="zone_id">
                    <input type="hidden" name="order">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans 'Zone information' %}</h5>
                        <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label"><b>{% trans 'Name' %}</b></label>
                                    <input class="form-control"
                                           type="text"
                                           name="title"
                                           id="form-create-zone-title"
                                           readonly
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label"><b>{% trans 'Input description of zone' %}</b></label>
                                    <textarea class="form-control" type="text" name="remark"
                                              id="form-create-zone-remark" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <label for="property_list_choices">{% trans 'Select property' %}:</label>
                        <select
                                class="form-select"
                                name="property_list"
                                id="property_list_choices"
                                data-url="{% url "ApplicationPropertyListAPI" %}"
                                data-method="GET"
                                data-keyResp="application_property_list"
                                data-keyText="title_i18n"
                                multiple
                                readonly
                        ></select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn-zone-submit">{% trans 'Save' %}</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            {% trans 'Close' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- modal rename button --->
    <div class="modal fade"
         id="change_btn"
         tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">{% trans 'Button rename' %}</h6>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <table id="table_workflow_rename" class="table">
                                <thead>
                                <tr class="bg-light">
                                    <th>{% trans 'Action' %}</th>
                                    <th>{% trans 'Default name' %}</th>
                                    <th>{% trans 'Rename' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="center">
                                    <td>Create</td>
                                    <td>{% trans 'Create' %}</td>
                                    <td>
                                        <input class="form-control" type="text" name="btn_create" data-key="0"
                                               placeholder="{% trans 'Move' %}">
                                    </td>
                                </tr>
                                <tr class="center">
                                    <td>Approved</td>
                                    <td>{% trans 'Approved' %}</td>
                                    <td>
                                        <input class="form-control" type="text" name="btn_approved" data-key="1"
                                               placeholder="{% trans 'Approved' %}">
                                    </td>
                                </tr>
                                <tr class="center">
                                    <td>Reject</td>
                                    <td>{% trans 'Reject' %}</td>
                                    <td>
                                        <input class="form-control" type="text" name="btn_reject" data-key="2"
                                               placeholder="{% trans 'Reject' %}">
                                    </td>
                                </tr>
                                <tr class="center">
                                    <td>Return</td>
                                    <td>{% trans 'Return' %}</td>
                                    <td>
                                        <input class="form-control" type="text" name="btn_return" data-key="3"
                                               placeholder="{% trans 'Return' %}">
                                    </td>
                                </tr>
                                <tr class="center">
                                    <td>Receive</td>
                                    <td>{% trans 'Received' %}</td>
                                    <td>
                                        <input class="form-control" type="text" name="btn_receive" data-key="4"
                                               placeholder="{% trans 'Received' %}">
                                    </td>
                                </tr>
                                <tr class="center">
                                    <td>To do</td>
                                    <td>{% trans 'Done' %}</td>
                                    <td>
                                        <input class="form-control" type="text" name="btn_todo" data-key="5"
                                               placeholder="{% trans 'Done' %}">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-1">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="id-restore_default"
                                       name="restore_default">
                                <label class="form-check-label"
                                       for="id-restore_default">{% trans 'Restore default' %}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary float-left" id="btn-rename">{% trans 'Save' %}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {% trans 'Cancel' %}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--- modal exit node--->
    {% include 'core/workflow/extends/modal-exit-node.html' %}
    {{ data.wf_actions|json_script:'wf_action' }}

    <!---modal next node association--->
    {% include 'core/workflow/extends/next-node-associate.html' %}
    {{ data.wf_data_type|json_script:'wf_data_type' }}
{% endblock %}

{% block modalData %}
    {% include 'core/workflow/workflow_detail_offcanvas.html' %}
{% endblock %}

{% block dataHiddenGroup %}
    <input type="text" id="app-url-factory"
           data-application="{% url "TenantApplicationListAPI" %}"
           data-employees="{% url 'EmployeeListAPI' %}"
           data-node="{% url 'NodeSystemListAPI' %}"
           data-app-property="{% url 'ApplicationPropertyListAPI' %}"
           {# url of MD begin #}
           data-md-account="{% url 'AccountListAPI' %}"
           data-md-industry="{% url 'IndustryListAPI' %}"
           data-md-employee="{% url 'EmployeeListAPI' %}"
           data-md-product="{% url 'ProductForSaleListAPI' %}"
           data-md-product-type="{% url 'ProductTypeListAPI' %}"
           data-md-product-category="{% url 'ProductCategoryListAPI' %}"
           data-md-expense="{% url 'ExpenseListAPI' %}"
           data-md-expense-item="{% url 'ExpenseItemListAPI' %}"
           data-md-city="{% url 'CityListAPI' %}"

           data-md-property="{% url "ApplicationPropertyListAPI" %}"
           data-md-function="{% url "IndicatorParamListAPI" %}"
    >
    <input type="text" id="translate-factory"
           data-context_delete="{% trans 'Delete connection' %}"
    >
    <input
        type="text"
        id="node-trans-factory"
        data-complete-node="{% trans 'Please complete nodes data' %}"
        data-require-node-initial="{% trans 'Node initial is required' %}"
        data-require-node-approved="{% trans 'Node approved is required' %}"
        data-complete-association="{% trans 'Please complete associations data' %}"
        data-btn-close="{% trans 'Close' %}"
        data-btn-save="{% trans 'Save' %}"
        data-add-employee="{% trans 'Add Employee' %}"
        data-code="{% trans 'Code' %}"
        data-full-name="{% trans 'Full Name' %}"
        data-select-company="{% trans 'Company' %}"
        data-description="{% trans 'Description' %}"
        data-choose="{% trans 'Choose...' %}"
        data-select-group="{% trans 'Group' %}"
        data-select-role="{% trans 'Role' %}"
        data-select-employee="{% trans 'Employee' %}"
        data-select-position="{% trans 'Position title' %}"
        data-select-beneficiary="{% trans 'Beneficiary' %}"
        data-select-1st-manager="{% trans '1st manager' %}"
        data-select-2nd-manager="{% trans '2nd manager' %}"
        data-select-upper-manager="{% trans 'Upper manager' %}"
        data-editing-zone="{% trans 'Editing zone' %}"
        data-hidden-zone="{% trans 'Hidden zone' %}"
        data-actions="{% trans 'Actions' %}"
        data-collaborators="{% trans 'Collaborators' %}"
        data-add-collaborators="{% trans 'Add Collaborators' %}"
        data-position-select="{% trans 'Select position' %}"
        data-list-source="{% trans 'List source' %}"
        data-valid-zone-edit="{% trans 'This zone is hidden zone' %}"
        data-valid-zone-edit-all="{% trans 'All zones are edit zones' %}"
        data-valid-zone-hidden="{% trans 'This zone is edit zone' %}"
        data-valid-zone-hidden-exist="{% trans 'There are zones hidden' %}"
        data-zone-all-data="{% trans 'All data' %}"
        data-creator="{% trans 'Document creator' %}"
        data-node-initial="{% trans 'Initial node' %}"
        data-node-approved="{% trans 'Approved node' %}"
        data-node-completed="{% trans 'Completed node' %}"
        data-employee-list="{% trans 'Employee list' %}"
        data-add-new="{% trans 'Add new' %}"
        data-system-node="{% trans 'System node' %}"
        data-type-src-2="{% trans 'Select collaborator' %}"
        data-type-src-3="{% trans 'Auto assign collaborator' %}"
        data-type-src-note="{% trans 'At this node' %}"
        data-type-src-2-note="{% trans 'Only one collaborator (select in list below) will action, approve the document' %}"
        data-type-src-3-note="{% trans 'All collaborators (according to configuration below) will action, approve the document' %}"
        data-validate-next-node="{% trans 'Only one collaborator can be configured at this node because the next node needs to select a collaborator' %}"
        data-validate-association-1="{% trans 'Must go through approval node' %}"
        data-validate-association-2="{% trans 'Already connected' %}"
        data-validate-association-3="{% trans "No return at approval node" %}"
        data-validate-association-4="{% trans "Cannot connect itself" %}"
        data-next-node="{% trans "Next node" %}"
        data-exceed-collab="{% trans "Exceed collaborator quantity" %}"
        data-config="{% trans "Configuration" %}"
        data-delete="{% trans "Delete" %}"
        data-check-collab="{% trans "Collaborator configuration conflict with the association node" %}"
        data-add-zone="{% trans "Add zone" %}"
        data-required-application="{% trans "Please select Function Applied first" %}"
        data-syntax="{% trans 'Syntax' %}"
        data-example="{% trans 'Example' %}"
        data-add="{% trans 'Add' %}"
        data-delete-block="{% trans 'Delete block' %}"
        data-and="{% trans 'And' %}"
        data-or="{% trans 'Or' %}"
        data-is="{% trans 'is' %}"
        data-contains="{% trans 'contains' %}"
        data-not-contain="{% trans 'does not contain' %}"
        data-confirm-delete-associate="{% trans 'Are you sure to delete node association?' %}"
    >

    <input
        type="text"
        id="data-init-property-employee"
        data-url="{% url "ApplicationPropertyEmployeeListAPI" %}"
        data-method="GET"
    >
    <input
        type="text"
        id="data-init-company"
        data-url="{% url "CompanyListAPI" %}"
        data-method="GET"
    >
    <input
        type="text"
        id="data-init-role"
        data-url="{% url "RoleListAPI" %}"
        data-method="GET"
    >
    <input
        type="text"
        id="data-init-employee"
        data-url="{% url "EmployeeListAPI" %}"
        data-method="GET"
    >
    <input
        type="text"
        id="data-init-employee-company"
        data-url="{% url "EmployeeCompanyListAPI" %}"
        data-method="GET"
    >
    <input
            type="text"
            id="of-employee-checked"
    >

{% endblock %}

{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/core/workflow/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendors/formset/jquery.formset.min.js' %}"></script>
    <script src="{% static 'vendors/JSPlumb/js/jsplumb.js' %}"></script>

    <script src="{% static 'assets/core/workflow/js/workflow-flowchart.js' %}"></script>
    <script src="{% static 'assets/core/workflow/js/wf_common.js' %}"></script>
    <script src="{% static 'assets/core/workflow/js/workflow_node_common.js' %}"></script>
    <script src="{% static 'assets/core/workflow/js/workflow-create.js' %}"></script>
    <script src="{% static 'assets/js/plugins/conditions/conditions.js' %}"></script>
    <script src="{% static 'assets/core/workflow/js/wf_detail.js' %}"></script>

    <script src="{% static 'vendors/select2/dist/js/init-select2.js' %}"></script>
{% endblock %}