{% load i18n %}

<div
    class="modal fade" id="nodeModal" tabindex="-1" role="dialog"
    aria-labelledby="nodeModal" aria-hidden="true" data-bs-backdrop="static"
>
    <div class="modal-dialog modal-xl modal-collab" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>{% trans 'Node configuration' %}</b></h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body modal-body-collab">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="form-label required" for="node-title"><b>{% trans 'Title' %}</b></label>
                            <input
                                    type="text" class="form-control"
                                    id="node-title"
                                    maxlength="30"
                            >
                        </div>
                    </div>
                </div>
                <div class="form-group" hidden>
                    <label class="form-label" for="node-remark">{% trans 'Note' %}</label>
                    <textarea class="form-control" rows="2" id="node-remark"></textarea>
                </div>
                <div class="row action-area">
                    <label class="form-label required" for="box-list-source"><b>{% trans 'Actions at node' %}</b></label>
                    <div class="d-flex align-items-center">
                        <div>
                            <button type="button" class="btn btn-outline-primary mr-2" aria-expanded="false" data-bs-toggle="dropdown">
                                <span><span>{% trans 'Select action' %}</span><span class="icon"><i class="fas fa-angle-down fs-8 text-light"></i></span></span>
                            </button>
                            <div class="dropdown-menu action-list w-160p h-120p"></div>
                        </div>
                        <div class="form-control div-input action-show w-20" readonly></div>
                    </div>
                </div>
                <div id="node-system-area" hidden>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 border-right">
                            <div class="form-group">
                                <label class="form-label">{% trans 'Editing zone' %}</label>
                                <div class="zone-edit"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">{% trans 'Hidden zone' %}</label>
                                <div class="zone-hidden"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="node-custom-area" hidden>
                    <label class="form-label required" for="box-list-source"><b>{% trans 'Collaborators at node' %}</b></label>
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="form-group form-group-data-source">
                                <label class="form-label" for="box-list-source">{% trans 'Type' %}</label>
                                <select
                                    class="form-select"
                                    id="box-list-source"
                                    data-url=""
                                    data-method="GET"
                                    data-link-detail=""
                                    name="list_source"
                                    data-keyResp=""
                                >
                                </select>
                                <small class="form-text text-muted source-note hidden"></small>
                            </div>
                        </div>
                    </div>
                    <div class="row collab-area mb-5" id="collab-area-1" hidden>
                        <div class="form-group">
                            <label class="form-label">{% trans 'Collaborator list' %}</label>
                            <div
                                class="input-group input-group-out-form-employee mb-3"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#outFormCanvas"
                                aria-controls="outFormCanvas"
                            >
                                <span class="input-affix-wrapper">
                                    <div class="form-control div-input out-form-emp-show"></div>
                                    <input type="hidden" class="node-out-form-employee-submit">
                                    <span class="input-suffix">
                                        <div class="btn-group btn-link btn-sm"><i class="fa fa-user"></i></div>
                                    </span>
                                </span>
                            </div>
                            <div class="offcanvas offcanvas-end w-60" tabindex="-1" id="outFormCanvas" aria-labelledby="outFormCanvas">
                                <div class="modal-header">
                                    <h5><b>{% trans 'Add Employee' %}</b></h5>
                                    <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="offcanvas"><span class="icon"><i class="far fa-window-close"></i></span></button>
                                </div>
                                <div class="offcanvas-body form-group">
                                    <table
                                            class="table nowrap w-100"
                                            id="table-out-form-employee"
                                            data-url="{% url "EmployeeListAPI" %}"
                                            data-method="GET"
                                    >
                                        <thead>
                                        <tr class="bg-light">
                                            <th>#</th>
                                            <th>{% trans 'Employee code' %}</th>
                                            <th>{% trans 'Employee name' %}</th>
                                            <th>{% trans 'Group' %}</th>
                                            <th>{% trans 'Role' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <br><br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">{% trans 'Close' %}</button>
                                        <button
                                                type="button"
                                                class="btn btn-primary btn-save-out-form-employee"
                                                data-bs-dismiss="offcanvas"
                                        >{% trans 'Save' %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 border-right">
                                <div class="form-group">
                                    <label class="form-label">{% trans 'Editing zone' %}</label>
                                    <div class="zone-edit"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">{% trans 'Hidden zone' %}</label>
                                    <div class="zone-hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row collab-area mb-5" id="collab-area-2" hidden>
                        <div class="row">
                            <div class="col-12 col-md-7 col-lg-7 border-right">
                                <label class="form-label">{% trans 'Collaborator list' %}</label>
                                <table
                                    class="table nowrap w-100"
                                    id="table-in-workflow"
                                >
                                    <thead>
                                    <tr class="bg-light">
                                        <th class="w-20">{% trans 'Collaborators' %}</th>
                                        <th class="w-20">{% trans 'Role' %}</th>
                                        <th class="w-20">{% trans 'Editing zone' %}</th>
                                        <th class="w-20">{% trans 'Hidden zone' %}</th>
                                        <th class="w-5"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-md-5 col-lg-5">
                                <label class="form-label">{% trans 'Exit condition' %}</label>
                                <table
                                    class="table nowrap w-100"
                                    id="table-in-workflow-exit-condition"
                                >
                                    <thead>
                                    <tr class="bg-light">
                                        <th class="w-25">{% trans "Action" %}</th>
                                        <th class="w-30">{% trans "Min collaborators" %}</th>
                                        <th class="w-45">{% trans "Next node" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="offcanvas offcanvas-end w-60" tabindex="-1" id="inWFCanvas" aria-labelledby="inWFCanvas">
                            <div class="modal-header">
                                <h5><b>{% trans 'Add Employee' %}</b></h5>
                                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="offcanvas"><span class="icon"><i class="far fa-window-close"></i></span></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="form-group">
                                    <label class="form-label" for="box-in-workflow-option">{% trans 'Config according to' %}</label>
                                    <select
                                        class="form-select"
                                        id="box-in-workflow-option"
                                        data-url=""
                                        data-method="GET"
                                        data-keyResp=""
                                    >
                                    </select>
                                </div>
                                <div class="in-wf-opt-area" id="in-wf-opt-area-1" hidden>
                                    <div class="form-group">
                                        <label class="form-label" for="box-in-workflow-position">{% trans 'Select position' %}</label>
                                        <select
                                            class="form-select"
                                            id="box-in-workflow-position"
                                            data-url=""
                                            data-method="GET"
                                            data-keyResp=""
                                        >
                                        </select>
                                    </div>
                                </div>
                                <div class="in-wf-opt-area" id="in-wf-opt-area-2" hidden>
                                    <div class="form-group" hidden>
                                        <label class="form-label" for="box-in-workflow-company">{% trans 'Company' %}</label>
                                        <select
                                            class="form-control"
                                            id="box-in-workflow-company"
                                            data-url="{% url "CompanyListAPI" %}"
                                            data-method="GET"
                                            data-keyResp="company_list"
                                        >
                                        </select>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label class="form-label" for="box-in-workflow-role">{% trans 'Role' %}</label>
                                        <select
                                            class="form-control"
                                            id="box-in-workflow-role"
                                            data-url="{% url "RoleListAPI" %}"
                                            data-method="GET"
                                            data-keyResp="role_list"
                                        >
                                        </select>
                                    </div>
                                    <div class="form-group employee-area">
                                        <label class="form-label required" for="box-in-workflow-employee">{% trans 'Employee' %}</label>
                                        <select
                                            class="form-control"
                                            id="box-in-workflow-employee"
                                            data-url="{% url "EmployeeListAPI" %}"
                                            data-method="GET"
                                            data-keyResp="employee_list"
                                            data-keyText="full_name"
                                        >
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 border-right">
                                        <div class="form-group">
                                            <label class="form-label">{% trans 'Editing zone' %}</label>
                                            <div class="zone-edit"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">{% trans 'Hidden zone' %}</label>
                                            <div class="zone-hidden"></div>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">{% trans 'Close' %}</button>
                                    <button
                                            type="button"
                                            class="btn btn-primary btn-save-in-workflow-employee"
                                            data-bs-dismiss="offcanvas"
                                            id=""
                                    >{% trans 'Save' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-save-node" data-bs-dismiss="modal">{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>

<div
        class="modal fade" id="conditionModal" tabindex="-1"
        role="dialog" aria-labelledby="conditionModal"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>{% trans 'Next node conditions' %}</b></h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-start">
                    <button type="button" class="btn btn-primary btn-add-block-cond">
                        <span><span class="icon"><i class="fa-solid fa-plus"></i></span><span>{% trans 'Add' %}</span></span>
                    </button>
                </div>
                <div class="modal-body-cond"></div>
                <div class="offcanvas offcanvas-end w-60" tabindex="-1" id="formulaCanvas" aria-labelledby="offcanvasTopLabel">
                    <div class="modal-header">
                        <h5><b>{% trans 'Edit formula' %} <span id="formula_title"></span></b></h5>
                        <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="offcanvas"><span class="icon"><i class="far fa-window-close"></i></span></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="form-label" for="formula_editor">{% trans 'Editor' %}</label>
                                <textarea class="form-control indicator-editor" id="formula_editor" rows="4" cols="50" name=""></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="nav nav-line nav-tabs nav-light border-bottom">
                                <li class="nav-item" hidden>
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_formula_indicator">
                                    <span class="nav-link-text">{% trans 'Indicator' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_formula_property">
                                    <span class="nav-link-text">{% trans 'Property' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_formula_function">
                                    <span class="nav-link-text">{% trans 'Function' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item" hidden>
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_formula_operator">
                                    <span class="nav-link-text">{% trans 'Operator' %}</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content h-400p">
                                <div class="row tab-pane fade" id="tab_formula_indicator">
                                    <div class="row">
                                        <div class="col-3 indicator-list" id="indicator_md"></div>
                                        <div class="col-9 indicator-description" id="indicator_remark"></div>
                                    </div>
                                </div>
                                <div class="row tab-pane fade show active" id="tab_formula_property">
                                    <div class="row">
                                        <div class="col-3 property-list" id="property_md"></div>
                                        <div class="col-9 property-description" id="property_remark"></div>
                                    </div>
                                </div>
                                <div class="row tab-pane fade" id="tab_formula_function">
                                    <div class="row">
                                        <div class="col-3 function-list" id="function_md"></div>
                                        <div class="col-9 function-description" id="function_remark"></div>
                                    </div>
                                </div>
                                <div class="row tab-pane fade" id="tab_formula_operator">
                                    <div class="col-6"></div>
                                    <div class="col-6"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row final-acceptance-zone" hidden>
                            <b>{% trans 'Final acceptance setting' %}</b>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group form-group-data-source">
                                    <label class="form-label">{% trans 'Data source' %}</label>
                                    <select
                                        class="form-select box-acceptance-affect"
                                        id="box_acceptance_affect"
                                        data-url=""
                                        data-method="GET"
                                        data-keyResp=""
                                    >
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-check form-check-lg mt-5">
                                    <input type="checkbox" class="form-check-input acceptance-editable" id="acceptance_editable">
                                    <label class="form-check-label" for="acceptance_editable">{% trans 'Editable' %}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mr-2" data-bs-dismiss="offcanvas">{% trans 'Close' %}</button>
                        <button type="button" class="btn btn-primary" id="btn-save-formula" data-bs-dismiss="offcanvas">{% trans 'Save' %}</button>
                        <span class="text-red" id="formula_validate_txt"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-save-condition" data-bs-dismiss="modal">{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>