# docs: https://docs.gitlab.com/ee/ci/examples/#cicd-templates

variables:
  MYSQL_DATABASE: $MYSQL_DB
  MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASS
  MYSQL_USER: $MYSQL_USER
  MYSQL_PASSWORD: $MYSQL_PASS

default:
  image: python:3.11.1-alpine3.17
  #services:
  #  - mysql:8.0

  #cache:
  #  paths:
  #    - ~/.cache/pip/
  before_script:
    - apk add gcc musl-dev mariadb-connector-c-dev
    - pip3 --version
    - pip3 install pip==20.0.2
    - pip3 install -r req.txt
    - python3 manage.py makemigrations
    - python3 manage.py migrate


stages:
 - test


cmis-tests:
  stage: test
  script:
    - python3 manage.py test
  after_script:
    - exit
