.idea
.vscode
__pycache__
*/local_settings.py
*.pyc
/static
/media
logs/*
*.log
*.sqlite3
/html_jampack/**
.env
.env*
*/.env
!env/*

# Bỏ qua file đã biên dịch
*.c
*.so
*.pyd
build/
dist/
__pycache__/
.venv/
venv/