{% if breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pt-1" style="margin-bottom: 0!important;">
            {% for item in breadcrumb %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ item.title }}
                        <div class="d-flex align-items-center ml-2 hidden" {% if item.is_append_code %} id="idx-breadcrumb-current-code" {% endif %}></div>
                    </li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}