{% load static i18n %}

<div id="btn-group-direct" hidden class="btn-group mr-3" role="group">
    <button type="button"
            id="direct-first"
            class="btn btn-rounded flush-soft-hover btn-flush-primary btn-icon text-primary btn-xs mr-1"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="{% trans 'First doc' %}"
    >
        <span class="icon"><i class="fas fa-step-backward"></i></span>
    </button>
    <button type="button"
            id="direct-previous"
            class="btn btn-rounded flush-soft-hover btn-flush-primary btn-icon text-primary btn-xs mr-1"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="{% trans 'Previous doc' %}"
    >
        <span class="icon"><i class="fas fa-caret-left"></i></span>
    </button>
    <button type="button"
            id="direct-next"
            class="btn btn-rounded flush-soft-hover btn-flush-primary btn-icon text-primary btn-xs mr-1"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="{% trans 'Next doc' %}"
    >
        <span class="icon"><i class="fas fa-caret-right"></i></span>
    </button>
    <button type="button"
            id="direct-last"
            class="btn btn-rounded flush-soft-hover btn-flush-primary btn-icon text-primary btn-xs mr-1"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="{% trans 'Last doc' %}"
    >
        <span class="icon"><i class="fas fa-step-forward"></i></span>
    </button>
    <button type="button"
            id="direct-create"
            class="btn btn-rounded flush-soft-hover btn-flush-primary btn-icon text-primary btn-xs"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="{% trans 'Create' %}"
            {% if not pk %}hidden{% endif %}
    >
        <span class="icon"><i class="fas fa-plus"></i></span>
    </button>
</div>