{% load static i18n %}

<div id="btn-group-direct" hidden class="btn-group mr-3">
    <button class="btn btn-icon btn-rounded btn-flush-primary flush-soft-hover" data-bs-toggle="dropdown" data-dropdown-animation aria-haspopup="true" aria-expanded="false">
        <span class="icon"><i class="fa-solid fa-arrows-up-down-left-right"></i></span>
    </button>
    <div role="menu" class="dropdown-menu">
        <a id="direct-first" class="dropdown-item text-primary small" href="#">
            <i class="dropdown-icon fas fa-step-backward"></i><span>{% trans 'First doc' %}</span>
        </a>
        <a id="direct-previous" class="dropdown-item text-primary small" href="#">
            <i class="dropdown-icon fas fa-caret-left"></i><span>{% trans 'Previous doc' %}</span>
        </a>
        <a id="direct-next" class="dropdown-item text-primary small" href="#">
            <i class="dropdown-icon fas fa-caret-right"></i><span>{% trans 'Next doc' %}</span>
        </a>
        <a id="direct-last" class="dropdown-item text-primary small" href="#">
            <i class="dropdown-icon fas fa-step-forward"></i><span>{% trans 'Last doc' %}</span>
        </a>
        <a id="direct-create" class="dropdown-item text-primary small" href="#" {% if not pk %}hidden{% endif %}>
            <i class="dropdown-icon fas fa-plus"></i><span>{% trans 'Create' %}</span>
        </a>
    </div>
</div>