{% load static %}
<!-- Brand -->
<div class="logo mb-3">
    <a href="/">
        {% if request.user.company_has_icon == True %}
            <img id="mini-brand-img"
                 class="brand-img img-fluid"
                 src="{{ request.user.company_icon_uri }}"
                 style="max-width: 40px; max-height: 40px; object-fit: contain;"
            />
            <img id="full-brand-img"
                 class="brand-img img-fluid hidden"
                 src="{{ request.user.company_logo_uri }}"
                 style="max-width: 112px; max-height: 40px;object-fit: contain;margin-left: 1rem;"
            />
        {% else %}
            <img id="mini-brand-img"
                 class="brand-img img-fluid"
                 src="{{ request.user.company_logo_uri }}"
                 style="max-width: 40px; max-height: 40px; object-fit: contain;"
            />
            <span class="brand-img img-fluid"></span>
        {% endif %}
    </a>
    <button onclick="toggleSidebar()" class="btn text-primary navbar-toggle" type="button">
        <i class="fa-solid fa-arrow-right-arrow-left"></i>
    </button>
</div>

<!-- /Brand -->