{% load static %}
<!-- Brand -->
<div class="menu-header">
    <span>
        <a class="navbar-brand" href="/">
            {% if base.company_current_data %}
                <img
                    class="brand-img img-fluid"
                    {% if base.company_current_data.logo %}
                        src="{{base.company_current_data.logo}}" alt="brand"
                    {% else %}
                        src="{% static 'assets/images/bflow/logo_180x180.png' %}" alt="brand"
                    {% endif %}
                    style="width: 50px;"
                />
                <span
                        id="span-code-company"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="{{ base.company_current_data.title }}"
                >{{ base.company_current_data.code|upper }}</span>
            {% else %}
                <img
                    class="brand-img img-fluid"
                    src="{% static 'assets/images/bflow/logo_180x180.png' %}" alt="brand"
                    style="width: 32px;"
                />
            {% endif %}
            <span class="brand-img img-fluid"></span>
        </a>
        <button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle">
            <span class="icon">
                <span class="svg-icon fs-5">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-bar-to-left" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="10" y1="12" x2="20" y2="12"></line>
                        <line x1="10" y1="12" x2="14" y2="16"></line>
                        <line x1="10" y1="12" x2="14" y2="8"></line>
                        <line x1="4" y1="4" x2="4" y2="20"></line>
                    </svg>
                </span>
            </span>
        </button>
    </span>
</div>
<!-- /Brand -->