{% load static i18n %}
<!-- Main Menu -->
<div data-simplebar class="nicescroll-bar">
    <div class="menu-content-wrap">
        <div class="menu-group">

            {% if base.menus and base.menus|length > 0 %}
                <!-- Test -->
                {% if base.space_current_data.name %}
                    <div class="nav-header">
                        <span>{{ base.space_current_data.name }}</span>
                    </div>
                {% endif %}
                <ul class="navbar-nav flex-column">

                    {% for item in base.menus %}
                        {% if item.child|length > 0 %}
                            <li class="nav-item">
                                <a
                                        class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse"
                                        data-bs-target="#{{ item.code }}"
                                >
                                <span class="nav-icon-wrap">
                                    <span class="svg-icon menu-child-icon">
                                        {{ item.icon|safe }}
                                    </span>
                                </span>
                                    <span class="nav-link-text">{% trans item.name %}</span>
                                </a>
                                <ul id="{{ item.code }}" class="nav flex-column collapse  nav-children">
                                    <li class="nav-item">
                                        <ul class="nav flex-column">
                                            {% for child in item.child %}
                                                <li class="nav-item" id="{{ child.code }}">
                                                    <a class="nav-link" href="{{ child.url }}">
                                                    <span class="nav-icon-wrap">
                                                        <span class="svg-icon menu-child-icon">
                                                            {{ child.icon|safe }}
                                                        </span>
                                                    </span>
                                                        <span class="nav-link-text">
                                                        {% trans child.name %}
                                                    </span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item" id="{{ item.code }}">
                                <a class="nav-link" href="{{ item.url }}">
                                <span class="nav-icon-wrap">
                                    <span class="svg-icon menu-child-icon">
                                        {{ item.icon|safe }}
                                    </span>
                                </span>
                                    <span class="nav-link-text">{% trans item.name %}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="mb-10"></div>
                <!-- // Test -->
            {% endif %}
        </div>
    </div>
</div>
<!-- /Main Menu -->

