{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'General Dashboard' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'assets/core/workflow/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        #idxPageContent {
            background-color: #f9f9f9;
        }
        .view-space {
            transition: all 0.25s ease-in-out;
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
{% endblock %}
{% block pageContent %}
    {{ data.data.current_period | json_script:"current_period" }}
    <script id="script-url"
            data-url-report-revenue-profit-list="{% url 'ReportRevenueListAPI' %}"
            data-url-top-sellers-customers-list="{% url 'ReportCustomerListAPI' %}"
            data-url-top-categories-products-list="{% url 'ReportProductListAPI' %}"
            data-url-company-revenue-plan-list="{% url 'RevenuePlanListAPI' %}"
    ></script>
    <script id="trans-script"
        data-trans-m1th="{% trans 'Jan ' %}"
        data-trans-m2th="{% trans 'Feb ' %}"
        data-trans-m3th="{% trans 'Mar ' %}"
        data-trans-m4th="{% trans 'Apr ' %}"
        data-trans-m5th="{% trans 'May ' %}"
        data-trans-m6th="{% trans 'Jun ' %}"
        data-trans-m7th="{% trans 'Jul ' %}"
        data-trans-m8th="{% trans 'Aug ' %}"
        data-trans-m9th="{% trans 'Sep ' %}"
        data-trans-m10th="{% trans 'Oct ' %}"
        data-trans-m11th="{% trans 'Nov ' %}"
        data-trans-m12th="{% trans 'Dec ' %}"
    ></script>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
            <div class="bg-white border border-white rounded p-2">
                <div class="row">
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="money-display" class="form-check-label">{% trans 'Money display' %}</label>
                            <select class="form-select" id="money-display">
                                <option value="0">{% trans 'Million' %}</option>
                                <option value="1">{% trans 'Billion' %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="money-round" class="form-check-label">{% trans 'Money round' %}</label>
                            <input id="money-round" type="number" class="form-control" value="1" min="0">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="period-filter" class="form-check-label">{% trans 'Fiscal year' %} <span class="text-muted small">({% trans 'for revenue chart & profit chart' %})</span></label>
                            <select class="form-select select2"
                                    id="period-filter"
                                    data-url="{% url 'PeriodsConfigListAPI' %}"
                                    data-method="GET"
                            ></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-2 mt-lg-0 mt-md-0 mt-3">
            <div class="border border-blue rounded p-2 h-100">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-blue fw-bold small">{% trans 'This month revenue' %}</h5>
                    </div>
                    <div class="col-12 text-right mt-4">
                        <span class="mask-money fw-bold text-blue fs-5" id="current-revenue">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-2 mt-lg-0 mt-md-0 mt-3">
            <div class="border border-success rounded p-2 h-100">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-success fw-bold small">{% trans 'This month profit' %}</h5>
                    </div>
                    <div class="col-12 text-right mt-4">
                        <span class="mask-money fw-bold text-success fs-5" id="current-profit">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row dashboard-space mb-10">
        {% include 'sales/dashboard/dashboard_sub/revenue_dashboard.html' %}
        {% include 'sales/dashboard/dashboard_sub/profit_dashboard.html' %}
        {% include 'sales/dashboard/dashboard_sub/top_sales_dashboard.html' %}
        {% include 'sales/dashboard/dashboard_sub/top_customers_dashboard.html' %}
        {% include 'sales/dashboard/dashboard_sub/top_product_categories_dashboard.html' %}
        {% include 'sales/dashboard/dashboard_sub/top_product_dashboard.html' %}
    </div>
{% endblock %}
{% block jsFooterUnCompress %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/chart/apexcharts.js' %}"></script>
    <script src="{% static 'assets/sales/dashboard/dashboard_general.js' %}"></script>
    <script src="{% static 'assets/core/workflow/js/jquery-ui.min.js' %}"></script>
{% endblock %}
