{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'General Dashboard' %} v2{% endblock %}
{% block cssHeader %}
    <link href="{% static 'assets/core/workflow/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        #idxPageContent {
            background-image: url("{% static 'assets/js/home_5.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;     /* Optional: căn giữa ảnh */
        }
        #compare-dashboard-mode-modal .modal-body {
            background-image: url("{% static 'assets/js/home_5.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .kpi-icon {
            width: 48px;
            height: 48px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            margin-bottom: 0;
            flex-shrink: 0;
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
{% endblock %}
{% block pageContent %}
    {{ data.data.current_period | json_script:"current_period" }}
    <script id="script-url"
            data-url-report-revenue-profit="{% url 'ReportRevenueListAPI' %}"
            data-url-top-sale-customer-list="{% url 'ReportCustomerListAPI' %}"
            data-url-top-category-product-list="{% url 'ReportProductListAPIRDashBoard' %}"
            data-url-company-revenue-plan="{% url 'RevenuePlanListAPI' %}"
            data-url-revenue-plan-by-report-perm="{% url 'RevenuePlanByReportPermListAPI' %}"
    ></script>
    <script id="trans-script"
            data-trans-m1th="{% trans 'Jan ' %}"
            data-trans-m2th="{% trans 'Feb ' %}"
            data-trans-m3th="{% trans 'Mar ' %}"
            data-trans-m4th="{% trans 'Apr ' %}"
            data-trans-m5th="{% trans 'May ' %}"
            data-trans-m6th="{% trans 'Jun ' %}"
            data-trans-m7th="{% trans 'Jul ' %}"
            data-trans-m8th="{% trans 'Aug ' %}"
            data-trans-m9th="{% trans 'Sep ' %}"
            data-trans-m10th="{% trans 'Oct ' %}"
            data-trans-m11th="{% trans 'Nov ' %}"
            data-trans-m12th="{% trans 'Dec ' %}"
            data-trans-revenue="{% trans 'Revenue' %}"
            data-trans-profit="{% trans 'Profit' %}"
            data-trans-month="{% trans 'Month' %}"
            data-trans-chart-revenue="{% trans 'Revenue chart' %}"
            data-trans-chart-profit="{% trans 'Profit chart' %}"
            data-trans-expected="{% trans 'Expected' %}"
            data-trans-reality="{% trans 'Reality' %}"
            data-trans-chart-topsale="{% trans 'Top sale' %}"
            data-trans-chart-topcustomer="{% trans 'Top customer' %}"
            data-trans-chart-topcategory="{% trans 'Top category' %}"
            data-trans-chart-topproduct="{% trans 'Top product' %}"
            data-trans-quarter-1="{% trans 'Quarter' %} 1"
            data-trans-quarter-2="{% trans 'Quarter' %} 2"
            data-trans-quarter-3="{% trans 'Quarter' %} 3"
            data-trans-quarter-4="{% trans 'Quarter' %} 4"
            data-trans-all="{% trans 'Default all' %}"
{#            COMPARE#}
            data-trans-revenue-profit-chart="{% trans 'Revenue & Profit chart' %}"
            data-trans-expected-revenue="{% trans 'Expected revenue' %}"
            data-trans-reality-revenue="{% trans 'Reality revenue' %}"
            data-trans-expected-profit="{% trans 'Expected profit' %}"
            data-trans-reality-profit="{% trans 'Reality profit' %}"
            data-trans-all="{% trans 'Default all' %}"
    ></script>

    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            <div class="bflow-mirrow-card">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label for="money-display" class="form-label">
                                {% trans 'Money display' %}
                            </label>
                            <select class="form-select" id="money-display">
                                <option value="0" selected>{% trans 'Million' %}</option>
                                <option value="1">{% trans 'Billion' %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group">
                            <label for="period-filter" class="form-label">
                                {% trans 'Fiscal year' %} ({% trans 'for revenue chart & profit chart' %})
                            </label>
                            <select class="form-select"
                                    id="period-filter"
                                    data-url="{% url 'PeriodsConfigListAPI' %}"
                                    data-method="GET"
                            ></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-3">
            <div class="bflow-mirrow-card">
                <div class="d-flex align-items-center">
                    <div class="kpi-icon text-white bg-blue me-3">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div>
                        <h6>{% trans 'This month revenue' %}</h6>
                        <span class="text-blue kpi-value mask-money fw-bold h4" data-init-money="0" id="current-revenue"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-3">
            <div class="bflow-mirrow-card">
                <div class="d-flex align-items-center">
                    <div class="kpi-icon text-white bg-success me-3">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div>
                        <h6>{% trans 'This month profit' %}</h6>
                        <span class="text-success kpi-value mask-money fw-bold h4" data-init-money="0" id="current-profit"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-10">
        <div class="col-12 mb-3">
            <div class="bflow-mirrow-card">
                <!-- Chart Controls -->
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-4 mb-3">
                                <div class="input-group" style="width: 100%">
                                    <span class="input-group-text">{% trans 'Group' %}</span>
                                    <select class="form-select" id="revenue-profit-group" data-method="GET" data-url="{% url 'GroupListAPI' %}" multiple></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-2 mb-3">
                                <select class="form-select" id="revenue-profit-group-type" style="width: 100%">
                                    <option value="0" selected>{% trans 'Single group only' %}</option>
                                    <option value="1">{% trans 'Include child groups' %}</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-4 col-lg-2 mb-3">
                                <select class="form-select" id="revenue-profit-view-type" style="width: 100%">
                                    <option value="0" selected>{% trans 'Period revenue / profit' %}</option>
                                    <option value="1">{% trans 'Accumulated revenue / profit' %}</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-4 col-lg-2 mb-3">
                                <select class="form-select" id="profit-type" style="width: 100%">
                                    <option value="0" selected>{% trans 'Gross profit' %}</option>
                                    <option value="1">{% trans 'Net income' %}</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-4 col-lg-2 mb-3 text-right">
                                <button type="button" class="btn bflow-mirrow-btn" data-bs-toggle="modal" data-bs-target="#compare-dashboard-mode-modal">
                                    <span>
                                        <span class="icon">
                                            <span class="feather-icon">
                                                <i class="fa-solid fa-people-arrows"></i>
                                            </span>
                                        </span>
                                        <span>{% trans 'Compare' %}</span>
                                    </span>
                                </button>
                                <button type="button" id="reload-revenue-profit-data-btn" class="btn bflow-mirrow-btn" title="{% trans 'Refresh' %}">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="bflow-mirrow-card">
                            <div class="row">
                                <div class="col-12">
                                    <div id="revenue_chart" style="width: 100%; height: 45vh;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="bflow-mirrow-card">
                            <div class="row">
                                <div class="col-12">
                                    <div id="profit_chart" style="width: 100%; height: 45vh;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="bflow-mirrow-card">
                <!-- Chart Controls -->
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-3 mb-3">
                                <div class="input-group" style="width: 100%;">
                                    <span class="input-group-text">{% trans 'Time range' %}</span>
                                    <select class="form-select" id="top-sale-customer-time">
                                        <option value="0">{% trans 'Month' %}</option>
                                        <option value="1">{% trans 'Quarter' %}</option>
                                        <option value="2" selected>{% trans 'Whole year' %}</option>
                                    </select>
                                    <select class="form-select" id="top-sale-customer-time-detail"
                                            disabled></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-3 mb-3">
                                <div class="input-group" style="width: 100%;">
                                    <span class="input-group-text">{% trans 'Sale number viewed' %}</span>
                                    <input class="form-control" type="number" id="top-sale-number" min="1" max="20"
                                           value="10">
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-3 mb-3">
                                <div class="input-group" style="width: 100%;">
                                    <span class="input-group-text">{% trans 'Customer number viewed' %}</span>
                                    <input class="form-control" type="number" id="top-customer-number" min="1"
                                           max="20"
                                           value="10">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 mb-3 text-right">
                                <button type="button" id="reload-top-sale-customer-data-btn" class="btn bflow-mirrow-btn-sm" title="{% trans 'Refresh' %}">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="bflow-mirrow-card">
                            <div class="row">
                                <div class="col-12">
                                    <div id="topsale_chart" style="width: 100%; height: 40vh;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="bflow-mirrow-card">
                            <div class="row">
                                <div class="col-12">
                                    <div id="topcustomer_chart" style="width: 100%; height: 40vh;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="bflow-mirrow-card">
                <!-- Chart Controls -->
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-3 mb-3">
                                <div class="input-group" style="width: 100%;">
                                    <span class="input-group-text">{% trans 'Time range' %}</span>
                                    <select class="form-select" id="top-category-product-time">
                                        <option value="0">{% trans 'Month' %}</option>
                                        <option value="1">{% trans 'Quarter' %}</option>
                                        <option value="2" selected>{% trans 'Whole year' %}</option>
                                    </select>
                                    <select class="form-select" id="top-category-product-time-detail"
                                            disabled></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-3 mb-3">
                                <div class="input-group" style="width: 100%;">
                                    <span class="input-group-text">{% trans 'View category number' %}</span>
                                    <input class="form-control" type="number" id="top-category-number" min="1"
                                           max="20"
                                           value="10">
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-3 mb-3">
                                <div class="input-group" style="width: 100%;">
                                    <span class="input-group-text">{% trans 'View product number' %}</span>
                                    <input class="form-control" type="number" id="top-product-number" min="1"
                                           max="20"
                                           value="10">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 mb-3 text-right">
                                <button type="button" id="reload-top-category-product-data-btn" class="btn bflow-mirrow-btn-sm" title="{% trans 'Refresh' %}">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="bflow-mirrow-card">
                            <div class="row">
                                <div class="col-12">
                                    <div id="topcategory_chart" style="width: 100%; height: 40vh;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="bflow-mirrow-card">
                            <div class="row">
                                <div class="col-12">
                                    <div id="topproduct_chart" style="width: 100%; height: 40vh;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modalData %}
    <div class="modal fade" id="compare-dashboard-mode-modal" tabindex="-1" role="dialog" aria-labelledby="compare-dashboard-mode-modal" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans 'Compare Revenue & Profit' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="bflow-mirrow-card">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-md-4 col-lg-2 mb-3">
                                                <select class="form-select" id="revenue-profit-group-type-compare" style="width: 100%">
                                                    <option value="0" selected>{% trans 'Single group only' %}</option>
                                                    <option value="1">{% trans 'Include child groups' %}</option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-md-4 col-lg-2 mb-3">
                                                <select class="form-select" id="revenue-profit-view-type-compare" style="width: 100%">
                                                    <option value="0" selected>{% trans 'Period revenue / profit' %}</option>
                                                    <option value="1">{% trans 'Accumulated revenue / profit' %}</option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-2 mb-3">
                                                <select class="form-select" id="profit-type-compare" style="width: 100%">
                                                    <option value="0" selected>{% trans 'Gross profit' %}</option>
                                                    <option value="1">{% trans 'Net income' %}</option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-md-1 col-lg-6 mb-3 text-right">
                                                <button type="button" id="reload-revenue-profit-data-btn-compare" class="btn bflow-mirrow-btn-sm" title="{% trans 'Refresh' %}">
                                                    <i class="fas fa-sync-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 mb-3">
                                        <div class="input-group" style="width: 100%">
                                            <span class="input-group-text">{% trans 'Group' %} 1</span>
                                            <select class="form-select" id="revenue-profit-group-compare-1" data-method="GET" data-url="{% url 'GroupListAPI' %}" multiple></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 mb-3">
                                        <div class="input-group" style="width: 100%">
                                            <span class="input-group-text">{% trans 'Group' %} 2</span>
                                            <select class="form-select" id="revenue-profit-group-compare-2" data-method="GET" data-url="{% url 'GroupListAPI' %}" multiple></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="bflow-mirrow-card">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div id="revenue_profit_chart_compare_1" style="width: 100%; height: 60vh;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="bflow-mirrow-card">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div id="revenue_profit_chart_compare_2" style="width: 100%; height: 60vh;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooterUnCompress %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/echartjs/echart.js' %}"></script>
    <script src="{% static 'assets/sales/dashboard/dashboard_general_echarts.js' %}"></script>
    <script src="{% static 'assets/sales/dashboard/dashboard_general_echarts_compare.js' %}"></script>
    <script src="{% static 'assets/core/workflow/js/jquery-ui.min.js' %}"></script>
{% endblock %}