{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Dashboard General' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'assets/core/workflow/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
{% endblock %}
{% block pageContent %}
    <script id="script-url"
            data-url-report-revenue-profit-list="{% url 'ReportRevenueListAPI' %}"
            data-url-top-sellers-customers-list="{% url 'ReportCustomerListAPI' %}"
            data-url-top-categories-products-list="{% url 'ReportProductListAPI' %}"
            data-url-company-revenue-plan-list="{% url 'RevenuePlanListAPI' %}"
    ></script>
    <script id="trans-url"
        data-trans-m1th="{% trans 'Jan' %}"
        data-trans-m2th="{% trans 'Feb' %}"
        data-trans-m3th="{% trans 'Mar' %}"
        data-trans-m4th="{% trans 'Apr' %}"
        data-trans-m5th="{% trans 'May' %}"
        data-trans-m6th="{% trans 'Jun' %}"
        data-trans-m7th="{% trans 'Jul' %}"
        data-trans-m8th="{% trans 'Aug' %}"
        data-trans-m9th="{% trans 'Sep' %}"
        data-trans-m10th="{% trans 'Oct' %}"
        data-trans-m11th="{% trans 'Nov' %}"
        data-trans-m12th="{% trans 'Dec' %}"
    ></script>

    <button class="btn btn-icon btn-rounded btn-xs btn-primary btn-floating position-fixed" data-bs-toggle="modal" data-bs-target="#modal-dashboard-setting">
        <i class="fas fa-cog"></i>
    </button>
    <div class="modal fade" id="modal-dashboard-setting" tabindex="-1" role="dialog" aria-labelledby="modal-dashboard-setting" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Dashboard setting' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-check-label">{% trans 'Money display' %}</label>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <div class="form-check form-check-sm">
                                            <input checked type="radio" id="million-checkbox" name="money-unit-radio" class="form-check-input money-radio">
                                            <label class="form-check-label" for="million-checkbox">{% trans 'Million' %}</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check form-check-sm">
                                            <input type="radio" id="billion-checkbox" name="money-unit-radio" class="form-check-input money-radio">
                                            <label class="form-check-label" for="billion-checkbox">{% trans 'Billion' %}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-check-label">{% trans 'Money round' %}</label>
                                <input id="money-round" type="number" class="form-control" value="1" min="0">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-check-label">{% trans 'View mode' %}</label>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <div class="form-check form-check-sm">
                                            <input checked type="radio" id="grid-view" name="view-mode" class="form-check-input view-radio">
                                            <label class="form-check-label" for="grid-view"><i class="bi bi-grid"></i>&nbsp;{% trans 'Grid' %}</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check form-check-sm">
                                            <input type="radio" id="list-view" name="view-mode" class="form-check-input view-radio">
                                            <label class="form-check-label" for="list-view"><i class="bi bi-list-stars"></i>&nbsp;{% trans 'List' %}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-check-label">{% trans 'Period' %} ({% trans 'for revenue chart & profit chart' %})</label>
                                <select class="form-select select2" id="period-filter"
                                        data-url="{% url 'PeriodsConfigListAPI' %}"
                                        data-method="GET"
                                ></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-6">
        <div class="px-7 mt-3 col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <label class="form-label"><span class="badge badge-purple"><i class="fas fa-chart-line"></i>&nbsp;{% trans 'Revenue' %}</span></label>
                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="{% trans 'Reload revenue data' %}"
                            id="reload-revenue-data-btn"
                            class="btn btn-icon btn-rounded btn-flush-primary flush-soft-hover btn-sm"
                    >
                        <span class="icon"><i class="fas fa-sync"></i></span>
                    </button>
                    <div class="row">
                        <div class="col-6">
                            <select class="form-select select2" id="revenue-group"
                                    data-url="{% url 'GroupListAPI' %}"
                                    data-method="GET"
                            ></select>
                        </div>
                        <div class="col-6">
                            <select class="form-select select2" id="revenue-type">
                                <option value="0" selected>{% trans 'Period revenue' %}</option>
                                <option value="1">{% trans 'Accumulated revenue' %}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 border rounded p-3" id="revenue_chart">
                    <div id="revenue-spinner" class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
        <div class="px-7 mt-3 col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6">
                            <label class="form-label"><span class="badge badge-pink"><i class="fas fa-chart-line"></i>&nbsp;{% trans 'Profit' %}</span></label>
                            <button type="button" data-bs-toggle="tooltip" data-bs-placement="right"
                                    title="{% trans 'Reload profit data' %}"
                                    id="reload-profit-data-btn"
                                    class="btn btn-icon btn-rounded btn-flush-primary flush-soft-hover btn-sm"
                            >
                                <span class="icon"><i class="fas fa-sync"></i></span>
                            </button>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3">
                            <div class="form-check">
                                <input class="form-check-input" name='profit-type' id="gross-profit" type="radio" checked>
                                <label class="form-check-label small" for="gross-profit">{% trans 'Gross profit' %}</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3">
                            <div class="form-check">
                                <input class="form-check-input" name='profit-type' id="net-income" type="radio">
                                <label class="form-check-label small" for="net-income">{% trans 'Net income' %}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <select class="form-select select2" id="profit-group"
                                    data-url="{% url 'GroupListAPI' %}"
                                    data-method="GET"
                            ></select>
                        </div>
                        <div class="col-6">
                            <select class="form-select select2" id="profit-type">
                                <option value="0" selected>{% trans 'Period revenue' %}</option>
                                <option value="1">{% trans 'Accumulated revenue' %}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 border rounded p-3" id="profit_chart">
                    <div id="profit-spinner" class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-6">
        <div class="px-7 mt-3 col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <label class="form-label"><span class="badge badge-green"><i class="bi bi-bar-chart-steps"></i>&nbsp;{% trans 'Top sellers' %}</span></label>
                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="{% trans 'Reload top sellers data' %}"
                            id="reload-top-sellers-data-btn"
                            class="btn btn-icon btn-rounded btn-flush-primary flush-soft-hover btn-sm"
                    >
                        <span class="icon"><i class="fas fa-sync"></i></span>
                    </button>
                    <div class="row">
                        <div class="col-6">
                            <select class="form-select select2" id="top-sellers-time">
                                <option value="0" selected>{% trans 'This month' %}</option>
                                <option value="1">{% trans 'This quarter' %}</option>
                                <option value="2">{% trans 'This year' %}</option>
{#                                <option value="3">{% trans 'Optional' %}</option>#}
                            </select>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <span class="input-group-text">Top</span>
                                <input class="form-control" type="number" id="top-sellers-number" min="1" max="20" value="5">
                            </div>
                        </div>
                        <div class="col-6 mt-1">
                            <select hidden disabled id="top-sellers-time-filter-select" class="form-select timechart-sellers">
                                <option value="0" selected>{% trans "Whole year" %}</option>
                                <option value="1">{% trans "Month" %}</option>
                                <option value="2">{% trans "Quarter" %}</option>
                            </select>
                        </div>
                        <div class="col-3 mt-1" hidden>
                            <input type="number" disabled id="top-sellers-time-filter-mm-qq" class="form-control timechart-sellers">
                        </div>
                        <div class="col-3 mt-1">
                            <input hidden type="number" disabled id="top-sellers-time-filter-year" class="form-control timechart-sellers">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 border rounded p-3" id="top_sellers_chart">
                    <div id="top-sellers-spinner" class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
        <div class="px-7 mt-3 col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <label class="form-label"><span class="badge badge-orange"><i class="bi bi-bar-chart-steps"></i>&nbsp;{% trans 'Top customers' %}</span></label>
                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="{% trans 'Reload top customers data' %}"
                            id="reload-top-customers-data-btn"
                            class="btn btn-icon btn-rounded btn-flush-primary flush-soft-hover btn-sm"
                    >
                        <span class="icon"><i class="fas fa-sync"></i></span>
                    </button>
                    <div class="row">
                        <div class="col-6">
                            <select class="form-select select2" id="top-customers-time">
                                <option value="0" selected>{% trans 'This month' %}</option>
                                <option value="1">{% trans 'This quarter' %}</option>
                                <option value="2">{% trans 'This year' %}</option>
{#                                <option value="3">{% trans 'Optional' %}</option>#}
                            </select>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <span class="input-group-text">Top</span>
                                <input class="form-control" type="number" id="top-customers-number" min="1" max="20" value="5">
                            </div>
                        </div>
                        <div class="col-6 mt-1">
                            <select hidden disabled id="top-customers-time-filter-select" class="form-select timechart-customers">
                                <option value="0" selected>{% trans "Whole year" %}</option>
                                <option value="1">{% trans "Month" %}</option>
                                <option value="2">{% trans "Quarter" %}</option>
                            </select>
                        </div>
                        <div class="col-3 mt-1" hidden>
                            <input type="number" disabled id="top-customers-time-filter-mm-qq" class="form-control timechart-customers">
                        </div>
                        <div class="col-3 mt-1">
                            <input hidden type="number" disabled id="top-customers-time-filter-year" class="form-control timechart-customers">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 border rounded p-3" id="top_customers_chart">
                    <div id="top-customers-spinner" class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-6">
        <div class="px-7 mt-3 col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <label class="form-label"><span class="badge badge-red"><i class="bi bi-bar-chart-line-fill"></i>&nbsp;{% trans 'Top categories' %}</span></label>
                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="{% trans 'Reload top categories data' %}"
                            id="reload-top-categories-data-btn"
                            class="btn btn-icon btn-rounded btn-flush-primary flush-soft-hover btn-sm"
                    >
                        <span class="icon"><i class="fas fa-sync"></i></span>
                    </button>
                    <div class="row">
                        <div class="col-6">
                            <select class="form-select select2" id="top-categories-time">
                                <option value="0" selected>{% trans 'This month' %}</option>
                                <option value="1">{% trans 'This quarter' %}</option>
                                <option value="2">{% trans 'This year' %}</option>
{#                                <option value="3">{% trans 'Optional' %}</option>#}
                            </select>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <span class="input-group-text">Top</span>
                                <input class="form-control" type="number" id="top-categories-number" min="1" max="20" value="5">
                            </div>
                        </div>
                        <div class="col-6 mt-1">
                            <select hidden disabled id="top-categories-time-filter-select" class="form-select timechart-categories">
                                <option value="0" selected>{% trans "Whole year" %}</option>
                                <option value="1">{% trans "Month" %}</option>
                                <option value="2">{% trans "Quarter" %}</option>
                            </select>
                        </div>
                        <div class="col-3 mt-1" hidden>
                            <input type="number" disabled id="top-categories-time-filter-mm-qq" class="form-control timechart-categories">
                        </div>
                        <div class="col-3 mt-1">
                            <input hidden type="number" disabled id="top-categories-time-filter-year" class="form-control timechart-categories">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 border rounded p-3" id="top_categories_chart">
                    <div id="top-categories-spinner" class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
        <div class="px-7 mt-3 col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <label class="form-label"><span class="badge badge-primary"><i class="bi bi-bar-chart-line-fill"></i>&nbsp;{% trans 'Top products' %}</span></label>
                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="{% trans 'Reload top products data' %}"
                            id="reload-top-products-data-btn"
                            class="btn btn-icon btn-rounded btn-flush-primary flush-soft-hover btn-sm"
                    >
                        <span class="icon"><i class="fas fa-sync"></i></span>
                    </button>
                    <div class="row">
                        <div class="col-6">
                            <select class="form-select select2" id="top-products-time">
                                <option value="0" selected>{% trans 'This month' %}</option>
                                <option value="1">{% trans 'This quarter' %}</option>
                                <option value="2">{% trans 'This year' %}</option>
{#                                <option value="3">{% trans 'Optional' %}</option>#}
                            </select>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <span class="input-group-text">Top</span>
                                <input class="form-control" type="number" id="top-products-number" min="1" max="20" value="5">
                            </div>
                        </div>
                        <div class="col-6 mt-1">
                            <select hidden disabled id="top-products-time-filter-select" class="form-select timechart-products">
                                <option value="0" selected>{% trans "Whole year" %}</option>
                                <option value="1">{% trans "Month" %}</option>
                                <option value="2">{% trans "Quarter" %}</option>
                            </select>
                        </div>
                        <div class="col-3 mt-1" hidden>
                            <input type="number" disabled id="top-products-time-filter-mm-qq" class="form-control timechart-products">
                        </div>
                        <div class="col-3 mt-1">
                            <input hidden type="number" disabled id="top-products-time-filter-year" class="form-control timechart-products">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 border rounded p-3" id="top_products_chart">
                    <div id="top-products-spinner" class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooterUnCompress %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/sales/dashboard/dashboard_general.js' %}"></script>
    <script src="{% static 'assets/core/workflow/js/jquery-ui.min.js' %}"></script>
{% endblock %}
