{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Dashboard Pipeline' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'assets/core/workflow/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        #idxPageContent {
            background-image: url("{% static 'assets/js/home_5.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
{% endblock %}
{% block pageContent %}
    {{ data.data.current_period | json_script:"current_period" }}
    <script id="script-url"
            data-url-pipeline-list="{% url 'ReportPipelineListAPI' %}"
    ></script>
    <script id="trans-script"
            data-trans-m1th="{% trans 'Jan ' %}"
            data-trans-m2th="{% trans 'Feb ' %}"
            data-trans-m3th="{% trans 'Mar ' %}"
            data-trans-m4th="{% trans 'Apr ' %}"
            data-trans-m5th="{% trans 'May ' %}"
            data-trans-m6th="{% trans 'Jun ' %}"
            data-trans-m7th="{% trans 'Jul ' %}"
            data-trans-m8th="{% trans 'Aug ' %}"
            data-trans-m9th="{% trans 'Sep ' %}"
            data-trans-m10th="{% trans 'Oct ' %}"
            data-trans-m11th="{% trans 'Nov ' %}"
            data-trans-m12th="{% trans 'Dec ' %}"
            data-trans-quarter-1="{% trans 'Quarter' %} 1"
            data-trans-quarter-2="{% trans 'Quarter' %} 2"
            data-trans-quarter-3="{% trans 'Quarter' %} 3"
            data-trans-quarter-4="{% trans 'Quarter' %} 4"
            data-trans-revenue="{% trans 'Revenue' %}"
            data-trans-opp-stage="{% trans 'Opportunity stage' %}"
            data-trans-chart-total-pipeline="{% trans 'Total pipeline chart' %}"
            data-trans-chart-top-sale="{% trans 'Top sale' %}"
            data-trans-chart-forecast="{% trans 'Revenue forecast chart' %}"
            data-trans-month="{% trans 'Month' %}"
            data-trans-quarter="{% trans 'Quarter' %}"
            data-trans-sale-person="{% trans 'Sale person' %}"
            data-trans-chart-activity="{% trans 'Sale activity chart' %}"
            data-trans-customer="{% trans 'Customer' %}"
            data-trans-call="{% trans 'Call' %}"
            data-trans-email="{% trans 'Email' %}"
            data-trans-meeting="{% trans 'Meeting' %}"
            data-trans-document="{% trans 'Document' %}"
            data-trans-all="{% trans 'Default all' %}"
            data-trans-expected="{% trans 'Expected' %}"
            data-trans-reality="{% trans 'Reality' %}"
    ></script>

    <div class="row mb-3">
        <div class="col-12 col-md-8">
            <div class="bflow-mirrow-card">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="form-group">
                            <label for="money-display" class="form-label">{% trans 'Money display' %}</label>
                            <select class="form-select" id="money-display">
                                <option value="0" selected>{% trans 'Million' %}</option>
                                <option value="1">{% trans 'Billion' %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="form-group">
                            <label for="money-round" class="form-label">{% trans 'Money round' %}</label>
                            <input id="money-round" type="number" class="form-control" value="2" min="0">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label for="period-filter" class="form-label">{% trans 'Fiscal year' %}</label>
                            <select class="form-select"
                                    id="period-filter"
                                    data-url="{% url 'PeriodsConfigListAPI' %}"
                                    data-method="GET"
                            ></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="bflow-mirrow-card">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <div class="me-2">
                                    <div class="input-group" style="min-width: 600px;">
                                        <span class="input-group-text">{% trans 'Group' %}</span>
                                        <select class="form-select" id="pipeline-group" data-method="GET" data-url="{% url 'GroupListAPI' %}"></select>
                                    </div>
                                </div>
                                <div class="me-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{% trans 'Sale number viewed' %}</span>
                                        <input class="form-control" type="number" id="top-sale-number" min="1"
                                               max="20" value="10">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="bflow-mirrow-card">
                            <div class="row">
                                <div class="col-12">
                                    <div id="total_pipeline_chart" style="width: 100%; height: 350px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="bflow-mirrow-card">
                            <div class="row">
                                <div class="col-12">
                                    <div id="top_sale_chart" style="width: 100%; height: 350px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-lg-8">
            <div class="bflow-mirrow-card">
                <div class="row">
                    <div class="col-12 mb-3">
                        <!-- Chart Controls -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <div class="me-2">
                                    <div class="input-group" style="width: 600px;">
                                        <span class="input-group-text">{% trans 'Group' %}</span>
                                        <select class="form-select" id="forecast-group" data-method="GET" data-url="{% url 'GroupListAPI' %}"></select>
                                    </div>
                                </div>
                                <div class="me-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{% trans 'View by' %}</span>
                                        <select class="form-select" id="forecast-viewby">
                                            <option value="0" selected>{% trans 'Month' %}</option>
                                            <option value="1">{% trans 'Quarter' %}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="me-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{% trans 'Winrate threshold' %}</span>
                                        <input class="form-control" type="number" id="winrate-threshold"
                                               step="5" min="0" max="100" value="70">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bflow-mirrow-card">
                            <div class="row">
                                <div class="col-12">
                                    <div id="forecast_chart" style="width: 100%; height: 350px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-10">
        <div class="col-12 col-lg-8">
            <div class="bflow-mirrow-card">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <div class="me-2" style="width: 350px;">
                                    <div class="input-group">
                                        <span class="input-group-text">{% trans 'Time range' %}</span>
                                        <select class="form-select" id="activity-time">
                                            <option value="0">{% trans 'Month' %}</option>
                                            <option value="1">{% trans 'Quarter' %}</option>
                                            <option value="2" selected>{% trans 'Whole year' %}</option>
                                        </select>
                                        <select class="form-select" id="activity-time-detail" disabled></select>
                                    </div>
                                </div>
                                <div class="me-2">
                                    <div class="input-group">
                                        <span class="input-group-text">{% trans 'Customer number viewed' %}</span>
                                        <input class="form-control" type="number" id="top-customer-number"
                                               min="1" max="20" value="10">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bflow-mirrow-card">
                            <div class="row">
                                <div class="col-12">
                                    <div id="activity_chart" style="width: 100%; height: 350px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooterUnCompress %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/echartjs/echart.js' %}"></script>
    <script src="{% static 'assets/sales/dashboard/dashboard_pipeline_echarts.js' %}"></script>
    <script src="{% static 'assets/core/workflow/js/jquery-ui.min.js' %}"></script>
{% endblock %}