{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Service Order list' %}{% endblock %}
{% block pageAction %}
    {% url 'ServiceOrderCreate' as create_link %}
    {% include 'extends/systems/page_actions.html' with is_create=True create_link=create_link create_idx="create_service_order_button" %}
{% endblock %}
{% block pageContent %}
    <table class="table nowrap min-w-1280p w-100 mb-5" data-method="get" id="table-service-order"
           data-url-dashboard="{% url 'ServiceOrderDetailDashboard' %}"
           data-url="{% url 'ServiceOrderListAPI' %}"
           data-url-detail="{% url 'ServiceOrderDetail' pk='0'%}">
        <thead>
            <tr>
                <th style="min-width: 50px"></th>
                <th style="min-width: 150px">{% trans "Code" %}</th>
                <th style="min-width: 300px">{% trans "Name" %}</th>
                <th style="min-width: 300px">{% trans 'Customer' %}</th>
                <th style="min-width: 150px">{% trans "Employee created" %}</th>
                <th style="min-width: 150px">{% trans "Date created" %}</th>
                <th style="min-width: 100px">{% trans "System status" %}</th>
                <th style="min-width: 100px">{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}
{% block modalData %}
    {% include 'sales/serviceorder/common/modal_data.html' %}
{% endblock %}
{% block dataHiddenGroup %}
    <input
            type="hidden" id="trans-factory"
            data-required-delivery-quantity="{% trans 'Delivery quantity is required' %}"
    >
    <input
            type="hidden" id="url-factory"
            data-create-delivery="{% url 'ServiceOrderDetailDeliveryAPI' 1 %}"
            data-delivery="{% url 'OrderDeliveryList' %}" data-picking="{% url 'OrderPickingList' %}"
            data-delivery-log-url='{% url 'DeliveryWorkLogListAPI' %}'
    >
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/sales/serviceorder/js/service_order_list.js' %}"></script>
{% endblock %}
