{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Service Order' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/sales/serviceorder/css/service_order.css' %}" rel="stylesheet" type="text/css">
    <style>
        .mask-money {
            text-align: right; !important;
        }
        table .select2-selection__rendered {
            max-width: 250px;
        }
    </style>
{% endblock %}
{% block pageAction %}
    <a id="view-dashboard" href="#" target="_blank" data-url="{% url 'ServiceOrderDetailDashboard' %}">
        <button class="btn btn-gradient-primary">
            <span>
                <span class="icon">
                  <span class="feather-icon"><i class="bi bi-clipboard-data"></i></span>
                </span>
                <span>{% trans 'View dashboard' %}</span>
            </span>
        </button>
    </a>
    <button class="btn btn-outline-primary" type="submit" form="form-update-service-order">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon"><i class="fa-regular fa-floppy-disk"></i></span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <ul class="nav nav-pills-bfl quotation-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_block_1">
                        <span class="nav-icon-wrap mr-1"><i class="fa-solid fa-tag"></i></span>
                        <span class="nav-link-text">{% trans 'Service order' %}</span>
                    </a>
                </li>
                <li class="nav-item" id="tab-indicator" data-zone="service_order_indicators_data">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab_block_2">
                        <span class="nav-icon-wrap mr-1"><i class="fa-solid fa-square-poll-horizontal"></i></span>
                        <span class="nav-link-text">{% trans 'Indicator' %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <form data-method="PUT" id="form-update-service-order"
          data-url="{% url 'ServiceOrderDetailAPI' data.pk %}"
          data-url-redirect="{% url 'ServiceOrderList' %}"
          data-url-cr="{% url 'ServiceOrderListAPI' %}"
    >
        {% csrf_token %}
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_block_1">
                <div class="container-fluid">
                    {% include 'sales/serviceorder/common/common_data.html' %}
                    {% include 'sales/serviceorder/common/tab_data.html' %}
                </div>
            </div>
            <div class="tab-pane fade show active" id="tab_block_2">
                <div class="container-fluid">
                    <div class="row">
                        <table
                                id="dtb-indicator"
                                class="table nowrap w-100 mb-5"
                        >
                            <thead>
                            <tr class="bg-light">
                                <th>#</th>
                                <th>{% trans 'Indicator name' %}</th>
                                <th>{% trans 'Indicator value' %}</th>
                                <th>{% trans 'Indicator rate' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <input
                            type="text"
                            id="indicator-data"
                            data-url="{% url 'QuotationIndicatorListAPI' %}"
                            data-trans-refresh="{% trans "Refresh" %}"
                            data-trans-refreshed="{% trans 'Data is refreshed.' %}"
                            hidden
                    >
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block modalData %}
    {% include 'sales/serviceorder/common/modal_data.html' %}
    {% include 'sales/task/extend/task-form.html' with not_bastion=True custom_assignee=True %}
    {% include 'extends/files/file_attribute.html' %}
    {% include 'extends/product_attribute_extend/canvas.html' %}
{% endblock %}
{% block dataHiddenGroup %}
    <script id="script-url"
            data-expense-item-list-url="{% url 'ExpenseItemListAPI' %}"
            data-tax-list-url = '{% url 'TaxListAPI' %}'
            data-company-config-url = '{% url 'CompanyConfigDetailAPI' %}'
            data-currency-list-url = '{% url 'CurrencyListAPI' %}'
            data-uom-list-url = '{% url 'UnitOfMeasureListAPI' %}'
            data-opp-detail-url= '{% url 'OpportunityDetailAPI' pk=0 %}'
            data-labor-url="{% url "ExpenseListAPI" %}"
            data-expense-item-url='{% url 'ExpenseItemListAPI' %}'
            data-uom-url="{% url "UnitOfMeasureListAPI" %}"
            data-tax-url='{% url 'TaxListAPI' %}'
    ></script>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/init-select2.js' %}"></script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static "assets/js/extends/product_attribute/product_attribute.js" %}"></script>
    <script src="{% static 'assets/sales/serviceorder/js/service_order_common.js' %}"></script>
    <script src="{% static 'assets/sales/serviceorder/js/service_order_update.js' %}"></script>
    <script src="{% static 'assets/sales/serviceorder/js/tab_shipment.js' %}"></script>
    <script src="{% static 'assets/sales/serviceorder/js/tab_expense.js' %}"></script>

    <script src="{% static 'assets/js/extends/indicator/indicator_common.js' %}"></script>
{% endblock %}
