{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Service Order Detail' %}
{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/sales/serviceorder/css/service_order.css' %}" rel="stylesheet" type="text/css">
    <style>
        .mask-money {
            text-align: right; !important;
        }
        table .select2-selection__rendered {
            max-width: 250px;
        }
    </style>
{% endblock %}
{% block pageAction %}
    <a id="view-dashboard" href="#" target="_blank" data-url="{% url 'ServiceOrderDetailDashboard' %}">
        <button class="btn btn-gradient-primary">
            <span>
                <span class="icon">
                  <span class="feather-icon"><i class="bi bi-clipboard-data"></i></span>
                </span>
                <span>{% trans 'Service order Dashboard' %}</span>
            </span>
        </button>
    </a>
    {% url 'ServiceOrderUpdate' pk=data.pk as edit_link %}
    {% include 'extends/systems/page_actions.html' with is_edit=True edit_link=edit_link %}
{% endblock %}

{% block pageSubAction %}
    <div class="nav-pills-bfl" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn nav-link text-green" id="open_indicator" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'Indicator' %}"><span class="icon"><i class="fa-solid fa-arrow-trend-up"></i></span></button>
        <button hidden type="button" class="btn nav-link text-blue" id="open_version_compare" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'Compare Version' %}"><span class="icon"><i class="fa-solid fa-code-compare"></i></span></button>
    </div>
{% endblock %}

{% block pageContent %}
    <form data-method="GET" id="form-detail-service-order"
          data-url="{% url 'ServiceOrderDetailAPI' data.pk %}">
        {% csrf_token %}
        {% include 'sales/serviceorder/common/common_data.html' %}
        {% include 'sales/serviceorder/common/tab_data.html' %}
    </form>
{% endblock %}

{% block modalData %}
    {% include 'sales/serviceorder/common/modal_data.html' %}
    {% include 'sales/task/extend/task-form.html' with not_bastion=True custom_assignee=True %}
    {% include 'extends/product_attribute_extend/canvas.html' %}
    {% include 'extends/files/file_attribute.html' %}
    {% include 'extends/indicator/all.html' with is_order=True %}
{% endblock %}

{% block dataHiddenGroup %}
    <script id="script-url"
            data-expense-item-list-url="{% url 'ExpenseItemListAPI' %}"
            data-tax-list-url = '{% url 'TaxListAPI' %}'
            data-company-config-url = '{% url 'CompanyConfigDetailAPI' %}'
            data-currency-list-url = '{% url 'CurrencyListAPI' %}'
            data-uom-list-url = '{% url 'UnitOfMeasureListAPI' %}'
            data-opp-detail-url= '{% url 'OpportunityDetailAPI' pk=0 %}'
            data-labor-url="{% url "ExpenseListAPI" %}"
            data-expense-item-url='{% url 'ExpenseItemListAPI' %}'
            data-uom-url="{% url "UnitOfMeasureListAPI" %}"
            data-tax-url='{% url 'TaxListAPI' %}'
    ></script>
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/init-select2.js' %}"></script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static "assets/js/extends/product_attribute/product_attribute.js" %}"></script>
    <script src="{% static 'assets/sales/serviceorder/js/service_order_common.js' %}"></script>
    <script src="{% static 'assets/sales/serviceorder/js/service_page_handler.js' %}"></script>
    <script src="{% static 'assets/sales/serviceorder/js/tab_shipment.js' %}"></script>
    <script src="{% static 'assets/sales/serviceorder/js/tab_expense.js' %}"></script>
    <script src="{% static 'assets/sales/serviceorder/js/service_order_detail.js' %}"></script>
    <script src="{% static 'assets/js/extends/indicator/indicator_common.js' %}"></script>
    <script src="{% static 'assets/sales/serviceorder/js/service_order_version_compare.js' %}"></script>
{% endblock %}
