{% load i18n string_utils %}

{% random_str 10 True as id_modal %}

<div class="row">
    <table
            id="tbl_budget_extend"
            class="table nowrap min-w-1280p w-100 mb-5"
    >
        <thead>
        <tr class="bg-light">
            <th>#</th>
            <th>{% trans '1st Dimension' %}</th>
            <th>{% trans '1st Value' %}</th>
            <th>{% trans '2nd Dimension' %}</th>
            <th>{% trans '2nd Value' %}</th>
            <th>{% trans 'Budget' %}</th>
            <th>{% trans 'Consumed' %}</th>
            <th>{% trans 'Available' %}</th>
            <th>{% trans 'Consume' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<input
    type="text"
    id="budget_trans_factory"
    data-valid-value-consume="{% trans 'The consume value cannot be greater than the available value' %}"
    data-valid-dimension-value="{% trans 'Dimension values must be different with other row' %}"
>
<input
        type="text" class="hidden"
        id="budget_url_factory"
        data-api-budget-line="{% url 'BudgetLineListAPI' %}"
        data-api-md-dimension="{% url 'DimensionDefinitionListAPI' %}"
        data-api-md-dimension-value="{% url 'DimensionValueListAPI' %}"
>