{% extends 'form/runtime/base.html' %}
{% load i18n static form_runtime %}

{% block Contents %}
    {% random_idx as formIdx %}
    <form
            data-url="{% url 'FormPostNewData' form_code=code use_at=use_at %}"
            id="{{ formIdx }}"
            data-code="{{ code }}"
            data-user-current-name="{{ user_current.full_name }}"
            data-url-submitted-edit="{% url 'FormSubmittedViewEdit' form_code=code pk='__pk__' %}"
            data-url-submitted="{% url 'FormPublishedRuntimeSubmitted' form_code=code %}"
            data-url-submitted-view="{% url 'FormSubmittedOnlyView' form_code=code pk='__pk__' %}"
    >
        {% csrf_token %}
        {{ html_text | safe }}
        {% if submitted_data %}
            {{ submitted_data|json_script:"submitted_data_idx" }}
        {% endif %}
    </form>
{% endblock %}

{% block jsContent %}
    <script src="{% static 'form/runtime/js/new.js' %}"></script>
{% endblock %}