{% load static i18n %}

<style>
    .sticky {
        position: sticky;
        top: 0;
        z-index: 999;
    }
    #modal-import-datatable-from-excel .sticky {
        background-color: rgba(153, 203, 207, var(--bs-bg-opacity)) !important
    }
</style>

<div class="modal fade" id="modal-import-datatable-from-excel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLarge01" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="min-width: 85%" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{% trans 'Import datatable from excel' %}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="text-primary">{% trans 'Make sure that the tables in your Excel file have the same COLUMN ORDER as the feature you are importing.' %}</div>
                        <div class="text-primary">{% trans 'The first column is the index column, the last column gives us the import status.' %}</div>
                        <div class="text-primary">{% trans 'The title of the table in the Excel file is not necessarily the same as the title of the table in the feature.' %}</div>
                    </div>
                </div>
                <div class="border rounded p-3 mt-3">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="import-db-form-select-table" class="form-label required">{% trans 'Select datatable' %}</label>
                                <select class="form-select" id="import-db-form-select-table"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="import-db-form-input-file" class="form-label required">{% trans 'Click here to upload file' %}</label>
                                <input class="form-control" type="file" id="import-db-form-input-file">
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label for="from-index" class="form-label required">{% trans 'From row' %}</label>
                                <input class="form-control" type="number" min="1" value="1" id="from-index">
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label for="to-index" class="form-label required">{% trans 'To row' %}</label>
                                <input class="form-control" type="number" min="1" value="5" id="to-index">
                            </div>
                        </div>
                        <div class="col-12">
                            <button id="import-db-form-load-file-btn" type="button" class="btn btn-primary btn-sm">{% trans 'Load File Data' %}</button>
                        </div>
                    </div>
                    <div class="row mt-3">
{#                        form will be appear here#}
                        <div class="col-12">
                            <form id="import-db-form"
                                  data-url=""
                                  data-method=""
                                  data-redirect-url=""
                            >
                                {% csrf_token %}
                                <div id="progress-container" class="progress progress-bar-xs">
                                    <div id="progress-bar" class="progress-bar bg-primary-light-3" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div id="import-db-form-modal-table" style="max-height: 50vh; overflow: auto"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
				<button type="submit" form="import-db-form" class="btn btn-primary">{% trans 'Import' %}</button>
			</div>
		</div>
	</div>
</div>
