{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Initial Balance' %}
{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/accountingsettings/initial_balance/common.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="frm_initial_balance" id="btn_create_initial_balance">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon"><i class="fa-regular fa-floppy-disk"></i></span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <form id="frm_initial_balance" data-method="POST" method="GET"
          data-url="{% url 'InitialBalanceListAPI' %}"
          data-url-redirect="{% url 'InitialBalanceList' %}">
        {% csrf_token %}
        {% include 'accountingsettings/initial_balance/common/information.html' %}
    </form>
{% endblock %}
{% block modalData %}
     {% include 'accountingsettings/initial_balance/common/modal_detail/tab_cash.html' %}
     {% include 'accountingsettings/initial_balance/common/modal_detail/tab_goods.html' %}
     {% include 'accountingsettings/initial_balance/common/modal_detail/tab_account_receivable.html' %}
     {% include 'accountingsettings/initial_balance/common/modal_detail/tab_supplier_payable.html' %}
     {% include 'accountingsettings/initial_balance/common/modal_detail/tab_employee_payable.html' %}
     {% include 'accountingsettings/initial_balance/common/modal_detail/tab_tools.html' %}
{% endblock %}
{% block dataHiddenGroup %}
    <input type="text" id="url-factory"
           data-url-currency="{% url 'CurrencyListAPI' %}"
           data-url-accounting-account="{% url 'ChartOfAccountsListAPI' %}"
    >
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/js/xlsx-0.18.5.full.min.js' %}"></script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static "assets/js/accountingsettings/initial_balance/common.js" %}"></script>
    <script src="{% static "assets/js/accountingsettings/initial_balance/tab_data/tab_money.js" %}"></script>
    <script src="{% static "assets/js/accountingsettings/initial_balance/tab_data/tab_goods.js" %}"></script>
    <script src="{% static "assets/js/accountingsettings/initial_balance/tab_data/tab_account_receivable.js" %}"></script>
    <script src="{% static "assets/js/accountingsettings/initial_balance/tab_data/tab_supplier_payable.js" %}"></script>
    <script src="{% static "assets/js/accountingsettings/initial_balance/tab_data/tab_employee_payable.js" %}"></script>
    <script src="{% static "assets/js/accountingsettings/initial_balance/tab_data/tab_tools.js" %}"></script>
    <script src="{% static "assets/js/accountingsettings/initial_balance/tab_data/tab_account.js" %}"></script>
    <script src="{% static "assets/js/accountingsettings/initial_balance/create.js" %}"></script>
{% endblock %}
