{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Lease order list' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/flatpickr/themes/airbnb.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pageAction %}
    {% url 'LeaseOrderCreate' as create_link %}
    {% trans 'Create Lease Order' as create_title %}
    {% include 'extends/systems/page_actions.html' with is_create=True create_link=create_link create_idx="create_lease_order_button" create_title=create_title %}
{% endblock %}

{% block pageContent %}
    <script hidden id="direct-btn-group-url"
        data-url-list-api="{% url 'LeaseOrderListAPI' %}"
        data-url-create="{% url 'LeaseOrderCreate' %}"
        data-url-detail="{% url 'LeaseOrderDetail' pk=1 %}"
        data-key-return="lease_order_list"
    ></script>
    {% csrf_token %}
    <table
            id="table_lease_order_list"
            class="table nowrap min-w-1366p w-100 mb-5"
            data-url="{% url 'LeaseOrderListAPI' %}"
            data-method="get"
    >
        <thead>
        <tr>
            <th>#</th>
            <th>{% trans 'Code' %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Customer' %}</th>
            <th>{% trans 'Sale person' %}</th>
            <th>{% trans 'Created Date' %}</th>
            <th>{% trans 'Order value' %}</th>
            <th>{% trans 'Status' %}</th>
            <th>{% trans 'Delivery' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="modal-canvas-area">

        <div
                class="modal fade" id="deliveryInfoModalCenter" tabindex="-1"
                role="dialog" aria-labelledby="deliveryInfoModalCenter"
                aria-hidden="true" data-zone="title"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>{% trans 'Delivery information' %}</b></h5>
                        <button
                                type="button"
                                class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg"
                                data-bs-dismiss="modal"
                        ><span class="icon"><i class="far fa-window-close"></i></span></button>
                    </div>
                    <div class="modal-body">
                        <b class="target-code text-primary"></b>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label required" for="estimated_delivery_date">{% trans 'Estimated delivery date' %}</label>
                                    <div class="input-affix-wrapper">
                                        <input type="text" id="estimated_delivery_date"
                                               class="form-control date-picker" autocomplete="off">
                                        <div class="input-suffix">
                                            <i class="fas fa-calendar-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="form-label" for="remarks">{% trans 'Note' %}</label>
                                <textarea class="form-control" rows="4" id="remarks" name="remarks"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="button" class="btn btn-primary" id="btn-delivery">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="offcanvas offcanvas-end w-60" tabindex="-1" id="filterCanvas" aria-labelledby="offcanvasTopLabel">
            <div class="modal-header">
                <h5><b>{% trans 'Filter' %}</b></h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="offcanvas"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="offcanvas-body">
                <b>{% trans 'Common information' %}</b>
                <div class="row">
                    <div class="form-group">
                        <label class="form-label" for="employee_dd">{% trans 'Employee' %}</label>
                        <select
                                class="form-select"
                                id="employee_dd"
                                data-url="{% url "EmployeeListAPI" %}"
                                data-method="GET"
                                name="employee"
                                data-keyResp="employee_list"
                                data-keyText="full_name"
                                multiple
                        ></select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="form-label" for="customer_dd">{% trans 'Customer' %}</label>
                        <select
                                class="form-select"
                                id="customer_dd"
                                data-url="{% url "AccountDDListAPI" %}"
                                data-method="GET"
                                data-keyResp="account_dd_list"
                                data-keyText="name"
                                multiple
                        ></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label class="form-label" for="operator">{% trans 'operator' %}</label>
                            <select
                                    class="form-select"
                                    id="operator"
                            ></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="total">{% trans 'Order value' %}</label>
                            <input
                                type="text"
                                class="form-control mask-money valid-num"
                                id="total"
                                value="0"
                                data-return-type="number"
                            >
                        </div>
                    </div>
                </div>
                <b>{% trans 'Date approved' %}</b>
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="form-label" for="date_from">{% trans 'From' %}</label>
                            <div class="input-affix-wrapper">
                                <input type="text" name="date_from" id="date_from"
                                       class="form-control date-picker" autocomplete="off">
                                <div class="input-suffix">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="form-label" for="date_to">{% trans 'To' %}</label>
                            <div class="input-affix-wrapper">
                                <input type="text" name="date_from" id="date_to"
                                       class="form-control date-picker" autocomplete="off">
                                <div class="input-suffix">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'sales/advance_filter.html' with app_id='010404b3-bb91-4b24-9538-075f5f00ef14' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-2" data-bs-dismiss="offcanvas">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-apply-filter" data-bs-dismiss="offcanvas">{% trans 'Apply' %}</button>
            </div>
        </div>

    </div>
{% endblock %}

{% block modalData %}
    {% include 'sales/advance_filter_modal.html' with app_id='010404b3-bb91-4b24-9538-075f5f00ef14' %}
{% endblock %}

{% block dataHiddenGroup %}
    <input
            type="hidden" id="trans-factory"
            data-edit="{% trans 'Edit' %}"
            data-change="{% trans 'Change' %}"
            data-delivery="{% trans 'Delivery' %}"
            data-status-none="{% trans 'None' %}"
            data-status-delivering="{% trans 'Delivering' %}"
            data-status-partially="{% trans 'Partially delivered' %}"
            data-status-delivered="{% trans 'Delivered' %}"
            data-required-delivery-date="{% trans 'Estimated delivery date is required' %}"
    >
    <input type="hidden" id="app-url-factory"
           data-link-detail="{% url 'LeaseOrderDetail' 1 %}"
           data-link-update="{% url 'LeaseOrderUpdate' 1 %}"
           data-link-list="{% url 'LeaseOrderList' %}"
           data-link-list-api="{% url 'LeaseOrderListAPI' %}"
           data-create-delivery="{% url 'LeaseOrderDetailDeliveryAPI' 1 %}"
           data-delivery="{% url 'OrderDeliveryList' %}" data-picking="{% url 'OrderPickingList' %}"
           data-account-list="{% url 'AccountListAPI' %}"
           data-contact-list="{% url 'ContactListAPI' %}"
           data-app-prop-list="{% url 'ApplicationPropertyListAPI' %}"
    >
    {{ data.stt_sys|json_script:'stt_sys' }}
    {{ data.delivery_status|json_script:'delivery_status' }}
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>
    {% if base.language == 'vi' %}
        <script src="{% static 'vendors/flatpickr/i18n/vn.js' %}"></script>
    {% endif %}
     <script src="{% static 'assets/sales/report/js/advance_filter/advance_filter_common.js' %}"></script>
    <script src="{% static 'assets/sales/leaseorder/js/lease_order_list.js' %}"></script>
    <script src="{% static 'assets/js/direct-btn-group.js' %}"></script>
{% endblock %}
