{% extends 'base.html' %}
{% load static i18n %}
{% block cssHeader %}
    <link href="{% static 'assets/sales/quotation/css/quotation_create.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/flatpickr/themes/airbnb.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block pageAction %}
    {% include 'extends/systems/page_actions.html' with is_save=True save_frm='frm_lease_create' %}
{% endblock %}

{% block pageSubAction %}
    <div class="nav-pills-bfl" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn nav-link text-green" id="open_indicator" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'Indicator' %}"><span class="icon"><i class="fa-solid fa-arrow-trend-up"></i></span></button>
    </div>
{% endblock %}

{% block pageContent %}
    <script hidden id="direct-btn-group-url"
        data-url-list-api="{% url 'LeaseOrderListAPI' %}"
        data-url-create="{% url 'LeaseOrderCreate' %}"
        data-url-detail="{% url 'LeaseOrderDetail' '0' %}"
        data-key-return="lease_order_list"
    ></script>

    <form
            data-url="{% url 'LeaseOrderDetailAPI' pk=pk %}"
            data-url-redirect="{% url 'LeaseOrderList' %}"
            data-method="PUT"
            id="frm_lease_create"
            method="post"
    >
        {% csrf_token %}
        {% trans 'Select Sale Person' as inherit_title %}
        {% include 'extends/the-documents/bastion.html' with opp_title=opp_title has_opp=True has_inherit=True is_open=True inherit_title=inherit_title inherit_required=True inherit_readonly=True %}
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label required" for="title">{% trans 'Title' %}</label>
                    <input
                            type="text" class="form-control"
                            name="title"
                            id="title"
                            required
                    >
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label required" for="lease_from">{% trans 'Lease from' %}</label>
                            <div class="input-affix-wrapper">
                                <input type="text" name="lease_from" id="lease_from"
                                       class="form-control flat-picker" autocomplete="off" required>
                                <div class="input-suffix">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label required" for="lease_to">{% trans 'Lease to' %}</label>
                            <div class="input-affix-wrapper">
                                <input type="text" name="lease_to" id="lease_to"
                                       class="form-control flat-picker" autocomplete="off" required>
                                <div class="input-suffix">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label" for="select-box-quotation">{% trans 'Quotation' %}</label>
                    <input type="text" class="form-control form-control-line mt-1" id="quotation_id" data-detail="" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label required" for="customer_id">{% trans 'Customer' %}</label>
                    <select
                            class="form-select"
                            id="customer_id"
                            data-url="{% url "AccountForSaleListAPI" %}"
                            data-method="GET"
                            data-link-detail="{% url "AccountDetail" 1 %}"
                            name="customer_id"
                            data-keyResp="account_sale_list"
                            data-keyText="name"
                            required
                    ></select>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label required" for="contact_id">{% trans 'Contact' %}</label>
                    <select
                        class="form-select"
                        id="contact_id"
                        data-url="{% url "ContactListAPI" %}"
                        data-method="GET"
                        data-link-detail="{% url 'ContactDetail' 1 %}"
                        name="contact_id"
                        data-keyResp="contact_list"
                        data-keyText="fullname"
                        required
                    ></select>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label" for="payment_term_id">{% trans 'Select Payment Terms' %}</label>
                    <select
                            class="form-select"
                            id="payment_term_id"
                            data-url="{% url "PaymentsTermsListAPI" %}"
                            data-link-detail=""
                            data-method="GET"
                            name="payment_term_id"
                            data-keyResp="payment_terms_list"
                    ></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <ul class="nav nav-pills-bfl" id="quotation-tabs">
                    <li class="nav-item tab-detail" data-zone="lease_products_data">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tab_line_detail">
                            <span class="nav-icon-wrap mr-1"><i class="fas fa-cube"></i></span>
                            <span class="nav-link-text">{% trans 'Product' %}</span>
                        </a>
                    </li>
                    <li class="nav-item tab-cost" data-zone="lease_costs_data">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab_cost">
                            <span class="nav-icon-wrap mr-1"><i class="fas fa-dollar-sign"></i></span>
                            <span class="nav-link-text">{% trans 'Cost' %}</span>
                        </a>
                    </li>
                    <li class="nav-item tab-expense" data-zone="lease_expenses_data">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab_expense">
                            <span class="nav-icon-wrap mr-1"><i class="fas fa-hand-holding-usd"></i></span>
                            <span class="nav-link-text">{% trans 'Expense' %}</span>
                        </a>
                    </li>
                    <li class="nav-item tab-payment">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab_payment">
                            <span class="nav-icon-wrap mr-1"><i class="fas fa-receipt"></i></span>
                            <span class="nav-link-text">{% trans 'Payment' %}</span>
                        </a>
                    </li>
                    <li class="nav-item tab-logistic">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab_logistic">
                            <span class="nav-icon-wrap mr-1"><i class="fas fa-truck"></i></span>
                            <span class="nav-link-text">{% trans 'Logistics' %}</span>
                        </a>
                    </li>
                    <li class="nav-item tab-attachment">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab_attachment">
                            <span class="nav-icon-wrap mr-1"><i class="fas fa-paperclip"></i></span>
                            <span class="nav-link-text">{% trans 'Attachment' %}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="tab-content-quotation-product">
                <div class="tab-pane fade show active" id="tab_line_detail">
                    <div class="row">
                        <table
                                id="datable-quotation-create-product"
                                class="table nowrap min-w-1680p w-100 mb-5"
                        >
                            <thead>
                            <tr class="bg-light">
                                <th>#</th>
                                <th>{% trans 'Service' %}</th>
                                <th>{% trans 'UOM' %}</th>
                                <th>{% trans 'Asset type' %}</th>
                                <th>{% trans 'Offset item' %}</th>
                                <th>{% trans 'Quantity offset' %}</th>
                                <th>{% trans 'Lease time' %}</th>
                                <th>{% trans 'Unit Price' %}</th>
                                <th>{% trans 'Tax' %}</th>
                                <th>{% trans 'Subtotal Price' %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="6"></th>
                                <th colspan="5">
                                    <div class="row mb-2">
                                        <div class="col-6">
                                            <p style="text-align: right">{% trans 'Pretax Amount' %}:</p>
                                        </div>
                                        <div class="col-2"></div>
                                        <div class="col-4">
                                            <span class="mask-money font-3 quotation-create-product-pretax-amount" data-init-money="0" data-zone="lease_products_data"></span>
                                            <input type="text" class="form-control quotation-create-product-pretax-amount-raw" value="0" hidden>
                                            <input type="text" class="quotation-final-revenue-before-tax" hidden>
                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-6">
                                            <p style="text-align: right">{% trans 'Discount' %}:</p>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group w-90">
                                                <span class="input-affix-wrapper">
                                                    <input type="text" class="form-control valid-num quotation-create-product-discount" value="0" data-zone="lease_products_data" disabled>
                                                    <span class="input-suffix"><small><i class="fas fa-percentage"></i></small></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <span class="mask-money font-3 quotation-create-product-discount-amount" data-init-money="0" data-zone="lease_products_data"></span>
                                            <input type="text" class="form-control quotation-create-product-discount-amount-raw" value="0" hidden>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p style="text-align: right">{% trans 'Taxes' %}:</p>
                                        </div>
                                        <div class="col-2"></div>
                                        <div class="col-4">
                                            <span class="mask-money font-3 quotation-create-product-taxes" data-init-money="0" data-zone="lease_products_data"></span>
                                            <input type="text" class="form-control quotation-create-product-taxes-raw" value="0" hidden>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <b><p style="text-align: right">{% trans 'Total' %}:</p></b>
                                        </div>
                                        <div class="col-2"></div>
                                        <div class="col-4">
                                            <b><span class="mask-money font-3 quotation-create-product-total" data-init-money="0" data-zone="lease_products_data"></span></b>
                                            <input type="text" class="form-control quotation-create-product-total-raw" value="0" hidden>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div
                                    class="modal fade" id="shippingFeeModalCenter" tabindex="-1"
                                    role="dialog" aria-labelledby="shippingFeeModalCenter"
                                    aria-hidden="true"
                            >
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{% trans 'Shipping' %}</h5>
                                            <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
                                        </div>
                                        <div class="modal-body">
                                            <table
                                                    id="datable-quotation-create-shipping"
                                                    class="table nowrap w-100 mb-5"
                                            >
                                                <thead>
                                                <tr class="bg-light">
                                                    <th class="w-10"></th>
                                                    <th class="w-40">{% trans 'Title' %}</th>
                                                    <th class="w-40">{% trans 'Price' %}</th>
                                                    <th class="w-10">{% trans 'Actions' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <p class="no-map-area" hidden>* {% trans 'There is no shipment for this area' %}</p>
                                                <p class="no-logistic" hidden>* {% trans 'Missing data in tab logistic' %}</p>
                                            </div>
                                            <div class="d-flex justify-content-start">
                                                <a href="{% url "ShippingList" %}" target="_blank" class="link-primary underline_hover">{% trans 'Create shipment' %}</a>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                    type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal"
                                                    data-zone="lease_products_data"
                                            >{% trans 'Close' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                    class="modal fade" id="promotionModalCenter" tabindex="-1"
                                    role="dialog" aria-labelledby="promotionModalCenter"
                                    aria-hidden="true"
                            >
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{% trans 'Promotion' %}</h5>
                                            <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
                                        </div>
                                        <div class="modal-body">
                                            <table
                                                    id="datable-quotation-create-promotion"
                                                    class="table nowrap w-100 mb-5"
                                            >
                                                <thead>
                                                <tr class="bg-light">
                                                    <th class="w-10"></th>
                                                    <th class="w-60">{% trans 'Title' %}</th>
                                                    <th class="w-30">{% trans 'Actions' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                    type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal"
                                                    data-zone="lease_products_data"
                                            >{% trans 'Close' %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_cost">
                    <div class="row">
                        <table
                                id="datable-quotation-create-cost"
                                class="table nowrap min-w-1366p w-100 mb-5"
                        >
                            <thead>
                            <tr class="bg-light">
                                <th></th>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Code' %}</th>
                                <th>{% trans 'UOM' %}</th>
                                <th>{% trans 'Quantity' %}</th>
                                <th>{% trans 'Lease time' %}</th>
                                <th>{% trans 'Unit cost' %}</th>
                                <th>{% trans 'Depreciation time' %}</th>
                                <th>{% trans 'Final cost' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="7"></th>
                                <th colspan="2">
                                    <div class="row mb-2 hidden">
                                        <div class="col-6">
                                            <p style="text-align: right">{% trans 'Pretax Amount' %}:</p>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-5">
                                            <span class="mask-money font-3 quotation-create-cost-pretax-amount" data-init-money="0" data-zone="lease_costs_data"></span>
                                            <input type="text" class="form-control quotation-create-cost-pretax-amount-raw" value="0" hidden>
                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-6">
                                            <p style="text-align: right">{% trans 'Taxes' %}:</p>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-5">
                                            <span class="mask-money font-3 quotation-create-cost-taxes" data-init-money="0" data-zone="lease_costs_data"></span>
                                            <input type="text" class="form-control quotation-create-cost-taxes-raw" value="0" hidden>
                                        </div>
                                    </div>
                                    <hr hidden>
                                    <div class="row">
                                        <div class="col-6">
                                            <b><p style="text-align: right">{% trans 'Total' %}:</p></b>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-5">
                                            <b><span class="mask-money font-3 quotation-create-cost-total" data-init-money="0" data-zone="lease_costs_data"></span></b>
                                            <input type="text" class="form-control quotation-create-cost-total-raw" value="0" hidden>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_expense">
                    <div class="row">
                        <table
                                id="datable-quotation-create-expense"
                                class="table nowrap min-w-1440p w-100 mb-5"
                        >
                            <thead>
                            <tr class="bg-light">
                                <th></th>
                                <th>{% trans 'Expense name' %}</th>
                                <th>{% trans 'Expense items' %}</th>
                                <th>{% trans 'UOM' %}</th>
                                <th>{% trans 'Quantity' %}</th>
                                <th>{% trans 'Expense Price' %}</th>
                                <th>{% trans 'Tax' %}</th>
                                <th>{% trans 'Subtotal Price' %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="5"></th>
                                <th colspan="4">
                                    <div class="row mb-2">
                                        <div class="col-6">
                                            <p style="text-align: right">{% trans 'Pretax Amount' %}:</p>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-5">
                                            <span class="mask-money font-3 quotation-create-expense-pretax-amount" data-init-money="0" data-zone="lease_expenses_data"></span>
                                            <input type="text" class="form-control quotation-create-expense-pretax-amount-raw" value="0" hidden>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p style="text-align: right">{% trans 'Taxes' %}:</p>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-5">
                                            <span class="mask-money font-3 quotation-create-expense-taxes" data-init-money="0" data-zone="lease_expenses_data"></span>
                                            <input type="text" class="form-control quotation-create-expense-taxes-raw" value="0" hidden>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <b><p style="text-align: right">{% trans 'Total' %}:</p></b>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-5">
                                            <b><span class="mask-money font-3 quotation-create-expense-total" data-init-money="0" data-zone="lease_expenses_data"></span></b>
                                            <input type="text" class="form-control quotation-create-expense-total-raw" value="0" hidden>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_payment">
                    <div class="row">
                        <b>{% trans 'Invoice plan' %}</b>
                        <table
                                id="datable-quotation-invoice"
                                class="table nowrap min-w-1366p w-100 mb-5"
                        >
                            <thead>
                            <tr class="bg-light">
                                <th>{% trans 'Invoice issue' %}</th>
                                <th>{% trans 'Description' %}</th>
                                <th>{% trans 'Invoice date' %}</th>
                                <th>{% trans 'Percentage' %}</th>
                                <th>{% trans 'Tax' %}</th>
                                <th>{% trans 'Total value' %}</th>
                                <th>{% trans 'Balance due' %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <b>{% trans 'Payment plan' %}</b>
                        <table
                                id="datable-quotation-payment-stage"
                                class="table nowrap min-w-2000p w-100 mb-5"
                        >
                            <thead>
                            <tr class="bg-light">
                                <th></th>
                                <th>{% trans 'Installment' %}</th>
                                <th>{% trans 'Description' %}</th>
                                <th>{% trans 'Date' %}</th>
                                <th>{% trans 'Due date' %}</th>
                                <th>{% trans 'Percentage' %}</th>
                                <th>{% trans 'Invoice' %}</th>
                                <th>{% trans 'Payment before tax' %}</th>
                                <th>{% trans 'Reconcile' %}</th>
                                <th>{% trans 'Tax' %}</th>
                                <th>{% trans 'Tax value' %}</th>
                                <th>{% trans 'Total payment' %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_logistic">
                    <div class="row logistics-body">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label text-primary">{% trans 'Shipping Address' %}
                                        <button type="button" class="btn btn-icon btn-rounded flush-soft-hover btn-sm" data-bs-toggle="modal" data-bs-target="#shippingModalCenter" data-zone="sale_order_logistic_data"><span class="icon"><i class="fa-regular fa-pen-to-square"></i></span></button>
                                    </label>
                                    <textarea class="form-control text-black" rows="3" cols="50" name="" id="quotation-create-shipping-address" data-zone="sale_order_logistic_data_readonly"></textarea>
                                    <input type="text" id="quotation-create-customer-shipping" hidden>
                                </div>
                                <div
                                        class="modal fade" id="shippingModalCenter" tabindex="-1"
                                        role="dialog" aria-labelledby="shippingModalCenter"
                                        aria-hidden="true"
                                >
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content" id="quotation-create-modal-shipping-body">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{% trans 'Shipping Address' %}</h5>
                                                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
                                            </div>
                                            <div class="modal-body"></div>
                                            <div class="modal-footer">
                                                <button
                                                        type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal"
                                                >{% trans 'Close' %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label text-primary">{% trans 'Billing Address' %}
                                        <button type="button" class="btn btn-icon btn-rounded flush-soft-hover btn-sm" data-bs-toggle="modal" data-bs-target="#billingModalCenter" data-zone="sale_order_logistic_data"><span class="icon"><i class="fa-regular fa-pen-to-square"></i></span></button>
                                    </label>
                                    <textarea class="form-control text-black" rows="3" cols="50" name="" id="quotation-create-billing-address" data-zone="sale_order_logistic_data_readonly"></textarea>
                                    <input type="text" id="quotation-create-customer-billing" hidden>
                                </div>
                                <div
                                        class="modal fade" id="billingModalCenter" tabindex="-1"
                                        role="dialog" aria-labelledby="billingModalCenter"
                                        aria-hidden="true"
                                >
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content" id="quotation-create-modal-billing-body">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{% trans 'Billing Address' %}</h5>
                                                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
                                            </div>
                                            <div class="modal-body"></div>
                                            <div class="modal-footer">
                                                <button
                                                        type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal"
                                                >{% trans 'Close' %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_attachment">
                    <div id="attachment">{% include 'extends/files/all.html' %}</div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="btn-invalid-promotion" data-bs-toggle="modal" data-bs-target="#invalidPromotionModalCenter" hidden>
            Vertically centered modal
        </button>
        <div class="modal fade" id="invalidPromotionModalCenter" tabindex="-1" role="dialog" aria-labelledby="invalidPromotionModalCenter" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body modal-body-invalid-promotion mb-2">
                                <h6 class="mb-3">{% trans 'Apply Promotion Fail.' %}</h6>
                                <p>{% trans 'Document is unqualified for promotion applied. Remove promotion or select another available promotion.' %}</p>
                            </div>
                            <div class="row modal-footer-invalid-promotion">
                                <div class="col-6">
                                    <button type="button" class="btn btn-link btn-remove-promotion" data-bs-dismiss="modal" id="btn-remove-promotion">{% trans 'Remove Promotion.' %}</button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-link btn-see-promotion" data-bs-dismiss="modal" id="btn-check-another-promotion">{% trans 'See Promotion' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    </form>
{% endblock %}

{% block modalData %}
    {% include 'sales/leaseorder/lease_order_create_offcanvas.html' %}
    {% include 'extends/files/file_attribute.html' %}
    {% include 'extends/indicator/all.html' with is_order=True %}
{% endblock %}

{% block dataHiddenGroup %}
    <input
        type="text"
        id="app-trans-factory"
        data-check-if-shipping-address="{% trans 'Please select shipping address' %}"
        data-select-address="{% trans 'Select this address' %}"
        data-view-detail-info="{% trans 'View detail' %}"
        data-btn-close="{% trans 'Close' %}"
        data-more-information="{% trans 'More information' %}"
        data-apply="{% trans 'Apply' %}"
        data-refreshed="{% trans 'Data is refreshed.' %}"
        data-valid="{% trans "Valid" %}"
        data-invalid="{% trans "Invalid" %}"
        data-required-expense="{% trans "Expense is required" %}"
        data-required-product-uom="{% trans "Product unit of measure is required" %}"
        data-required-expense-uom="{% trans "Expense unit of measure is required" %}"
        data-copy-successfully="{% trans "Copy successfully" %}"
        data-validate-due-date="{% trans "Invalid due date" %}"
        data-paid-in-full="{% trans "Paid in full" %}"
        data-validate-total-payment="{% trans "Payment amount does not match" %}"
        data-validate-ss-role="{% trans "Opportunity is disabled because employee in short sales roles" %}"
        data-promotion="{% trans "Promotion" %}"
        data-shipping="{% trans "Shipping fee" %}"
        data-valid-price-uom="{% trans "Price is not valid for unit of measure" %}"
        data-supplied-purchase="{% trans "Purchasing" %}"
        data-supplied-make="{% trans "Making" %}"
        data-discount-bt="{% trans "Discount before tax" %}"
        data-discount-at="{% trans "Discount after tax" %}"
        data-discount-product="{% trans "Discount on product" %}"
        data-gift="{% trans "Gift" %}"
        data-available="{% trans "Available" %}"
        data-unavailable="{% trans "Unavailable" %}"
        data-product-note-1="{% trans "Selected" %}"
        data-product-note-2="{% trans "The product is in the design stage for another project" %}"
        data-product-note-3="{% trans "The product does not have opportunity BOM" %}"
        data-product-note-4="{% trans "The product is only used for project sale" %}"
        data-product-no-cost="{% trans "The product does not have warehouse cost list. You can choose bill of material cost, standard cost or input cost." %}"
        data-cost-bom="{% trans "Bill of material cost" %}"
        data-cost-standard="{% trans "Standard cost" %}"
        data-required-customer="{% trans "Customer is required" %}"
        data-required-contact="{% trans "Contact is required" %}"
        data-required-payment="{% trans "Payment is required" %}"
        data-required-product="{% trans "Product is required" %}"
        data-asset-type-1="{% trans "Goods" %}"
        data-asset-type-2="{% trans "Tool" %}"
        data-asset-type-3="{% trans "Fixed asset" %}"
        data-refresh="{% trans "Refresh" %}"
        data-add="{% trans "Add" %}"
        data-add-product="{% trans "Add Product" %}"
        data-add-service="{% trans "Add service" %}"
        data-add-group="{% trans "Add group" %}"
        data-add-expense="{% trans "Add Expense" %}"
        data-add-labor="{% trans "Add Labor" %}"
        data-required-asset-type="{% trans 'Please select asset type' %}"
        data-depreciation-method-1="{% trans 'Line method' %}"
        data-depreciation-method-2="{% trans 'Adjustment method' %}"
        data-detail="{% trans "Detail" %}"
        data-mixed="{% trans "Mixed" %}"
        data-month="{% trans "Month" %}"
    >
    <input
        type="text"
        id="app-url-factory"
        data-md-product="{% url 'ProductForSaleListAPI' %}"
        data-md-product-detail="{% url 'ProductForSaleDetailAPI' 1 %}"
        data-md-bom="{% url 'BOMOrderListAPI' %}"
        data-md-uom="{% url "UnitOfMeasureListAPI" %}"
        data-md-tax="{% url "TaxListAPI" %}"
        data-md-labor="{% url "ExpenseListAPI" %}"
        data-md-expense="{% url "ExpenseItemListAPI" %}"
        data-md-tool="{% url 'ToolForLeaseListAPI' %}"
        data-md-asset="{% url 'AssetForLeaseListAPI' %}"

        data-so-product-wo="{% url 'SOProductWOListAPI' %}"
        data-so-detail="{% url 'SaleOrderDetailAPI' pk=1 %}"
        data-quotation="{% url "QuotationListAPI" %}"
        data-quotation-detail="{% url "QuotationDetailAPI" 1 %}"
    >

    <input
            type="text"
            id="data-init-quotation-create-request-employee"
            value="{{ data.employee_current }}"
    >
    <input
            type="text"
            id="data-init-quotation-create-company-currency-config"
    >
    <input
            type="text"
            id="data-quotation"
            value="[]"
    >
    <input
            type="text"
            id="data-init-quotation-create-promotion"
            data-url="{% url "PromotionCheckListAPI" %}"
            data-link-detail="{% url "PromotionDetail" 1 %}"
            data-method="GET"
    >
    <input
            type="text"
            id="data-init-quotation-create-shipping"
            data-url="{% url "ShippingCheckListAPI" %}"
            data-link-detail="{% url "ShippingDetail" 1 %}"
            data-method="GET"
    >
    <input
            type="text"
            id="data-init-copy-quotation"
            data-url="{% url "QuotationListAPI" %}"
            data-url-detail="{% url "QuotationDetailAPI" 1 %}"
            data-method="GET"
    >
    <input
            type="text"
            id="data-init-quotation-copy-to"
            value="{{ data.data_copy_to }}"
    >
    <input
            type="text"
            id="data-init-opportunity"
            value="{{ data.opportunity }}"
    >
    <input
            type="text"
            id="customer-price-list"
    >
    <input
            type="text"
            id="quotation-config-data"
            class="quotation-config"
            data-url="{% url "QuotationConfigDetailAPI" %}"
            data-method="GET"
    >
    <input
            type="text"
            id="quotation-detail-data"
    >
    <input
            type="text"
            id="quotation-check-promotion"
    >
    <input
            type="text"
            id="quotation-copy-discount-on-total"
            value="0"
    >
    <input
            type="text"
            id="data-init-customer"
            data-url="{% url "AccountForSaleListAPI" %}"
            data-method="GET"
    >
    <input
            type="text"
            id="data-config-lease-order"
            data-url="{% url "LeaseOrderConfigDetailAPI" %}"
            data-method="GET"
    >
    <input
            type="text"
            id="products-checked"
    >
    <input
            type="text"
            id="offsets-checked"
    >
    <input
            type="text"
            id="tools-checked"
    >
    <input
            type="text"
            id="assets-checked"
    >
    {{ data.payment_term_stage|json_script:'payment_term_stage' }}
    {{ data.payment_date_type|json_script:'payment_date_type' }}
    {{ data.employee_current|json_script:'employee_current' }}
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>
    {% if base.language == 'vi' %}
        <script src="{% static 'vendors/flatpickr/i18n/vn.js' %}"></script>
    {% endif %}

    <script src="{% static 'assets/js/extends/depreciation/depreciation_common.js' %}"></script>
    <script src="{% static 'assets/sales/leaseorder/js/lease_order_common.js' %}"></script>
    <script src="{% static 'assets/sales/leaseorder/js/lease_order_create.js' %}"></script>
    <script src="{% static 'assets/sales/leaseorder/js/lease_order_detail.js' %}"></script>

    <script src="{% static 'assets/js/direct-btn-group.js' %}"></script>
    <script src="{% static 'assets/js/extends/indicator/indicator_common.js' %}"></script>
{% endblock %}