{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Advance Payment' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/sweetalert2/sweetalert2.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" />
    <style>
        .mask-money {
            text-align: right; !important;
        }
        table .select2-selection__rendered {
            max-width: 250px;
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="form-create-advance">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <script hidden id="direct-btn-group-url"
        data-url-list-api="{% url 'AdvancePaymentListAPI' %}"
        data-url-create="{% url 'AdvancePaymentCreate' %}"
        data-url-detail="{% url 'AdvancePaymentDetail' '0' %}"
        data-key-return="advance_payment_list"
    ></script>
    <script id="script-url"
            data-trans-unplanned="{% trans 'Unplanned expenses' %}"
            data-url-opp-list="{% url "OpportunityListAPI" %}"
            data-url-ap-cost-list="{% url "AdvancePaymentCostListAPI" %}"
            data-url-ap-mapped="{% url "AdvancePaymentListAPI" %}"
            data-url-expense-quotation="{% url 'QuotationExpenseListAPI' %}"
            data-url-expense-sale-order="{% url 'SaleOrderExpenseListAPI' %}"
            data-url-payment-cost-list="{% url 'PaymentCostListAPI' %}">
    </script>
    <script id="script-trans"></script>
    <form id="form-create-advance"
          data-method="POST"
          data-url-redirect="{% url "AdvancePaymentList" %}"
          data-url="{% url "AdvancePaymentListAPI" %}">
        {% csrf_token %}
        {% include 'advancepayment/common/information.html' %}
        {% include 'advancepayment/common/tabs.html' %}
    </form>
{% endblock %}
{% block modalData %}
    {% include 'advancepayment/common/modals.html' %}
{% endblock %}
{% block jsFooter %}
    <!-- Daterangepicker JS -->
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/sweetalert2/sweetalert2.js' %}"></script>
    <script src="{% static 'assets/js/haind-common-js.js' %}"></script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static "assets/js/advancepayment/advance_payment_common.js" %}"></script>
    <script src="{% static "assets/js/advancepayment/advance_payment_create.js" %}"></script>
    <script src="{% static 'assets/js/direct-btn-group.js' %}"></script>
{% endblock %}
