{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a class="btn btn-outline-primary btn-animated btn-xs"
       href="{% url "AdvancePaymentCreate" %}"
       data-bs-toggle="tooltip"
       data-bs-placement="top"
       title="{% trans 'Create Advance Payment' %}"
       id="create_advance_payment_button"
       data-bs-original-title="Add Advance Payment">
            <span class="icon">
                <span class="feather-icon">
                    <i data-feather="plus"></i>
                </span>
                <span class="font-3 ml-1">
                    {% trans 'New' %}
                </span>
            </span>
    </a>
{% endblock %}
{% block pageContent %}
    <div id="section-advance-list">
        <table id="datatable_advance_list" class="table nowrap w-100 mb-5" data-method="GET"
               data-url="{% url 'AdvancePaymentListAPI' %}"
               data-url-detail="{% url 'AdvancePaymentDetail' '0' %}"
               data-return-advance="{% url 'ReturnAdvanceCreate' %}"
               data-payment="{% url 'PaymentCreate' %}"
        >
            <thead>
            <th>{% trans "Code" %}</th>
            <th>{% trans "Name" %}
                <i class="fas fa-info-circle icon-info"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="{% trans 'Press row here to open detail page.' %}">
                </i>
            </th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Created date" %}</th>
            <th>{% trans "Return date" %}</th>
            <th>{% trans "Advance Payment" %}</th>
            <th>{% trans "To payment" %}</th>
            <th>{% trans "Returned" %}</th>
            <th>{% trans "Remain" %}</th>
            <th>{% trans "Status" %}</th>
            <th class="text-center"></th>
            </thead>
        </table>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/advancepayment/advance_payment_list.js' %}"></script>
{% endblock %}
