{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Bill of resources detail' %}{% endblock %}
{% block cssHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" />
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url 'BORUpdate' pk=pk %}">
        <button class="btn btn-outline-primary">
            <span>
                <span>{% trans 'Edit' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <script id="script-url"
    ></script>
    <form id="form-detail-bor"
{#          data-url="{% url 'DistributionPlanDetailAPI' pk=pk %}"#}
          data-method="GET"
    >
        {% csrf_token %}
    </form>
{% endblock %}
{% block dataHiddenGroup %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/tinymce/jquery.tinymce.min.js' %}"></script>
    <script src="{% static 'assets/sales/bor/js/bor_common.js' %}"></script>
    <script src="{% static 'assets/sales/bor/js/bor_detail.js' %}"></script>
{% endblock %}
