button {
    border: 0;
}

#offcanvasRight {
    width: 75%;
}

@media screen and(max-width: 850px) {
    #offcanvasRight {
        width: 100%;
    }
}

.offcanvas-header {
    margin-right: 1em;
    margin-left: 1em;
    border-bottom: 0.01em solid #dcdcdc;
}


tbody tr td button {
    background: none;
}

table {
    width: 100%;
}

#auto-create-pw {
    height: 1em;
}

#user-list_filter{
    padding-right: 3em;
}

table {
    background: white;
}