{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a class="btn btn-outline-primary btn-animated btn-xs"
       href="{% url "PaymentCreate" %}"
       data-bs-toggle="tooltip"
       data-bs-placement="top"
       title="{% trans 'Create Payment' %}"
       id="create_payment_button"
       data-bs-original-title="Add Payment">
            <span class="icon">
                <span class="feather-icon">
                    <i data-feather="plus"></i>
                </span>
                <span class="font-3 ml-1">
                    {% trans 'New' %}
                </span>
            </span>
    </a>
{% endblock %}
{% block pageContent %}
    <div id="section-advance-list">
        <table id="datatable_payment_list" class="table nowrap w-100 mb-5" data-method="GET"
               data-url="{% url 'PaymentListAPI' %}"
               data-url-detail="{% url 'PaymentDetail' '0' %}"
        >
            <thead>
            <th>{% trans "Code" %}</th>
            <th>{% trans "Name" %}
                <i class="fas fa-info-circle icon-info"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="{% trans 'Press row here to open detail page.' %}">
                </i>
            </th>
            <th>{% trans "Created date" %}</th>
            <th>{% trans "Payment value" %}</th>
            <th>{% trans "Status" %}</th>
            </thead>
        </table>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/payment/payment_list.js' %}"></script>
{% endblock %}
