{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Payment Config' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" id="save-payment-config">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <div class="row">
        <div class="col-12">
            <button id="btn-show-modal-add-employees" class="btn btn-soft-primary w-40" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-add-employees">
                <span>
                    <span>{% trans "Add employees that can select multi sale code in Payment document" %}</span>
                    <span class="icon">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                </span>
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <table id="table-selected-employees" class="table nowrap w-100"
                   data-url-redirect="{% url 'PaymentConfigList' %}"
                   data-url="{% url 'PaymentConfigListAPI' %}"
                   data-method="POST">
                <thead>
                <th>{% trans 'Employee code' %}</th>
                <th>{% trans 'Employee fullname' %}</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="offcanvas offcanvas-end mt-9 w-50" tabindex="-1" id="offcanvas-add-employees" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header row">
            <div class="col-9"><h5 id="offcanvasRightLabel">{% trans 'Select employees' %}</h5></div>
            <div class="col-2"><button id="btn-select-employees" type="button" class="btn btn-primary w-100" data-bs-dismiss="offcanvas">{% trans 'Select' %}</button></div>
            <div class="col-1 text-right"><button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button></div>
        </div>
        <div class="offcanvas-body">
            <div style="overflow: auto; height: 100vh">
                <table id="table-select-employees" class="table nowrap w-100"
                       data-method="GET"
                       data-url="{% url 'EmployeeListAPI' %}"
                >
                    <thead>
                    <th></th>
                    <th>{% trans 'Employee code' %}</th>
                    <th>{% trans 'Employee fullname' %}</th>
                    <th>
                        <span class="form-check">
                            <input type="checkbox" class="form-check-input" id="selected-all-employees">
                            <label class="form-check-label"></label>
                        </span>
                    </th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/payment/payment_config.js' %}"></script>
{% endblock %}
