{% extends 'base.html' %}
{% load static i18n %}
{% block cssHeader %}
    <link href="{% static 'assets/sales/quotation/css/quotation_create.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block pageAction %}
    {% include 'extends/systems/page_actions.html' with is_save=True is_save_draft=True save_frm='frm_quotation_create' %}
{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <ul class="nav nav-line nav-tabs nav-light justify-content-start quotation-tabs">
                <li class="nav-item quotation-tab-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_block_1">
                        <span class="nav-link-text">{% trans 'Quotation' %}</span>
                    </a>
                </li>
                <li class="nav-item quotation-tab-item" id="tab-indicator">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab_block_2">
                        <span class="nav-link-text">{% trans 'Indicator' %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <form
            data-url="{% url 'QuotationListAPI' %}"
            data-url-redirect="{% url 'QuotationList' %}"
            data-method="POST"
            id="frm_quotation_create"
            method="post"
    >
        {% csrf_token %}
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_block_1">
                <div class="container-fluid">
                    <div class="collapse multi-collapse show" id="collapseExample">
                        <div class="row">
                            {% trans 'Select Sale Person' as inherit_title %}
                            {% include 'extends/the-documents/bastion.html' with auto_select_current_employee=True show_warning=True priority_app='opp-prj-inherit' opp_title=opp_title has_opp=True has_inherit=True is_open=True inherit_title=inherit_title inherit_required=True %}
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label required" for="quotation-create-title">{% trans 'Title' %}</label>
                                    <input
                                            type="text" class="form-control"
                                            name="title"
                                            id="quotation-create-title"
                                            required
                                    >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label required" for="select-box-quotation-create-payment-term">{% trans 'Select Payment Terms' %}</label>
                                    <select
                                            class="form-select"
                                            id="select-box-quotation-create-payment-term"
                                            data-url="{% url "PaymentsTermsListAPI" %}"
                                            data-link-detail=""
                                            data-method="GET"
                                            name="payment_term"
                                            data-keyResp="payment_terms_list"
                                            required
                                    ></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label required" for="select-box-quotation-create-customer">{% trans 'Select Customer' %}</label>
                                    <select
                                            class="form-select"
                                            id="select-box-quotation-create-customer"
                                            data-url="{% url "AccountForSaleListAPI" %}"
                                            data-method="GET"
                                            data-link-detail="{% url "AccountDetail" 1 %}"
                                            name="customer"
                                            data-keyResp="account_sale_list"
                                            required
                                    ></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label required" for="quotation-create-date-created">{% trans 'Date Created' %}</label>
                                    <div class="input-group">
                                        <div class="input-affix-wrapper">
                                            <input
                                                type="text" class="form-control disabled-custom-show"
                                                placeholder="dd/mm/yyyy"
                                                name="date_created"
                                                id="quotation-create-date-created"
                                                disabled
                                                required
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-check mt-5">
                                    <input type="checkbox" class="form-check-input" id="quotation-customer-confirm" name="is_customer_confirm">
                                    <label class="form-check-label" for="quotation-customer-confirm">{% trans 'Customer Confirm' %}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label required" for="select-box-quotation-create-contact">{% trans 'Select Contact' %}</label>
                                    <select
                                        class="form-select"
                                        id="select-box-quotation-create-contact"
                                        data-url="{% url "ContactListAPI" %}"
                                        data-method="GET"
                                        data-link-detail="{% url 'ContactDetail' 1 %}"
                                        name="contact"
                                        data-keyResp="contact_list"
                                        required
                                    ></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="d-flex justify-content-start mt-5">
                                    <button
                                            type="button"
                                            class="btn btn-soft-primary"
                                            id="btn-copy-quotation"
                                            data-bs-toggle="modal"
                                            data-bs-target="#quotationModalCenter"
                                            data-copy-type="copy-from"
                                    >{% trans 'Copy Quotation' %}</button>
                                </div>
                                <div
                                        class="modal fade" id="quotationModalCenter" tabindex="-1"
                                        role="dialog" aria-labelledby="quotationModalCenter"
                                        aria-hidden="true"
                                >
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{% trans 'Select Quotation' %}</h5>
                                                <button
                                                        type="button" class="btn-close"
                                                        data-bs-dismiss="modal" aria-label="Close"
                                                >
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table
                                                        id="datable-copy-quotation"
                                                        class="table nowrap w-100 mb-5"
                                                >
                                                    <thead>
                                                    <tr>
                                                        <th class="w-10">#</th>
                                                        <th class="w-50">{% trans 'Title' %}</th>
                                                        <th class="w-40">{% trans 'Code' %}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                                <div class="form-check" id="copy-quotation-option" hidden>
                                                    <input type="checkbox" class="form-check-input check-option" id="customCheck1" checked>
                                                    <label class="form-check-label" for="customCheck1">{% trans 'Copy all from quotation' %}</label>
                                                </div>
                                                <table
                                                        id="datable-copy-quotation-product"
                                                        class="table nowrap w-100 mb-5"
                                                        hidden
                                                >
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th></th>
                                                        <th>{% trans 'Product' %}</th>
                                                        <th>{% trans 'Quantity' %}</th>
                                                        <th>{% trans 'Input' %}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button
                                                        type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal"
                                                >{% trans 'Close' %}</button>
                                                <button type="button" class="btn btn-primary" id="btn-select-quotation-copy">{% trans 'Select' %}</button>
                                                <button type="button" class="btn btn-primary" id="btn-quotation-copy-confirm" data-copy-type="copy-from" data-bs-dismiss="modal" hidden>{% trans 'Copy' %}</button>
                                                <input type="hidden" id="data-copy-quotation-detail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row collapse-arrow mt-2 mb-2">
                        <i
                            class="fas fa-angle-double-up"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseExample"
                            data-bs-placement="top"
                            aria-expanded="false"
                            aria-controls="collapseExample"
                            id="quotation-info-collapse"
                        ></i>
                    </div>
                    <div class="row">
                        <div class="row">
                            <ul class="nav nav-light nav-tabs" id="quotation-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_line_detail">
                                        <span class="nav-link-text">{% trans 'Line Detail' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_logistic">
                                        <span class="nav-link-text">{% trans 'Logistics' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item quotation-cost">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_cost">
                                        <span class="nav-link-text">{% trans 'Cost' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_expense">
                                        <span class="nav-link-text">{% trans 'Expense' %}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content" id="tab-content-quotation-product">
                            <div class="tab-pane fade show active" id="tab_line_detail">
                                <div class="row">
                                    <table
                                            id="datable-quotation-create-product"
                                            class="table nowrap w-100 mb-5"
                                    >
                                        <thead>
                                        <tr>
                                            <th class="w-5">#</th>
                                            <th class="w-10 required">{% trans 'Product' %}</th>
                                            <th class="w-10">{% trans 'Description' %}</th>
                                            <th class="w-5 required">{% trans 'Unit Of Measure' %}</th>
                                            <th class="w-10 required">{% trans 'Quantity' %}</th>
                                            <th class="w-30 required">{% trans 'Unit Price' %}</th>
                                            <th class="w-10">{% trans 'Discount' %}</th>
                                            <th class="w-5">{% trans 'Tax' %}</th>
                                            <th class="w-10">{% trans 'Subtotal Price' %}</th>
                                            <th class="w-5"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="2" class="align-text-top">
                                                <div class="row mb-5">
                                                    <button type="button" class="btn btn-outline-primary" id="btn-add-product-quotation-create">
                                                        <span><span>{% trans 'Add Product' %}</span><span class="icon"><i class="fa-solid fa-plus"></i></span></span>
                                                    </button>
                                                </div>
                                                <div class="row">
                                                    <button
                                                        type="button"
                                                        class="btn btn-primary"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#shippingFeeModalCenter"
                                                        id="btn-add-shipping"
                                                    >
                                                        <span>
                                                            <span>{% trans 'Add Shipping Fee' %}</span>
                                                            <span class="icon">
                                                                <i class="fas fa-shipping-fast"></i>
                                                            </span>
                                                        </span>
                                                    </button>
                                                    <div
                                                            class="modal fade" id="shippingFeeModalCenter" tabindex="-1"
                                                            role="dialog" aria-labelledby="shippingFeeModalCenter"
                                                            aria-hidden="true"
                                                    >
                                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">{% trans 'Shipping' %}</h5>
                                                                    <button
                                                                            type="button" class="btn-close"
                                                                            data-bs-dismiss="modal" aria-label="Close"
                                                                    >
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <table
                                                                            id="datable-quotation-create-shipping"
                                                                            class="table nowrap w-100 mb-5"
                                                                    >
                                                                        <thead>
                                                                        <tr>
                                                                            <th class="w-10">#</th>
                                                                            <th class="w-60">{% trans 'Title' %}</th>
                                                                            <th class="w-30">{% trans 'Actions' %}</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button
                                                                            type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal"
                                                                    >{% trans 'Close' %}</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th colspan="4"></th>
                                            <th colspan="4">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <p class="mb-3" style="text-align: right">{% trans 'Pretax Amount' %}:</p>
                                                    </div>
                                                    <div class="col-3"></div>
                                                    <div class="col-4">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-pretax-amount"></span></h6>
                                                        <input id="quotation-create-product-pretax-amount-raw" type="text" class="form-control" value="0" hidden>
                                                        <input type="hidden" id="quotation-final-revenue-before-tax">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <p class="mb-3" style="text-align: right">{% trans 'Discount' %}:</p>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="input-group">
                                                            <span class="input-affix-wrapper">
                                                                <input type="text" class="form-control validated-number" id="quotation-create-product-discount" value="0">
                                                                <span class="input-suffix"><i class="fas fa-percentage"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-discount-amount"></span></h6>
                                                        <input id="quotation-create-product-discount-amount-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <p class="mb-3" style="text-align: right">{% trans 'Taxes' %}:</p>
                                                    </div>
                                                    <div class="col-3"></div>
                                                    <div class="col-4">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-taxes"></span></h6>
                                                        <input id="quotation-create-product-taxes-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <hr class="bg-teal">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <p class="mb-3" style="text-align: right">{% trans 'Total' %}:</p>
                                                    </div>
                                                    <div class="col-3"></div>
                                                    <div class="col-4">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-total"></span></h6>
                                                        <input id="quotation-create-product-total-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5"></div>
                                                    <div class="col-7">
                                                        <button
                                                            type="button"
                                                            class="btn btn-primary"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#promotionModalCenter"
                                                            id="btn-check-promotion"
                                                        >
                                                            <span>
                                                                <span>{% trans 'Check available promotion' %}</span>
                                                                <span class="icon">
                                                                    <i class="fas fa-gift"></i>
                                                                </span>
                                                            </span>
                                                        </button>
                                                        <div
                                                                class="modal fade" id="promotionModalCenter" tabindex="-1"
                                                                role="dialog" aria-labelledby="promotionModalCenter"
                                                                aria-hidden="true"
                                                        >
                                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">{% trans 'Promotion' %}</h5>
                                                                        <button
                                                                                type="button" class="btn-close"
                                                                                data-bs-dismiss="modal" aria-label="Close"
                                                                        >
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <table
                                                                                id="datable-quotation-create-promotion"
                                                                                class="table nowrap w-100 mb-5"
                                                                        >
                                                                            <thead>
                                                                            <tr>
                                                                                <th class="w-10">#</th>
                                                                                <th class="w-60">{% trans 'Title' %}</th>
                                                                                <th class="w-30">{% trans 'Actions' %}</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button
                                                                                type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal"
                                                                        >{% trans 'Close' %}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_logistic">
                                <div class="row logistics-body">
                                    <div class="form-group">
                                        <label class="form-label">{% trans 'Shipping Address' %}
                                            <button type="button" class="btn btn-icon btn-rounded flush-soft-hover" data-bs-toggle="modal" data-bs-target="#shippingModalCenter"><span class="icon"><i class="fa-regular fa-pen-to-square"></i></span></button>
                                        </label>
                                        <textarea class="form-control" rows="3" cols="50" name="" id="quotation-create-shipping-address" disabled></textarea>
                                        <input type="hidden" id="quotation-create-customer-shipping">
                                    </div>
                                    <div
                                            class="modal fade" id="shippingModalCenter" tabindex="-1"
                                            role="dialog" aria-labelledby="shippingModalCenter"
                                            aria-hidden="true"
                                    >
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content" id="quotation-create-modal-shipping-body">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">{% trans 'Shipping Address' %}</h5>
                                                    <button
                                                            type="button" class="btn-close"
                                                            data-bs-dismiss="modal" aria-label="Close"
                                                    >
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body"></div>
                                                <div class="modal-footer">
                                                    <button
                                                            type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal"
                                                    >{% trans 'Close' %}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{% trans 'Billing Address' %}
                                            <button type="button" class="btn btn-icon btn-rounded flush-soft-hover" data-bs-toggle="modal" data-bs-target="#billingModalCenter"><span class="icon"><i class="fa-regular fa-pen-to-square"></i></span></button>
                                        </label>
                                        <textarea class="form-control" rows="3" cols="50" name="" id="quotation-create-billing-address" disabled></textarea>
                                        <input type="hidden" id="quotation-create-customer-billing">
                                    </div>
                                    <div
                                            class="modal fade" id="billingModalCenter" tabindex="-1"
                                            role="dialog" aria-labelledby="billingModalCenter"
                                            aria-hidden="true"
                                    >
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content" id="quotation-create-modal-billing-body">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">{% trans 'Billing Address' %}</h5>
                                                    <button
                                                            type="button" class="btn-close"
                                                            data-bs-dismiss="modal" aria-label="Close"
                                                    >
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body"></div>
                                                <div class="modal-footer">
                                                    <button
                                                            type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal"
                                                    >{% trans 'Close' %}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_cost">
                                <div class="row">
                                    <table
                                            id="datable-quotation-create-cost"
                                            class="table nowrap w-100 mb-5"
                                    >
                                        <thead>
                                        <tr>
                                            <th class="w-5">#</th>
                                            <th class="w-5">{% trans 'Product' %}</th>
                                            <th class="w-5">{% trans 'Unit Of Measure' %}</th>
                                            <th class="w-15">{% trans 'Quantity' %}</th>
                                            <th class="w-30 required">{% trans 'Cost Price' %}</th>
                                            <th class="w-5">{% trans 'Tax' %}</th>
                                            <th class="w-30">{% trans 'Subtotal Price' %}</th>
                                            <th class="w-5"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="5"></th>
                                            <th colspan="3">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p class="mb-3" style="text-align: right">{% trans 'Pretax Amount' %}:</p>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-cost-pretax-amount"></span></h6>
                                                        <input id="quotation-create-cost-pretax-amount-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p class="mb-3" style="text-align: right">{% trans 'Taxes' %}:</p>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-cost-taxes"></span></h6>
                                                        <input id="quotation-create-cost-taxes-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <hr class="bg-teal">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p class="mb-3" style="text-align: right">{% trans 'Total' %}:</p>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-cost-total"></span></h6>
                                                        <input id="quotation-create-cost-total-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_expense">
                                <div class="row">
                                    <table
                                            id="datable-quotation-create-expense"
                                            class="table nowrap w-100 mb-5"
                                    >
                                        <thead>
                                        <tr>
                                            <th class="w-5">#</th>
                                            <th class="w-15 required">{% trans 'Expense name' %}</th>
                                            <th class="w-15 required">{% trans 'Expense items' %}</th>
                                            <th class="w-5 required">{% trans 'Unit Of Measure' %}</th>
                                            <th class="w-10 required">{% trans 'Quantity' %}</th>
                                            <th class="w-30 required">{% trans 'Expense Price' %}</th>
                                            <th class="w-5">{% trans 'Tax' %}</th>
                                            <th class="w-10">{% trans 'Subtotal Price' %}</th>
                                            <th class="w-5"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="2" class="align-text-top">
                                                <div class="row mb-2">
                                                    <button type="button" class="btn btn-outline-primary" id="btn-add-expense-quotation-create">
                                                        <span><span>{% trans 'Add Expense' %}</span><span class="icon"><i class="fa-solid fa-plus"></i></span></span>
                                                    </button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" class="btn btn-outline-primary" id="btn-add-labor-quotation-create">
                                                        <span><span>{% trans 'Add Labor' %}</span><span class="icon"><i class="fa-solid fa-plus"></i></span></span>
                                                    </button>
                                                </div>
                                            </th>
                                            <th colspan="4"></th>
                                            <th colspan="3">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p class="mb-3" style="text-align: right">{% trans 'Pretax Amount' %}:</p>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-expense-pretax-amount"></span></h6>
                                                        <input id="quotation-create-expense-pretax-amount-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p class="mb-3" style="text-align: right">{% trans 'Taxes' %}:</p>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-expense-taxes"></span></h6>
                                                        <input id="quotation-create-expense-taxes-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                                <hr class="bg-teal">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p class="mb-3" style="text-align: right">{% trans 'Total' %}:</p>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-5">
                                                        <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-expense-total"></span></h6>
                                                        <input id="quotation-create-expense-total-raw" type="text" class="form-control" value="0" hidden>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <input
                                type="hidden"
                                id="data-init-quotation-create-tables-product"
                                data-url="{% url "ProductForSaleListAPI" %}"
                                data-link-detail="{% url "ProductDetail" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-tables-expense"
                                data-url="{% url "ExpenseListAPI" %}"
                                data-link-detail="{% url "ExpenseDetail" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-tables-expense-item"
                                data-url="{% url "ExpenseItemListAPI" %}"
                                data-link-detail="{% url "ExpenseItemDetailAPI" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-tables-uom"
                                data-url="{% url "UnitOfMeasureListAPI" %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-tables-tax"
                                data-url="{% url "TaxListAPI" %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-request-employee"
                                value="{{ data.data.employee_current }}"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-company-currency-config"
                        >
                        <input
                                type="hidden"
                                id="data-quotation"
                                value="[]"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-promotion"
                                data-url="{% url "PromotionCheckListAPI" %}"
                                data-link-detail="{% url "PromotionDetail" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-quotation-create-shipping"
                                data-url="{% url "ShippingCheckListAPI" %}"
                                data-link-detail="{% url "ShippingDetail" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-copy-quotation"
                                data-url="{% url "QuotationListAPI" %}"
                                data-url-detail="{% url "QuotationDetailAPI" 1 %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="data-init-opportunity"
                                value="{{ data.data.opportunity }}"
                        >
                        <input
                                type="hidden"
                                id="customer-price-list"
                        >
                        <input
                                type="hidden"
                                id="quotation-config-data"
                                class="quotation-config"
                                data-url="{% url "QuotationConfigDetailAPI" %}"
                                data-method="GET"
                        >
                        <input
                                type="hidden"
                                id="quotation-check-promotion"
                        >
                        <input
                                type="hidden"
                                id="quotation-copy-discount-on-total"
                        >
                    </div>
                </div>


                <button type="button" class="btn btn-primary" id="btn-invalid-promotion" data-bs-toggle="modal" data-bs-target="#invalidPromotionModalCenter" hidden>
                    Vertically centered modal
                </button>
                <div class="modal fade" id="invalidPromotionModalCenter" tabindex="-1" role="dialog" aria-labelledby="invalidPromotionModalCenter" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body modal-body-invalid-promotion mb-2">
                                <h6 class="mb-3">{% trans 'Apply Promotion Fail.' %}</h6>
                                <p>{% trans 'Document is unqualified for promotion applied. Remove promotion or select another available promotion.' %}</p>
                            </div>
                            <div class="row modal-footer-invalid-promotion">
                                <div class="col-6">
                                    <button type="button" class="btn btn-link btn-remove-promotion" data-bs-dismiss="modal" id="btn-remove-promotion">{% trans 'Remove Promotion.' %}</button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-link btn-see-promotion" data-bs-dismiss="modal" id="btn-check-another-promotion">{% trans 'See Promotion' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="tab_block_2">
                <div class="row">
                    <div class="row mb-1">
                        <div class="col-2">
                            <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    id="btn-refresh-quotation-indicator"
                            >
                            <span><span>{% trans 'Refresh data' %}</span><span class="icon"><span class="feather-icon"><i class="fas fa-sync-alt"></i></span></span></span>
                            </button>
                        </div>
                        <div class="col-10"></div>
                    </div>
                    <table
                            id="datable-quotation-create-indicator"
                            class="table nowrap w-100 mb-5"
                    >
                        <thead>
                        <tr>
                            <th class="w-10">#</th>
                            <th class="w-40">{% trans 'Indicator name' %}</th>
                            <th class="w-30">{% trans 'Indicator value' %}</th>
                            <th class="w-20">{% trans 'Indicator rate' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <input
                        type="hidden"
                        id="quotation-indicator-data"
                        data-url="{% url 'QuotationIndicatorListAPI' %}"
                        data-method="get"
                >
            </div>
        </div>
        <input
            type="hidden"
            id="app-trans-factory"
            data-check-if-shipping-address="{% trans 'Please select shipping address' %}"
            data-select-address="{% trans 'Select this address' %}"
            data-view-detail-info="{% trans 'View detail' %}"
            data-btn-close="{% trans 'Close' %}"
            data-more-information="{% trans 'More information' %}"
            data-apply="{% trans 'Apply' %}"
            data-refreshed="{% trans 'Data is refreshed.' %}"
            data-valid="{% trans "Valid" %}"
        >
    </form>
{% endblock %}


{% block jsFooter %}
    <!-- Select2 -->
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>

    <!-- Daterangepicker JS -->

    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'assets/sales/quotation/js/quotation_promote_shipping.js' %}"></script>
    <script src="{% static 'assets/sales/quotation/js/quotation_common.js' %}"></script>
    <script src="{% static 'assets/sales/quotation/js/quotation_create.js' %}"></script>
    <script src="{% static 'assets/sales/quotation/js/quotation_indicator.js' %}"></script>

    <script src="{% static 'assets/js/extends/the-documents/auto-init.js' %}"></script>
{% endblock %}