{% load i18n %}

<div
        class="modal fade" id="quotationModalCenter" tabindex="-1"
        role="dialog" aria-labelledby="quotationModalCenter"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Select Quotation' %}</h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="form-check form-check-lg" id="copy-quotation-option">
                    <input type="checkbox" class="form-check-input check-option" id="customCheck1" checked>
                    <label class="form-check-label" for="customCheck1">{% trans 'Copy all from quotation' %}</label>
                </div>
                <table
                        id="datable-copy-quotation-product"
                        class="table nowrap w-100 mb-5"
                        hidden
                >
                    <thead>
                    <tr class="bg-light">
                        <th>#</th>
                        <th>{% trans 'Product' %}</th>
                        <th>{% trans 'Quantity' %}</th>
                        <th>{% trans 'Input' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button
                        type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal"
                >{% trans 'Close' %}</button>
                <a target="_blank" class="link-primary underline_hover" id="link-to-sale-order-create" data-url="{% url "SaleOrderCreate" %}" hidden></a>
                <button type="button" class="btn btn-primary" id="btn-quotation-copy-confirm" data-copy-type="copy-to" data-bs-dismiss="modal">{% trans 'Copy' %}</button>
                <input type="text" id="data-copy-quotation-detail" hidden>
            </div>
        </div>
    </div>
</div>
