{% load i18n %}

<div class="offcanvas offcanvas-end w-60" tabindex="-1" id="filterCanvas" aria-labelledby="offcanvasTopLabel">
    <div class="modal-header">
        <h5><b>{% trans 'Filter' %}</b></h5>
        <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="offcanvas"><span class="icon"><i class="far fa-window-close"></i></span></button>
    </div>
    <div class="offcanvas-body">
        <b>{% trans 'Common information' %}</b>
        <div class="row">
            <div class="form-group">
                <label class="form-label" for="employee_dd">{% trans 'Employee' %}</label>
                <select
                        class="form-select"
                        id="employee_dd"
                        data-url="{% url "EmployeeListAPI" %}"
                        data-method="GET"
                        name="employee"
                        data-keyResp="employee_list"
                        data-keyText="full_name"
                        multiple
                ></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="form-label" for="customer_dd">{% trans 'Customer' %}</label>
                <select
                        class="form-select"
                        id="customer_dd"
                        data-url="{% url "AccountDDListAPI" %}"
                        data-method="GET"
                        data-keyResp="account_dd_list"
                        data-keyText="name"
                        multiple
                ></select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label" for="operator">{% trans 'operator' %}</label>
                    <select
                            class="form-select"
                            id="operator"
                    ></select>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label class="form-label" for="total">{% trans 'Quotation value' %}</label>
                    <input
                        type="text"
                        class="form-control mask-money valid-num"
                        id="total"
                        value="0"
                        data-return-type="number"
                    >
                </div>
            </div>
        </div>
        <b>{% trans 'Date approved' %}</b>
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label" for="date_from">{% trans 'From' %}</label>
                    <div class="input-affix-wrapper">
                        <input type="text" name="date_from" id="date_from"
                               class="form-control date-picker" autocomplete="off">
                        <div class="input-suffix">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label" for="date_to">{% trans 'To' %}</label>
                    <div class="input-affix-wrapper">
                        <input type="text" name="date_from" id="date_to"
                               class="form-control date-picker" autocomplete="off">
                        <div class="input-suffix">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-2" data-bs-dismiss="offcanvas">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-primary" id="btn-apply-filter" data-bs-dismiss="offcanvas">{% trans 'Apply' %}</button>
    </div>
</div>