{#{% extends 'base.html' %}#}
{#{% load static i18n %}#}
{#{% block cssHeader %}#}
{#    <link href="{% static 'assets/sales/quotation/css/quotation_create.css' %}" rel="stylesheet" type="text/css"/>#}
{#    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">#}
{#{% endblock %}#}
{#{% block pageAction %}#}
{#    <a href="{% url 'QuotationUpdate' data.data.doc_id %}">#}
{#        <button class="btn btn-outline-primary">#}
{#            <span>#}
{#                <span>{% trans 'Edit' %}</span>#}
{#                <span class="icon">#}
{#                    <i class="fa-regular fa-pen-to-square"></i>#}
{#                </span>#}
{#            </span>#}
{#        </button>#}
{#    </a>#}
{#{% endblock %}#}
{##}
{#{% block pageContent %}#}
{#    <form#}
{#            data-url="{% url 'QuotationDetailAPI' data.data.doc_id %}"#}
{#            data-url-redirect="{% url 'QuotationList' %}"#}
{#            data-method="GET"#}
{#            id="frm_quotation_create"#}
{#            method="post"#}
{#    >#}
{#        {% csrf_token %}#}
{#        <textarea id="quotation-tinymce">...</textarea>#}
{#        <input#}
{#                type="hidden"#}
{#                id="quotation-detail-data"#}
{#        >#}
{##}
{##}
{##}
{##}
{##}
{##}
{#        <table#}
{#                id="datable-quotation-create-product"#}
{#                class="table nowrap w-100 mb-5"#}
{#        >#}
{#            <thead>#}
{#            <tr>#}
{#                <th>STT</th>#}
{#                <th>{% trans 'Product' %}<span class="required"></span></th>#}
{#                <th>{% trans 'Description' %}</th>#}
{#                <th>{% trans 'Unit Of Measure' %}<span class="required"></span></th>#}
{#                <th>{% trans 'Quantity' %}<span class="required"></span></th>#}
{#                <th>{% trans 'Unit Price' %}<span class="required"></span></th>#}
{#                <th>{% trans 'Discount' %}</th>#}
{#                <th>{% trans 'Tax' %}</th>#}
{#                <th>{% trans 'Subtotal Price' %}</th>#}
{#                <th>{% trans 'Actions' %}</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            </tbody>#}
{#            <tfoot>#}
{#            <tr>#}
{#                <th>#}
{#                    <button type="button" class="btn btn-link btn-animated" id="btn-add-product-quotation-create">#}
{#                        <span><span class="icon"><span class="feather-icon"><i class="fa-regular fa-square-plus"></i></span></span><span>{% trans 'Add Product' %}</span></span>#}
{#                    </button>#}
{#                </th>#}
{#                <th colspan="6">#}
{#                    <p class="mb-2" style="text-align: right">{% trans 'Pretax Amount' %}:</p>#}
{##}
{#                    <p class="mb-2" style="text-align: right">{% trans 'Discount' %}:</p>#}
{##}
{#                    <p class="mb-2" style="text-align:right">{% trans 'Taxes' %}:</p>#}
{##}
{#                    <hr style="text-align:right">#}
{#                    <p class="mb-2" style="text-align:right">{% trans 'Total' %}:</p>#}
{#                </th>#}
{#                <th></th>#}
{#                <th>#}
{#                    <p class="mb-2"><b><i><span class="mask-money" data-init-money="0" id="quotation-create-product-pretax-amount"></span></i></b></p>#}
{#                    <input id="quotation-create-product-pretax-amount-raw" type="text" class="form-control" value="0" hidden>#}
{#                    <input type="hidden" id="quotation-final-revenue-before-tax">#}
{##}
{#                    <p class="mb-2"><b><i><span class="mask-money" data-init-money="0" id="quotation-create-product-discount-amount"></span></i></b></p>#}
{#                    <input id="quotation-create-product-discount-amount-raw" type="text" class="form-control" value="0" hidden>#}
{#                </th>#}
{#                <th></th>#}
{#            </tr>#}
{#            <tr>#}
{#                <th colspan="7"><p style="text-align:right">{% trans 'Discount' %}:</p></th>#}
{#                <th><input type="text" class="form-control validated-number" id="quotation-create-product-discount" value="0" disabled></th>#}
{#                <th>#}
{#                    <b><i><span class="mask-money" data-init-money="0" id="quotation-create-product-discount-amount"></span></i></b>#}
{#                    <input id="quotation-create-product-discount-amount-raw" type="text" class="form-control" value="0" hidden>#}
{#                </th>#}
{#                <th></th>#}
{#            </tr>#}
{#            <tr>#}
{#                <th colspan="7"><p style="text-align:right">{% trans 'Taxes' %}:</p></th>#}
{#                <th></th>#}
{#                <th>#}
{#                    <b><i><span class="mask-money" data-init-money="0" id="quotation-create-product-taxes"></span></i></b>#}
{#                    <input id="quotation-create-product-taxes-raw" type="text" class="form-control" value="0" hidden>#}
{#                </th>#}
{#                <th></th>#}
{#            </tr>#}
{#            <tr>#}
{#                <th colspan="7"><p style="text-align:right">{% trans 'Total' %}:</p></th>#}
{#                <th></th>#}
{#                <th>#}
{#                    <b><i><span class="mask-money" data-init-money="0" id="quotation-create-product-total"></span></i></b>#}
{#                    <input id="quotation-create-product-total-raw" type="text" class="form-control" value="0" hidden>#}
{#                </th>#}
{#                <th></th>#}
{#            </tr>#}
{#            </tfoot>#}
{#        </table>#}
{##}
{##}
{#        <th colspan="2" class="align-text-top">#}
{#            <div class="row mb-3 align-text-left">#}
{#                <button type="button" class="btn btn-link btn-animated" id="btn-add-product-quotation-create">#}
{#                    <span><span class="icon"><span class="feather-icon"><i class="fa-regular fa-square-plus"></i></span></span><span>{% trans 'Add Product' %}</span></span>#}
{#                </button>#}
{#            </div>#}
{#            <div class="row">#}
{#                <button#}
{#                    type="button"#}
{#                    class="btn btn-success btn-animated bg-green-light-5"#}
{#                    data-bs-toggle="modal"#}
{#                    data-bs-target="#shippingFeeModalCenter"#}
{#                    id="btn-add-shipping"#}
{#                >#}
{#                    <span class="text-teal">#}
{#                        <span class="icon">#}
{#                            <i class="fas fa-shipping-fast"></i>#}
{#                        </span>#}
{#                        <span>{% trans 'Add Shipping Fee' %}</span>#}
{#                    </span>#}
{#                </button>#}
{#                <div#}
{#                        class="modal fade" id="shippingFeeModalCenter" tabindex="-1"#}
{#                        role="dialog" aria-labelledby="shippingFeeModalCenter"#}
{#                        aria-hidden="true"#}
{#                >#}
{#                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">#}
{#                        <div class="modal-content">#}
{#                            <div class="modal-header">#}
{#                                <h5 class="modal-title">{% trans 'Shipping' %}</h5>#}
{#                                <button#}
{#                                        type="button" class="btn-close"#}
{#                                        data-bs-dismiss="modal" aria-label="Close"#}
{#                                >#}
{#                                    <span aria-hidden="true">&times;</span>#}
{#                                </button>#}
{#                            </div>#}
{#                            <div class="modal-body">#}
{#                                <table#}
{#                                        id="datable-quotation-create-shipping"#}
{#                                        class="table nowrap w-100 mb-5"#}
{#                                >#}
{#                                    <thead>#}
{#                                    <tr>#}
{#                                        <th>STT</th>#}
{#                                        <th>{% trans 'Title' %}</th>#}
{#                                        <th>{% trans 'Actions' %}</th>#}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                            <div class="modal-footer">#}
{#                                <button#}
{#                                        type="button" class="btn btn-secondary"#}
{#                                        data-bs-dismiss="modal"#}
{#                                >{% trans 'Close' %}</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </th>#}
{#        <th colspan="5" class="align-text-top">#}
{#            <div class="row mt-2">#}
{#                <h6 class="mb-3" style="text-align: right">{% trans 'Pretax Amount' %}:</h6>#}
{#                <h6 class="mb-3" style="text-align: right">{% trans 'Discount' %}:</h6>#}
{#                <h6 class="mb-3" style="text-align: right">{% trans 'Taxes' %}:</h6>#}
{#                <h6 class="mb-3" style="text-align: right">{% trans 'Total' %}:</h6>#}
{##}
{#            </div>#}
{#        </th>#}
{#        <th colspan="1">#}
{#            <div class="row">#}
{#                <div class="input-group">#}
{#                    <span class="input-affix-wrapper">#}
{#                        <input type="text" class="form-control validated-number" id="quotation-create-product-discount" value="0" disabled>#}
{#                        <span class="input-suffix">%</span>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
{#        </th>#}
{#        <th colspan="2">#}
{#            <div class="row">#}
{#                <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-pretax-amount"></span></h6>#}
{#                <input id="quotation-create-product-pretax-amount-raw" type="text" class="form-control" value="0" hidden>#}
{#                <input type="hidden" id="quotation-final-revenue-before-tax">#}
{#                <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-discount-amount"></span></h6>#}
{#                <input id="quotation-create-product-discount-amount-raw" type="text" class="form-control" value="0" hidden>#}
{#                <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-taxes"></span></h6>#}
{#                <input id="quotation-create-product-taxes-raw" type="text" class="form-control" value="0" hidden>#}
{#                <h6 class="mb-3"><span class="mask-money" data-init-money="0" id="quotation-create-product-total"></span></h6>#}
{#                <input id="quotation-create-product-total-raw" type="text" class="form-control" value="0" hidden>#}
{#            </div>#}
{#            <div class="row">#}
{#                <button#}
{#                    type="button"#}
{#                    class="btn btn-warning btn-animated bg-yellow-light-5"#}
{#                    data-bs-toggle="modal"#}
{#                    data-bs-target="#promotionModalCenter"#}
{#                    id="btn-check-promotion"#}
{#                >#}
{#                    <span class="text-brown">#}
{#                        <span class="icon">#}
{#                            <i class="fas fa-gift"></i>#}
{#                        </span>#}
{#                        <span>{% trans 'Check available promotion' %}</span>#}
{#                    </span>#}
{#                </button>#}
{#                <div#}
{#                        class="modal fade" id="promotionModalCenter" tabindex="-1"#}
{#                        role="dialog" aria-labelledby="promotionModalCenter"#}
{#                        aria-hidden="true"#}
{#                >#}
{#                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">#}
{#                        <div class="modal-content">#}
{#                            <div class="modal-header">#}
{#                                <h5 class="modal-title">{% trans 'Promotion' %}</h5>#}
{#                                <button#}
{#                                        type="button" class="btn-close"#}
{#                                        data-bs-dismiss="modal" aria-label="Close"#}
{#                                >#}
{#                                    <span aria-hidden="true">&times;</span>#}
{#                                </button>#}
{#                            </div>#}
{#                            <div class="modal-body">#}
{#                                <table#}
{#                                        id="datable-quotation-create-promotion"#}
{#                                        class="table nowrap w-100 mb-5"#}
{#                                >#}
{#                                    <thead>#}
{#                                    <tr>#}
{#                                        <th>STT</th>#}
{#                                        <th>{% trans 'Title' %}</th>#}
{#                                        <th>{% trans 'Actions' %}</th>#}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                            <div class="modal-footer">#}
{#                                <button#}
{#                                        type="button" class="btn btn-secondary"#}
{#                                        data-bs-dismiss="modal"#}
{#                                >{% trans 'Close' %}#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </th>#}
{##}
{#    </form>#}
{#{% endblock %}#}
{##}
{##}
{#{% block jsFooter %}#}
{#    <!-- Select2 -->#}
{#    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>#}
{##}
{#    <!-- Daterangepicker JS -->#}
{#    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>#}
{#    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>#}
{##}
{#    <script src="{% static 'vendors/tinymce/tinymce.min.js' %}"></script>#}
{##}
{#    <script src="{% static 'assets/sales/quotation/js/quotation_print.js' %}"></script>#}
{#{% endblock %}#}