{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Equipment return' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="form-detail-equipment-return">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <script id="script-url"
            data-url-warehouse-list-by-product="{% url 'ELWarehouseListByProductAPI' %}?interact=1"
            data-url-lot-list-by-warehouse="{% url 'ELProductLotListAPI' %}"
            data-url-serial-list-by-warehouse="{% url 'ELProductSerialListAPI' %}"
    ></script>
    <script id="trans-url"
    ></script>
    <form id="form-detail-equipment-return"
        data-method="PUT"
        data-url-redirect="{% url "EquipmentReturnDetail" pk=pk %}"
        data-url="{% url 'EquipmentReturnDetailAPI' pk=pk %}"
    >
        {% csrf_token %}
        {% include 'equipmentreturn/common/information.html' %}
    </form>
{% endblock %}
{% block modalData %}
    {% include 'equipmentreturn/common/modals.html' %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/haind-common-js.js' %}"></script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static "assets/js/equipmentreturn/equipment_return_common.js" %}"></script>
    <script src="{% static "assets/js/equipmentreturn/equipment_return_update.js" %}"></script>
{% endblock %}
