{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Equipment return' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url 'EquipmentReturnUpdate' pk=pk %}">
        <button class="btn btn-outline-primary" id="btn-enable-edit">
            <span>
                <span>{% trans 'Edit' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <script id="script-url"
            data-url-warehouse-list="{% url 'WareHouseListAPI' %}?interact=1&is_not_virtual=1"
    ></script>
    <script id="trans-url"
    ></script>
    <form id="form-detail-equipment-return"
        data-method="PUT"
        data-url-redirect="{% url "EquipmentReturnDetail" pk=pk %}"
        data-url="{% url 'EquipmentReturnDetailAPI' pk=pk %}"
    >
        {% csrf_token %}
        {% include 'equipmentreturn/common/information.html' %}
    </form>
{% endblock %}
{% block modalData %}
    {% include 'equipmentreturn/common/modals.html' %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/haind-common-js.js' %}"></script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static "assets/js/equipmentreturn/equipment_return_common.js" %}"></script>
    <script src="{% static "assets/js/equipmentreturn/equipment_return_detail.js" %}"></script>
{% endblock %}
