{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Equipment return' %}{% endblock %}
{% block cssHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" />
    <style>
        table .select2-selection__rendered {
            max-width: 250px;
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="form-create-equipment-return">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <script id="script-url"
            data-url-warehouse-list="{% url 'WareHouseListAPI' %}?interact=1&is_not_virtual=1"
    ></script>
    <script id="trans-url"
    ></script>
    <form id="form-create-equipment-return"
          data-method="POST"
          data-url="{% url 'EquipmentReturnListAPI' %}"
          data-url-redirect="{% url "EquipmentReturnList" %}"
    >
        {% csrf_token %}
        {% include 'equipmentreturn/common/information.html' %}
    </form>
{% endblock %}
{% block modalData %}
    {% include 'equipmentreturn/common/modals.html' %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/js/haind-common-js.js' %}"></script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static "assets/js/equipmentreturn/equipment_return_common.js" %}"></script>
    <script src="{% static "assets/js/equipmentreturn/equipment_return_create.js" %}"></script>
{% endblock %}
