{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Payment plan' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendors/flatpickr/themes/airbnb.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pageAction %}{% endblock %}

{% block pageContent %}
    {% csrf_token %}

    <div class="row">
        <div class="d-flex justify-content-start">
            <ul class="nav nav-line nav-tabs nav-light">
                <li class="nav-item" id="nav-item-list">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_block_1">
                        <span class="nav-icon-wrap mr-1"><i class="fas fa-list"></i></span>
                        <span class="nav-link-text">{% trans 'View list' %}</span>
                    </a>
                </li>
                <li class="nav-item" id="nav-item-detail-of-month">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab_block_2">
                        <span class="nav-icon-wrap mr-1"><i class="fas fa-ellipsis-h"></i></span>
                        <span class="nav-link-text">{% trans 'View detail of month' %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab_block_1">
            <table class="table nowrap w-100 min-w-1366p" id="table_list">
                <thead>
                    <tr class="bg-light">
                        <th>{% trans 'Document' %}</th>
                        <th>{% trans 'Partner' %}</th>
                        <th>{% trans 'Installment' %}</th>
                        <th>{% trans 'Invoice' %}</th>
                        <th>{% trans 'Status' %}</th>
                        <th>{% trans 'Due date' %}</th>
                        <th>{% trans 'Balance due' %}</th>
                        <th>{% trans 'Due date' %}</th>
                        <th>{% trans 'Total' %}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade show" id="tab_block_2">
            <div id="dtb-area"></div>
        </div>
    </div>



    <div class="modal-canvas-area">

        <div class="offcanvas offcanvas-end w-60" tabindex="-1" id="filterListCanvas" aria-labelledby="offcanvasTopLabel">
            <div class="modal-header">
                <h5><b>{% trans 'Filter' %}</b></h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="offcanvas"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="offcanvas-body">
                <b>{% trans 'Common information' %}</b>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="box-customer-1">{% trans 'Customer' %}</label>
                            <select
                                    class="form-select"
                                    id="box-customer-1"
                                    data-url="{% url "AccountDDListAPI" %}"
                                    data-method="GET"
                                    data-keyResp="account_dd_list"
                                    data-keyText="name"
                                    multiple
                            ></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="box-so-1">{% trans 'Sale order' %}</label>
                            <select
                                    class="form-select"
                                    id="box-so-1"
                                    data-url="{% url "SaleOrderDDListAPI" %}"
                                    data-method="GET"
                                    data-keyResp="sale_order_dd_list"
                                    multiple
                            ></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="box-supplier-1">{% trans 'Supplier' %}</label>
                            <select
                                    class="form-select"
                                    id="box-supplier-1"
                                    data-url="{% url "AccountDDListAPI" %}"
                                    data-method="GET"
                                    data-keyResp="account_dd_list"
                                    data-keyText="name"
                                    multiple
                            ></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="box-po-1">{% trans 'Purchase order' %}</label>
                            <select
                                    class="form-select"
                                    id="box-po-1"
                                    data-url="{% url "PurchaseOrderDDListAPI" %}"
                                    data-method="GET"
                                    data-keyResp="purchase_order_dd_list"
                                    multiple
                            ></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2 col-lg-2">
                        <div class="form-check form-check-lg d-flex align-items-center">
                            <input type="checkbox" name="checkbox_not_paid_list" class="form-check-input" id="checkbox-not-paid-1">
                            <label class="form-check-label" for="checkbox-not-paid-1">{% trans 'Not paid' %}</label>
                        </div>
                    </div>
                </div>
                <b>{% trans 'Payment time' %}</b>
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="form-label" for="date-from">{% trans 'From' %}</label>
                            <div class="input-affix-wrapper">
                                <input type="text" name="date_from" id="date-from-1"
                                       class="form-control flat-picker" autocomplete="off">
                                <div class="input-suffix">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="form-label" for="date-to">{% trans 'To' %}</label>
                            <div class="input-affix-wrapper">
                                <input type="text" name="date_from" id="date-to-1"
                                       class="form-control flat-picker" autocomplete="off">
                                <div class="input-suffix">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-2" data-bs-dismiss="offcanvas">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-apply-filter-list" data-bs-dismiss="offcanvas">{% trans 'Apply' %}</button>
            </div>
        </div>


        <div class="offcanvas offcanvas-end w-60" tabindex="-1" id="filterCanvas" aria-labelledby="offcanvasTopLabel">
            <div class="modal-header">
                <h5><b>{% trans 'Filter' %}</b></h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="offcanvas"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="offcanvas-body">
                <b>{% trans 'Common information' %}</b>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="box-customer">{% trans 'Customer' %}</label>
                            <select
                                    class="form-select"
                                    id="box-customer"
                                    data-url="{% url "AccountDDListAPI" %}"
                                    data-method="GET"
                                    data-keyResp="account_dd_list"
                                    data-keyText="name"
                                    multiple
                            ></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="box-so">{% trans 'Sale order' %}</label>
                            <select
                                    class="form-select"
                                    id="box-so"
                                    data-url="{% url "SaleOrderDDListAPI" %}"
                                    data-method="GET"
                                    data-keyResp="sale_order_dd_list"
                                    multiple
                            ></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="box-supplier">{% trans 'Supplier' %}</label>
                            <select
                                    class="form-select"
                                    id="box-supplier"
                                    data-url="{% url "AccountDDListAPI" %}"
                                    data-method="GET"
                                    data-keyResp="account_dd_list"
                                    data-keyText="name"
                                    multiple
                            ></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="box-po">{% trans 'Purchase order' %}</label>
                            <select
                                    class="form-select"
                                    id="box-po"
                                    data-url="{% url "PurchaseOrderDDListAPI" %}"
                                    data-method="GET"
                                    data-keyResp="purchase_order_dd_list"
                                    multiple
                            ></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2 col-lg-2">
                        <div class="form-check form-check-lg d-flex align-items-center">
                            <input type="checkbox" name="checkbox_not_paid_detail" class="form-check-input" id="checkbox-not-paid">
                            <label class="form-check-label" for="checkbox-not-paid">{% trans 'Not paid' %}</label>
                        </div>
                    </div>
                </div>
                <b>{% trans 'Payment time' %}</b>
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="form-label" for="box-month">{% trans 'Month' %}</label>
                            <select
                                    class="form-select area-period-element"
                                    id="box-month"
                                    data-url=""
                                    data-method="GET"
                                    name="month"
                            ></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label class="form-label" for="date-from">{% trans 'From' %}</label>
                            <div class="input-affix-wrapper">
                                <input type="text" name="date_from" id="date-from"
                                       class="form-control flat-picker-in-month" autocomplete="off">
                                <div class="input-suffix">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label class="form-label" for="date-to">{% trans 'To' %}</label>
                            <div class="input-affix-wrapper">
                                <input type="text" name="date_from" id="date-to"
                                       class="form-control flat-picker-in-month" autocomplete="off">
                                <div class="input-suffix">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-2" data-bs-dismiss="offcanvas">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="btn-apply-filter" data-bs-dismiss="offcanvas">{% trans 'Apply' %}</button>
            </div>
        </div>

    </div>

{% endblock %}
{% block dataHiddenGroup %}
    <input
        type="text"
        id="app-trans-factory"
        data-day="{% trans 'Day' %}"
        data-day-left="{% trans 'Day left' %}"
        data-day-previous="{% trans 'Day previous' %}"
        data-week="{% trans 'Week' %}"
        data-month="{% trans 'Month' %}"
        data-filter="{% trans 'Filter' %}"
        data-document="{% trans 'Document' %}"
        data-partner="{% trans 'Partner' %}"
        data-installment="{% trans 'Installment' %}"
        data-invoice="{% trans 'Invoice' %}"
        data-status="{% trans 'Status' %}"
        data-due-date="{% trans 'Due date' %}"
        data-balance-due="{% trans 'Balance due' %}"
        data-paid="{% trans 'Paid' %}"
        data-not-paid="{% trans 'Not paid' %}"
        data-over-due="{% trans 'Over due' %}"
        data-partially-paid="{% trans 'Partially paid' %}"
        data-expected-invoice-date="{% trans 'Expected invoice date' %}"
        data-actual-invoice-date="{% trans 'Actual invoice date' %}"
        data-total-cash-in="{% trans 'Total cash in' %}"
        data-total-cash-out="{% trans 'Total cash out' %}"
        data-create-cash-in="{% trans 'Create cash in' %}"
        data-create-cash-out="{% trans 'Create cash out' %}"
    >
    <input
        type="text"
        id="app-url-factory"
        data-fiscal-year="{% url "PeriodsConfigListAPI" %}"
        data-payment-plan="{% url 'PaymentPlanListAPI' %}"
        data-so-detail="{% url 'SaleOrderDetail' 1 %}"
        data-lo-detail="{% url 'LeaseOrderDetail' 1 %}"
        data-po-detail="{% url 'PurchaseOrderDetail' 1 %}"
        data-account-detail="{% url 'AccountDetail' 1 %}"
        data-ar-invoice-detail="{% url 'ARInvoiceDetail' 1 %}"
        data-ap-invoice-detail="{% url 'APInvoiceDetail' 1 %}"

        data-cash-in-create="{% url 'CashInflowCreate' %}"
        data-cash-out-create="{% url 'CashOutflowCreate' %}"
    >

    <input
            type="text"
            id="data-fiscal-year"
    >
    <input
            type="text"
            id="data-store-year"
    >
    <input
            type="text"
            id="data-store-month"
    >
    {{ data.filter_month|json_script:'filter_month' }}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/init-select2.js' %}"></script>
    <script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>
    {% if base.language == 'vi' %}
        <script src="{% static 'vendors/flatpickr/i18n/vn.js' %}"></script>
    {% endif %}

    <script src="{% static 'assets/sales/paymentplan/js/payment_plan.js' %}"></script>
{% endblock %}
