{% extends 'base.html' %}
{% load i18n static %}

{% block cssHeader %}
    <link rel="stylesheet" href="{% static 'process/stages.css' %}">
    <link rel="stylesheet" href="{% static 'process/themes.css' %}">
    <link rel="stylesheet" href="{% static 'process/style.css' %}">
    <link rel="stylesheet" href="{% static 'process/runtime/detail.css' %}">
{% endblock %}

{% block pageAction %}
    <button
            class="btn btn-outline-primary" type="button"
            id="btn-sync-member"
            data-url="{% url 'ProcessMembersSyncAPI' pk=pk %}"
            style="display: none;"
    >
        <span>
            <span class="no-transform">{% trans 'Sync member from Opportunity' %}</span>
            <span class="icon">
                <i class="fa-solid fa-arrows-rotate"></i>
            </span>
        </span>
    </button>

    <a href="{% url 'ProcessDetail' pk='__pk__' %}" id="link-process-config" style="display:none;">
        <button class="btn btn-outline-primary">
            <span>
                <span class="no-transform">{% trans 'Process config' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-microchip"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}

{% block pageContent %}
    <form id="form-process">
        <div class="row mb-3">
            <div class="col-md-12 col-lg-4">
                <div class="form-group">
                    <label for="inp-process-title" class="form-label required">{% trans 'Title' %}</label>
                    <input type="text" class="form-control" name="title" id="inp-process-title" disabled/>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="form-group">
                    <label for="inp-process-remark" class="form-label">{% trans 'Remarks' %}</label>
                    <textarea name="remark" id="inp-process-remark" class="form-control" disabled rows="1"></textarea>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="form-group">
                    <label for="inp-process-opp" class="form-label">{% trans 'Opportunity' %}</label>
                    <input name="opp" id="inp-process-opp" class="form-control" disabled/>
                    <a class="form-text btn-link" href="{% url 'OpportunityDetail' pk='__pk__' %}">
                        {% trans 'Click to detail page' %}
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                {% trans 'Members' %}
                <button type="button" class="btn btn-soft-secondary btn-xs ml-1 icon-caret" id="btn-collapse-members">
                    <span>
                        <span class="icon"><i class="fa-solid fa-caret-up"></i></span>
                    </span>
                </button>
                <button
                        type="button" class="btn btn-soft-primary btn-xs ml-1" data-bs-toggle="modal"
                        data-bs-target="#modalAddMember"
                >
                    <span>
                        <span>{% trans 'Add' %}</span>
                        <span class="icon"><i class="fa-solid fa-plus"></i></span>
                    </span>
                </button>
            </label>
            <div
                    id="members-group"
                    data-url="{% url 'ProcessRuntimeMembersAPI' pk=pk %}"
                    data-url-avatar-default="{% static 'assets/images/systems/person-avt.png' %}"
                    data-url-member-delete="{% url 'ProcessRuntimeMemberDetailAPI' pk='__pk__' %}"
                    data-url-employee-detail="{% url 'EmployeeDetail' pk='__pk__' %}"
            ></div>
        </div>
    </form>
    <div class="w-100 d-flex justify-content-center align-items-center" id="btn-collapse-info">
        <span><i class="fa-solid fa-angles-up fa-xs"></i></span>
    </div>
    <div class="w-100">
        <p class="form-label">{% trans 'Stages' %}</p>
        <div
                id="process-runtime-detail"
                data-url="{% url 'ProcessRuntimeDetailAPI' pk=pk %}"
                data-url-app="{% url 'TenantApplicationListAPI' %}"
                class="w-100"
        >
        </div>
    </div>
{% endblock %}

{% block modalData %}
    <div class="modal fade" id="modalAddMember" tabindex="-1" role="dialog" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Add members' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form
                            id="frm-add-member"
                            data-url="{% url 'ProcessRuntimeMembersAPI' pk=pk %}"
                    >
                        {% csrf_token %}
                        <div class="form-group">
                            <label
                                    for="inp-employee-members" class="form-label required"
                            >{% trans 'Choose employee' %}</label>
                            <select
                                    name="employees" id="inp-employee-members" class="form-select"
                                    data-url="{% url 'EmployeeListAPI' %}"
                                    multiple
                                    required
                            ></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="submit" class="btn btn-primary" form="frm-add-member">{% trans 'Add' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'vendors/jquery/dist/jquery-ui.min.js' %}"></script>
    <script src="{% static 'process/stages.js' %}"></script>
    <script src="{% static 'process/runtime/detail.js' %}"></script>
    <script>
        $(document).ready(function () {
            const btnCollapse$ = $('#btn-collapse-info');
            const frm$ = $('#form-process');
            btnCollapse$.on('click', function () {
                btnCollapse$.toggleClass('collapsed');
                frm$.slideToggle('slow');
            });
        })
    </script>
{% endblock %}