{% extends 'base.html' %}
{% load static i18n %}

{% block cssHeader %}
    <link type="text/css" src="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block pageAction %}
    <button class="btn" type="submit">
        <span class="icon">
            <span class="feather-icon">
                <i data-feather="save"></i>
            </span>
        </span>
    </button>
{% endblock %}

{% block pageContent %}
HAHAHA
{% endblock %}

{% block jsFooter %}
{% endblock %}

