{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Incoming Document Detail' %}
{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/flatpickr/themes/airbnb.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/kms/incoming-doc/recipient-css.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/kms/incoming-doc/common.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pageAction %}
    {% url 'IncomingDocumentEdit' pk=data.pk as edit_link %}
    {% include 'extends/systems/page_actions.html' with is_edit=True edit_link=edit_link %}
{% endblock %}
{% block pageContent %}
    <form id="frm_detail_incoming_document" data-method="GET" data-url="{% url 'IncomingDocumentDetailAPI' data.pk %}">
        {% csrf_token %}
        {% include 'kms/incomingdocument/extend/main-space.html' %}
    </form>
{% endblock %}
{% block modalData %}
    {% include 'kms/incomingdocument/extend/popup-recipient.html' %}
{% endblock %}
{% block dataHiddenGroup %}
    <input type="text" id="app-url-factory" data-md-employee="{% url 'EmployeeListAllAPI' %}" data-md-group="{% url 'GroupDDListAPI' %}">
    <input type="text" id="group-checked">
    <input type="text" id="employee-checked">
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>
    {% if base.language %}
        <script src="{% static 'vendors/flatpickr/i18n/vn.js' %}"></script>
    {% endif %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static 'assets/js/kms/incoming-doc/common.js' %}"></script>
    <script src="{% static 'assets/js/kms/incoming-doc/recipient-js.js' %}"></script>
    <script src="{% static 'assets/js/kms/incoming-doc/detail.js' %}"></script>
{% endblock %}
