{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Incoming Document edit' %}
{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/flatpickr/themes/airbnb.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/kms/incoming-doc/recipient-css.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'assets/css/kms/incoming-doc/common.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="frm_document_approval">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <form class="form_main" id="frm_document_approval" data-method="PUT"
          data-url="{% url 'IncomingDocumentDetailAPI' data.pk %}">
        {% csrf_token %}
        <input type="hidden" id="id" name="id">
        <div class="row">
            <div class="col-md-8 col-lg-6 form-group">
                <label class="form-label required" for="txt_title">{% trans 'Name' %}</label>
                <input type="text" class="form-control" name="title" id="txt_title" required>
            </div>

            <div class="col-md-8 content_attached mt-2 mb-2">
                <label class="form-label mt-2" for="table_attached_info">{% trans 'Attached Documents' %}</label>
                <table class="table nowrap table-advance w-100" id="table_attached_info">
                </table>
                <button class="btn btn-outline-primary mt-2" type="button" id="add_new_line" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvas-add-attached">
                    <span>
                        <span>{% trans 'Add' %}</span>
                        <span class="icon">
                            <i class="fa-regular fa-plus"></i>
                        </span>
                    </span>
                </button>
            </div>

            <div class="col-md-8 form-group mt-4">
                <label class="form-label" for="add-product-remark">{% trans 'Description' %}</label>
                <textarea name="remark" class="form-control" id="txtarea_remark" rows="2"></textarea>
            </div>

            <div class="col-md-8 content_recipient mt-2">
                <label class="form-label mt-2" for="table_internal_recipient">{% trans 'Internal Recipient' %}</label>
                <table class="table nowrap table-advance w-100" id="table_internal_recipient"></table>
                <button class="btn btn-outline-primary" type="button" id="add_new_recipient" data-bs-toggle="modal"
                        data-bs-target="#modal-recipient">
                    <span>
                        <span>{% trans 'Add recipient' %}</span>
                        <span class="icon">
                            <i class="fa-regular fa-plus"></i>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </form>
    {% include 'kms/incomingdocument/extend/offcanvas-attached.html' %}
    {% include 'kms/incomingdocument/extend/popup-recipient.html' %}
{% endblock %}
{% block dataHiddenGroup %}
    <input type="text" id="url-factory">
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>
    {% if base.language %}
        <script src="{% static 'vendors/flatpickr/i18n/vn.js' %}"></script>
    {% endif %}

    <script src="{% static 'assets/js/kms/incoming-doc/common.js' %}"></script>
    <script src="{% static 'assets/js/kms/incoming-doc/recipient-js.js' %}"></script>
    <script src="{% static 'assets/js/kms/incoming-doc/edit.js' %}"></script>
{% endblock %}