{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'AP Invoice' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url "APInvoiceCreate" %}">
        <button class="btn btn-outline-primary" type="button">
            <span>
                <span>{% trans 'Add' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <script id="script-url"
    >
    </script>
    <div class="row">
        <div class="col-12">
            <table id="datatable_ap_invoice_list" class="table nowrap w-100 mb-5" data-method="GET"
                   data-url="{% url 'APInvoiceListAPI' %}"
                   data-url-detail="{% url 'APInvoiceDetail' '0' %}"
            >
                <thead>
                <tr>
                    <th style="min-width: 50px"></th>
                    <th style="min-width: 100px">{% trans "Code" %}</th>
                    <th style="min-width: 300px">{% trans "Name" %}</th>
                    <th style="min-width: 100px">{% trans "Purchase order" %}</th>
                    <th style="min-width: 300px">{% trans "Supplier" %}</th>
                    <th style="min-width: 150px">{% trans "Date created" %}</th>
                    <th style="min-width: 100px">{% trans "System status" %}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/apinvoice/ap_invoice_list.js' %}"></script>
{% endblock %}
