{% extends 'base.html' %}
{% load i18n %}

{% block pageContent %}
    <div style="width: 100%;margin-top: 2rem;display: flex; justify-content: center; align-items: center;">
        <div style="text-align: center;">
            <p class="h3" style="color: #ff9100;">{% trans 'There are some problems with the logout process.' %}</p>
            <div>
                {% for key, value in data.items %}
                    {% if key != 'status' %}
                        <p class="h5" style="color: #ff0000;">{{ value }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block jsFooterUnCompress %}
    <script>
        async function unregisterServiceWorkers() {
            if ('serviceWorker' in navigator) {
                const registrations = await navigator.serviceWorker.getRegistrations();
                for (let registration of registrations) {
                    await registration.unregister();
                }
            }
        }
        unregisterServiceWorkers();
        localStorage.removeItem('fcmClean');  // flag clean of FCM
    </script>
{% endblock %}