{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssHeader %}
    <style></style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url 'CompanyUpdate' pk=pk %}">
        <button class="btn btn-outline-primary">
            <span>
                <span>{% trans 'Edit' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <script
            id="trans-script"
            data-trans-opp="{% trans 'Opportunity' %}"
            data-trans-quo="{% trans 'Quotation' %}"
            data-trans-so="{% trans 'Sale Order' %}"
            data-trans-picking="{% trans 'Picking' %}"
            data-trans-delivery="{% trans 'Delivery' %}"
            data-trans-task="{% trans 'Task' %}"
            data-trans-ap="{% trans 'Advance Payment' %}"
            data-trans-payment="{% trans 'Payment' %}"
            data-trans-rp="{% trans 'Return Advance' %}"
            data-trans-pr="{% trans 'Purchase Request' %}"
            data-trans-numbering0="{% trans 'System' %}"
            data-trans-numbering1="{% trans 'User defined' %}"
    ></script>
    <div class="collapse multi-collapse show" id="collapse-area">
        <form
                id="frm-detail-company"
                data-url-detail="{% url "CompanyDetailAPI" '0' %}"
                data-url-redirect="{% url "CompanyList" %}"
                data-method="GET"
            >
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="company_logo" class="form-label">{% trans 'Logo' %}</label>
                        <div class="w-100 d-flex justify-content-center align-items-center overflow-hidden">
                            <input
                                    id="company_logo"
                                    class="form-control"
                                    type="file"
                                    data-url="{% url 'CompanyLogoUpload' pk=pk %}"
                                    data-method="PUT"
                                    data-max-file-size="3M"
                                    data-allowed-file-extensions="jpeg jpg png gif"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 col-lg-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label required" for="code">
                                    {% trans 'Code' %}
                                </label>
                                <input
                                        type="text" class="form-control"
                                        id="code" oninput="this.value=this.value.toUpperCase()"
                                        placeholder="MIS001" required
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label" for="fax">
                                    {% trans 'Fax' %}
                                </label>
                                <input
                                        type="text" class="form-control"
                                        id="fax" placeholder="+84 (8) 1234 9876"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label required" for="title">
                                    {% trans 'Company name' %}
                                </label>
                                <input
                                        type="text" class="form-control"
                                        id="title" placeholder="MT Solution" required
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label required" for="address">{% trans 'Address' %}</label>
                                <textarea
                                        style="height: 38px" data-bs-toggle="modal"
                                        data-bs-target="#modal-company-address"
                                        type="text" class="form-control" readonly id="address"
                                        placeholder="{% trans 'Click to add address' %}"
                                        required
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label required" for="representative_fullname">
                                    {% trans 'Representator fullname' %}
                                </label>
                                <input
                                        type="text" class="form-control"
                                        id="representative_fullname"
                                        placeholder="Nguyen Van A" required
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-label required" for="email">
                                            {% trans 'Email' %}
                                        </label>
                                    </div>
                                    <div class="col-6 text-right">
                                        <span class="link-secondary" data-bs-toggle="modal" data-bs-target="#advance-setting-modal">
                                            {% trans 'Verify' %}
                                        </span>
                                        <i id="verify-status" class=""></i>
                                    </div>
                                </div>
                                <input
                                        type="text" class="form-control"
                                        id="email"
                                        placeholder="anv@mtsolution.com.vn"
                                        required
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 col-lg-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label required" for="phone">
                                    {% trans 'Phone number' %}
                                </label>
                                <input
                                        type="text" class="form-control"
                                        id="phone" placeholder="+84987654321" required
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <button
            id="btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-area"
            aria-expanded="false" aria-controls="collapse-area" class="w-100 btn btn-animated btn-icon btn-xs"
    >
        <span class="icon">
            <i class="fas fa-angle-double-up text-primary"></i>
            <i class="fas fa-angle-double-down text-primary"></i>
        </span>
    </button>
    <div class="row" id="tabs">
        <div class="col-12">
            <ul class="nav nav-tabs nav-icon nav-light">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_config">
                        <span class="nav-icon-wrap"><span class="feather-icon"><i
                                class="fas fa-tools"
                        ></i></span></span>
                        <span class="nav-link-text">{% trans 'Company setting' %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab_function_number">
                        <span class="nav-icon-wrap"><span class="feather-icon"><i
                                class="fas fa-stopwatch-20"
                        ></i></span></span>
                        <span class="nav-link-text">{% trans 'Function number' %}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_config">
                <form
                        id="tblCompanyConfig"
                        data-url="{% url 'CompanyConfigDetailAPI' %}"
                        data-method="PUT"
                >
                    {% csrf_token %}
                    <div
                            class="row" id="company-config"
                            data-url-detail="{% url 'CompanyConfigDetailAPI' %}"
                            data-url-currency-list="{% url 'CurrencyListAPI' %}"
                    >
                        <div class="col-12 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                <label
                                        class="form-label required" for="idxLanguage"
                                >{% trans 'Language' %}</label>
                                <select name="language" id="idxLanguage" class="form-control select2">
                                    <option value="vi">Tiếng Việt</option>
                                    <option value="en" selected>English</option>
                                </select>
                            </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label
                                                class="form-label" for="idxCurrencyDefault"
                                        >{% trans 'Primary currency' %}: </label>
                                        <select
                                                class="form-control select2" name="currency" id="idxCurrencyDefault"
                                        >
                                            <option value="1">VND</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label
                                                for="idxSubdomain" class="form-label required"
                                        >{% trans 'Sub domain' %}</label>
                                        <input type="text" name="sub_domain" id="idxSubdomain" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3"></div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label required" for="default-inventory-value-method">
                                            {% trans 'Default inventory value method' %}:
                                        </label>
                                        <select
                                                type="text" id="default-inventory-value-method" class="form-select"
                                                required
                                        >
                                            <option value="0">{% trans 'FIFO' %}</option>
                                            <option value="1">{% trans 'Cumulative weighted average' %}</option>
                                            <option value="2">{% trans 'Weighted average' %}</option>
                                            <option value="3">{% trans 'Specific identification method' %}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="form-check">
                                        <input type="checkbox" id="cost-per-warehouse" class="form-check-input">
                                        <label
                                                class="form-check-label" for="cost-per-warehouse"
                                        >{% trans 'Cost per warehouse management' %}</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" id="cost-per-lot-batch" class="form-check-input">
                                        <label
                                                class="form-check-label" for="cost-per-lot-batch"
                                        >{% trans 'Cost per lot/batch management' %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label required" for="definition-inventory-valuation">
                                            {% trans 'Definition of inventory valuation' %}:
                                        </label>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input
                                                            type="radio" id="perpetual-selection"
                                                            name="definition-inventory-valuation"
                                                            class="form-check-input" checked
                                                    >
                                                    <label
                                                            class="form-check-label" for="perpetual-selection"
                                                    >{% trans 'Perpetual inventory' %}</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input
                                                            type="radio" id="periodic-selection"
                                                            name="definition-inventory-valuation"
                                                            class="form-check-input"
                                                    >
                                                    <label
                                                            class="form-check-label" for="periodic-selection"
                                                    >{% trans 'Periodic inventory' %}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label
                                for="" style="font-weight: bold" class="form-label text-primary"
                        >{% trans 'Currency Mask' %}: <i>{% trans 'Allow space' %}</i></label>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-1 col-lg-1">
                            <div class="form-group">
                                <label
                                        for="idxCurrencyMaskPrefix" class="form-label"
                                >{% trans 'Prefix' %}</label>
                                <input
                                        type="text" id="idxCurrencyMaskPrefix" name="currency_rule__prefix"
                                        class="form-control"
                                >
                            </div>
                        </div>
                        <div class="col-12 col-md-1 col-lg-1">
                            <div class="form-group">
                                <label
                                        for="idxCurrencyMaskSuffix" class="form-label"
                                >{% trans 'Suffix' %}</label>
                                <input
                                        type="text" id="idxCurrencyMaskSuffix" name="currency_rule__suffix"
                                        class="form-control"
                                >
                            </div>
                        </div>
                        <div class="col-12 col-md-1 col-lg-1">
                            <div class="form-group">
                                <label
                                        for="idxCurrencyMaskThousand" class="form-label"
                                >{% trans 'Thousand' %}</label>
                                <input
                                        type="text" id="idxCurrencyMaskThousand"
                                        name="currency_rule__thousands" class="form-control"
                                />
                            </div>
                        </div>
                        <div class="col-12 col-md-1 col-lg-1">
                            <div class="form-group">
                                <label
                                        for="idxCurrencyMaskDecimal" class="form-label"
                                >{% trans 'Decimal' %}</label>
                                <input
                                        type="text" id="idxCurrencyMaskDecimal"
                                        name="currency_rule__decimal" class="form-control"
                                />
                            </div>
                        </div>
                        <div class="col-12 col-md-1 col-lg-1">
                            <div class="form-group">
                                <label
                                        for="idxCurrencyMaskPrecision" class="form-label"
                                >{% trans 'Precision' %}</label>
                                <input
                                        type="text" id="idxCurrencyMaskPrecision"
                                        name="currency_rule__precision" class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="tab_function_number">
                <table class="table nowrap w-100" id="function_number_table">
                    <thead>
                    <th></th>
                    <th>{% trans 'Function' %}</th>
                    <th>{% trans 'Numbering by' %}</th>
                    <th>{% trans 'Schema' %}</th>
                    <th>{% trans 'Action' %}</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'core/company/js/company_common.js' %}"></script>
    <script src="{% static 'core/company/js/company_detail.js' %}"></script>
{% endblock %}
