{% extends 'base.html' %}
{% load static i18n %}

{% block cssHeader %}{% endblock %}

{% block pageAction %}
    <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover no-caret flex-shrink-0 d-lg-inline-block d-none"
        href="#" data-bs-toggle="tooltip" data-bs-placement="top" title=""
        id="add_company_button" data-bs-original-title="Add Company">
        <span class="icon" data-bs-toggle="modal" data-bs-target="#AddCompanyForms">
            <span class="feather-icon">
                <i data-feather="plus"></i>
            </span>
        </span>
    </a>
{% endblock %}

{% block pageContent %}
    <input name="default_representative_name" value="{{ request.user.first_name }} {{ request.user.last_name }}" hidden/>
    <table id="datable_company_list" class="table nowrap w-100 mb-5"
            data-url="{% url "CompanyListAPI" %}"
            data-url-redirect="/"
            data-method="GET">
        <thead>
        <tr>
            <th>
                <span class="form-check">
                    <input type="checkbox"
                            class="form-check-input check-select-all"
                            id="customCheck1">
                    <label class="form-check-label" for="customCheck1"></label>
                </span>
            </th>
            <th>{% trans 'Code' %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Created Date' %}</th>
            <th>{% trans 'Representative' %}</th>
            <th class="text-center">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!-- Add Company -->
    <div class="modal fade"
            id="AddCompanyForms"
            tabindex="-1"
            role="dialog"
            aria-hidden="true">
        <div class="modal-dialog modal-lg mt-15" role="document">
            <div class="modal-content mb-7">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {% trans 'Add Company' %}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frm-add-company"
                            data-url="{% url "CompanyListAPI" %}"
                            data-url-redirect="/"
                            data-method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label" for="company_name_id">
                                        {% trans 'Company Name' %}
                                        <span class="required"></span>
                                    </label>
                                    <input type="text" class="form-control"
                                            id="company_name_id" name="title"
                                            placeholder="MT Solution"
                                            required/>
                                    <span class="form-text text-muted">{% trans 'Name of new company' %}</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label" for="parent_company_id">
                                        {% trans 'Parent Company' %}
                                    </label>
                                    <select class="form-control form-select" id="parent_company_id"
                                            name="parent_company"
                                            disabled
                                            required>
                                        <option value="" selected>{% trans 'No selected' %}</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <span class="form-text text-muted">{% trans 'The new is subsidiary company or not' %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label" for="code_id">
                                        {% trans 'Code' %}
                                        <span class="required"></span>
                                    </label>
                                    <input type="text" class="form-control"
                                            id="code_id" name="code"
                                            oninput="this.value=this.value.toUpperCase()"
                                            placeholder="MIS001"
                                            required/>
                                    <span class="form-text text-muted">{% trans 'Code new company' %}</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label" for="address_id">
                                        {% trans 'Address' %}
                                        <span class="required"></span>
                                    </label>
                                    <input type="text" class="form-control"
                                            id="address_id" name="address"
                                            placeholder="{% trans 'No.20, 22 Street, Him Lam Quarter, Binh Hung Ward, Binh Chanh District, HCM city, VN country' %}"
                                            required>
                                    <span class="form-text text-muted">{% trans 'Address new company' %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label" for="representative_fullname_id">
                                        {% trans 'Representative' %}
                                        <span class="required"></span>
                                    </label>
                                    <input type="text" class="form-control"
                                            id="representative_fullname_id" name="representative_fullname"
                                            placeholder="Nguyen Van A" required/>
                                    <span class="form-text text-muted">{% trans 'Full name of Representative' %}</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label" for="email_id">
                                        {% trans 'Email' %}
                                        <span class="required"></span>
                                    </label>
                                    <input type="text" class="form-control"
                                            id="email_id" name="email"
                                            placeholder="anv@mtsolution.com.vn"
                                            required/>
                                    <span class="form-text text-muted">{% trans 'Email of Representative' %}</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label" for="phone_id">
                                        {% trans 'Phone Number' %}
                                        <span class="required"></span>
                                    </label>
                                    <input type="number" class="form-control"
                                            id="phone_id" name="phone"
                                            placeholder="+84987654321"
                                            required/>
                                    <span class="form-text text-muted">{% trans 'Phone number of Representative' %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 pb-3">
                            <div class="form-group">
                                <input type="submit" class="btn btn-success" id="add-company-submit"
                                        value="{% trans 'Add' %}"/>
                                <input type="button"
                                        class="btn btn-outline-dark"
                                        data-bs-dismiss="modal"
                                        value="{% trans 'Cancel' %}"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- / Add Company -->
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'core/company/js/load_company_DT.js' %}"></script>
    <script src="{% static 'core/company/js/add_new_company.js' %}"></script>
    <script src="{% static 'core/company/js/delete_company.js' %}"></script>
{% endblock %}
