{% extends 'base.html' %}
{% load static i18n %}

{% block cssHeader %}
    <link rel="stylesheet" href="{% static 'core/company/css/company_list.css' %}">
{% endblock %}

{% block pageAction %}
{% endblock %}

{% block pageContent %}
    <div class="d-flex" id="add_company_button">
        <div class="d-flex flex-wrap justify-content-between flex-1">
            <div class="mb-lg-0 mb-2 me-8">
                <span data-bs-toggle="modal" data-bs-target="#AddCompanyForms">
                    <a class="d-inline-flex align-items-center add-company" href="#">
                        <i class="ri-add-box-line me-1"></i>Add Company
                    </a>
                </span>
            </div>
        </div>
    </div><br>

    <input id="tenant_fullname" placeholder="tenant_fullname" disabled hidden>
    <table id="datable_company_list" class="table nowrap w-100 mb-5"
           data-url="{% url "CompanyListAPI" %}"
           data-url-redirect="/"
           data-method="get">
        <thead>
        <tr>
            <th style="max-width: 5%">
                <span class="form-check">
                    <input type="checkbox"
                           class="form-check-input check-select-all"
                           id="customCheck1">
                    <label class="form-check-label" for="customCheck1"></label>
                </span>
            </th>
            <th style="max-width: 25%">Company name</th>
            <th style="max-width: 15%">Code</th>
            <th style="max-width: 25%">Created date</th>
            <th style="max-width: 20%">Representative</th>
            <th style="max-width: 10%"><center>Action</center></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!-- Add Company -->
    <div class="modal fade" id="AddCompanyForms" tabindex="-1" role="dialog"
         aria-labelledby="AddCompanyForms" aria-hidden="true" style="padding-top: 65px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Add Company' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form style="padding: 20px" id="frm-add-company" data-url="{% url "CompanyListAPI" %}" data-url-redirect="/" data-method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label" for="exampleDropdownFormPassword1">
                                        <b>{% trans 'Company Name' %}</b>
                                    </label>
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control"
                                               id="company_name_id" name="title"
                                               placeholder="FTEL Service" required>
                                    </label>
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="exampleDropdownFormPassword1">
                                        <b>{% trans 'Code' %}</b>
                                    </label>
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control"
                                               id="code_id" name="code"
                                               oninput="this.value=this.value.toUpperCase()"
                                               placeholder="FTEL001" required>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                 <div class="col-md-6">
                                    <label class="form-label" for="exampleDropdownFormPassword1">
                                        <b>{% trans 'Representative' %}</b>
                                    </label>
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control"
                                               id="representative_fullname_id" name="representative_fullname"
                                               placeholder="Nguyên Hồng" required>
                                    </label>
                                 </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label" for="exampleDropdownFormPassword1">
                                        <b>{% trans 'Address' %}</b>
                                    </label>
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control"
                                            id="address_id" name="address"
                                            placeholder="150 Huỳnh Văn Bánh">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label" for="exampleDropdownFormPassword1">
                                        <b>{% trans 'Email' %}</b>
                                    </label>
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control"
                                               id="email_id" name="email"
                                               placeholder="abc@gmail.com">
                                    </label>
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="exampleDropdownFormPassword1">
                                        <b>{% trans 'Phone Number' %}</b>
                                    </label>
                                    <label style="width: 100%;">
                                        <input type="number" class="form-control"
                                               id="phone_id" name="phone"
                                               placeholder="0123456789">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label" for="exampleDropdownFormPassword1">
                                        <b>{% trans 'Parent Company' %}</b>
                                    </label>
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control"
                                               id="parent_company_id" name="parent_company"
                                               placeholder="FPT Telecom" disabled>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-success" id="add-company-submit">Add</button>
                                </div>
                                <div class="col-md-6">
                                    <button style="position:relative; float:right" type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jsFooter %}
    <script src="{% static 'core/company/js/load_company_DT.js' %}"></script>
    <script src="{% static 'core/company/js/add_new_company.js' %}"></script>
    <script src="{% static 'core/company/js/delete_company.js' %}"></script>
{% endblock %}
