{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssHeader %}
    <style>
        #offcanvasRight {
            width: 50%;
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button id="save-company" class="btn btn-outline-primary" type="submit" form="frm-update-company">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <script
            id="trans-script"
            data-trans-opp="{% trans 'Opportunity' %}"
            data-trans-quo="{% trans 'Quotation' %}"
            data-trans-so="{% trans 'Sale Order' %}"
            data-trans-picking="{% trans 'Picking' %}"
            data-trans-delivery="{% trans 'Delivery' %}"
            data-trans-task="{% trans 'Task' %}"
            data-trans-ap="{% trans 'Advance Payment' %}"
            data-trans-payment="{% trans 'Payment' %}"
            data-trans-rp="{% trans 'Return Advance' %}"
            data-trans-pr="{% trans 'Purchase Request' %}"
            data-trans-numbering0="{% trans 'System' %}"
            data-trans-numbering1="{% trans 'User defined' %}"
    ></script>

    <div class="collapse multi-collapse show" id="collapse-area">
        <div class="row">
            <div class="col-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label for="company_logo" class="form-label">{% trans 'Logo' %}</label>
                    <input
                        id="company_logo"
                        class="form-control"
                        type="file"
                        data-url="{% url 'CompanyLogoUpload' pk=pk %}"
                        data-method="PUT"
                        data-max-file-size="3M"
                        data-allowed-file-extensions="jpeg jpg png gif"
                    />
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-5">
                <form
                        id="frm-detail-company"
                        data-url-detail="{% url "CompanyDetailAPI" '0' %}"
                        data-url-redirect="{% url "CompanyList" %}"
                        data-method="GET"
                >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label required" for="code">
                                            {% trans 'Code' %}
                                        </label>
                                        <input
                                                type="text" class="form-control"
                                                id="code" oninput="this.value=this.value.toUpperCase()"
                                                placeholder="MIS001" required
                                        />
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 col-lg-8">
                                    <div class="form-group">
                                        <label class="form-label required" for="title">
                                            {% trans 'Company name' %}
                                        </label>
                                        <input
                                                type="text" class="form-control"
                                                id="title" placeholder="MT Solution" required
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label" for="fax">
                                            {% trans 'Fax' %}
                                        </label>
                                        <input
                                                type="text" class="form-control"
                                                id="fax" placeholder="+84 (8) 1234 9876"
                                        />
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 col-lg-8">
                                    <div class="form-group">
                                        <label class="form-label required" for="address">{% trans 'Address' %}</label>
                                        <textarea
                                                style="height: 38px" data-bs-toggle="modal"
                                                data-bs-target="#modal-company-address"
                                                type="text" class="form-control" readonly id="address"
                                                placeholder="{% trans 'Click to add address' %}"
                                                required
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div hidden class="form-group">
                        <label class="form-label" for="parent_company">
                            {% trans 'Parent Company' %}
                        </label>
                        <select class="form-control form-select" id="parent_company"
                                disabled required>
                            <option value="" selected>{% trans 'No selected' %}</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-5 col-lg-5">
                <form
                        id="frm-update-company"
                        data-url-detail="{% url "CompanyDetailAPI" '0' %}"
                        data-url-redirect="{% url "CompanyList" %}"
                        data-method="GET"
                >
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                            <label class="form-label required" for="representative_fullname">
                                {% trans 'Representator fullname' %}
                            </label>
                            <input type="text" class="form-control"
                                   id="representative_fullname"
                                   placeholder="Nguyen Van A" required/>
                        </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label required" for="phone">
                                    {% trans 'Phone number' %}
                                </label>
                                <input type="text" class="form-control"
                                       id="phone" placeholder="+84987654321" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label required" for="email">
                                    {% trans 'Email' %}
                                </label>
                                <input type="text" class="form-control"
                                       id="email"
                                       placeholder="anv@mtsolution.com.vn"
                                       required/>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="email-app-password">
                                    {% trans 'Email app password (include space)' %}
                                </label>
                                <input type="password" class="form-control"
                                       id="email-app-password"
                                       placeholder="16-digits number">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12 text-right">
                        <button id="btn-test-email-connection"
                                type="button"
                                data-url="{% url 'TestEmailConnection' %}"
                                class="btn btn-custom btn-gradient-primary btn-xs">
                            <span>
                                <span class="icon"><i class="bi bi-gear-wide-connected"></i></span>
                                <span>{% trans 'Test email connection' %}</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button
            id="btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-area"
            aria-expanded="false" aria-controls="collapse-area" class="w-100 btn btn-animated btn-icon btn-xs py-3"
    >
        <span class="icon">
            <i class="fas fa-angle-double-up text-primary"></i>
            <i class="fas fa-angle-double-down text-primary"></i>
        </span>
    </button>
    <div class="row" id="tabs">
        <div class="col-12">
            <ul class="nav nav-tabs nav-icon nav-light">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_config">
                        <span class="nav-icon-wrap"><span class="feather-icon"><i
                                class="fas fa-tools"
                        ></i></span></span>
                        <span class="nav-link-text">{% trans 'Company setting' %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab_function_number">
                        <span class="nav-icon-wrap"><span class="feather-icon"><i
                                class="fas fa-stopwatch-20"
                        ></i></span></span>
                        <span class="nav-link-text">{% trans 'Function number' %}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_config">
                <form
                        id="tblCompanyConfig"
                        data-url="{% url 'CompanyConfigDetailAPI' %}"
                        data-method="PUT"
                >
                    {% csrf_token %}
                    <div
                            class="row" id="company-config"
                            data-url-detail="{% url 'CompanyConfigDetailAPI' %}"
                            data-url-currency-list="{% url 'CurrencyListAPI' %}"
                    >
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label
                                                class="form-label required" for="idxLanguage"
                                        >{% trans 'Language' %}</label>
                                        <select name="language" id="idxLanguage" class="form-control select2">
                                            <option value="vi">Tiếng Việt</option>
                                            <option value="en" selected>English</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label
                                                for="idxSubdomain" class="form-label required"
                                        >{% trans 'Sub domain' %}</label>
                                        <input type="text" name="sub_domain" id="idxSubdomain" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label
                                                class="form-label" for="idxCurrencyDefault"
                                        >{% trans 'Primary currency' %}: </label>
                                        <select class="form-control select2" name="currency" id="idxCurrencyDefault">
                                            <option value="1">VND</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <label
                                        for="" style="font-weight: bold" class="form-label text-primary"
                                >{% trans 'Currency Mask' %}: <i>{% trans 'Allow space' %}</i></label>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label
                                                for="idxCurrencyMaskPrefix" class="form-label"
                                        >{% trans 'Prefix' %}</label>
                                        <input
                                                type="text" id="idxCurrencyMaskPrefix" name="currency_rule__prefix"
                                                class="form-control"
                                        >
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label
                                                for="idxCurrencyMaskSuffix" class="form-label"
                                        >{% trans 'Suffix' %}</label>
                                        <input
                                                type="text" id="idxCurrencyMaskSuffix" name="currency_rule__suffix"
                                                class="form-control"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label
                                                for="idxCurrencyMaskThousand" class="form-label"
                                        >{% trans 'Thousand' %}</label>
                                        <input
                                                type="text" id="idxCurrencyMaskThousand" name="currency_rule__thousands"
                                                class="form-control"
                                        />
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label
                                                for="idxCurrencyMaskDecimal" class="form-label"
                                        >{% trans 'Decimal' %}</label>
                                        <input
                                                type="text" id="idxCurrencyMaskDecimal" name="currency_rule__decimal"
                                                class="form-control"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label
                                                for="idxCurrencyMaskPrecision" class="form-label"
                                        >{% trans 'Precision' %}</label>
                                        <input
                                                type="text" id="idxCurrencyMaskPrecision"
                                                name="currency_rule__precision" class="form-control"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label required" for="default-inventory-value-method">
                                            {% trans 'Default inventory value method' %}:
                                        </label>
                                        <select
                                                type="text" id="default-inventory-value-method" class="form-select"
                                                required
                                        >
                                            <option value="0">{% trans 'FIFO' %}</option>
                                            <option value="1">{% trans 'Cumulative weighted average' %}</option>
                                            <option value="2">{% trans 'Weighted average' %}</option>
                                            <option value="3">{% trans 'Specific identification method' %}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label required" for="definition-inventory-valuation">
                                            {% trans 'Definition of inventory valuation' %}:
                                        </label>
                                        <div class="row mt-1">
                                            <div class="col-12 col-md-6 col-lg-6">
                                                <div class="form-check">
                                                    <input
                                                            type="radio" id="perpetual-selection"
                                                            name="definition-inventory-valuation"
                                                            class="form-check-input" checked
                                                    >
                                                    <label
                                                            class="form-check-label" for="perpetual-selection"
                                                    >{% trans 'Perpetual inventory' %}</label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6">
                                                <div class="form-check">
                                                    <input
                                                            type="radio" id="periodic-selection"
                                                            name="definition-inventory-valuation"
                                                            class="form-check-input"
                                                    >
                                                    <label
                                                            class="form-check-label" for="periodic-selection"
                                                    >{% trans 'Periodic inventory' %}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 col-md-12 col-lg-12">
                                    <div class="form-check">
                                        <input type="checkbox" id="cost-per-warehouse" class="form-check-input">
                                        <label
                                                class="form-check-label" for="cost-per-warehouse"
                                        >{% trans 'Cost per warehouse management' %}</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12">
                                    <div class="form-check">
                                        <input type="checkbox" id="cost-per-lot-batch" class="form-check-input">
                                        <label
                                                class="form-check-label" for="cost-per-lot-batch"
                                        >{% trans 'Cost per lot/batch management' %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="row">#}
                    {#                        <div class="col-12 col-md-9 col-lg-9"></div>#}
                    {#                        <div class="col-12 col-md-3 col-lg-3">#}
                    {#                            <button id="save-company-config" class="btn btn-gradient-primary w-100" type="submit">#}
                    {#                                <span>#}
                    {#                                    <span>{% trans 'Save config' %}</span>#}
                    {#                                    <span class="icon">#}
                    {#                                        <i class="fa-regular fa-floppy-disk"></i>#}
                    {#                                    </span>#}
                    {#                                </span>#}
                    {#                            </button>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </form>
            </div>
            <div class="tab-pane fade" id="tab_function_number">
                <table class="table nowrap w-100" id="function_number_table">
                    <thead>
                    <th></th>
                    <th>{% trans 'Function' %}</th>
                    <th>{% trans 'Numbering by' %}</th>
                    <th>{% trans 'Schema' %}</th>
                    <th>{% trans 'Action' %}</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div
            class="modal fade" id="modal-company-address" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenter" aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Add Company Address" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label
                                    class="label-field form-label required" for="detail-company-address-modal"
                            >{% trans "Address" %}</label>
                            <input
                                    class="form-control" type="text" id="detail-company-address-modal"
                                    placeholder="Number 20, 22 street, Him Lam residential area"
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label
                                    class="label-field form-label required" for="company-address-city"
                            >{% trans "Province/City" %}</label>
                            <select
                                    class="form-select" id="company-address-city" data-country-id
                                    data-url="{% url "CityListAPI" %}" data-method="GET"
                            ></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label
                                    class="label-field form-label required" for="company-address-district"
                            >{% trans "District" %}</label>
                            <select
                                    class="form-select" id="company-address-district"
                                    data-url="{% url "DistrictAllListAPI" %}" data-method="GET"
                            >
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="label-field form-label" for="company-address-ward">{% trans "Ward" %}</label>
                            <select
                                    class="form-select" id="company-address-ward"
                                    data-url="{% url "WardAllListAPI" %}" data-method="GET"
                            >
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                            type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                            id="save-changes-modal-company-address"
                    >
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div
            class="modal fade" id="modal-function-number" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenter" aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Add Schema" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12">
                                    <label
                                            class="label-field form-label required" for="schema-item-list"
                                    >{% trans "Schema" %}</label>
                                    <div class="row">
                                        <div class="col-10 col-md-10 col-lg-10 text-right">
                                            <input id="schema-item-list" class="form-control">
                                        </div>
                                        <div class="col-2 col-md-2 col-lg-2 text-right">
                                            <div class="btn-group dropdown w-100 h-100">
                                                <button
                                                        type="button"
                                                        class="btn btn-xs btn-soft-primary dropdown-toggle schema"
                                                        data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false"
                                                >
                                                    {% trans 'Add schema item' %}
                                                </button>
                                                <div class="dropdown-menu">
                                                    <div style="max-height: 200px; overflow-y: auto;">
                                                        <a data-value="0" class="schema-item dropdown-item" href="#">Number</a>
                                                        <a data-value="1" class="schema-item dropdown-item" href="#">Short
                                                            year (23)</a>
                                                        <a data-value="2" class="schema-item dropdown-item" href="#">Long
                                                            year (2023)</a>
                                                        <a data-value="3" class="schema-item dropdown-item" href="#">Short
                                                            month (Jan)</a>
                                                        <a data-value="4" class="schema-item dropdown-item" href="#">Long
                                                            month (January)</a>
                                                        <a data-value="5" class="schema-item dropdown-item" href="#">Month
                                                            of year (1-12)</a>
                                                        <a data-value="6" class="schema-item dropdown-item" href="#">Week
                                                            of year (1-54)</a>
                                                        <a data-value="7" class="schema-item dropdown-item" href="#">Day
                                                            of year (1-366)</a>
                                                        <a data-value="8" class="schema-item dropdown-item" href="#">Day
                                                            of month (1-31)</a>
                                                        <a data-value="9" class="schema-item dropdown-item" href="#">Day
                                                            of week (1-7)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label
                                        class="label-field form-label required" for="first-number"
                                >{% trans "First number" %}</label>
                                <input type="number" class="form-control" id="first-number" min="1" step="1">
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label
                                        class="label-field form-label required" for="last-number"
                                >{% trans "Next number" %}</label>
                                <input type="number" class="form-control" id="last-number" min="1" step="1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label
                                        class="label-field form-label required" for="reset-frequency"
                                >{% trans "Reset frequency" %}</label>
                                <select class="form-select" id="reset-frequency">
                                    <option selected></option>
                                    <option value="0">{% trans 'Yearly' %}</option>
                                    <option value="1">{% trans 'Monthly' %}</option>
                                    <option value="2">{% trans 'Weekly' %}</option>
                                    <option value="3">{% trans 'Daily' %}</option>
                                    <option value="4">{% trans 'Never' %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <input id="min_num_char_checkbox" type="checkbox">
                                <label
                                        class="label-field form-label" for="min_num_char"
                                >{% trans "Minimum char number" %}</label>
                                <input
                                        id="min_num_char" class="form-control" type="number" step="1" min="2"
                                        placeholder="{% trans 'Default' %}" disabled
                                >
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 mt-5">
                            <i class="fas fa-info-circle"></i>
                            {% trans 'Next code is' %}: <span class="text-primary" id="preview"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save-changes-modal-function-number">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'core/company/js/company_common.js' %}"></script>
    <script src="{% static 'core/company/js/company_update.js' %}"></script>
{% endblock %}
