{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssHeader %}
    <style>
        #offcanvasRight {
            width: 50%;
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url 'CompanyUpdateAPI' pk=pk %}">
        <button class="btn btn-outline-primary">
            <span>
                <span>{% trans 'Edit' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <input name="default_representative_name" value="{{ request.user.first_name }} {{ request.user.last_name }}" hidden/>
    <div class="media align-items-center" style="padding-left: 20Px; padding-top: 20px; padding-right: 20px;">
        <div class="media-head me-2">
            <div class="avatar avatar-xs avatar-success avatar-rounded">
                <span class="initial-wrap">{{ data.icon }}</span>
            </div>
        </div>
        <div class="media-body">
            <a href="">
                <span class="d-block" style="font-size: xx-large">{{ data.company.title }}</span>
            </a>
        </div>
    </div>
    <div style="padding-left: 20Px; padding-top: 20px; padding-right: 20px;">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label"><b>{% trans 'Code' %}</b></label>
                    <input class="form-control" type="text"
                           name="code" value="{{ data.company.code }}"
                           id="form-code" readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label"><b>{% trans 'Representative' %}</b></label>
                    <input class="form-control" type="text"
                           name="representative_fullname" value="{{ data.company.representative_fullname }}"
                           id="form-representative_fullname" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label"><b>{% trans 'Address' %}</b></label>
                    <input class="form-control" type="text"
                           name="address" value="{{ data.company.address }}"
                           id="form-address" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label"><b>{% trans 'Phone' %}</b></label>
                    <input class="form-control" type="text"
                           name="phone" value="{{ data.company.phone }}"
                           id="form-phone" readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label"><b>{% trans 'Email' %}</b></label>
                    <input class="form-control" type="text"
                           name="email" value="{{ data.company.email }}"
                           id="form-email" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label"><b>{% trans 'Language' %}</b></label>
                    <select class="form-select" name="langugae" id="form-language" disabled>
                        {% if data.company.language == 'vi' %}
                        <option value="vi" selected>vi</option>
                        <option value="en">en</option>
                        {% else %}
                        <option value="vi">vi</option>
                        <option value="en" selected>en</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'core/company/js/company_detail.js' %}"></script>
{% endblock %}
