{% load i18n string_utils %}

<div class="form-group">
    {% random_str as idx_fn %}
    <label for="{{idx_fn}}" class="form-label">{% trans 'First Name' %}</label>
    <input type="text" id="{{idx_fn}}" class="form-control emp-info-detail-first-name" disabled readonly>
</div>
<div class="form-group">
    {% random_str as idx_ln %}
    <label for="{{idx_ln}}" class="form-label">{% trans 'Last Name' %}</label>
    <input type="text" id="{{idx_ln}}" class="form-control emp-info-detail-last-name" disabled readonly>
</div>
<div class="form-group">
    {% random_str as idx_email %}
    <label for="{{idx_email}}" class="form-label">{% trans 'Email' %}</label>
    <input id="{{idx_email}}" type="email" class="form-control emp-info-detail-email" disabled readonly>
</div>
<div class="form-check form-switch">
    {% random_str as idx_is_active %}
	<input type="checkbox" class="form-check-input emp-info-detail-is-active" id="{{idx_is_active}}" disabled readonly>
	<label class="form-check-label" for="{{idx_is_active}}">{% trans 'Active' %}</label>
</div>