.heart-beat-container {
    position: relative;
    width: 1rem;
    height: 1rem;
    animation: heartbeat 1s infinite;
}

.heart-beat-icon {
    color: green;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}