{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Product modification' %}{% endblock %}
{% block cssHeader %}
    <style>
    .tr-border-left-green {
        border-left: 4px solid #28a745 !important;
    }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url 'ProductModificationUpdate' pk=pk %}">
        <button class="btn btn-outline-primary" id="btn-enable-edit">
            <span>
                <span>{% trans 'Edit' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <script id="script-url"
            data-url-warehouse-list-by-product="{% url 'WarehouseListByProductAPI' %}"
            data-url-lot-list-by-warehouse="{% url 'ProductLotListAPI' %}"
            data-url-serial-list-by-warehouse="{% url 'ProductSerialListAPI' %}"
            data-url-product-component-list="{% url 'ProductComponentListAPI' %}"
            data-url-latest-component-list="{% url 'LatestComponentListAPI' %}"
    ></script>
    <script id="trans-url"
    ></script>
    <form id="form-detail-product-modification"
        data-method="PUT"
        data-url-redirect="{% url "ProductModificationDetail" pk=pk %}"
        data-url="{% url 'ProductModificationDetailAPI' pk=pk %}"
    >
        {% csrf_token %}
        {% include 'productmodification/common/information.html' %}
        {% include 'productmodification/common/spaces.html' %}
    </form>
{% endblock %}
{% block modalData %}
    {% include 'productmodification/common/modals.html' %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/haind-common-js.js' %}"></script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static "assets/js/productmodification/product_modification_common.js" %}"></script>
    <script src="{% static "assets/js/productmodification/product_modification_detail.js" %}"></script>
{% endblock %}
