{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Working calendar' %}
{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <style>
    .btn-remove-year{
        position: absolute;
        visibility: hidden;
        transition: all 0.2s ease-in;
        top:5px;
        right: 5px;
    }
    .year-item:hover .btn-remove-year{
        visibility: visible;
    }

    .active + .btn-remove-year {
        color: #fff;
    }
    .active + .btn-remove-year:hover {
        text-shadow: 0 0 8px rgba(255,255,255,.7), 0 0 5px #ffff00;
    }
    </style>
{% endblock %}

{% block pageAction %}
{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2 class="h2">{% trans 'Holidays' %}</h2>
        </div>
    </div>
    <div class="row mt-4 border">
        <div class="col-xs-12 col-md-2 border-right">
            <div class="row">
                <h6 class="h6 bg-blue-light-5 pt-2 pb-2">{% trans 'Year' %}</h6>
            </div>
            <div class="wrap_years mt-3 mb-5">
                <ul class="nav flex-column nav-light nav-pills nav-vertical">
                    {% for item in data.wc_cfg.years %}
                        <li class="nav-item year-item position-relative" data-year-id="{{ item.id }}">
                            <a href="#years_{{ item.config_year }}"
                               class="nav-link {% if forloop.first %}active{% endif %}"
                               data-bs-toggle="tab">
                                <span class="nav-link-text">{{ item.config_year }}</span>
                            </a>
                            <button class="btn btn-icon btn-rounded flush-soft-hover btn-remove-year">
                                <span class="btn-icon-wrap"><i class="fa-solid fa-trash-can"></i></span>
                            </button>
                        </li>
                    {% empty %}
                        <li class="nav-item year-item-empty">{% trans 'Years is empty' %}</li>
                    {% endfor %}
                </ul>
            </div>
            <a href="#">
                <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#modal_years">
                                    <span>
                                        <span>{% trans 'Add year' %}</span>
                                        <span class="icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                    </span>
                </button>
            </a>
        </div>
        <div class="col-xs-12 col-md-10 mb-5">
            <div class="row">
                <h6 class="h6 bg-blue-light-5 pt-2 pb-2">{% trans 'Holidays' %}</h6>
            </div>
            <div class="wrap_holidays mt-3 mb-5">
                <div class="tab-content">
                    {% for item in data.wc_cfg.years %}
                        <div class="tab-pane fade {% if forloop.first %}active show{% endif %}"
                             data-year-id="{{ item.id }}" id="years_{{ item.config_year }}">
                            <table id="holidays_{{ item.config_year }}" class="table nowrap w-100 mb-5 text-center">
                                <thead>
                                <tr>
                                    <th>{% trans 'Date' %}</th>
                                    <th>{% trans 'Description' %}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="3">{% trans 'Data list is empty' %}</td>
                                </tr>
                                </tbody>
                            </table>
                            <script type="application/json">{{ item.list_holiday|safe }}</script>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <a href="#">
                <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#modal_holidays">
                                    <span>
                                        <span>{% trans 'Add holiday' %}</span>
                                        <span class="icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                    </span>
                </button>
            </a>
        </div>
    </div>
{% endblock %}
{% block dataHiddenGroup %}
    <div class="template hidden">
        <ul class="li-year-item">
            <li class="nav-item year-item">
                <a class="nav-link" data-bs-toggle="tab">
                    <span class="nav-link-text"></span>
                </a>
                <button class="btn btn-icon btn-rounded flush-soft-hover btn-remove-year">
                    <span class="btn-icon-wrap"><i class="fa-solid fa-trash-can"></i></span>
                </button>
            </li>
        </ul>
        <div class="group-btn-tb">
            <div class="wrap-action-btn">
                <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover btn-edit-row">
                    <span class="btn-icon-wrap">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </span>
                </a>
                <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover btn-remove-row">
                    <span class="btn-icon-wrap">
                        <i class="fa-solid fa-trash-can"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="holidays-tabs">
            <div class="tab-pane fade" data-year-id="" id="">
                <table id="" class="table nowrap w-100 mb-5 text-center">
                    <thead>
                    <tr>
                        <th>{% trans 'Date' %}</th>
                        <th>{% trans 'Description' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="3">{% trans 'Data list is empty' %}</td>
                    </tr>
                    </tbody>
                </table>
                <script type="application/json"></script>
            </div>
        </div>
    </div>
    <input type="hidden" id="config_id" name="id" value="{{ data.wc_cfg.id }}">
    <input type="text" id="url-factory" aria-label="url factory"
           data-year="{% url 'WorkingYearCreate' %}"
           data-year-delete="{% url 'WorkingYearDetail' pk=0 %}"
           data-holiday="{% url 'WorkingHolidayCreate' %}"
           data-holiday-detail="{% url 'WorkingHolidayDetail' 0 %}"
    >
    <input type="text" id="trans-factory" aria-label="translate factory"
           data-holidays-error="{% trans 'date of Holidays not match with year please verify again' %}"
    >

{% endblock %}
{% block modalData %}
    <div class="modal fade" id="modal_years">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Create year' %}</h5>
                </div>
                <div class="modal-body">
                    <form class="container-fluid mt-4" id="formYear" method="post" autocomplete="off"
                          data-method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputConfigYear" class="form-label">{% trans 'Number year' %}</label>
                            <input type="text" name="config_year" id="inputConfigYear" class="form-control"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary" form="formYear">{% trans 'Save' %}</button>
                    <button type="button" class="btn btn-secondary ml-auto" data-bs-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_holidays">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Holidays' %}</h5>
                </div>
                <div class="modal-body">
                    <form class="container-fluid mt-4" id="formHoliday" method="post" autocomplete="off"
                          data-method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputHolidayDate" class="form-label">{% trans 'Date' %}</label>
                            <div class="input-affix-wrapper">
                                <input type="text" name="holiday_date_to" id="inputHolidayDate"
                                       class="form-control date-picker" autocomplete="off">
                                <span class="input-suffix"><i class="fa-solid fa-calendar-days"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputRemark" class="form-label required">{% trans 'Description' %}</label>
                            <textarea name="remark" id="inputRemark" class="form-control" cols="3" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary" form="formHoliday">{% trans 'Save' %}</button>
                    <button type="button" class="btn btn-secondary ml-auto" data-bs-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/e-offices/leave/js/working_calendar.js' %}"></script>
{% endblock %}
