{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'AR Invoice' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url "ARInvoiceCreate" %}">
        <button class="btn btn-outline-primary" type="button">
            <span>
                <span>{% trans 'Add' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <script id="script-url"
    ></script>
{#    <div class="row">#}
{#        <div class="col-12">#}
{#            <button id="reload-invoice-status-btn" type="button" class="btn-sm btn btn-gradient-primary">{% trans 'Reload invoice status' %}</button>#}
{#        </div>#}
{#    </div>#}
    <div class="row">
        <div class="col-12">
            <table id="datatable_ar_invoice_list"
                   class="table nowrap w-100 mb-5"
                   data-method="GET"
                   data-url-redirect="{% url 'ARInvoiceList' %}"
                   data-url="{% url 'ARInvoiceListAPI' %}"
                   data-url-detail="{% url 'ARInvoiceDetail' '0' %}"
            >
                <thead>
                <tr>
                    <th style="min-width: 50px"></th>
                    <th style="min-width: 100px">{% trans "Code" %}</th>
                    <th style="min-width: 300px">{% trans "Name" %}</th>
                    <th style="min-width: 150px">{% trans "Orders" %}</th>
                    <th style="min-width: 300px">{% trans "Customer" %}</th>
                    <th style="min-width: 200px">{% trans "Employee created" %}</th>
                    <th style="min-width: 200px">{% trans "Date created" %}</th>
                    <th style="min-width: 100px">{% trans "Invoice status" %}</th>
                    <th style="min-width: 150px">{% trans "System status" %}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/arinvoice/ar_invoice_list.js' %}"></script>
{% endblock %}
