{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Journal entry' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
{% endblock %}
{% block pageContent %}
    <script id="trans-script"
            data-trans-all="{% trans 'Default all' %}"
    ></script>
    <script id="url-script"
            data-url-accounting-account="{% url 'ChartOfAccountsListAPI' %}"
    ></script>

    <form id="form-detail-je" data-url="{% url 'JournalEntryDetailAPI' pk=pk %}" data-method="GET">
        {% csrf_token %}
        {% include 'journalentry/common/information.html' %}
        {% include 'journalentry/common/table.html' %}
    </form>
{% endblock %}
{% block modalData %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static 'assets/js/journalentry/journalentry_common.js' %}"></script>
    <script src="{% static 'assets/js/journalentry/journalentry_detail.js' %}"></script>
{% endblock %}
