<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 92.8642%; height: 125px; border-style: hidden; margin-left: auto; margin-right: auto;" border="0">
<tbody>
<tr style="height: 104px;">
<td style="width: 12.8965%; height: 104px; text-align: center;"><img src="https://www.bflow.vn/images/logo/icon/icon_180x180.png" alt="" width="82" height="82" /></td>
<td style="width: 94.6751%; height: 104px; border-style: hidden;">
<p style="text-align: center;"><span style="font-size: 16px;"><strong>C&Ocirc;NG TY CỔ PHẦN GIẢI PH&Aacute;P MINH T&Acirc;M</strong></span></p>
<p style="text-align: center;">20 Đường số 22, B&igrave;nh Hưng, B&igrave;nh Ch&aacute;nh, Th&agrave;nh phố Hồ Ch&iacute; Minh</p>
<p style="text-align: center;"><span style="font-size: 12px;">Điện thoại: 0903 608 494</span></p>
<p style="text-align: center;"><span style="font-size: 12px;">MST: <span class="ui-provider byv byw bkc byx byy byz bza bzb bzc bzd bze bzf bzg bzh bzi bzj bzk bzl bzm bzn bzo bzp bzq bzr bzs bzt bzu bzv bzw bzx bzy bzz caa cab cac" dir="ltr">0317493763</span></span></p>
<hr /></td>
</tr>
</tbody>
</table>
<div class="split-columns-group" style="display: flex;">
<div class="split-columns-item" style="flex: 50%;">
<h3>Số: <span id="idx-UZlNqjfC8Flq5JP6" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="code">#Code</span>​</h3>
</div>
<div class="split-columns-item" style="flex: 50%;">
<p style="text-align: right;">TP. Hồ Ch&iacute; Minh <span id="idx-OkAfnUrZUdD6Epbl" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="_current_date_solemn">#Current date solemn</span>​&nbsp;</p>
</div>
</div>
<h1 style="text-align: center;">​ <span style="font-size: 20px;"><strong>BẢNG B&Aacute;O GI&Aacute;</strong></span></h1>
<p>K&iacute;nh gởi: Qu&yacute; Kh&aacute;ch H&agrave;ng <em><strong><span id="idx-Vc5YERSZzKtc10Lq" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="customer__name">#Customer name</span>​</strong></em>&nbsp;</p>
<p>Ch&uacute;ng t&ocirc;i xin ch&acirc;n th&agrave;nh c&aacute;m ơn sự ủng hộ của Qu&yacute; Kh&aacute;ch H&agrave;ng đối với c&aacute;c sản phẩm, dịch vụ của C&ocirc;ng ty ch&uacute;ng t&ocirc;i.&nbsp;</p>
<p>Ch&uacute;ng t&ocirc;i xin gởi đến Qu&yacute; Kh&aacute;ch H&agrave;ng bảng gi&aacute; theo y&ecirc;u cầu như sau:​&nbsp;&nbsp;</p>
<p><strong>Danh mục h&agrave;ng h&oacute;a, thiết bị</strong></p>
<table style="border-collapse: collapse; width: 100%; height: 24px;" border="1">
<tbody>
<tr style="height: 12px;">
<td style="width: 6.13928%; height: 12px; text-align: center;"><strong>Số TT</strong></td>
<td style="width: 15.2257%; height: 12px; text-align: center;"><strong>Sản phẩm - Dịch vụ</strong></td>
<td style="width: 13.2787%; height: 12px; text-align: center;"><strong>M&ocirc; tả</strong></td>
<td style="width: 8.28081%; height: 12px; text-align: center;"><strong>Đơn vị t&iacute;nh</strong></td>
<td style="width: 8.83577%; height: 12px; text-align: center;"><strong>Số lượng</strong></td>
<td style="width: 11.9852%; height: 12px; text-align: center;"><strong>Đơn gi&aacute;</strong></td>
<td style="width: 9.27605%; height: 12px; text-align: center;"><strong>Gi&aacute;m gi&aacute;</strong></td>
<td style="width: 7.87143%; height: 12px; text-align: center;"><strong>Thuế</strong></td>
<td style="width: 17.4998%; height: 12px; text-align: center;"><strong>Th&agrave;nh tiền</strong></td>
</tr>
<tr style="height: 12px;">
<td style="width: 6.13928%; height: 12px;"><span id="idx-8NCVHh6Pds7vtQjE" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_products_data___order">#Product - Order Number</span>​&nbsp;</td>
<td style="width: 15.2257%; height: 12px;"><span id="idx-7Vo4w2xnDWQTSxux" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_products_data___product_title">#Product - title</span>​&nbsp;</td>
<td style="width: 13.2787%; height: 12px; text-align: justify;"><span id="idx-s5tvJz97UFwFVja2" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_products_data___product_description">#Product - description</span>​&nbsp;</td>
<td style="width: 8.28081%; height: 12px; text-align: center;"><span id="idx-f72NsGOkMMuQIXOy" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_products_data___product_uom_title">#Product - UOM</span>​&nbsp;</td>
<td style="width: 8.83577%; height: 12px; text-align: center;"><span id="idx-1BQB4p6mAh20RjWp" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_products_data___product_quantity">#Product - Quantity</span>​&nbsp;</td>
<td style="width: 11.9852%; height: 12px; text-align: right;"><span id="idx-EnFV3puZEp8YBooU" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_products_data___product_unit_price">#Product - Unit Price</span>​&nbsp;</td>
<td style="width: 9.27605%; height: 12px; text-align: center;"><span id="idx-dshVFywL6Vx57HDy" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_products_data___product_discount_value">#Product - Discount value</span>​%&nbsp;</td>
<td style="width: 7.87143%; height: 12px; text-align: center;"><span id="idx-ktg6dLHkxvGY8K7B" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_products_data___product_tax_value">#Product - Tax value</span>​%&nbsp;</td>
<td style="width: 17.4998%; height: 12px; text-align: right;"><span id="idx-cURkd1EDcCap0iFW" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_products_data___product_subtotal_price">#Product - Subtotal Price</span>​ đồng</td>
</tr>
</tbody>
</table>
<div class="split-columns-group" style="display: flex;">
<div class="split-columns-group" style="display: flex;">
<div class="split-columns-item" style="flex: 50%;">&nbsp;</div>
</div>
</div>
<div class="split-columns-group" style="display: flex;">
<div class="split-columns-item" style="flex: calc(100%/3);">
<p>&nbsp;</p>
</div>
<div class="split-columns-item" style="flex: calc(100%/3);">
<table style="border-collapse: collapse; width: 98.4088%; height: 48px;" border="1">
<tbody>
<tr style="height: 12px;">
<td style="width: 36.533%; height: 12px;">Th&agrave;nh tiền trước thuế</td>
<td style="width: 17.7519%; height: 12px;">&nbsp;</td>
<td style="width: 245.101%; height: 12px; text-align: right;"><span id="idx-1hLiwUgpf08iB1Qa" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="total_product_pretax_amount">#Total Pretax Amount</span>​ đồng</td>
</tr>
<tr style="height: 12px;">
<td style="width: 36.533%; height: 12px;">Giảm gi&aacute;</td>
<td style="width: 17.7519%; height: 12px;"><span id="idx-Ep2X0Vz2LGg5nzcT" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="total_product_discount_rate">#Total Discount Rate</span>​ %</td>
<td style="width: 245.101%; height: 12px; text-align: right;"><span id="idx-CfsfKZb9yi6IkkIQ" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="total_product_discount">#Total Discount Amount</span>​ đồng</td>
</tr>
<tr style="height: 12px;">
<td style="width: 36.533%; height: 12px;">Thuế</td>
<td style="width: 17.7519%; height: 12px;">&nbsp;</td>
<td style="width: 245.101%; height: 12px; text-align: right;"><span id="idx-1fxC8ABWok1rMnRO" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="total_product_tax">#Total Tax Amount</span>​ đồng</td>
</tr>
<tr style="height: 12px;">
<td style="width: 36.533%; height: 12px;">Tổng gi&aacute; trị</td>
<td style="width: 17.7519%; height: 12px;">&nbsp;</td>
<td style="width: 245.101%; height: 12px; text-align: right;"><strong><span id="idx-9ezsXT6ggf8pNmUp" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="total_product">#Total All Amount</span>​ đồng</strong></td>
</tr>
</tbody>
</table>
</div>
</div>
<p style="text-align: left;">​Bảng b&aacute;o gi&aacute; c&oacute; gi&aacute; trị trong v&ograve;ng 3 ng&agrave;y. Qu&yacute; kh&aacute;ch vui l&ograve;ng x&aacute;c nhận đặt h&agrave;ng trước khi thanh to&aacute;n để ch&uacute;ng t&ocirc;i giữ đ&uacute;ng h&agrave;ng h&oacute;a v&agrave; gi&aacute; đ&atilde; b&aacute;o.</p>
<p><strong>Phương thức giao nhận h&agrave;ng:</strong></p>
<p>Địa điểm giao h&agrave;ng: <span id="idx-5jFKMvgRNGBUxoxJ" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_logistic_data__shipping_address">#Shipping Address</span>​</p>
<p>Th&ocirc;ng tin h&oacute;a đơn: <span id="idx-Kbttb9ikc5Cz1pCW" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="quotation_logistic_data__billing_address">#Billing Address</span>​</p>
<p>Thời gian dự kiến giao h&agrave;ng:&nbsp;</p>
<p>Tất cả c&aacute;c thiết bị đều l&agrave; thiết bị mới v&agrave; được bảo h&agrave;nh tại Trung T&acirc;m Bảo H&agrave;nh MTS (số 1 đường Yersin, TP.HCM)</p>
<p><strong>Phương thức thanh to&aacute;n:</strong></p>
<p>H&igrave;nh thức thanh to&aacute;n: Chuyển khoản</p>
<p>Thời gian thanh to&aacute;n: Trước khi b&agrave;n giao thiết bị</p>
<p>T&agrave;i khoản thụ hưởng:</p>
<p><span class="mce-nbsp-wrap" contenteditable="false">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap" contenteditable="false">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap" contenteditable="false">&nbsp;&nbsp;&nbsp;</span>T&ecirc;n t&agrave;i khoản: C&ocirc;ng Ty Cổ Phần Giải Ph&aacute;p Minh T&acirc;m</p>
<p><span class="mce-nbsp-wrap" contenteditable="false">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap" contenteditable="false">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap" contenteditable="false">&nbsp;&nbsp;&nbsp;</span>Số t&agrave;i khoản: 111222333</p>
<p><span class="mce-nbsp-wrap" contenteditable="false">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap" contenteditable="false">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap" contenteditable="false">&nbsp;&nbsp;&nbsp;</span>Ng&acirc;n h&agrave;ng: ACB</p>
<div class="split-columns-group" style="display: flex;">
<div class="split-columns-item" style="flex: 50%;">
<p style="text-align: center;"><strong>X&Aacute;C NHẬN ĐẶT H&Agrave;NG</strong></p>
</div>
<div class="split-columns-item" style="flex: 50%;">
<p style="text-align: center;"><strong>ĐẠI DIỆN KINH DOANH</strong></p>
<h2 style="text-align: center;"><span id="idx-SZZhO6Nt2aoLC9Xl" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="sale_person__full_name">#Sale person fullname</span>​</h2>
<p style="text-align: center;"><span id="idx-S13fC0bO1skGWzzs" class="params-data" style="padding: 3px; background-color: #f1f1f1;" data-code="sale_person__email">#Sale person email</span>​</p>
</div>
</div>
<p>​&nbsp;</p>