#upload-area {
    height: 150px;
    line-height: 150px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    cursor: pointer;
}

.list-break {
    width: 20%;
    float: left;
    list-style: none;
}

fieldset{
    border-top: solid 1px #555;
    margin-top: 20px;
    margin-bottom: 20px;
}
fieldset legend{
    margin-top: -13px;
    font-size: 14px;
    font-weight: 600;
}
legend span{
    background: #fff;
    padding-right: 10px;
}