.form-detail {
    background-color: white;
}

#upload-area {
    height: 150px;
    line-height: 150px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    cursor: pointer;
}

.list-break {
    width: 25%;
    float: left;
    list-style: none;
}

.permission-table tr,
.permission-table tr th {
    border: 0;
    border-bottom: solid 1px #007D88;
}

#employee-permission-detail table tr td {
    padding: 5px 0;
}

#employee-permission-detail table tr td select {
    height: 38px;
    max-width: 280px;
}
.select2-container{
    max-width: 280px;
}