.form-detail {
    background-color: white;
}

#upload-area {
    height: 150px;
    line-height: 150px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    cursor: pointer;
}

.list-break {
    width: 25%;
    float: left;
    list-style: none;
}
.permission-table tr,
.permission-table tr th{
    border: 0;
    border-bottom: solid 1px #007D88;
}