html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #000;
    line-height: 1.5; /* override line-height of _reboot */
}

#bg, #bg-blur, #contents {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#bg {
    z-index: 1052;
}

#bg-blur {
    z-index: 1053;
}

#contents {
    z-index: 1054;
    overflow: auto;
    opacity: 0;
}

.flag-icon {
    width: 1rem;
    height: 1rem;
}

.notifyjs-corner {
    z-index: 2147483647 !important;
    top: 0 !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}

.btn-more-submitted {
    border: 1px solid #6bb4ba;
    color: #004b52;
    background-color: #fff;
    cursor: pointer;
    padding: 5px 3px !important;
    border-radius: 5px;
}