:root {
    --sp: 1.5s; /* change speed */
}

#content-loaders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #bfcbd0;
    z-index: 1055;
}

.content-loaders-full {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 5rem;
    height: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.65);
    animation: spin-all calc(var(--sp) * 2) linear 0s infinite
}

.circle {
    --in: 80%;
    --ar: #ff9800;
    --dt: #ffea34;
    --shadow: drop-shadow(0rem 0rem 0.1rem #7c7c7c) drop-shadow(0rem 0.1rem 0.1rem #9c9c9c);
    --cross: linear-gradient(0deg, #fff0 calc(50% - 2px), #000 calc(50% - 1px) calc(50% + 1px), #fff0 calc(50% + 2px)), linear-gradient(90deg, #fff0 calc(50% - 2px), #000 calc(50% - 1px) calc(50% + 1px), #fff0 calc(50% + 2px));
    border: 0.6rem solid var(--ar);
    width: var(--in);
    height: var(--in);
    border-radius: 100%;
    position: absolute;
    box-sizing: border-box;
    border-top-color: #fff0;
    border-left-color: #fff0;
    top: 1.5rem;
    right: -1.0rem;
    animation: spin-bot var(--sp) ease 0s infinite;
    background-image: var(--cross), radial-gradient(var(--dt) 0.55rem, #fff0 calc(0.55rem + 1px));
    background-repeat: no-repeat;
    background-size: 0.3rem 0.1rem, 0.1rem 0.3rem, 100% 100%;
    background-position: center center;
    filter: var(--shadow);
}

.circle:nth-child(2) {
    --in: 60%;
    top: -0.2rem;
    animation: spin-top var(--sp) ease 0s infinite;
    transform: rotate(-45deg);
    background-image: var(--cross), radial-gradient(var(--dt) 0.125rem, #fff0 calc(0.125rem + 1px));
    right: -0.4rem;
    filter: hue-rotate(10deg) var(--shadow);
    background-size: 0.14rem 0.1rem, 0.1rem 0.14rem, 100% 100%;
}

.circle:nth-child(3) {
    --in: 100%;
    top: -0.5rem;
    left: -1.3rem;
    transform: rotate(175deg);
    animation: spin-left var(--sp) ease calc(var(--sp) / 4) infinite;
    background-image: var(--cross), radial-gradient(var(--dt) 0.9rem, #fff0 calc(0.9rem + 1px));
    filter: hue-rotate(20deg) var(--shadow);
    background-size: 0.5rem 0.1rem, 0.1rem 0.5rem, 100% 100%;
}

.circle:nth-child(4) {
    --in: 60%;
    top: 3.5rem;
    left: -0.6rem;
    transform: rotate(-280deg);
    animation: spin-last var(--sp) ease calc(calc(calc(var(--sp) / 4) + var(--sp)) * -1) infinite;
    background-image: var(--cross), radial-gradient(var(--dt) 0.25rem, #fff0 calc(0.25rem + 1px));
    filter: hue-rotate(30deg) var(--shadow);
    background-size: 0.2rem 0.1rem, 0.1rem 0.2rem, 100% 100%;
}


@keyframes spin-all {
    0% {
        transform: rotate(0deg) scale(0.65);
    }
    100% {
        transform: rotate(360deg) scale(0.65);
    }
}


@keyframes spin-top {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(315deg);
    }
}

@keyframes spin-bot {
    0%, 35% {
        transform: rotate(0deg);
    }
    80%, 100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin-left {
    0%, 35% {
        transform: rotate(175deg);
    }
    80%, 100% {
        transform: rotate(535deg);
    }
}

@keyframes spin-last {
    0%, 10% {
        transform: rotate(-280deg);
    }
    90%, 100% {
        transform: rotate(-640deg);
    }
}