:root {
    --bg-checkbox: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    --bg-checkbox-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-checkbox-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.mb-1 {
    margin-bottom: 5px;
}
.mb-2 {
    margin-bottom: 8px;
}
.mb-3 {
    margin-bottom: 12px;
}
.mb-4 {
    margin-bottom: 15px;
}
.mb-5 {
    margin-bottom: 18px;
}

input.form-checkbox-input[type=checkbox] {
    accent-color: #298dff;
    margin-right: 1rem;
    margin-bottom: 0;
}

.form-checkbox-group input[type=checkbox] + label {
    cursor: pointer;
}

.form-checkbox-switch input[type=checkbox] {
    cursor: pointer;
    width: 2rem;
    height: 1rem;
    border: 1px solid #7c7c7c;
    border-radius: 2rem;
    background-image: var(--bg-checkbox);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: unset;
    appearance: none;
    transition: 0.3s;
}

.form-checkbox-switch input[type=checkbox]:checked {
    background-image: var(--bg-checkbox-checked);
    background-position: right center;
    background-color: #298dff;
    border-color: #298dff;
}

.form-checkbox-label {
    width: auto;
}

.form-checkbox-label-sub {
    margin-left: 1rem;
}

.form-checkbox-group input[type=checkbox].form-checkbox-xs {
    width: 0.6rem;
    height: 0.6rem;
}

.form-checkbox-group.form-checkbox-switch input[type=checkbox].form-checkbox-xs {
    width: 1.2rem;
}

.form-checkbox-group input[type=checkbox].form-checkbox-sm {
    width: 0.8rem;
    height: 0.8rem;
}

.form-checkbox-group.form-checkbox-switch input[type=checkbox].form-checkbox-sm {
    width: 1.6rem;
}

.form-checkbox-group input[type=checkbox].form-checkbox-md {
    width: 1rem;
    height: 1rem;
}

.form-checkbox-group.form-checkbox-switch input[type=checkbox].form-checkbox-md {
    width: 2rem;
}

.form-checkbox-group input[type=checkbox].form-checkbox-lg {
    width: 1.2rem;
    height: 1.2rem;
}

.form-checkbox-group.form-checkbox-switch input[type=checkbox].form-checkbox-lg {
    width: 2.4rem;
}

.form-checkbox-group input[type=checkbox].form-checkbox-xl {
    width: 1.4rem;
    height: 1.4rem;
}

.form-checkbox-group.form-checkbox-switch input[type=checkbox].form-checkbox-xl {
    width: 2.8rem;
}

/* select 2 */
select.form-input-xs + .select2-container .select2-selection--single {
    padding: 0;
    height: auto;
    font-size: 0.6rem;
}

select.form-input-xs + .select2-container .select2-selection .select2-selection__rendered {
    font-size: 0.6rem;
}

select.form-input-xs + .select2-container .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

select.form-input-sm + .select2-container .select2-selection--single {
    padding: 1px 3px;
    min-height: 30px;
    height: auto;
}

select.form-input-sm + span.select2-container .select2-selection .select2-selection__rendered {
    font-size: 0.8rem;
}

select.form-input-sm + .select2-container .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

select.form-input-md + .select2-container .select2-selection--single {
    padding: 4px 6px;
    height: auto;
    min-height: 30px;
}

select.form-input-md + span.select2-container .select2-selection .select2-selection__rendered {
    font-size: 1rem;
}

select.form-input-md + .select2-container .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

select.form-input-lg + .select2-container .select2-selection--single {
    padding: 6px 14px;
    height: auto;
    min-height: 30px;
}

select.form-input-lg + span.select2-container .select2-selection .select2-selection__rendered {
    font-size: 1.2rem;
}

select.form-input-lg + .select2-container .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

select.form-input-xl + .select2-container .select2-selection--single {
    padding: 14px 16px  ;
    height: auto;
    min-height: 30px;
}

select.form-input-xl + span.select2-container .select2-selection .select2-selection__rendered {
    font-size: 1.4rem;
}

select.form-input-xl + .select2-container .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

.select2-container {
    margin-bottom: 5px;
}
.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #fff;
    color: #000;
}
.select2-container .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 0;
}

.select2-container.select2-container--focus .select2-selection--multiple {
    border: 1px solid #298dff;
}
.select2-container--focus .select2-selection,
.select2-container--open .select2-selection {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  border-color: #298dff;
}

.select2-container .select2-dropdown .select2-search {
    margin: 5px;
}

.select2-container .select2-results .select2-results__option {
    padding: 10px 5px;
}

.select2-container .select2-search.select2-search--inline {
    padding: 10px 5px;
}
.select2-container .select2-search.select2-search--inline textarea {
    margin-bottom: 0;
}
/* -- select 2 */

select.form-input-sm + .select2-container .select2-selection.select2-selection--multiple {
    font-size: 0.8rem;
    padding: 0;
}
select.form-input-md + .select2-container .select2-selection.select2-selection--multiple {
    font-size: 1.0rem;
    padding: 8px 6px 10px 6px;
}
select.form-input-lg + .select2-container .select2-selection.select2-selection--multiple {
    font-size: 1.2rem;
    padding: 6px 14px 12px 10px;
}