{% extends 'form/config_base.html' %}

{% load static i18n %}

{% block pageAction %}
    <button
            class="btn btn-outline-primary"
            type="button"
            id="btn-save-document"
            data-url="{% url 'FormCreateAPI' %}"
            data-method="POST"
            data-url-redirect="{% url 'FormListView' %}"
    >
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}

{% block jsExtends %}
    <script src="{% static 'form/config/create.js' %}"></script>
{% endblock %}
