{% load static i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'assets/images/bflow/icon/icon_36x36.png' %}">
    <link rel="icon" href="{% static 'assets/images/bflow/icon/icon_36x36.png' %}" type="image/x-icon">
    <title>Preview iframe</title>
    <script src="{% static 'form/runtime/vendors/jquery.min.js' %}"></script>
    <script src="{% static 'form/runtime/vendors/jquery-ui.min.js' %}"></script>

    <style>
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
        }

        #iframe-preview {
            resize: both;
            height: 80vh;
            min-height: 300px;
            width: 80%;
            min-width: 300px;
            margin: 0 auto;
            border: none;
        }
    </style>

</head>
<body>
<div style="display: flex; justify-content: center;width: 100%;">
    <iframe
            aria-label="" frameborder="0" id="iframe-preview"
            src="{% url 'FormPublishedRuntimeIFrame' form_code=form_code %}"
    ></iframe>
</div>

<div
        id="draggable"
        style="position: absolute; z-index: 99999; top: 3px;left: 3px; width: 120px;background-color: #00717a;color: #fff; border-radius: 5px;padding: 10px;"
>
    <span>{% trans 'Theme mode' %}:</span>
    <div style="margin-left: 10px;">
        <input id="idx-theme-system" type="radio" name="theme" value="system" checked/>
        <label for="idx-theme-system">{% trans 'System' %}</label>
        <br/>
        <input id="idx-theme-light" type="radio" name="theme" value="light"/>
        <label for="idx-theme-light">{% trans 'Light' %}</label>
        <br/>
        <input id="idx-theme-dark" type="radio" name="theme" value="dark"/>
        <label for="idx-theme-dark">{% trans 'Dark' %}</label>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#draggable").draggable({
            containment: 'body',
        });

        $('#iframe-preview').resize(function () {
            alert('resize');
        })

        let mode = 'light';
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            mode = 'dark'
        }

        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
            mode = event.matches ? 'dark' : 'light';
        });


        function activeLight() {
            $('body').css('background-color', '#fff');
        }

        function activeDark() {
            $('body').css('background-color', '#262a2e');
        }

        $('input[type=radio][name="theme"]').on('change', function () {
            switch ($(this).val()) {
                case 'system':
                    switch (mode) {
                        case 'light':
                            activeLight();
                            break
                        case 'dark':
                            activeDark();
                            break
                    }
                    break
                case 'light':
                    activeLight();
                    break
                case 'dark':
                    activeDark();
                    break
            }
        });
        $('input[type=radio][name="theme"][checked]').trigger('change');
    });
</script>
</body>
</html>