{% extends 'base.html' %}

{% load static i18n %}

{% block pageAction %}
    <a href="{% url 'FormEntriesListView' pk=pk %}">
        <button class="btn btn-outline-primary no-transform">
            <span>
                <span>{% trans 'Entries Data' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-box-archive"></i>
                </span>
            </span>
        </button>
    </a>
    <button
            class="btn btn-outline-primary"
            type="button"
            id="btn-save-document"
            data-url="{% url 'FormUpdateAPI' pk=pk %}"
            data-method="PUT"
            data-url-detail="{% url 'FormDetailAPI' pk=pk %}"
            data-url-redirect="{% url 'FormUpdateView' pk=pk %}"
    >
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}

{% block jsHeader %}
    <script src="{% static 'vendors/jquery/dist/jquery-ui.min.js' %}"></script>
    <script src="{% static 'form/config/vendors/qrcode.min.js' %}"></script>
{% endblock %}

{% block cssHeader %}
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'form/runtime/vendors/flatpickr/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'form/runtime/vendors/jquery-ui/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'form/runtime/vendors/font-awesome/6.4.0/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'form/runtime/vendors/rating/rating.css' %}">
    <link rel="stylesheet" href="{% static 'form/runtime/vendors/rangeSlider/style.css' %}">
    <link rel="stylesheet" href="{% static 'form/runtime/vendors/page/style.css' %}">

    <link rel="stylesheet" href="{% static 'form/runtime/css/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'form/runtime/css/runtime.css' %}">
    <link rel="stylesheet" href="{% static 'form/runtime/css/select-box.css' %}">
    <link rel="stylesheet" href="{% static 'form/config/css/themes.css' %}">

    <link rel="stylesheet" href="{% static 'form/config/css/more-config-toolbox.css' %}">
    <link rel="stylesheet" href="{% static 'form/config/css/embed_form.css' %}">
    <link rel="stylesheet" href="{% static 'form/config/css/scrollbar-textarea.css' %}">
    <link rel="stylesheet" href="{% static 'form/config/css/style.css' %}">
    <style>
        .select2-container .select2-search.select2-search--inline,
        .select2-container .select2-results .select2-results__option {
            padding: 0!important;
        }
    </style>
{% endblock %}

{% block pageContent %}
    {% include 'form/editor.html' with toolbarHide='mail' %}
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'form/runtime/vendors/HtmlSanitizer/HtmlSanitizer.js' %}"></script>

    <script src="{% static 'vendors/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
    <script src="{% static 'form/runtime/vendors/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'form/runtime/vendors/flatpickr/i18n/vn.js' %}"></script>
    <script src="{% static 'form/runtime/vendors/rangeSlider/index.js' %}"></script>

    <script src="{% static 'form/runtime/vendors/jquery-ui/ui/i18n/datepicker-vi.js' %}"></script>
    <script src="{% static 'form/config/form-lib.js' %}"></script>
    <script src="{% static 'form/config/update.js' %}"></script>
{% endblock %}
