{% extends 'form/config_base.html' %}

{% load static i18n %}

{% block pageAction %}
    <a href="{% url 'FormEntriesListView' pk=pk %}">
        <button class="btn btn-outline-primary no-transform">
            <span>
                <span>{% trans 'Entries Data' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-box-archive"></i>
                </span>
            </span>
        </button>
    </a>
    <button
            class="btn btn-outline-primary"
            type="button"
            id="btn-save-document"
            data-url="{% url 'FormUpdateAPI' pk=pk %}"
            data-method="PUT"
            data-url-detail="{% url 'FormDetailAPI' pk=pk %}"
            data-url-redirect="{% url 'FormUpdateView' pk=pk %}"
    >
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}

{% block jsExtends %}
    <script src="{% static 'form/config/update.js' %}"></script>
{% endblock %}
