{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Call Log list' %}{% endblock %}
{% block cssHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}"/>
{% endblock %}
{% block pageAction %}
    <button id="create-new-call-log-button" class="btn btn-outline-primary" type="button" data-bs-toggle="modal"
            data-bs-target="#create-new-call-log">
        <span>
            <span>{% trans 'Add' %}</span>
            <span class="icon">
                <i class="fa-solid fa-plus"></i>
            </span>
        </span>
    </button>
{% endblock %}

{% block pageContent %}
    <script id="trans-script"
            data-trans-activity-cancelled="{% trans 'Cancelled' %}"
            data-trans-alert-cancel="{% trans 'Cancel this call log ?' %}"
            data-trans-alert-warn="{% trans 'This call log cannot be reactivated.' %}"
    ></script>
    <input type="hidden" id="employee_current_id" value="{{ data.employee_current_id }}">
    <table id="table_opportunity_call_log_list" class="table nowrap w-100 mb-5"
           data-url-contact-detail="{% url 'ContactDetail' '0' %}"
           data-url-delete="{% url 'OpportunityCallLogDetailAPI' '0' %}"
           data-url-redirect="{% url 'OpportunityCallLogList' %}"
           data-url="{% url 'OpportunityCallLogListAPI' %}" data-method="GET">
        <thead>
        <tr>
            <th></th>
            <th>{% trans 'To Contact' %}
                <i class="fas fa-info-circle icon-info"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="{% trans 'Press row here to open detail page.' %}">
                </i>
            </th>
            <th>{% trans 'Subject' %}
                <i class="fas fa-info-circle icon-info"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="{% trans 'Press row here to see detail call log.' %}">
                </i>
            </th>
            <th>{% trans 'Sale Code' %}</th>
            <th>{% trans 'Date' %}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block modalData %}
    {% include 'sales/opportunity/extends/call_log_modals.html' %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/sales/opportunity/js/call_log_list.js' %}"></script>
    <script>
        $(document).ready(function(){
            const modal$ = $("#create-new-call-log");
            const create_open = $x.fn.getUrlParameter('create_open', '') === 'true';
            let processData = [];
            let processStageApp = [];
            if (create_open === true){
                modal$.modal('show');
                const {
                    process_id,
                    process_title,
                    process_stage_app_id,
                    process_stage_app_title,
                } = $x.fn.getManyUrlParameters(['process_id', 'process_title', 'process_stage_app_id', 'process_stage_app_title']);
                if (process_id){
                    processData.push({
                        'id': process_id,
                        'title': process_title,
                        'selected': true,
                    })
                }
                if (process_stage_app_id){
                    processStageApp.push({
                        'id': process_stage_app_id,
                        'title': process_stage_app_title,
                        'selected': true,
                    })
                }
            }

            const inpProcess$ = modal$.find(':input[name=process]');
            const inpStageApp$ = modal$.find(':input[name=process_stage_app]');

            function reinitProcessStageApp(data=[], process_id=null){
                inpStageApp$.destroySelect2();
                let dataParams = {"application_id": inpStageApp$.data('app-id')};
                if (process_id && $x.fn.checkUUID4(process_id)) dataParams['process_id'] = process_id;
                inpStageApp$.initSelect2({
                    allowClear: true,
                    dataParams: dataParams,
                    data: data
                })
            }

            function reinitProcess(data=[], opp_id=null){
                inpProcess$.destroySelect2();
                let dataParams = {};
                if (opp_id && $x.fn.checkUUID4(opp_id)) dataParams['opp_id'] = opp_id;
                inpProcess$.initSelect2({
                    allowClear: true,
                    dataParams: dataParams,
                    data: data
                }).on('change', function(){
                    const selectedVal = $(this).val();
                    reinitProcessStageApp([], selectedVal ? selectedVal : null);
                })
            }

            modal$.find('#sale-code-select-box').on('change', function(){
                const selectedVal = $(this).val();
                reinitProcess([], selectedVal ? selectedVal : null);
                inpProcess$.trigger('change');
            })

            reinitProcess(processData);
            reinitProcessStageApp(processStageApp);
        })
    </script>
{% endblock %}
