{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Meeting list' %}{% endblock %}
{% block cssHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}"/>
{% endblock %}
{% block pageAction %}
    <button id="create-meeting-button" class="btn btn-outline-primary" type="button" data-bs-toggle="modal"
            data-bs-target="#create-meeting">
        <span>
            <span>{% trans 'Add' %}</span>
            <span class="icon">
                <i class="fa-solid fa-plus"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <input type="hidden" id="employee_current_id" value="{{ data.employee_current_id }}">
    <table id="table_opportunity_meeting_list" class="table nowrap w-100 mb-5"
           data-url="{% url 'OpportunityMeetingListAPI' %}"
           data-url-delete="{% url 'OpportunityMeetingDetailAPI' '0' %}"
           data-url-redirect="{% url 'OpportunityMeetingList' %}"
           data-method="GET">
        <thead>
        <tr>
            <th></th>
            <th>{% trans 'Subject' %}
                <i class="fas fa-info-circle icon-info"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="{% trans 'Press row here to see detail meeting.' %}">
                </i>
            </th>
            <th>{% trans 'Sale Code' %}</th>
            <th>{% trans 'Date' %}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="modal fade mt-10" id="create-meeting" tabindex="-1" role="dialog"
         aria-labelledby="createOpportunityMeetingModalForms" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Create meeting' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; height: 58vh">
                    <form data-url="{% url 'OpportunityMeetingListAPI' %}"
                          data-url-redirect="{% url 'OpportunityMeetingList' %}"
                          data-method="POST"
                          id="form-new-meeting"
                          method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Subject' %}</label>
                                    <input id="meeting-subject-input" placeholder="{% trans 'Input subject' %}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Sale Code' %}</label>
                                    <select id="meeting-sale-code-select-box"
                                            data-url="{% url 'OpportunityListAPI' %}"
                                            data-keyResp="opportunity_list"
                                            data-method="GET" class="form-select"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Date' %}</label>
                                    <input id="meeting-date-input" placeholder="{% trans 'Input date' %}" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="InputFromTime" class="form-label">{% trans 'From time' %}</label>
                                    {% include 'eoffice/leave/extends/select_choice_time.html' with class_name='meeting_from_time' id_select='InputFromTime' %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="InputToTime" class="form-label">{% trans 'To time' %}</label>
                                    {% include 'eoffice/leave/extends/select_choice_time.html' with class_name='meeting_to_time' id_select='InputToTime' %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Meeting address' %}</label>
                                    <div id="meeting-address-select-div">
                                        <select disabled id="meeting-address-select-box" class="select2"></select>
                                        <a id="meeting-address-input-btn" class="text-primary form-text text-muted text-right" href="#">{% trans 'Input address' %}</a>
                                    </div>
                                    <div id="meeting-address-input-div" hidden>
                                        <input id="meeting-address-input" placeholder="{% trans 'Input address' %}" class="form-control">
                                        <a id="meeting-address-select-btn" class="text-primary form-text text-muted text-right" href="#">{% trans 'Select address' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Room location' %}</label>
                                    <input id="meeting-room-location-input" placeholder="{% trans 'Input location' %}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Employee attended' %}</label>
                                    <select id="meeting-employee-attended-select-box" data-url="{% url 'EmployeeListAPI' %}"
                                            multiple class="select2 select-multiple" data-closeOnSelect="false"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Customer member' %}</label>
                                    <select disabled id="meeting-customer-member-select-box" multiple data-closeOnSelect="false" class="select2 select-multiple"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">
                                        {% trans 'Input result' %}
                                    </label>
                                    <textarea id="meeting-result-text-area" placeholder="{% trans 'Input result' %}" class="form-control" style="min-height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row" hidden>
                            <div class="col-12">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="repeat-activity">
                                        <label class="form-check-label" for="repeat-activity">{% trans 'Need to repeat activity' %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="form-new-meeting"
                            id="btn-create-meeting">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mt-10" id="detail-meeting" tabindex="-1" role="dialog"
         aria-labelledby="detailOpportunityMeetingModalForms" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Detail Meeting' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; height: 58vh">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Subject' %}</label>
                                <input disabled style="color: #6f6f6f" id="detail-meeting-subject-input" placeholder="{% trans 'Input subject' %}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Sale Code' %}</label>
                                <select disabled id="detail-meeting-sale-code-select-box" class="select2 form-select"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Date' %}</label>
                                <input disabled style="color: black" id="detail-meeting-date-input" placeholder="{% trans 'Input date' %}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label for="meeting-from-time" class="form-label required">{% trans 'From time' %}</label>
                            <input disabled style="color: black" id="meeting-from-time"
                                   placeholder="{% trans 'From time' %}" class="form-control">
                        </div>
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="form-label required" for="meeting-to-time">{% trans 'To time' %}</label>
                            <input disabled style="color: black" id="meeting-to-time"
                                   placeholder="{% trans 'To time' %}" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Meeting address' %}</label>
                                <select disabled id="detail-meeting-address-select-box" class="select2 form-select"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Room location' %}</label>
                                <input disabled style="color: #6f6f6f" id="detail-meeting-room-location-input" placeholder="{% trans 'Input location' %}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Employee attended' %}</label>
                                <select disabled style="color: #6f6f6f" id="detail-meeting-employee-attended-select-box" multiple class="select2 select-multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Customer member' %}</label>
                                <select disabled style="color: #6f6f6f" id="detail-meeting-customer-member-select-box" multiple class="select2 select-multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">
                                    {% trans 'Input Result' %}
                                </label>
                                <textarea disabled style="color: #6f6f6f" id="detail-meeting-result-text-area" placeholder="{% trans 'Input result' %}" class="form-control" style="min-height: 100px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row" hidden>
                        <div class="col-12">
                            <div class="mb-3">
                                <div class="form-check">
                                    <input disabled class="form-check-input" type="checkbox" id="detail-repeat-activity">
                                    <label for="repeat-activity">{% trans 'Need to repeat activity' %}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%  block dataHiddenGroup %}
    <div class="delete-btn">
        <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover delete-activity">
        <span class="btn-icon-wrap">
            <i class="fa-solid fa-trash-can"></i>
        </span>
        </a>
    </div>
    <input type="hidden" id="trans-factory" data-time-valid="{% trans 'To time need larger than From time' %}">
{% endblock %}
{% block jsFooter %}

    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/sales/opportunity/js/meeting_list.js' %}"></script>
{% endblock %}
