{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Opportunity list' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/dropify/dist/css/dropify.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/sweetalert2/sweetalert2.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}"/>
    <link href="{% static 'assets/sales/task/css/create-form.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        .sub-stage {
            display: flex;
            justify-content: center;
        }
        .view_task_log {
            cursor: pointer
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="#" id="btn-opp-edit">
        <button class="btn btn-outline-primary">
        <span>
            <span>{% trans 'Edit' %}</span>
            <span class="icon">
                <i class="fa-regular fa-pen-to-square"></i>
            </span>
        </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <div class="page-content">
        <form id="frm-detail" data-method="PUT" data-url="{% url 'OpportunityDetailAPI' pk=pk %}"
              data-url-redirect="{% url "OpportunityList" %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-3 border-right" id="group-general-info-opp">
                    <div class="col-12">
                        {% include 'sales/opportunity/extends/general-info.html' %}
                    </div>
                </div>
                <div class="col-md-12 col-lg-8 col-xl-9">
                    <div class="col-12">
                        {% include 'sales/opportunity/extends/relate-info.html' %}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade mt-10" id="create-new-call-log" tabindex="-1" role="dialog"
         aria-labelledby="createOpportunityCallLogModalForms" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Create New Call Log' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; height: 62vh">
                    <form data-url="{% url 'OpportunityCallLogListAPI' %}"
                          data-url-redirect="{% url 'OpportunityCallLogList' %}"
                          data-method="POST"
                          id="form-create-new-call-log"
                          method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label required">
                                {% trans 'Subject' %}
                            </label>
                            <input id="subject-input" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">
                                {% trans 'Sale Code' %}
                            </label>
                            <select id="sale-code-select-box" class="select2 form-select" data-url="{% url 'OpportunityListAPI' %}" data-method="GET"></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">
                                {% trans 'Customer' %}
                            </label>
                            <select disabled id="account-select-box" class="select2 form-select" data-url="{% url 'AccountListAPI' %}" data-method="GET"></select>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label required">
                                    {% trans 'Contact' %}
                                </label>
                                <select id="contact-select-box" class="select2 form-select"></select>
                            </div>
                            <div class="col-6">
                                <label class="form-label required">
                                    {% trans 'Date' %}
                                </label>
                                <input id="date-input" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">
                                {% trans 'Input Result' %}
                            </label>
                            <textarea id="result-text-area" class="form-control" style="min-height: 100px"></textarea>
                        </div>
                        <div class="mb-3" hidden>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="repeat-activity">
                                <label class="form-check-label" for="repeat-activity">{% trans 'Need to repeat activity' %}</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="form-create-new-call-log"
                            id="btn-create-new-call-log">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mt-10" id="detail-call-log" data-url="{% url 'OpportunityCallLogDetailAPI' '0' %}" tabindex="-1" role="dialog"
         aria-labelledby="detailOpportunityCallLogModalForms" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Detail Call Log' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; height: 58vh">
                    <div class="mb-3">
                        <label class="form-label required">
                            {% trans 'Subject' %}
                        </label>
                        <input readonly id="detail-subject-input" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label required">
                            {% trans 'Sale Code' %}
                        </label>
                        <select disabled style="color: #6f6f6f" id="detail-sale-code-select-box" class="select2 form-select" data-url="{% url 'OpportunityListAPI' %}" data-method="GET"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label required">
                            {% trans 'Customer' %}
                        </label>
                        <select disabled style="color: #6f6f6f" id="detail-account-select-box" class="select2 form-select" data-url="{% url 'AccountListAPI' %}" data-method="GET"></select>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="form-label required">
                                {% trans 'Contact' %}
                            </label>
                            <select disabled id="detail-contact-select-box" class="select2 form-select"></select>
                        </div>
                        <div class="col-6">
                            <label class="form-label required">
                                {% trans 'Date' %}
                            </label>
                            <input readonly id="detail-date-input" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label required">
                            {% trans 'Input Result' %}
                        </label>
                        <textarea readonly id="detail-result-text-area" class="form-control" style="min-height: 100px"></textarea>
                    </div>
                    <div class="mb-3" hidden>
                        <div class="form-check">
                            <input disabled class="form-check-input" type="checkbox" id="detail-repeat-activity">
                            <label for="repeat-activity">{% trans 'Need to repeat activity' %}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'sales/task/extend/task-form.html' %}

    <div class="modal fade mt-10" id="send-email" tabindex="-1" role="dialog"
         aria-labelledby="createOpportunityEmailModalForms" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Send Email' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; height: 58vh">
                    <form data-url="{% url 'OpportunityEmailListAPI' %}"
                          data-url-redirect="{% url 'OpportunityEmailList' %}"
                          data-method="POST"
                          id="form-new-email"
                          method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label class="form-label required">{% trans 'Sale Code' %}</label>
                            <select id="email-sale-code-select-box" class="select2 form-select" data-url="{% url 'OpportunityListAPI' %}" data-method="GET"></select>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label required">{% trans 'To' %}</label>
                            <select id="email-to-select-box" class="select2 form-select" multiple="multiple" data-account-list-url="{% url 'AccountDetailAPI' '0' %}" data-url="{% url 'ContactListAPI' %}" data-method="GET"></select>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label">{% trans 'Cc' %}</label>
                            <select id="email-cc-select-box" class="select2 form-select" multiple="multiple" data-url="{% url 'ContactListAPI' %}" data-method="GET"></select>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label required">{% trans 'Subject' %}</label>
                            <div><input id="email-subject-input" class="form-control"></div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-12 col-form-label">{% trans 'Content' %}</label>
                            <div><textarea id="email-content-area"></textarea></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="form-new-email"
                                id="btn-send-email">{% trans 'Send' %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mt-10" id="detail-send-email" data-url="{% url 'OpportunityEmailDetailAPI' '0' %}" tabindex="-1" role="dialog" aria-labelledby="detailOpportunityEmailModalForms" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Detail Email' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; height: 58vh">
                    <div class="row mb-3">
                        <label class="form-label required">{% trans 'Sale Code' %}</label>
                        <select disabled id="detail-email-sale-code-select-box" class="select2 form-select" data-url="{% url 'OpportunityListAPI' %}" data-method="GET"></select>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label required">{% trans 'To' %}</label>
                        <select disabled id="detail-email-to-select-box" class="select2 form-select" multiple="multiple" data-url="{% url 'ContactListAPI' %}" data-method="GET"></select>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label">{% trans 'Cc' %}</label>
                        <select disabled id="detail-email-cc-select-box" class="select2 form-select" multiple="multiple" data-url="{% url 'ContactListAPI' %}" data-method="GET"></select>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label required">{% trans 'Subject' %}</label>
                        <div><input readonly id="detail-email-subject-input" class="form-control"></div>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label">{% trans 'Content' %}</label>
                        <div>
                            <div class="row form-group mb-3" id="detail-email-content-area"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mt-10" id="create-meeting" tabindex="-1" role="dialog"
         aria-labelledby="createOpportunityMeetingModalForms" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Create Meeting' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; height: 58vh">
                    <form data-url="{% url 'OpportunityMeetingListAPI' %}"
                          data-url-redirect="{% url 'OpportunityMeetingList' %}"
                          data-method="POST"
                          id="form-new-meeting"
                          method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Subject' %}</label>
                                    <input id="meeting-subject-input" placeholder="{% trans 'Input subject' %}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Sale Code' %}</label>
                                    <select id="meeting-sale-code-select-box" data-url="{% url 'OpportunityListAPI' %}" data-method="GET" class="select2 form-select"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Date' %}</label>
                                    <input id="meeting-date-input" placeholder="{% trans 'Input date' %}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Meeting address' %}</label>
                                    <div id="meeting-address-select-div">
                                        <select id="meeting-address-select-box" class="select2"></select>
                                        <a id="meeting-address-input-btn" class="text-primary form-text text-muted text-right" href="#">input address</a>
                                    </div>
                                    <div id="meeting-address-input-div" hidden>
                                        <input id="meeting-address-input" placeholder="Input meeting address" class="form-control">
                                        <a id="meeting-address-select-btn" class="text-primary form-text text-muted text-right" href="#">select address</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label">{% trans 'Room location' %}</label>
                                    <input id="meeting-room-location-input" placeholder="{% trans 'Input location' %}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Employee attended' %}</label>
                                    <select id="meeting-employee-attended-select-box" data-url="{% url 'EmployeeListAPI' %}" multiple class="select2 select-multiple"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">{% trans 'Customer member' %}</label>
                                    <select disabled id="meeting-customer-member-select-box" multiple class="select2 select-multiple"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label required">
                                        {% trans 'Input Result' %}
                                    </label>
                                    <textarea id="meeting-result-text-area" placeholder="{% trans 'Input result' %}" class="form-control" style="min-height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row" hidden>
                            <div class="col-12">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="repeat-activity">
                                        <label class="form-check-label" for="repeat-activity">{% trans 'Need to repeat activity' %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="form-new-meeting"
                            id="btn-create-meeting">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mt-10" id="detail-meeting" data-url="{% url 'OpportunityMeetingDetailAPI' '0' %}" tabindex="-1" role="dialog"
         aria-labelledby="detailOpportunityMeetingModalForms" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Detail Meeting' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; height: 58vh">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Subject' %}</label>
                                <input disabled style="color: #6f6f6f" id="detail-meeting-subject-input" placeholder="{% trans 'Input subject' %}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Sale Code' %}</label>
                                <select disabled id="detail-meeting-sale-code-select-box" class="select2 form-select"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Date' %}</label>
                                <input disabled style="color: black" id="detail-meeting-date-input" placeholder="{% trans 'Input date' %}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Meeting address' %}</label>
                                <select disabled id="detail-meeting-address-select-box" class="select2 form-select"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">{% trans 'Room location' %}</label>
                                <input disabled style="color: #6f6f6f" id="detail-meeting-room-location-input" placeholder="{% trans 'Input location' %}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Employee attended' %}</label>
                                <select disabled style="color: #6f6f6f" id="detail-meeting-employee-attended-select-box" multiple class="select2 select-multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">{% trans 'Customer member' %}</label>
                                <select disabled style="color: #6f6f6f" id="detail-meeting-customer-member-select-box" multiple class="select2 select-multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label required">
                                    {% trans 'Input Result' %}
                                </label>
                                <textarea disabled style="color: #6f6f6f" id="detail-meeting-result-text-area" placeholder="{% trans 'Input result' %}" class="form-control" style="min-height: 100px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row" hidden>
                        <div class="col-12">
                            <div class="mb-3">
                                <div class="form-check">
                                    <input disabled class="form-check-input" type="checkbox" id="detail-repeat-activity">
                                    <label for="repeat-activity">{% trans 'Need to repeat activity' %}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dataHiddenGroup %}
    <input type="text" id="url-factory"
           data-task_detail="{% url 'OpportunityTaskDetailAPI' 1 %}"
           data-task_list="{% url 'OpportunityTaskListAPI' %}"
           data-url-edit="{% url 'OpportunityUpdate' pk=0 %}"
           data-url-emp-detail="{% url 'EmployeeDetail' pk=0 %}"
    >
    <input type="text" id="trans-factory"
           data-activity-type01="{% trans 'Call to customer' %}"
           data-activity-type02="{% trans 'Send email' %}"
           data-activity-type03="{% trans 'Meeting with customer' %}"
           data-trans-customer="{% trans 'Direct Customer' %}"
           data-trans-end-customer="{% trans 'End Customer' %}"
           data-trans-decision-maker="{% trans "Decision Maker" %}"
           data-trans-influence="{% trans "Influence" %}"
           data-trans-contact-involved="{% trans "Contact Involved" %}"
    >
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/dropify/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'vendors/sweetalert2/sweetalert2.js' %}"></script>
    <script src="{% static 'vendors/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>

    <script src="{% static 'assets/js/core/hr/permissions.js' %}"></script>
    <script src="{% static 'assets/js/core/hr/plan_app.js' %}"></script>
    <script src="{% static 'assets/js/core/hr/permission_group_tabs.js' %}"></script>

    <script src="{% static 'assets/sales/opportunity/js/opportunity_common.js' %}"></script>
    <script src="{% static 'assets/sales/opportunity/js/opportunity_detail.js' %}"></script>
{% endblock %}
