{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Opportunity list' %}{% endblock %}
{% block cssHeader %}
{% endblock %}

{% block pageAction %}
    <a class="btn btn-outline-primary btn-animated btn-xs"
       href=""
       data-bs-toggle="modal"
       data-bs-target="#createOpportunityModalForms"
       id="create_opportunity_button"
       data-bs-original-title="Add Opportunity">
            <span class="icon">
                <span class="feather-icon">
                    <i
                            data-feather="plus">
                    </i>
                </span>
                <span class="font-3 ml-1">
                    {% trans 'New' %}
                </span>
            </span>
    </a>
{% endblock %}

{% block pageContent %}
    <input type="hidden" id="data-customer">
    <input type="hidden" id="data-sale-person">
    <input type="hidden" id="employee_current_id" value="{{ data.employee_current_id }}">
    <input type="hidden" id="group_id_emp_login">
    <input type="hidden" id="opportunity-link"
           data-link-update="{% url 'OpportunityDetail' pk=0 %}"
           data-link-list="{% url 'OpportunityList' %}"
    >
    <div class="hidden">
        {{ data.config | json_script:"id-config-data" }}
    </div>
    <div class="row">
        <div class="col-lg-2 offset-lg-10 col-sm-12 offset-sm-0">
            <input type="text" placeholder="Search.." class="form-control" id="search_input"></div>
    </div>
    <table
            id="table_opportunity_list"
            class="table nowrap w-100 mb-5"
            data-url="{% url "OpportunityListAPI" %}"
            data-method="get"
    >
        <thead>
        <tr>
            <th>
                <span class="form-check">
                    <input
                            type="checkbox"
                            class="form-check-input check-select-all"
                            id="customCheck1"
                    >
                    <label class="form-check-label" for="customCheck1"></label>
                </span>
            </th>
            <th>{% trans 'Order Number' %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Customer' %}</th>
            <th>{% trans 'Sale Person' %}</th>
            <th>{% trans 'Open Date' %}</th>
            <th>{% trans 'Close Date' %}</th>
            <th>{% trans 'Stage' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div
            class="modal fade"
            id="createOpportunityModalForms"
            tabindex="-1"
            role="dialog"
            aria-labelledby="createOpportunityModalForms"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Create Opportunity' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form
                            data-url="{% url 'OpportunityListAPI' %}"
                            data-url-redirect="{% url 'OpportunityDetail' pk=0 %}"
                            data-method="POST"
                            id="form-create_opportunity"
                            method="post"
                    >
                        {% csrf_token %}
                        <div class="mb-3 form-group">
                            <label class="form-label">
                                {% trans 'Select Customer' %}
                                <sup class="field-required">(*)</sup>
                            </label>
                            <select
                                    class="form-control select2"
                                    id="select-box-opportunity-create-customer"
                                    data-url="{% url "AccountListAPI" %}"
                                    data-method="GET"
                                    name="customer"
                                    required
                            ></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="exampleDropdownFormPassword1">
                                {% trans 'Name' %}
                                <sup class="field-required">(*)</sup>
                            </label>
                            <input
                                    type="text" class="form-control" id="exampleDropdownFormPassword1"
                                    placeholder="" name="title" required
                            >
                        </div>
                        <div class="mb-3 form-group">
                            <label class="form-label">{% trans "Product Category" %}</label>
                            <select class="form-control select2"
                                    name="product_category"
                                    id="select-box-product-category"
                                    multiple
                                    data-method="GET"
                                    data-url="{% url 'ProductCategoryListAPI' %}"
                            >
                            </select>
                        </div>
                        <div class="mb-3 form-group">
                            <label class="form-label">{% trans "Sale Person" %}
                            <sup class="field-required">(*)</sup></label>
                            <select class="form-control select2"
                                    name="sale_person"
                                    id="select-box-sale-person"
                                    data-close-on-select="true"
                                    data-method="GET"
                                    data-url="{% url 'EmployeeListAPI' %}"
                            >
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary"
                                id="btn-create_opportunity">{% trans 'Save' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'assets/sales/opportunity/js/opportunity_list.js' %}"></script>
{% endblock %}
