{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Opportunity' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block pageAction %}
    <a href="#" data-bs-toggle="modal" data-bs-target="#createOpportunityModalForms" id="create_opportunity_button">
        <button class="btn btn-outline-primary">
            <span>
                <span>{% trans 'Add' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <table id="table_opportunity_list" class="table nowrap w-100" data-url="{% url "OpportunityListAPI" %}" data-method="get">
        <thead>
        <tr>
            <th style="min-width: 50px"></th>
            <th style="min-width: 150px">{% trans "Code" %}</th>
            <th style="min-width: 300px">{% trans 'Name' %}</th>
            <th style="min-width: 300px">{% trans 'Customer' %}</th>
            <th style="min-width: 150px">{% trans 'Sale Person' %}</th>
            <th style="min-width: 200px">{% trans 'Date created' %}</th>
            <th style="min-width: 150px">{% trans 'Close Date' %}</th>
            <th style="min-width: 180px">{% trans 'Stage' %}</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}
{% block dataHiddenGroup %}
    <input type="hidden" id="url-factory" data-url-config="{% url 'OpportunityConfigDetailAPI' %}">
    <input type="hidden" id="data-customer">
    <input type="hidden" id="data-sale-person">
    <input type="hidden" id="employee_current_id" value="{{ request.user.employee_current_data.id }}">
    <input type="hidden" id="employee_current_group" value="{{ request.user.employee_current_data.group }}">
    <input type="hidden" id="group_id_emp_login">
    <input type="hidden" id="opportunity-link" data-link-update="{% url 'OpportunityDetail' pk=0 %}" data-link-list="{% url 'OpportunityList' %}">
{% endblock %}
{% block modalData %}
    <div class="modal fade" id="createOpportunityModalForms" tabindex="-1" role="dialog" aria-labelledby="createOpportunityModalForms" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Create Opportunity' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form data-url="{% url 'OpportunityListAPI' %}"
                          data-url-detail="{% url 'OpportunityUpdate' pk=0 %}"
                          data-method="POST"
                          id="form-create_opportunity"
                          method="POST"
                    >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="select-box-customer" class="form-label required">{% trans 'Select customer' %}</label>
                                    <select class="form-select"
                                            id="select-box-customer"
                                            data-close-on-select="true"
                                            data-url="{% url "AccountForSaleListAPI" %}"
                                            data-method="GET"
                                            name="customer"
                                            data-keyResp="account_sale_list"
                                            data-keyText="name"
                                            required
                                    ></select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label required" for="opp-title">{% trans 'Name' %}</label>
                                    <input type="text" class="form-control" id="opp-title" name="title" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="select-box-product-category" class="form-label">{% trans "Product Category" %}</label>
                                    <select class="form-select"
                                            name="product_category"
                                            id="select-box-product-category"
                                            data-close-on-select="true"
                                            multiple
                                            data-method="GET"
                                            data-url="{% url 'ProductCategoryListAPI' %}"
                                            data-keyResp="product_category_list">
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="select-box-sale-person" class="form-label required">{% trans "Sale Person" %}</label>
                                    <select class="form-select"
                                            name="employee_inherit_id"
                                            id="select-box-sale-person"
                                            data-method="GET"
                                            data-url="{% url 'EmployeeListAPI' %}"
                                            data-keyResp="employee_list"
                                            data-keyText="full_name"
                                            required
                                    >
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="inp-process" class="form-label">{% trans 'Process' %}</label>
                                    <select name="process_config"
                                            id="inp-process"
                                            class="form-select"
                                            data-url="{% url 'ProcessReadyListAPI' %}?for_opp=true"
                                            data-keyResp="process_list"
                                    ></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="submit" class="btn btn-primary" form="form-create_opportunity">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/sales/opportunity/js/opportunity_list.js' %}"></script>
    <script>
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const inpProcess$ = $('#inp-process');
            const process_id = urlParams.get('create__process');
            const process_title = urlParams.get('create__process_name');
            let data = [];
            if (process_id && process_title) {
                $('#createOpportunityModalForms').modal('show');
                data = [
                    {
                        'id': process_id,
                        'title': process_title,
                        selected: true,
                    }
                ]
            }
            inpProcess$.initSelect2({
                ajax: {
                    url: inpProcess$.data('url'),
                    method: 'GET',
                },
                data: data,
                allowClear: true,
                keyResp: 'process_list',
            })
        })
    </script>
{% endblock %}
