{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Opportunity' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/dropify/dist/css/dropify.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/sweetalert2/sweetalert2.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}"/>
    <link href="{% static 'assets/sales/opportunity/css/opportunity_css.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/sales/task/css/create-form.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        .custom-layout .container-fluid .row:nth-child(2) > * {
            width: 100% !important;
        }
    </style>

    <link rel="stylesheet" href="{% static 'process/stages.css' %}">
    <link rel="stylesheet" href="{% static 'process/themes.css' %}">
    <link rel="stylesheet" href="{% static 'process/style.css' %}">
    <link rel="stylesheet" href="{% static 'process/runtime/detail.css' %}">
    <style>
        #process-runtime-detail {
            border-radius: 5px;
        }
        #btn-collapse-process-show .icon i {
            transition: transform 0.6s;
        }
        #btn-collapse-process-show.collapsed-active .icon i {
            transform: rotate(180deg);
        }
        #activities-btn-group a {
          padding: 0.6rem 0.9rem;
          border-radius: 10px;
          transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
          will-change: transform;
        }
        #activities-btn-group a:hover {
          transform: scale(1.05) translateY(-1px);
          box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
        }
        .mask-money {
            text-align: right; !important;
        }
        table .select2-selection__rendered {
            max-width: 250px;
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url 'OpportunityUpdate' pk=pk %}" id="btn-opp-edit">
        <button class="btn btn-outline-primary">
        <span>
            <span>{% trans 'Edit' %}</span>
            <span class="icon">
                <i class="fa-regular fa-pen-to-square"></i>
            </span>
        </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <div class="page-content" hidden>
        <form id="frm-detail" data-method="PUT" data-url="{% url 'OpportunityDetailAPI' pk=pk %}" data-url-redirect="{% url "OpportunityList" %}">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-12">
                    <input required style="font-weight: bolder; font-size: large" id="opp_title" class="text-primary form-control form-control-line">
                </div>
                <div class="col-12">
                    <ul class="mt-2" id="opp-stage-pipeline" data-url="{% url "OpportunityConfigStageListAPI" %}"></ul>
                </div>
            </div>
            <button id="btn-collapse-process-show" hidden
                    class="btn w-100 btn-xs mt-2 collapsed-active"
                    data-bs-toggle="tooltip"
                    type="button"
                    title="{% trans 'Process' %}">
                <span data-bs-toggle="modal" data-bs-target="#modalProcess">
                    <span>{% trans 'See detail process here' %}</span>
                    <span class="icon">
                        <span class="feather-icon">
                            <i class="fas fa-chevron-up"></i>
                        </span>
                    </span>
                </span>
            </button>
{#            {% include 'sales/opportunity/extends/stages-view.html' %}#}
            <div class="row mt-5">
                <div class="col-12 col-md-12 col-lg-3 border-right" id="group-general-info-opp">
                    {% include 'sales/opportunity/extends/general-info.html' %}
                </div>
                <div class="col-12 col-md-12 col-lg-9" id="group-relate-info-opp">
                    {% include 'sales/opportunity/extends/relate-info.html' %}
                </div>
            </div>
        </form>

        <form id="frm-add-member" data-method="POST" data-url="{% url 'OpportunityMemberListAPI' pk_opp='__pk_opp__' %}">
            <div
                    class="modal fade" id="modalAddMember" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLarge01"
                    aria-hidden="true"
            >
                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{% trans "Add member to Sale team" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table nowrap w-100" id="dtbMember" data-method="GET"
                                   data-url="{% url 'EmployeeListAPI' %}">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>{% trans "Employee" %}</th>
                                    <th>{% trans "Group" %}</th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button
                                    type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                            >{% trans "Close" %}</button>
                            <button
                                    type="submit" form="frm-add-member" class="btn btn-primary"
                            >{% trans "Add" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {{ data.type_customer|json_script:'data_type_customer' }}
    {{ data.role_customer|json_script:'data_role_customer' }}
{% endblock %}
{% block modalData %}
    {% include 'sales/task/extend/task-form.html' with has_prj=False%}
    <div class="modal fade" id="modalEditMember" tabindex="-1" role="dialog" aria-labelledby="modalEditMember" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Edit member' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">{% trans 'Save' %}</button>
                    <button
                            type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    >{% trans 'Cancel' %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalProcess" tabindex="-1" role="dialog" aria-labelledby="modalProcess" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="min-width: 80%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Process' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; max-height: 74vh">
                    <div class="row">
                        <div class="col-12">
                            <div id="process-runtime-detail"
                                 data-url="{% url 'ProcessRuntimeDetailAPI' pk='__pk__' %}"
                                 data-url-app="{% url 'TenantApplicationListAPI' %}"
                                 style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dataHiddenGroup %}
    <script type="text" id="url-factory"
            data-task_detail="{% url 'OpportunityTaskDetailAPI' 1 %}"
            data-task_list="{% url 'OpportunityTaskListAPI' %}"
            data-url-product="{% url 'OppProductListAPI' %}"
            data-url-product-category="{% url 'OppProductCategoryListAPI' %}"
            data-url-tax="{% url 'OppTaxListAPI' %}"
            data-url-uom="{% url 'OppUOMListAPI' %}"
            data-url-competitor="{% url 'OppCompetitorListAPI' %}"
            data-url-contact="{% url 'OppContactListAPI' %}"
            data-url-emp-detail="{% url 'EmployeeDetail' pk=0 %}"
            data-url-config="{% url 'OpportunityConfigDetailAPI' %}"
            data-url-related-quotation="{% url 'QuotationDetail' pk=0 %}"
            data-url-related-sale-order="{% url 'SaleOrderDetail' pk=0 %}"

            data-url-account-list="{% url 'AccountListAPI' %}"
            data-url-customer-list="{% url 'CustomerListAPI' %}"
            data-url-contact-list="{% url 'ContactListAPI' %}"
            data-url-opp-list="{% url 'OpportunityListAPI' %}"
            data-url-employee-list="{% url 'EmployeeListAPI' %}"

            data-url-config-stage="{% url 'OpportunityConfigStageListAPI' %}"

            data-url-quotation-detail="{% url 'QuotationDetail' pk=0 %}"
            data-url-sale-order-detail="{% url 'SaleOrderDetail' pk=0 %}"
            data-url-advance-detail="{% url 'AdvancePaymentDetail' pk=0 %}"
            data-url-payment-detail="{% url 'PaymentDetail' pk=0 %}"
            data-url-return-detail="{% url 'ReturnAdvanceDetail' pk=0 %}"
            data-url-bom-detail="{% url "OpportunityBOMDetail" '0' %}"
            data-url-bidding-detail="{% url "BiddingDetail" pk=0%}"
            data-url-consulting-detail="{% url "ConsultingDetail" pk=0%}"
            data-url-lease-order-detail="{% url "LeaseOrderDetail" pk=0%}"
            data-url-contract-detail="{% url "ContractApprovalDetail" pk=0%}"
            data-url-service-order-detail="{% url "ServiceOrderDetail" pk=0%}"
            data-url-service-quotation-detail="{% url "ServiceQuotationDetail" pk=0%}"

            data-url-quo-list="{% url "QuotationListAPI" %}"
            data-url-so-list="{% url "SaleOrderListAPI" %}"
            data-url-ap-list="{% url "AdvancePaymentListAPI" %}"
            data-url-payment-list="{% url "PaymentListAPI" %}"
            data-url-return-list="{% url "ReturnAdvanceListAPI" %}"
            data-url-call-log-detail="{% url "OpportunityCallLogDetailAPI" '0' %}"
            data-url-meeting-detail="{% url "OpportunityMeetingDetailAPI" '0' %}"
    ></script>
    <script type="text" id="trans-factory"
            data-activity-type01="{% trans 'Call to customer' %}"
            data-activity-type02="{% trans 'Send email' %}"
            data-activity-type03="{% trans 'Meeting with customer' %}"
            data-trans-limit-quantity="{% trans 'quantity must not be less than zero' %}"
            data-trans-limit-money="{% trans 'money must not be less than zero' %}"
            data-trans-role-decision-maker="{% trans 'Only one decision maker can be selected' %}"
            data-trans-opp-win-deal="{% trans 'Opp has been Win Deal' %}"
            data-assignee_empty="{% trans 'Assignee is required' %}"
            data-trans-not-created="{% trans 'has not been created for Opportunity' %}"
            data-msg-deny-delete-member-owner="{% trans 'This is Sale Person, can not remove!' %}"

            data-trans-quotation="{% trans "Quotation" %}"
            data-trans-sale-order="{% trans "Sale Order" %}"
            data-trans-advance="{% trans "Advance Payment" %}"
            data-trans-payment="{% trans "Payment" %}"
            data-trans-return="{% trans "Return Advance" %}"
            data-trans-task="{% trans "Task" %}"
            data-trans-bom="{% trans 'BOM' %}"
            data-trans-lease-order="{% trans 'Lease order' %}"
            data-trans-contract="{% trans 'Contract approval' %}"

            data-trans-call="{% trans "Call" %}"
            data-trans-email="{% trans "Email" %}"
            data-trans-meeting="{% trans "Meeting" %}"
            data-trans-valid="{% trans "Valid" %}"
            data-trans-invalid="{% trans "invalid" %}"
            data-forbidden="{% trans "Forbidden" %}"
            data-cancel-quo="{% trans "Please cancel current quotation" %}"
            data-cancel-so="{% trans "Please cancel current sale order" %}"
            data-cancel-lo="{% trans "Please cancel current lease order" %}"
            data-cancel-quo-so="{% trans "Please cancel current quotation, sale order" %}"
            data-trans-bidding="{% trans "Bidding" %}"
            data-trans-consulting="{% trans "Consulting" %}"
            data-trans-activity-cancelled="{% trans 'Cancelled' %}"
            data-trans-service-order="{% trans "Service order" %}"
            data-trans-service-quotation="{% trans "Service quotation" %}"
    ></script>
    <input type="hidden" id="employee_current_id" value="{{ data.employee_current_id }}">
    <script type="text" id="data-detail"></script>
    {{ data.stt_sys|json_script:'stt_sys' }}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/dropify/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'vendors/ckeditor/ckeditor.js' %}"></script>

    <script src="{% static 'vendors/jquery/dist/jquery-ui.min.js' %}"></script>
    <script src="{% static 'process/stages.js' %}"></script>

    <script src="{% static 'assets/js/core/hr/permissions.js' %}"></script>
    <script src="{% static 'assets/js/core/hr/plan_app.js' %}"></script>
    <script src="{% static 'assets/js/core/hr/permission_group_tabs.js' %}"></script>
    <script>
        function loadPermitEmpty() {
            let cls = new HandlePermissions();
            cls.loadData([], [], {
                enableVisibleColumns : false,
                enableSortColumns : false,
                enableTools : false,
                searching : false,
                ordering : false,
                visibleSearchField : false,
                visibleOrder : false,
            });
        }

        $('#btnResetData').on('click', function (){
            $('#member-current-edit').trigger('change');
        })
    </script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static 'assets/sales/opportunity/js/opportunity_common.js' %}"></script>
    <script src="{% static 'assets/sales/opportunity/js/opportunity_detail.js' %}"></script>
{#    <script src="{% static 'assets/sales/opportunity/js/activities/call_log/call_log_common.js' %}"></script>#}
{#    <script src="{% static 'assets/sales/opportunity/js/activities/email/email_common.js' %}"></script>#}
{#    <script src="{% static 'assets/sales/opportunity/js/activities/meeting/meeting_common.js' %}"></script>#}
    <script src="{% static 'assets/sales/opportunity/js/activities/task/task_in_opps.js' %}"></script>
{#    <script src="{% static 'assets/sales/opportunity/js/activities/activities_load_page.js' %}"></script>#}
    <script src="{% static 'assets/js/core/hr/extends_new/plan_app_permissions.js' %}"></script>
{% endblock %}
