/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
[name="num_product_received"],
input[name="purchase_num"],
input[name="use_count"]{
    width: 50px;
    text-align: center;
}

label[for="percent_value"],
label[for="use_count"] {
    width: auto;
}

select[name="times_condition"],
input[name="max_usages"] {
    width: 100px;
}

.sub-text-max_usages,
.ml-auto {
    margin-left: auto;
}

input[name="fix_value"],
input[name="percent_value"],
select[name="gift_before_after_tax"]{
    width: 140px;
}
input[name="min_purchase_cost"]{
    width: 190px;
}

#customer_modal .modal-body {
    min-height: 350px;
}
#customer_modal .modal-body{
    max-height: 450px;
    overflow-y: scroll;
}
.column-gap{
    column-gap: 10px;
}
label[for="percent_value"]{white-space: nowrap}