{% load static i18n %}
<div class="row h-100vh">
    <div class="col-xs-12 hidden-md">
        <button class="btn btn-primary">
            <span>
                <span>{% trans 'Attachment file' %}</span>
                <span class="icon"><i class="fa-solid fa-paperclip"></i></span>
            </span>
        </button>
    </div>
    <div class="col-sm-12 col-md-9 left-content bg-blue-light-5">
        <div class="row">
            <!-- Contract Information Section -->
            <div class="col-12">
                <h6 class="section-title mb-3 mt-2">
                    <i class="fa-solid fa-file-contract me-2"></i>{% trans 'Contract Information' %}
                </h6>
            </div>
            <div class="col-md-12 col-lg-6 form-group">
                <label for="contract_type_id">{% trans 'Contract type' %}</label>
                <select class="select2" id="contract_type_id" name="contract_type" data-onload="{{ data.contract_type }}"></select>
            </div>
            <div class="col-md-12 col-lg-6 form-check style-checkbox">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="limit_time" checked>
                <label class="form-check-label" for="gridCheck">{% trans 'Limited time' %}</label>
            </div>
            <div class="col-md-12 col-lg-6 form-group">
                <label class="form-label" for="effected_date">{% trans 'Effected date' %}</label>
                <div class="input-affix-wrapper">
                    <input class="form-control pl-2" id="effected_date" type="text" name="effected_date">
                    <span class="input-suffix"><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 form-group">
                <label class="form-label" for="expired_date">{% trans 'Expired date' %}</label>
                <div class="input-affix-wrapper">
                    <input class="form-control pl-2" id="expired_date" type="text" name="expired_date">
                    <span class="input-suffix"><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 form-group">
                <label for="company_representative" class="form-label">{% trans 'Company representative' %}</label>
                <select class="form-select select2" id="company_representative"
                        data-url="{% url 'EmployeeListAPI' %}"
                        data-keyResp="employee_list" data-keyText="full_name" data-keyId="id"
                        name="company_representative"></select>
            </div>
            <div class="col-md-12 col-lg-6 form-group">
                <label class="form-label" for="signing_date">{% trans 'Signing date' %}</label>
                <div class="input-affix-wrapper">
                    <input class="form-control pl-2" id="signing_date" type="text" name="signing_date"/>
                    <span class="input-suffix"><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>

            <!-- Salary Information Section -->
            <div class="col-12">
                <hr class="my-3">
                <h6 class="section-title mb-3">
                    <i class="fa-solid fa-money-bill-wave me-2"></i>{% trans 'Salary Information' %}
                </h6>
            </div>
            <div class="col-12 col-lg-6 form-group">
                <label class="form-label" for="salary_level">{% trans 'Salary level' %}</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="salary_level"
                           name="salary_level" placeholder="0" step="1" min="0">
                </div>
            </div>
            <div class="col-12 col-lg-6 form-group"></div>
            <div class="col-md-12 col-lg-6 form-group">
                <label class="form-label" for="salary_coefficient">{% trans 'Salary coefficient' %}</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="salary_coefficient"
                           name="salary_coefficient" step="0.5" min="0" value="1">
                </div>
            </div>
            <div class="col-md-12 col-lg-6 form-group">
                <label class="form-label" for="employee_salary">{% trans 'Employee salary' %}</label>
                <div class="input-group">
                    <input class="form-control mask-money" name="employee_salary" id="employee_salary" placeholder="0 VND">
                </div>
            </div>
            <div class="col-md-12 col-lg-6 form-group">
                <label class="form-label" for="insurance_salary">{% trans 'Salary for insurance' %}</label>
                <div class="input-group">
                    <input class="form-control mask-money" name="insurance_salary" id="insurance_salary" placeholder="0 VND">
                </div>
            </div>
            <div class="col-md-12 col-lg-6 form-group">
                <label class="form-label" for="salary_rate">{% trans 'Rate' %}</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="salary_rate" name="salary_rate"
                           placeholder="0" step="0.1" min="0" max="100">
                    <span class="input-group-text">%</span>
                </div>
            </div>

            <!-- File Type Section -->
            <div class="col-12"><hr class="my-2"></div>
            <div class="col-md-12 col-lg-6">
                <div class="title required">{% trans 'File type' %}</div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="file_type" id="file_type1" value="0">
                    <label class="form-check-label" for="file_type1">{% trans 'Attached files' %}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="file_type" id="file_type2" value="1">
                    <label class="form-check-label mr-4" for="file_type2">{% trans 'Online template' %}</label>
                </div>
            </div>
            {% if edit %}
                <div class="col-md-12 col-lg-6 hidden sign_check">
                    <div class="title">{% trans 'Signature status' %}</div>
                    <span class="badge"></span>
                </div>
            {% endif %}
            {% if show_icon %}
                <div class="col-md-12 col-lg-12 request_sign text-right hidden">
                    <button class="btn btn-outline-primary btn-sm" type="button">{% trans 'Sign a contract' %}</button>
                </div>
            {% endif %}
            <div class="clearfix mt-4"></div>
            <div class="col-md-12 col-lg-12">
                <input type="hidden" name="content_info" id="extra_data">
                <textarea id="inp-remarks" type="text" name="remarks"
                        data-css-url-render="{% static 'assets/hrm/css/contract/style.css' %}"
                        class="form-control {{ addClass }}"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 right-content">
        <div class="col-xs-12">
            <label for="#" class="mb-2">{% trans 'Attached files' %}</label>
            <div id="attachment" class="{{ addClass }}">
                {% include 'extends/files/all.html' %}
            </div>
        </div>
    </div>
</div>
