{% load static i18n %}
{{ data.contract_type|json_script:'contract_type' }}
<table id="datable_employee_contract_list" class="table nowrap w-100"
       data-url="{% url 'HRMEmployeeContractList' %}"
       data-method="GET"
       data-url-detail="{% url 'HRMEmployeeContractDetailAPI' pk='0' %}"
>
    <thead>
    <tr>
        <th>{% trans 'Number' %}</th>
        <th>{% trans 'Contract type' %}</th>
        <th>{% trans 'Start date' %}</th>
        <th>{% trans 'Expiration date' %}</th>
        <th>{% trans 'Signature status' %}</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>