{% load i18n string_utils %}

{% random_str 10 True as id_modal %}

<div class="d-flex justify-content-end align-items-center">
    <div class="form-check form-switch form-switch-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'Currency exchange' %}">
        <input type="checkbox" class="form-check-input" id="is_currency_exchange">
        <label class="form-check-label" for="is_currency_exchange"></label>
    </div>
    <div class="form-group hidden">
        <select
                class="form-select"
                id="currency_company_id"
                name="currency_company_id"
                data-url="{% url "CurrencyListAPI" %}"
                data-method="GET"
                data-keyResp="currency_list"
                data-keyText="abbreviation"
                disabled
        ></select>
    </div>
    <div class="form-group">
        <select
                class="form-select"
                id="currency_exchange_id"
                name="currency_exchange_id"
                data-url="{% url "CurrencyListAPI" %}"
                data-method="GET"
                data-keyResp="currency_list"
                data-keyText="abbreviation"
                disabled
        ></select>
    </div>
    <div class="form-group non-exchange">
        <input type="text" class="form-control mask-money mask-money-exchange" id="currency_exchange_rate" name="currency_exchange_rate" value="1" data-return-type="number" readonly>
    </div>
</div>
