{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Overtime request' %} {% trans 'create' %}
{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/flatpickr/themes/airbnb.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="overtime_request_form">
            <span>
                <span>{% trans 'Save' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-floppy-disk"></i>
                </span>
            </span>
    </button>
{% endblock %}

{% block pageContent %}
    <form class="container-fluid mt-4" id="overtime_request_form" method="post" data-method="POST" autocomplete="off"
          data-url-redirect="{% url 'OvertimeList' %}" data-url="{% url 'OvertimeListAPI' %}">
        {% csrf_token %}
        <input type="hidden" id="group-checked">
        <input type="hidden" id="employee-checked">
        <div class="col-12 col-md-3 col-lg-3 border-right">
            <ul class="nav nav-line nav-tabs nav-light">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_block_1">
                        <span class="nav-icon-wrap mr-1"><i class="fas fa-user-tie"></i></span>
                        <span class="nav-link-text">{% trans 'View by employee' %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab_block_2">
                        <span class="nav-icon-wrap mr-1"><i class="fas fa-users"></i></span>
                        <span class="nav-link-text">{% trans 'View by group' %}</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_block_1">
                    <table id="table_employee" class="table nowrap w-100 mb-5" data-url="{% url "EmployeeListAPI" %}">
                        <thead>
                        <tr>
                            <th class="w-70">{% trans 'Employee' %}</th>
                            <th class="w-30">{% trans 'Code' %}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="tab-pane fade show" id="tab_block_2">
                        <table id="table_group" class="table nowrap w-100 mb-5">
                            <thead>
                                <tr>
                                    <th>{% trans 'Group' %}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block dataHiddenGroup %}

    <input type="text" id="url-factory" aria-label="url factory"
           data-expense-url="{% url 'ExpenseItemListAPI' %}"
           data-tax-url="{% url 'TaxListAPI' %}"
    >
    <input type="text" id="trans-factory" aria-label="translate"
           data-error-time="{% trans 'Date time range is required' %}"
    >
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>
    {% if base.language %}
        <script src="{% static 'vendors/flatpickr/i18n/vn.js' %}"></script>
    {% endif %}

    <script src="{% static 'assets/overtime/js/common.js' %}"></script>
{% endblock %}
