{% extends 'base.html' %}
{% load static i18n %}
{% block fullBody %}
    <div class="hk-pg-wrapper">
        <div class="container-xxl">
            <!-- Page Body -->
            <div class="hk-pg-body">
                <div class="row">
                    <div class="col-xl-7 col-lg-6 d-lg-block d-none">
                        <div class="auth-content py-md-0 py-8">
                            <div class="row">
                                <div class="col-xl-12 text-center">
                                    <img
                                            src="{% static 'assets/images/systems/macaroni-fatal-error.png' %}" class="img-fluid w-sm-80 w-50"
                                            alt="login"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-10">
                        <div class="auth-content py-md-0 py-8">
                            <div class="w-100">
                                <div class="row">
                                    <div class="col-xxl-9 col-xl-8 col-lg-11">
                                        <h1 class="display-4 fw-bold mb-2">404</h1>
                                        <p class="p-lg">{% trans 'Sorry, the requested page cannot be found. Try finding with another name.' %}</p>
                                        <a href="{% url 'HomeView' %}" class="btn btn-primary mt-4">{% trans 'Return to home' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>

        {% include 'extends/systems/footer.html' %}

    </div>
{% endblock %}