{% load string_utils static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{{ base.tenant_current_data.code|upper }}{% endblock %}
    &#8901; {{ base.tenant_current_data|parsed_title_page|safe }}</title>
<meta name="description" content="Management Information System"/>

{% if base.company_current_data.logo %}
    <link rel="shortcut icon" href="{{ base.company_current_data.logo }}">
    <link rel="icon" href="{{ base.company_current_data.logo }}" type="image/x-icon">
{% else %}
    <link rel="shortcut icon" href="{% static 'assets/images/bflow/logo_36x36.png' %}">
    <link rel="icon" href="{% static 'assets/images/bflow/logo_36x36.png' %}" type="image/x-icon">
{% endif %}