{% load i18n string_utils %}

{% parse_bool is_create as c_is %}
{% parse_link create_link as c_link %}
{% parse_str create_idx as c_idx %}
{% if create_title %} {% parse_str create_title as c_title %} {% else %} {% trans 'Create' as c_title %} {% endif %}

{% parse_bool is_save as s_is %}
{% parse_bool is_save_draft as s_draft_is %}
{% parse_str save_frm as s_frm %}

{% parse_bool is_edit as e_is %}
{% parse_link edit_link as e_link %}
{% parse_str edit_idx as e_idx %}

{% if c_is == '1' %}
    <a
            href="{{ c_link }}"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="{{ c_title }}"
            id="{{ c_idx }}"
    >
        <button class="btn btn-outline-primary">
                <span>
                    <span>{% trans 'Add' %}</span>
                    <span class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                </span>
        </button>
    </a>
{% endif %}

{% if s_draft_is == '1' %}
    <button class="btn btn-outline-primary btn-saving-form" type="submit" form="{{ s_frm }}" data-status-submit="0">
    <span>
        <span>{% trans 'Save Draft' %}</span>
        <span class="icon">
            <i class="fa-regular fa-floppy-disk"></i>
        </span>
    </span>
    </button>
{% endif %}

{% if s_is == '1' %}
    <button class="btn btn-outline-primary btn-saving-form" type="submit" form="{{ s_frm }}" data-status-submit="1">
    <span>
        <span>{% trans 'Save' %}</span>
        <span class="icon">
            <i class="fa-solid fa-floppy-disk"></i>
        </span>
    </span>
    </button>
{% endif %}


{% if e_is == '1' %}
    <a href="{{ e_link }}">
        <button class="btn btn-outline-primary" id="{{ e_idx }}">
            <span>
                <span>{% trans 'Edit' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </span>
            </span>
        </button>
    </a>
{% endif %}