{% load i18n %}

<div class="modal fade" id="select-product-modified-modal" tabindex="-1" role="dialog" aria-labelledby="select-product-modified-modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Select modified product' %}</h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-pills-bfl quotation-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#tab_product">
                                    <span class="nav-icon-wrap"><span class="feather-icon"><i class="fa-solid fa-box"></i></span></span>
                                    <span class="nav-link-text">{% trans 'Product' %}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab_product_modification">
                                    <span class="nav-icon-wrap"><span class="feather-icon"><i class="fa-solid fa-boxes-stacked"></i></span></span>
                                    <span class="nav-link-text">{% trans 'Modified product' %}</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab_product">
                                <table class="table nowrap w-100" id="table-select-product-modified" data-method="GET" data-product-modified-list-url="{% url 'ProductModifiedListAPI' %}">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 50px"></th>
                                            <th style="min-width: 20px"></th>
                                            <th style="min-width: 200px">{% trans 'Product' %}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tab_product_modification">
                                <table class="table nowrap w-100" id="table-select-product-modified-before" data-method="GET" data-product-modified-before-list-url="{% url 'ProductModifiedBeforeListAPI' %}">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 50px"></th>
                                            <th style="min-width: 20px"></th>
                                            <th style="min-width: 100px">{% trans 'Modified number' %}</th>
                                            <th style="min-width: 200px">{% trans 'Product' %}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
                <button type="button" id="accept-product-modified-btn" class="btn btn-primary">{% trans 'Select' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-initial-components-modal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="confirm-initial-components-modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Confirm initial components' %}</h5>
                <button type="button" class="btn btn-icon btn-rounded btn-flush-light flush-soft-hover btn-lg" data-bs-dismiss="modal"><span class="icon"><i class="far fa-window-close"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table nowrap w-100" id="confirm-initial-components-table">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px"></th>
                                    <th style="min-width: 100px">{% trans 'Component' %}</th>
                                    <th style="min-width: 100px">{% trans 'Quantity' %}</th>
                                    <th style="min-width: 50px"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <button id="btn-add-row-init-component" class="btn btn-sm btn-primary mt-2" type="button">
                            <span>
                                <span>{% trans "Add new component" %}</span>
                                <span class="icon">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
                <button type="button" id="confirm-initial-components-btn" class="btn btn-primary">{% trans 'Confirm' %}</button>
            </div>
        </div>
    </div>
</div>
