.btn-group-update-employee {
    padding: 0.5rem;
    background-color: #007D88;
    color: #ffffff;
    text-align: center;
    border-style: solid;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-right: 15px;
    font-weight: normal;
    width: 60%
}