.list_act-wrap { display: inline-block; }
.card-ticket {
    background: #e95144;
    font-size: 12px;
    line-height: 1;
    padding: 2px 6px 1px;
    border-radius: 2px;
    color: #fff;
    vertical-align: 1px;
}
#table_task_list_filter{
    margin-top: 20px;
}
.form-group-filter{
    align-items: center;
}
.clear-all-btn{
    cursor: pointer;
}
.input-affix-wrapper .form-control:not(:first-child){
    padding-left: 10.5px;
}