.txt-bold{
    font-weight: 600;
}
.pd-15{
    padding-left: 15px!important;
}

.gantt-wrap{
    display: flex;
}
.gantt-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    resize: horizontal;
    overflow: hidden;
}
.gantt-left{
    min-width: 220px;
    flex: 1 0 auto;
}
.gantt-right{
    flex: 1 1 auto;
}
.gantt-wrap-title{
    display: flex;
    justify-content: space-between;
    height: 60px;
    font-weight: 600;
    font-size: 14px;
    gap: 5px;
}
.gantt-left-outerwrap{
    overflow-y: scroll;
    width: calc(100% + 8px);
}
.gantt-left-container{
    width: 100%;
    background-color: #fff;
}
.gantt-left-container .grid-row{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: solid 1px #ebeff2;
    border-top:0;
    border-right:0;
    align-items: center;
}
.gantt-left-container .grid-row:hover,
.gantt-left-container .grid-row:nth-child(even):hover
{
    background-color: rgb(245 245 245/30%);
}
.gantt-wrap-title div:first-child p{
    text-align: left;
    padding-left: 10px;
}
.gantt-left-container .grid-row p:first-child{
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.gantt-left-container .grid-row:nth-child(even){
    background-color: #f5f5f5;
}
.gantt-left-container .grid-row p{
    font-size: 13px;
}
.expand-btn{
    padding:0 5px;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    float: right;
}
/*css gantt*/
.gaw-btn{
    color: #146ebe;
    border:dashed 1px #146ebe;
}
.gaw-btn:hover{
    color: #146ebe;
}
.wrap-title span:not(.expand-btn):hover{
    text-decoration:underline;
    cursor: pointer;
}
.wrap-title{
    position: relative;
    padding-left:10px;
    display: flex;
    align-items: center;
    line-height: 30px;
    justify-content: start;
}
.sort-icon{
    width: 10px;
    display: inline-block;
    margin-right: 10px;
    cursor: grab;
    color: #b3b3b3;
}
.row-title {
    width: 207px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.empty-data {
    padding: 6px 0;
    font-style: italic;
    margin-top: 8px;
    text-align: center;
}
.gantt-wrap-title div{
    border: solid 1px #cdcdcd;
    border-radius:6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f3ffff;
    text-align: center;
    line-height: 1.5;
}
.gantt-wrap-title div:first-child{
    justify-content: start;
}

.gantt-container::-webkit-scrollbar,
.gantt-left-outerwrap::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}
.gantt-container::-webkit-scrollbar-thumb,
.gantt-left-outerwrap::-webkit-scrollbar-thumb{
    background-color: #d6d9da;
    border-radius: 4px;
}
.gantt-left-outerwrap > .dropdown{
    display: inline-block;
}
.toggle-notes {
    text-transform: uppercase;
    font-size: .9rem;
    color: #000;
    font-weight: 500;
    letter-spacing: .06rem;
    cursor: pointer;
    display: inline-block;
}
.toggle-notes span{
    text-decoration: underline;
}
.content-notes{
    background-color: #F7F8F9;
    padding: 16px;
    margin-top: 16px;
    font-size: 14px;
    display: none;
}.txt-bold{
    font-weight: 600;
}
.pd-15{
    padding-left: 15px!important;
}

.gantt-wrap{
    display: flex;
}
.gantt-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    resize: horizontal;
    overflow: hidden;
}
.gantt-left{
    min-width: 220px;
    flex: 1 0 auto;
}
.gantt-right{
    flex: 1 1 auto;
}
.gantt-wrap-title{
    display: flex;
    justify-content: space-between;
    height: 60px;
    font-weight: 600;
    font-size: 14px;
    gap: 5px;
}
.gantt-left-outerwrap{
    overflow-y: scroll;
    width: calc(100% + 8px);
}
.gantt-left-container{
    width: 100%;
    background-color: #fff;
}
.gantt-left-container .grid-row{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: solid 1px #ebeff2;
    border-top:0;
    border-right:0;
    align-items: center;
}
.gantt-left-container .grid-row:hover,
.gantt-left-container .grid-row:nth-child(even):hover
{
    background-color: rgb(245 245 245/30%);
}
.gantt-wrap-title div:first-child p{
    text-align: left;
    padding-left: 10px;
}
.gantt-left-container .grid-row p:first-child{
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.gantt-left-container .grid-row:nth-child(even){
    background-color: #f5f5f5;
}
.gantt-left-container .grid-row p{
    font-size: 13px;
}
.expand-btn{
    padding:0 5px;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    float: right;
}
/*css gantt*/
.gaw-btn{
    color: #146ebe;
    border:dashed 1px #146ebe;
}
.gaw-btn:hover{
    color: #146ebe;
}
.wrap-title span:not(.expand-btn):hover{
    text-decoration:underline;
    cursor: pointer;
}
.wrap-title{
    position: relative;
    padding-left:10px;
    display: flex;
    align-items: center;
    line-height: 30px;
    justify-content: start;
}
.sort-icon{
    width: 10px;
    display: inline-block;
    margin-right: 10px;
    cursor: grab;
    color: #b3b3b3;
}
.row-title {
    width: 207px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.empty-data {
    padding: 6px 0;
    font-style: italic;
    margin-top: 8px;
    text-align: center;
}
.gantt-wrap-title div{
    border: solid 1px #cdcdcd;
    border-radius:6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f3ffff;
    text-align: center;
    line-height: 1.5;
}
.gantt-wrap-title div:first-child{
    justify-content: start;
}

.gantt-container::-webkit-scrollbar,
.gantt-left-outerwrap::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}
.gantt-container::-webkit-scrollbar-thumb,
.gantt-left-outerwrap::-webkit-scrollbar-thumb{
    background-color: #d6d9da;
    border-radius: 4px;
}
.gantt-left-outerwrap > .dropdown{
    display: inline-block;
}
.toggle-notes {
    text-transform: uppercase;
    font-size: .9rem;
    color: #000;
    font-weight: 500;
    letter-spacing: .06rem;
    cursor: pointer;
    display: inline-block;
}
.toggle-notes span{
    text-decoration: underline;
}
.content-notes{
    background-color: #F7F8F9;
    padding: 16px;
    margin-top: 16px;
    font-size: 14px;
    display: none;
}
.group-label{
    color:#000;
}
.bar-prg-group{
    fill: #f3f3f3;
}
#tab_detail{
    position: relative
}
.lazy_loading{
    position: absolute;
    background-color: rgb(255 255 255 / 70%);
    width: 100%;
    height: 100%;
    top:0;left: 0;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}
.lazy_loading.active{
    opacity: 1;
    visibility: visible;
    display: flex;
}
/*css work expense */
.btn-sh-ex{
    transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
}
#work_expense_tbl tr.active .btn{
    transform: rotate(90deg);
    --webkit--transform: rotate(90deg);
}
#work_expense_tbl tr.active{
    background: var(--bs-table-hover-bg);
}
.work-expense-wrap, .work-expense-wrap tbody tr{
    background: rgb(247 247 247 / 30%);
}
.WE-content > .btn{
    float: left;
}

.min-w-1768p {
    min-width: 1768px;
}
.toggle-ud{
    width: 45px;
    display:block;
    margin: 0 auto;
    position: relative;
}
.toggle-ud:before{
    content:"";
    height:1px;
    width: 100px;
    background:#007D88;
    display:block;
    position: absolute;
    left: -100px;
    top:50%;
}

.toggle-ud:after{
    content:"";
    height:1px;
    width: 100px;
    background:#007D88;
    display:block;
    position: absolute;
    right: -100px;
    top:50%;
}
.toggle-ud .btn{
    transition: all .30s ease-in-out;
    --webkit--transition: all .30s ease-in-out;
}
.toggle-ud:not(.is_show) .btn{
    transform: rotate(180deg);
    --webkit--transform: rotate(180deg);
}
.bt-0{
    border-top: 0!important;
}
#check_expense_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --webkit--transform: translate(-50%, -50%);
    width: 500px;
    z-index: 11;
}
#select_expense_role:not(.select2-hidden-accessible){
    height:36px;
}
#check_expense_modalheader{
    cursor: move;
    position: relative;
}
#check_expense_modalheader:before{
    content: '\F12F';
    font-family: bootstrap-icons;
    position: absolute;
    right:-40px;
    top:25%;
    color:rgb(255 0 0);
    font-size:1.5rem;
    display: block;
    animation-name: arrow_effect;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes arrow_effect {
  0% {right:-40px;opacity: 0;visibility: hidden;}
  50% {right: -24px;opacity: 1;visibility: visible;}
  100% {right: -24px;opacity: 1;visibility: visible;}
}

.info-txt{
    display: block;
    position: absolute;
    left: 102%;
    top: 40px;
    color:rgb(255 0 0);
    width: 100%;
}
.off_effect#check_expense_modalheader:before,
.off_effect .info-txt{display: none;}

.list-group-numbered{
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
}
.wrap-title ~ div{
    overflow: hidden;
}

.ui-state-highlight {
    display: block;
    height: 30px;
    border-radius: 4px;
    border: dashed 1px #ff0000;
    background-color: #f8f8f8ff;
}