.txt-bold{
    font-weight: 600;
}
.pd-30{
    padding-left: 30px!important;
}

.gantt-wrap{
    display: flex;
}
.gantt-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    resize: horizontal;
    overflow: hidden;
}
.gantt-left{
    min-width: 220px;
    flex: 1 0 auto;
}
.gantt-right{
    flex: 1 1 auto;
}
.gantt-wrap-title{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: end;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}
.gantt-left-outerwrap{
    overflow-y: scroll;
    width: calc(100% + 17px);
}
.gantt-left-container{
    width: 100%;
    background-color: #fff;
}
.gantt-left-container .grid-row{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: solid 1px #ebeff2;
    border-top:0;
    border-right:0;
    align-items: center;
}
.gantt-left-container .grid-row:hover,
.gantt-left-container .grid-row:nth-child(even):hover
{
    background-color: rgb(245 245 245/30%);
}
.gantt-wrap-title{
    border: solid 1px #ebeff2;
}
.gantt-wrap-title div:first-child p{
    text-align: left;
    padding-left: 10px;
}
.gantt-left-container .grid-row p:first-child{
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.gantt-left-container .grid-row:nth-child(even){
    background-color: #f5f5f5;
}
.gantt-left-container .grid-row p{
    font-size: 13px;
}
.expand-btn{
    padding:0 5px;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    float: right;
}
/*css gantt*/
.gaw-btn{
    color: #146ebe;
    border:dashed 1px #146ebe;
}
.gaw-btn:hover{
    color: #146ebe;
}
.wrap-title span:not(.expand-btn):hover{
    text-decoration:underline;
    cursor: pointer;
}
.wrap-title{
    position: relative;
    text-align: left;
    padding-left:10px;
}
.sort-icon{
    display: inline-block;
    margin-right: 10px;
    cursor: grab;
    color: #b3b3b3;
}
.wrap-title{
   line-height: 30px;
}
.wrap-title .dropdown {
    display: inline-block;
    float: right;
}
.gantt-left-outerwrap > .dropdown{
    display: inline-block;
}