:root {
    --draggable-width: 400px;
    --draggable-padding: 5px;
    --draggable-padding-heading: 5px 10px 5px 10px;
    --draggable-item-margin: 5px;
    --draggable-item-height: 50px;
    --draggable-item-color-helper: #3d9ca5;
    --drawer-properties-width: 30vw;
    --drawer-properties-height: calc(100vh - 65px);

    --sortable-item-color-selected: #69d096;
    --sortable-item-bg-color-selected: #ddffec;
    --sortable-padding-left-plus: 100px;
}

#group-containment {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

#draggable-parent {
    width: var(--draggable-width);
    float: left;
    background-color: #f1f1f1;
    height: 100%;
    border-right: 1px solid #d3d3d3;
}

#sortable-monitor {
    width: 150px;
    background-color: #fff;
    border: 1px solid #9e9e9e;
    border-top: 0;
    border-left: 0;
    border-radius: 0 0 7px 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: var(--draggable-width);
    z-index: 1034;
}

@media screen and (max-width: 700px) {
    #sortable-monitor {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

#draggable {
    width: 100%;
    padding: var(--draggable-padding);
    height: calc(100% - 50px); /* minus height tab group */
    overflow: auto;
}

.draggable-item {
    flex: calc(50% - var(--draggable-item-margin) * 2);
    width: 200px;
    max-width: calc(50% - var(--draggable-item-margin) * 2);
    max-height: var(--draggable-item-height);
    margin: var(--draggable-item-margin);
    background-color: #fff;
    color: #004b52;
    padding: 7px;
    border: 1px solid #a2b4bb;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

.draggable-heading {
    width: 100%;
    border: 1px solid #00646d;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #c7e2e5;
}

.draggable-heading .heading-txt {
    background-color: #00646d;
    color: #fff;
    padding: var(--draggable-padding-heading);
    text-align: center;
    cursor: pointer;
}

.draggable-heading .draggable-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: var(--draggable-padding);
}

#sortable-parent {
    width: calc(100% - var(--draggable-width));
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#sortable-content {
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 30px;
    transition: transform 700ms;
    line-height: 1.5; /* override line-height of _reboot */
}

#sortable-content.drawer-showing {
    transform: translateX(-50%);
}

#sortable {
    min-height: 50px;
    border: 1px solid #f1f1f1;
    font-size: 14px;
}

.sortable-item {
    border: 1px dashed #d8d8d8;
}

.sortable-item:hover {
    border-color: #5e7d8a !important;
}

.sortable-item:has(+ .sortable-item):not([data-code="page-break-foot"]):hover + .sortable-item {
    border-top-color: transparent;
}

.sortable-item:not(.sortable-item-fixed):hover {
    cursor: move;
}

.sortable-item.sortable-item-fixed:hover {
    cursor: pointer;
}

.sortable-item:has(+ .sortable-item):not(.form-item-controller) {
    border-bottom-color: transparent;
}

.sortable-item.form-item.form-item--hide {
    /* force showing when editing form | auto hide when running form */
    display: block !important;
}

.sortable-item.form-item .group--setting-group {
    position: absolute;
    top: 10px;
    right: 10px;
    content: 'hidden';
    color: #e36f00;
}

.sortable-drop-here > * {
    border: 1px dashed #c2c2c2;
    padding: 20px 15px;
    background-color: #fafafa;
    text-align: center;
}

#sortable-item-empty > * {

}

.item-dragging {
    background-color: #f1f1f1;
    border: 2px dashed #9a9a9a;
    height: calc(15px + 30px * 2);
}

.item-sorting {
    opacity: 0.5;
    background-color: var(--sortable-item-color-selected);
}

.drag-item-start {
    background-color: var(--draggable-item-color-helper);
    color: #fff;
    z-index: 99999;
    border-color: #00717a;
}

.drag-item-start .drag-item-image {
    color: #fff;
}


.sortable-item:hover .group-control,
.sortable-item .group-control:hover,
.sortable-item .group-masker:hover ~ .group-control {
    display: block;
}

.sortable-item .group-control {
    display: none;
    position: absolute;
    top: 0;
    right: -31px;
    width: 30px;
    background-color: #fff;
    transition: all 0.2s linear;
    border-left: 0;
}

.group-control button {
    width: 30px;
    height: 30px;
    border: 0;
    color: #171717;
    background-color: #fff;
}

.group-control button:not(:last-child) {
    border-bottom: 2px solid #f1f1f1;
}

.group-control button.btn-setting:hover {
    color: #00ab66;
}

.group-control button.btn-clone:hover {
    color: #00ab66;
}

.group-control button.btn-remove:hover {
    color: #ff3333;
}

.group-masker {
    width: calc(100% + 5px);
    height: 100%;
    background-color: rgb(255, 255, 255, 0);
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 1034;
}

.sortable-item.active {
    background-color: var(--sortable-item-bg-color-selected);
}

.sortable-item.active .group-masker {
    border-radius: 5px 0 0 5px;
    border-style: solid;
    border-color: var(--sortable-item-color-selected);
    border-left: 5px;
    border-left-style: solid;
    border-left-color: var(--sortable-item-color-selected);
}

#drawer-properties {
    display: none;
    position: fixed;
    right: 0;
    top: 65px;
    width: 100vw;
    height: var(--drawer-properties-height);
    background-color: rgba(77, 77, 77, 0.5);
    z-index: 1035;
    overflow: hidden;
}

#drawer-main {
    width: 0;
    height: var(--drawer-properties-height);
    float: right;
    opacity: 1;
    background-color: #fff;
    position: relative;
}

#drawer-properties .drawer-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: #2a3746;
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
}

#drawer-properties .drawer-header-title {
    color: #fff;
    padding-left: 10px;
}

#drawer-properties #drawer-close {
    margin-left: auto;
    color: #fff;
    padding-right: 10px;
}

#drawer-properties .drawer-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: #f1f1f1;
    color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: 0 0 3px #bebebe;
}

#drawer-properties .drawer-footer * {
    margin-right: 10px;
}

#drawer-properties .drawer-footer .v-separator {
    margin: 0 10px 0 0;
}

#drawer-properties #drawer-cancel {
    margin-right: 10px;
}

#drawer-properties .drawer-content {
    margin-top: 45px;
    height: calc(var(--drawer-properties-height) - 45px - 45px);
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 11px !important;
    padding-bottom: 30px;
}

.drawer-content label, .drawer-content input, .drawer-content div, .drawer-content select {
    font-size: 14px;
}

.drawer-config {
    width: 100%;
    padding: 10px 0;
}

.drawer-config > * {
    padding: 0 20px;
}

.drawer-config hr {
    background-color: #2a3746
}

.radio-select-group {
    display: flex;
}

.radio-select-group-full {
    flex: auto;
}

.radio-select-group-full .radio-select-item {
    width: 100%;
    padding: 5px 0;
}

.radio-select-group-part {
    align-items: flex-start;
}

.radio-select-group-part .radio-select-item {
    width: auto;
    padding: 5px 30px;
}

.radio-select-group ~ select {
    display: none;
}

.radio-select-item {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.radio-select-item:not(.active):hover {
    color: #009659;
    background-color: rgba(227, 249, 209, 0.5);
}

.radio-select-item.active {
    color: #006b40;
    border-color: #00ab66;
    background-color: rgba(227, 249, 209, 0.5);
}

.radio-select-item.active + .radio-select-item {
    border-left: 0;
}

.radio-select-item:not(:last-child):not(.active) {
    border-right: 0;
}

.radio-select-item:first-child {
    border-radius: 5px 0 0 5px;
}

.radio-select-item:last-child {
    border-radius: 0 5px 5px 0;
}

.chip.chip-ticked input:checked + span .chip-text {
    /*margin-left: 0;*/
}

/* Table field group */
#field-tab-group {
    width: 100%;
    /*margin-bottom: 10px;*/
    background-color: #fff;
    height: 50px;
}

.field-tab.active {
    border-bottom: 3px solid #6bb4ba;
}

#field-basic {
    width: calc(50% - 5px);
    float: left;
    text-align: center;
    padding: 10px;
    /*cursor: pointer;*/
    cursor: not-allowed;
}

#field-advance {
    width: calc(50% - 5px);
    float: left;
    text-align: center;
    padding: 10px;
    /*cursor: pointer;*/
    cursor: not-allowed;
}

#field-split {
    width: 10px;
    height: 3rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#field-split div {
    width: 2px;
    height: 1rem;
    background-color: #ababab;
    border-radius: 5px;
}

.form-item {
    background-color: #fff;
    color: #000;
}

.form-item-page-break {
    margin-top: 1rem;
}

.form-title {
    background-color: #fff;
}

.form-content {
    /*background-color: #fff;*/
    /*color: #000;*/
}

/* Sortables */
.drag-item-image {
    width: 1rem;
    height: 1rem;
}

.drag-item-text {
    margin-left: 10px;
}

/* -- Sortables */
.flex-basic-100 {
    flex-basis: 100%;
}

.flex-basic-40 {
    flex-basis: 40%;
}

.flex-basic-60 {
    flex-basis: 60%;
}

/* select box / option config */
.select-box-item {
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.select-box-item-head {
    padding: 0 5px;
}

.select-box-item-data {
    background-color: rgba(237, 252, 254, 0.5);
    border: 1px dashed #99cbcf;
    margin-top: 1px;
    margin-bottom: 1px;
}

.select-box-item-data:hover .select-box-icon-dnd {
    opacity: 100;
}

.select-box-icon-dnd {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 10px;
    margin-right: 1px;
    color: #7c7c7c;
}

.select-box-item-default {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 34px;
    margin-right: 5px;
}

.select-box-item-default .form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-box-item-default-multiple {
    flex: 34px;
}

.select-box-item-default-multiple .form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-box-item-title {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: calc(100% - 60px - 100px - 15px);
    margin-right: 5px;
}

.select-box-item-value {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: calc((100% - 60px - 100px - 15px) / 2 - 50px);
    margin-right: 5px;
}

.select-box-item-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 100px;
}

/* -- select box / option config */

/* many checkbox */
.many-checkbox-group {
    padding: 7px 5px;
    background-color: rgba(237, 252, 254, 0.5);
    border: 1px dashed #99cbcf;
    margin-top: 1px;
    border-radius: 5px;
}

#many-checkbox-button-group > div {
    width: 100%;
    overflow: hidden;
    display: flex;
}

#many-checkbox-button-group > div > * {
    margin-top: 5px;
    min-width: 0;
    flex: 25%;
}

#many-checkbox-button-group > div > *:not(:last-child) {
    margin-right: 5px;
}

#many-checkbox-button-group > div > div button {
    text-transform: unset !important;
    width: 100%;
}

#many-checkbox-button-group div button .icon {
    margin-right: 3px;
}

.many-checkbox-dragging {
    background-color: #99cbcf;
    color: #fff;
    border-color: #99cbcf;
}

/* -- many checkbox */

.form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
    padding-right: 2rem;
}

.select2-container--bootstrap4 .select2-results__options[id^=select2-items_symbol] .select2-results__option[role="group"] .select2-results__options--nested .select2-results__option {
    padding-left: 5px;
}

/* highlight */
.sortable-item-highlight {
    z-index: 1054;
    animation: sortableHighlight 1s;
}

@keyframes sortableHighlight {
    0% {
        transform: scale(1)
    }
    50% {
        border-color: #81e230;
        background: #e3f9d1;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* -- highlight */