{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Return Advance' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url "ReturnAdvanceCreate" %}">
        <button class="btn btn-outline-primary">
            <span>
                <span>{% trans 'Add' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <script hidden id="direct-btn-group-url"
        data-url-list-api="{% url 'ReturnAdvanceListAPI' %}"
        data-url-create="{% url 'ReturnAdvanceCreate' %}"
        data-url-detail="{% url 'ReturnAdvanceDetail' '0' %}"
        data-key-return="return_advances"
    ></script>
    <table id="dtbReturnAdvance" class="table nowrap w-100 mb-5" data-method="GET"
           data-url="{% url "ReturnAdvanceListAPI" %}"
           data-url-detail="{% url "ReturnAdvanceDetail" pk=0 %}"
           data-url-detail-ap="{% url "AdvancePaymentDetail" pk=0 %}"
           data-url-opp-detail="{% url 'OpportunityDetail' '0' %}"
           data-url-quo-detail="{% url 'QuotationDetail' '0' %}"
           data-url-so-detail="{% url 'SaleOrderDetail' '0' %}"
           data-type-translate-received="{% trans 'Received' %}"
           data-type-translate-waiting="{% trans 'Waiting' %}"
    >
        <thead>
            <tr>
                <th style="min-width: 50px"></th>
                <th style="min-width: 100px">{% trans "Code" %}</th>
                <th style="min-width: 300px">{% trans "Name" %}</th>
                <th style="min-width: 100px">{% trans "AP Code" %}</th>
                <th style="min-width: 100px">{% trans "Sale Code" %}</th>
                <th style="min-width: 150px">{% trans "Return value" %}</th>
                <th style="min-width: 150px">{% trans "Employee inherit" %}</th>
                <th style="min-width: 150px">{% trans "Date created" %}</th>
                <th style="min-width: 100px">{% trans "System status" %}</th>
            </tr>
        </thead>
    </table>
{% endblock %}
{% block jsFooter %}
    <script src="{% static "assets/js/return_advance/return_advance_list.js" %}"></script>
    <script src="{% static 'assets/js/direct-btn-group.js' %}"></script>
{% endblock %}
