{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Return Advance Create' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="frmDetail">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    {{ data.data.employee_current | json_script:"employee_current" }}
    <script id="script-url"

    >
    </script>
    <form id="frmDetail"
          data-url="{% url "ReturnAdvanceDetailAPI" pk=pk %}"
          data-url-redirect="{% url "ReturnAdvanceDetail" pk=pk %}"
          data-method="PUT"
    >
        {% csrf_token %}
        {% include 'return_advance/common/information.html' %}
    </form>
{% endblock %}
{% block jsFooter %}
    <!-- Daterangepicker JS -->
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/dropify/dist/js/dropify.min.js' %}"></script>
    <script src="{% static "assets/js/return_advance/return_advance_common.js" %}"></script>
    <script src="{% static "assets/js/return_advance/return_advance_update.js" %}"></script>
{% endblock %}