{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Return Advance List' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url "ReturnAdvanceCreate" %}">
        <button class="btn btn-outline-primary">
            <span>
                <span>{% trans 'Add' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </span>
        </button>
    </a>

{% endblock %}
{% block pageContent %}
    <table id="dtbReturnAdvance" class="table nowrap w-100 mb-5" data-method="GET"
           data-url="{% url "ReturnAdvanceListAPI" %}"
           data-url-detail="{% url "ReturnAdvanceDetail" pk=0 %}"
           data-url-detail-ap="{% url "AdvancePaymentDetail" pk=0 %}"
           data-type-translate-approved="{% trans 'Approved' %}"
           data-type-translate-waiting="{% trans 'Waiting' %}"
           data-type-translate-received="{% trans 'Received' %}"
    >
        <thead>
        <th>{% trans "Code" %}</th>
        <th>{% trans "Name" %}
            <i class="fas fa-info-circle icon-info"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{% trans 'Press row here to open detail page.' %}">
            </i>
        </th>
        <th>{% trans "AP Code" %}</th>
        <th>{% trans "Created date" %}</th>
        <th>{% trans "Return value" %}</th>
        <th>{% trans "Return Status" %}</th>
        <th>{% trans "Status" %}</th>
        </thead>
    </table>
{% endblock %}
{% block jsFooter %}
    <script src="{% static "assets/js/return_advance/return_advance_list.js" %}"></script>
{% endblock %}
