{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a class="btn btn-outline-primary btn-animated btn-xs"
       href="{% url "ReturnAdvanceCreate" %}"
       data-bs-toggle="tooltip"
       data-bs-placement="top"
       title="{% trans 'Create Return' %}"
       id="create_return_button"
       data-bs-original-title="Add Return">
            <span class="icon">
                <span class="feather-icon">
                    <i data-feather="plus"></i>
                </span>
                <span class="font-3 ml-1">
                    {% trans 'New' %}
                </span>
            </span>
    </a>
{% endblock %}
{% block pageContent %}
    <table id="dtbReturnAdvance" class="table nowrap w-100 mb-5" data-method="GET"
           data-url="{% url "ReturnAdvanceListAPI" %}" data-url-detail="{% url "ReturnAdvanceDetail" pk=0 %}">
        <thead>
        <th>{% trans "Code" %}</th>
        <th>{% trans "Name" %}
            <i class="fas fa-info-circle icon-info"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{% trans 'Press row here to open detail page.' %}">
            </i>
        </th>
        <th>{% trans "AP Code" %}</th>
        <th>{% trans "Created date" %}</th>
        <th>{% trans "Return value" %}</th>
        <th>{% trans "Return Status" %}</th>
        <th>{% trans "Status" %}</th>
        </thead>
    </table>
{% endblock %}
{% block jsFooter %}
    <script src="{% static "assets/js/return_advance/return_advance_list.js" %}"></script>
{% endblock %}
