<p>
    <span style="text-align: center;">
        <img src="https://www.bflow.vn/images/logo/logo_180x180.png" alt="" width="178" height="76"/>
    </span>
</p>
<h2><strong>
    <span style="text-align: center;"> Công ty Cổ Phần Giải Pháp Minh Tâm </span> </strong>
</h2>
<p>Mã xác thực: <span id="idx-lIYXOPuVrhxqRB1v" class="params-data" data-code="_otp"> #OTP </span> ​</p>
<p>Thời gian hiện tại: <span id="idx-lhaH4zQNQ9fmblYI" class="params-data" data-code="_current_date_time"> #Current date time </span></p>
<p>Hết hạn: 2 phút</p>
<p>Lưu ý: Việc yêu cầu gửi mã xác thực sẽ giới hạn 3 lần trong vòng 1 giờ. Mọi sự cố vui lòng liên hệ với quản trị viên để được hỗ trợ.</p>
<p>Trân trọng.</p>