{% load static i18n compress string_utils person_utils %}
<!DOCTYPE html>
<html lang="{{ base.language }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% trans 'HRM Signing request' %} {% trans 'detail' %}{% endblock %}
        &#8901; {{ base.tenant_current_data|parsed_title_page|safe }}
    </title>
    <meta name="description" content="Management Information System"/>

    <meta property="og:url" content="www.bflow.vn"/>
    <meta property="og:type" content="website"/>
    <meta
            property="og:title"
            content="{{ base.tenant_current_data.code|upper }} &#8901; {{ base.tenant_current_data|parsed_title_page|safe }}"
    />
    <meta property="og:description" content="Bflow - Giải pháp toàn diện cho doanh nghiệp"/>

    <link rel="shortcut icon" href="{{ request.user.company_icon_uri }}">
    <link rel="icon" href="{{ request.user.company_icon_uri }}" type="image/x-icon">
    <meta property="og:image" content="{{ request.user.company_icon_uri }}"/>
    <!---- CSS ---->
    <link href="{% static 'vendors/bootstrap@4.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf' %}">
    {% compress css %}
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/my-style.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'assets/hrm/css/signing-request.css' %}">
    <!---- END CSS ----->

    <!---- JS ------>
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/cdn-clone/jquery-validation/customize-add-method.js' %}"></script>
    <!---- END JS ---------->
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="form_signing_request" class="hidden" method="POST"
                      data-url="{% url 'HRMRuntimeSignatureDetailAPI' pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="id">
                </form>
                <div class="wrap-hd-review A4">
                    <section id="content">
                    </section>
                </div>
                <div class="history-sign">
                    <button class="btn btn-outline-blue"><i class="fa-regular fa-file-lines"></i></button>
                    <div class="history_wrap_content">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Float wrap button -->
    <div class="wrap_action">
        <div class="container">
            <div class="row">
                <div class="col text-right">
                    <button class="btn btn-lg btn-primary w-150p" type="button" id="btn_allow_signing">
                        <span>{% trans 'Image Sign' %}</span>
                    </button>
                    <button class="btn btn-lg btn-warning ml-4 w-150p" type="button" id="btn_reject_signing">
                        <span>{% trans 'Reject' %}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Draw -->
    {% include 'hrm/contract/modal-draw-signature.html' %}
    <div hidden>
        <a id="idx-link-to-current-employee" href="{% url 'EmployeeDetail' pk=base.employee_current_data.id %}"
        data-value-id="{{ base.employee_current_data.id }}" title="{% trans 'Profile' %}"
        ></a>
        <img class="reject_url_img" src="
    {% if base.language == 'vi' %}
        {% static 'assets/hrm/img/contract_runtime/tu_choi.png' %}
    {% else %}
        {% static 'assets/hrm/img/contract_runtime/reject.png' %}
    {% endif %}
    ">
    </div>
    {% block jsCatalog %}
        {% if jsi18n %}
            <script src="{% url 'javascript-catalog' packages=jsi18n %}"></script>
        {% else %}
            <script src="{% url 'javascript-catalog' packages='null' %}"></script>
        {% endif %}
    {% endblock %}
    <!------GLOBAL VARIABLE ------>
    <script>
        const globeFileNotFoundImg = "{% static 'assets/images/systems/file-not-found.png' %}";
        const globeApiStatusOfRender = "{{ data.render_api_status }}";
        let isDenied = false;
        const globePK = "{{ pk }}";
        switch (globeApiStatusOfRender) {
            case "1401":
                isDenied = true;
                WindowControl.showUnauthenticated();
                break;
            case "1403":
                isDenied = true;
                WindowControl.showForbidden();
                break;
            case "1404":
                isDenied = true;
                WindowControl.showNotFound();
                break;
            case "1500":
                isDenied = true;
                WindowControl.showSVErrors();
                break;
        }
    </script>
    <!------GLOBAL VARIABLE ------>

    <!------LIBRARY ------>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendors/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/notify.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'assets/js/extends/the-documents/bastion_field.js' %}"></script>
    <script src="{% static 'assets/js/init-setup.js' %}"></script>
    <script src="{% static 'assets/js/init-loader.js' %}"></script>
    <script src="{% static 'vendors/fabric/index.min.js' %}"></script>
    <!------LIBRARY ------>

    <!------LIBRARY DEV EXTEND------>
    <script src="{% static 'assets/js/cdn-clone/jquery-validation/localization/message_vi.js' %}"></script>
    <!------LIBRARY DEV EXTEND------>

    <script src="{% static 'assets/hrm/js/extend/render_review.js' %}"></script>

    <script src="{% static 'assets/hrm/js/extend/detail-signing-request.js' %}"></script>
{% if is_ga_enabled %}
    <script async src="{{ ga_config.script }}"></script>
{% endif %}
</body>
</html>
