.employee-toolbar {display: none;width: 100%;justify-content: end;margin-bottom: 5px;}
.columns-employee{border-right: solid 1px #eaeaea;}
@media screen and (max-width: 767px) {
    .employee-toolbar {display: flex;}
    .employee-content {display: none;}
}
.tbl-footer-toolbar{display: flex;}
.tbl-footer-toolbar > div{align-items: center;width: 100%!important;justify-content: center;}
.tbl-footer-toolbar .dataTables_paginate{justify-content: center!important;}
.tbl-footer-toolbar .cus-page-info{margin-top:1rem;margin-bottom:1rem;}
.simplebar-content, .container-fluid, .container-fluid > div{height:100%}
#inputQuantity::-webkit-inner-spin-button,
#inputQuantity::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.form-select.is-valid{
    padding-right: 1.7rem!important;
}