{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Reconciliation' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/dropify/dist/css/dropify.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" />
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button id="update-advance" class="btn btn-outline-primary" type="submit" form="form-detail-recon">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}

{% endblock %}
{% block jsFooter %}
    <!-- Daterangepicker JS -->
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/dropify/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'assets/js/haind-common-js.js' %}"></script>
    <script src="{% static 'assets/sales/reconciliation/js/reconciliation_common.js' %}"></script>
    <script src="{% static 'assets/sales/reconciliation/js/reconciliation_update.js' %}"></script>
{% endblock %}
