{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Reconciliation' %}{% endblock %}
{% block cssHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" />
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="form-detail-recon">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <script id="trans-script"
            data-trans-delivery="{% trans 'Delivery' %}"
            data-trans-ar="{% trans 'AR invoice' %}"
            data-trans-cif="{% trans 'Cash inflow' %}"
            data-trans-gr="{% trans 'Goods receipt' %}"
            data-trans-ap="{% trans 'AP invoice' %}"
            data-trans-cof="{% trans 'Cash outflow' %}"
    ></script>
    <script id="url-script"
            data-url-ap-list-for-recon="{% url 'APInvoiceListForReconAPI' %}"
            data-url-cof-list-for-recon="{% url 'CashOutflowListForReconAPI' %}"
            data-url-ar-list-for-recon="{% url 'ARInvoiceListForReconAPI' %}"
            data-url-cif-list-for-recon="{% url 'CashInflowListForReconAPI' %}"
    ></script>
    <form id="form-detail-recon" data-method="PUT" data-url="{% url 'ReconDetailAPI' pk=pk %}" data-url-redirect="{% url 'ReconDetail' pk=pk %}">
        {% include 'sales/reconciliation/common/information.html' %}
        {% include 'sales/reconciliation/common/table.html' %}
    </form>
{% endblock %}
{% block jsFooter %}
    <!-- Daterangepicker JS -->
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/js/haind-common-js.js' %}"></script>
    <script src="{% static "assets/js/shared/usual_load_page.js" %}"></script>
    <script src="{% static 'assets/sales/reconciliation/js/reconciliation_common.js' %}"></script>
    <script src="{% static 'assets/sales/reconciliation/js/reconciliation_update.js' %}"></script>
{% endblock %}
