{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Reconciliation' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendors/dropify/dist/css/dropify.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" />
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
{#    <a href="{% url 'ReconUpdate' pk=pk %}">#}
{#        <button class="btn btn-outline-primary" id="btn-enable-edit">#}
{#            <span>#}
{#                <span>{% trans 'Edit' %}</span>#}
{#                <span class="icon">#}
{#                    <i class="fa-regular fa-pen-to-square"></i>#}
{#                </span>#}
{#            </span>#}
{#        </button>#}
{#    </a>#}
{% endblock %}
{% block pageContent %}
    <script id="trans-script"
            data-trans-ar="{% trans 'AR invoice' %}"
            data-trans-cif="{% trans 'Cash inflow' %}"
    ></script>
    <form id="form-detail-recon" data-method="GET" data-url="{% url 'ReconDetailAPI' pk=pk %}">
        {% include 'sales/reconciliation/common/information.html' %}
        {% include 'sales/reconciliation/common/table.html' %}
    </form>
{% endblock %}
{% block jsFooter %}
    <!-- Daterangepicker JS -->
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/dropify/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'assets/sales/reconciliation/js/reconciliation_common.js' %}"></script>
    <script src="{% static 'assets/sales/reconciliation/js/reconciliation_detail.js' %}"></script>
{% endblock %}
