.div-input {
    min-height: 38px;
    margin-top: -0.4px
}

.input-group-wth-btn .input-affix-wrapper .input-suffix {
    top: unset;
}

.modal-fullscreen.modal-fullscreen-custom {
    width: 97vw;
    height: 90%;
}

.inline-elements {
    display: inline-block;
}







.disabled-custom-show:disabled {
    color: #0c0c0c;
}

.modal-xlg-custom {
    max-width: 100%;
    height: 100%;
    margin-left: 70px;
}




















.fa-angle-double-up {
    color: #007D88;
    text-align: right;
}

.fa-angle-double-down {
    color: #007D88;
    text-align: right;
}

ul.quotation-tabs li.quotation-tab-item {
  margin-right: 10px;
}

.fa-info-circle {
    color: #298dff;
}

.option-btn-checked {
    background-color: #f7f7f7;
}

.expired-price {
    color: #EB5757CC;
}

.valid-price {
    color: #00D67F;
}

.fa-angle-down {
    font-size: x-small;
    color: #c7c7c7;
}