.input-affix-wrapper .input-suffix {
    padding: unset;
}

.div-input {
    min-height: 38px;
    margin-top: -0.4px
}

.inline-elements-badge {
    display: inline-block;
    background-color: #ebfcf5;
    border-radius: 0.5rem;
    border: 1px solid #00D67F;
    padding: 6px;
    font-size: 90%;
    min-width: 25px;
    text-align: center;
    text-transform: capitalize;
}

.inline-elements-badge input {
    display: inline-block;
    margin-left: unset;
}

.custom-btn-remove {
    padding: unset;
    font-size: 13px;
    color: #EB5757CC;
}

.disabled-custom-show:disabled {
    color: #0c0c0c;
}

.modal-xlg-custom {
    max-width: 100%;
    height: 100%;
    margin-left: 70px;
}

.modal-fullscreen.modal-fullscreen-custom {
    width: 97vw;
    height: 90%;
}

.inline-elements {
    display: inline-block;
}


















.fa-angle-double-up {
    color: #007D88;
    text-align: right;
}

.fa-angle-double-down {
    color: #007D88;
    text-align: right;
}

ul.quotation-tabs li.quotation-tab-item {
  margin-right: 10px;
}

.fa-info-circle {
    color: #298dff;
}

.option-btn-checked {
    background-color: #f7f7f7;
}

.expired-price {
    color: #EB5757CC;
}

.valid-price {
    color: #00D67F;
}

.fa-angle-down {
    font-size: x-small;
    color: #c7c7c7;
}