{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Delivery Config' %}
{% endblock %}
{% block cssHeader %}
    <style>
        #inputPersonPicking:not(.select2-hidden-accessible),
        #inputPersonDelivery:not(.select2-hidden-accessible){
            height: 38px;
            -webkit-appearance: none;
            appearance: none;
            -moz-appearance: none;
        }
    </style>
{% endblock %}

{% block pageAction %}
    <a
            class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover no-caret d-lg-inline-block d-none btn_support_submit"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-original-title="{% trans 'Save' %}"
            data-form-id="formDeliveryConfig"
    >
        <span class="btn-icon-wrap">
            <i class="far fa-save"></i>
        </span>
    </a>
{% endblock %}

{% block pageContent %}
    <ul class="nav nav-light nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#tab_general">
                <span class="nav-link-text">{% trans 'General' %}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab_general">
            <form
                    id="formDeliveryConfig"
                    data-url="{% url 'DeliveryConfigDetailAPI' %}"
                    data-method="PUT"
            >
                {% csrf_token %}
                <div class="row pt-3">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" id="switchIsPicking"
                                    {% if data.config_data.is_picking %} checked {% endif %}>
                            <label class="form-check-label" for="switchIsPicking">
                                {% trans 'Picking needs to be handled prior to shipment' %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" id="switchPartialShip"
                                    {% if data.config_data.is_partial_ship %} checked {% endif %}>
                            <label class="form-check-label" for="switchPartialShip">
                                {% trans "Partial delivery is possible" %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-xs-12 col-md-6">
                        <label class="form-label">{% trans "Select coordinator for Picking activities" %}</label>
                        <select class="form-control" name="lead_picking" id="inputPickingLead"
                                data-keyResp="employee_list"
                                data-url="{% url 'EmployeeListAPI' %}"
                                data-keyText="full_name"
                                data-method="GET"
                        >
                            {% if data.config_data.lead_picking %}
                                <option value="{{ data.config_data.lead_picking.id }}" selected>
                                    {{ data.config_data.lead_picking.full_name }}</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="form-label" for="inputPersonPicking">{% trans "Person picking" %}</label>
                        <select class="form-control" name="person_picking" id="inputPersonPicking"
                                data-keyResp="employee_list"
                                data-url="{% url 'EmployeeListAPI' %}"
                                data-keyText="full_name"
                                data-method="GET" multiple
                        >
                            {% if data.config_data.person_picking %}
                                {% for item in data.config_data.person_picking %}
                                    <option value="{{ item.id }}" selected>{{ item.full_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-xs-12 col-md-6">
                        <label class="form-label">{% trans "Select coordinator for Delivery activities" %}:</label>
                        <select class="form-control" name="lead_delivery" id="inputDeliveryLead"
                                data-keyResp="employee_list"
                                data-url="{% url 'EmployeeListAPI' %}"
                                data-keyText="full_name"
                                data-method="GET"
                        >
                            {% if data.config_data.lead_delivery %}
                                <option value="{{ data.config_data.lead_delivery.id }}">
                                    {{ data.config_data.lead_delivery.full_name }}</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="form-label" for="inputPersonDelivery">{% trans "Person delivery" %}</label>
                        <select class="form-control" name="person_delivery" id="inputPersonDelivery"
                                data-keyResp="employee_list"
                                data-url="{% url 'EmployeeListAPI' %}"
                                data-keyText="full_name"
                                data-method="GET" multiple
                        >
                            {% if data.config_data.person_delivery %}
                                {% for item in data.config_data.person_delivery %}
                                    <option value="{{ item.id }}" selected>{{ item.full_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block dataHiddenGroup %}
    <input type="text" id="trans-factory"
    data-valid-p-lead="{% trans 'Please choice leader for Picking.' %}"
    data-warn-d-lead="{% trans 'You should choose the leader of Delivery for feature Delivery is working correctly' %}">
{% endblock %}

{% block jsFooter %}
    <script>
        $(document).ready(function () {
            let eleInputPicking = $('#switchIsPicking');
            let eleInputPartial = $('#switchPartialShip');
            let $frm = $('#formDeliveryConfig');
            let frmSetup = new SetupFormSubmit($frm);
            const $PleadElm = $('#inputPickingLead, #inputDeliveryLead, #inputPersonPicking, #inputPersonDelivery')
            const $trans = $('#trans-factory')

            $PleadElm.each(function(){
                $(this).initSelect2()
            })

            $frm.submit(function (event) {
                event.preventDefault();

                let bodyData = {
                    'is_picking': eleInputPicking.prop('checked'),
                    'is_partial_ship': eleInputPartial.prop('checked'),
                }
                // nếu có check chọn xử lý picking thì ràng buộc lead picking
                const pickLead = $('#inputPickingLead').val()
                bodyData.lead_picking = pickLead
                if (eleInputPicking.prop('checked')){
                    if (!pickLead){
                        $.fn.notifyB({'description': $trans.attr('data-valid-p-lead'), 'timeout': 3000}, 'failure')
                        return false
                    }
                }
                const personP = $('#inputPersonPicking').val()
                if(personP.length > 0) bodyData.person_picking = personP
                // delivery
                const deliLead = $('#inputDeliveryLead').val()
                if (!deliLead) $.fn.notifyB({'description': $trans.attr('data-warn-d-lead')}, 'failure')
                else bodyData.lead_delivery = deliLead
                const personD = $('#inputPersonDelivery').val()
                if(personD.length > 0) bodyData.person_delivery = personD
                $.fn.callAjax2({
                    'url': frmSetup.dataUrl,
                    'method': frmSetup.dataMethod,
                    'data': bodyData
                }).then(
                    (resp) => {
                        let data = $.fn.switcherResp(resp);
                        if (data?.['status'] === 200) {
                            $.fn.notifyB({
                                'description': $.fn.transEle.attr('data-success'),
                            }, 'success');
                        }
                    },
                    //(errs) => WindowControl.hideLoading()
                );
            });
        });
    </script>
{% endblock %}
