{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Delivery Detail' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
        }

        #upload-area {
            height: 150px;
            line-height: 150px;
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center top;
            text-align: center;
            cursor: pointer;
        }

        .pointer {
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button class="btn btn-flush-success btn-animated mr-1 font-5" type="submit" form="delivery_form"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Save"
            data-bs-original-title="Save" {% if data.config.is_picking %}disabled{% endif %}>
        <span class="icon">
            <span class="feather-icon">
                <i data-feather="save"></i>
            </span>
        </span>
    </button>
    <button class="btn btn-flush-danger btn-animated font-4" type="button" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Back" data-bs-original-title="Back"
            onclick="window.history.go(-1); return false;">
        <span class="icon">
            <span class="feather-icon">
                <i class="fas fa-step-backward"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <form id="delivery_form" data-url="{% url 'OrderDeliveryDetailAPI' data.pk %}" data-method="PUT" method="post"
          novalidate data-url-redirect="{% url 'OrderDeliveryList' %}">
        <div class="row mb-3">
            <div class="col-xs-12 col-sm-3 offset-sm-6 offset-xs-0">
                <span class="title-code text-primary font-4">--</span>
            </div>
        </div>
        <div class="row mb-3">
            {% csrf_token %}
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="inputSaleOrder" class="form-label">{% trans 'Sale Order' %}</label>
                    <input type="text" name="sale_order" id="inputSaleOrder" class="form-control" readonly/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="inputDeliveryDate"
                           class="form-label">{% trans 'Estimated Delivery Date' %}</label>
                    <div class="input-affix-wrapper">
                        <input type="text" name="estimated_delivery_date" id="inputDeliveryDate"
                               class="form-control date-picker"/>
                        <span class="input-suffix">
                            <i class="bi bi-calendar-week"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 mb-3">
                <div class="form-group">
                    <label for="customer_id" class="form-label">{% trans 'to Customer' %}</label>
                    <div class="input-group">
                        <div class="dropdown input-group-text pointer">
                            <i class="fas fa-info-circle"
                               data-bs-toggle="dropdown"
                               data-dropdown-animation
                               aria-haspopup="true"
                               aria-expanded="false"></i>
                            <div class="dropdown-menu w-210p mt-2"></div>
                        </div>
                        <input type="text" name="customer_id" id="customer_id" class="form-control" readonly/>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="inputActualDate" class="form-label">{% trans 'Actual Date' %}</label>
                    <div class="input-affix-wrapper">
                        <input type="text" name="actual_delivery_date" id="inputActualDate"
                               class="form-control date-picker"/>
                        <span class="input-suffix">
                            <i class="bi bi-calendar-week"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 mb-3">
                <div class="form-group">
                    <label for="contact_id" class="form-label">{% trans 'Contact name' %}</label>
                    <div class="input-group">
                        <div class="dropdown input-group-text pointer">
                            <i class="fas fa-info-circle"
                               data-bs-toggle="dropdown"
                               data-dropdown-animation
                               aria-haspopup="true"
                               aria-expanded="false"></i>
                            <div class="dropdown-menu w-210p mt-2"></div>
                        </div>
                        <input type="text" name="contact_id" id="contact_id" class="form-control" readonly/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 mb-3">
                <div class="form-group">
                    <label class="form-label">{% trans 'Status' %}</label>
                    <p id="state"></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 offset-sm-6 offset-xs-0">
                <div class="form-group">
                    <label for="textareaRemarks" class="form-label">{% trans 'Notes' %}</label>
                    <textarea class="form-control" name="remarks" id="textareaRemarks"></textarea>
                </div>
            </div>
        </div>

    </form>
    <div class="row mb-3">
        <ul class="nav nav-light nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#tab_detail">
                    <span class="nav-link-text">{% trans 'Detail' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab_logistics">
                    <span class="nav-link-text">{% trans 'Logistics' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab_attachment">
                    <span class="nav-link-text">{% trans 'Attachment' %}</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_detail">
                <table id="dtbPickingProductList"
                       class="table nowrap w-100 mb-5"
                       data-method="GET"
                       data-url="{% url "OrderPickingListAPI" %}"
                       data-url-detail="{% url 'OrderPickingDetail' pk=1 %}">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'Product' %}
                            <i class="fas fa-info-circle icon-info"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="{% trans 'Press row here to open detail page.' %}"></i>
                        </th>
                        <th>{% trans 'UoM' %}</th>
                        <th>{% trans 'Total order' %}</th>
                        <th>{% trans 'Delivery before' %}</th>
                        <th>{% trans 'Remain' %}</th>
                        <th>{% trans 'Ready' %}</th>
                        <th>
                            {% if not data.config.is_picking and not data.config.is_parial_ship %}
                                <button type="button" class="btn btn-soft-success" id="config-one-all">{% trans 'Done' %}</button>
                            {% elif data.config.is_picking and not data.config.is_parial_ship %}
                                <button type="button" class="btn btn-soft-success" disabled id="config-three-all">{% trans 'Done' %}</button>
                            {% else %}
                                {% trans 'Done' %}
                            {% endif %}
                        </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="tab_logistics">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="textareaShippingAddress">{% trans 'Shipping Address' %}</label>
                    <span><i class="bi bi-pencil-square mr-2"></i>{% trans 'Change' %}</span>
                </div>
                <textarea class="form-control" name="shipping_address" id="textareaShippingAddress"></textarea>
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="textareaBilling">
                        {% trans 'Billing/Invoice Address' %}
                    </label>
                    <span><i class="bi bi-pencil-square mr-2"></i>{% trans 'Change' %}</span>
                </div>
                <textarea class="form-control" name="billing_address" id="textareaBilling"></textarea>
            </div>
            <div class="tab-pane fade" id="tab_attachment">
                <div class="form-group">
                    <div id="upload-area" class="form-control">
                        Click here to upload image
                    </div>
                    <input id="input-attachment" type="file" class="hidden" name="attachments">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="warehouseStockModal" tabindex="-1" role="dialog"
         aria-labelledby="warehouseStockModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Get Product' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p><a class="text-primary text-decoration-underline title_prod" href="#"></a></p>
                <table id="productStockDetail" class="table w-100">
                    <thead>
                    <tr>
                        <th>{% trans 'Warehouse Code' %}</th>
                        <th>{% trans 'Warehouse name' %}</th>
                        <th>
                            {% if data.config.is_picking %}
                                {% trans 'Picking Area' %}
                            {% else %}
                                {% trans 'Stock' %}
                            {% endif %}
                        </th>
                        <th>{% trans 'Get' %}</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2"><p style="text-align:right">{% trans 'Total' %}:</p></th>
                            <th><b><i>0</i></b></th>
                            <th><b><i>0</i></b></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer justify-content-between ">
				<button type="button" class="btn btn-primary" id="save-stock">{% trans 'Get' %}</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
			</div>
        </div>
    </div>
    </div>
{% endblock %}

{% block dataHiddenGroup %}
    {{ data.state_choices|json_script:"dataStateChoices" }}
    {{ data.config|json_script:'delivery_config' }}
    <input type="hidden" id="trans-factory"
           data-error-picked-quantity="{% trans 'Number is larger than Remain number' %}"
           data-error-warehouse="{% trans 'Warehouse is required!' %}"
           data-error-done="{% trans 'Done column of line detail is empty!' %}"
           data-state-warning="{% trans 'Wait' %}"
           data-state-info="{% trans 'Ready' %}"
           data-state-success="{% trans 'Done' %}"
           data-outstock="{% trans 'Product out of stock.' %}"
    >
    <input type="hidden" id="url-factory"
           data-prod-detail="{% url 'ProductDetail' 1 %}"
           data-customer="{% url 'AccountDetail' 1 %}"
           data-contact="{% url 'ContactDetail' 1 %}"
           data-warehouse-prod="{% url 'WarehouseProductAPI' %}"
    >
    <script id="request-data" type="application/json"></script>
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendors/select2/dist/js/init-select2.js' %}"></script>
    <script src="{% static 'sales/delivery/delivery/detail.js' %}"></script>
{% endblock %}

