{% load i18n %}

<!-- /Message translate base -->
<input
        type="hidden" id="base-trans-factory" data-view-detail="{% trans 'View detail' %}"
        data-more-info="{% trans 'More information' %}"
        data-msg-asc="{% trans 'Ascending' %}"
        data-msg-desc="{% trans 'Descending' %}"
        data-msg-list="{% trans 'List' %}"
        data-msg-detail="{% trans 'Detail' %}"
        data-msg-update="{% trans 'Update' %}"
        data-edit="{% trans 'Edit' %}"
        data-delete="{% trans 'Delete' %}"
        data-msg-draft="{% trans 'Draft' %}"
        data-msg-export-to-file="{% trans 'Export to file' %}"
        data-msg-filter="{% trans 'Filter' %}"
        data-msg-open-close-filter="{% trans 'Open/Close filter area' %}"
        data-msg-show-hide-columns="{% trans 'Show/Hide columns' %}"
        data-msg-sorting-by="{% trans 'Sorting by' %}"
        data-msg-tools="{% trans 'Tools' %}"
        data-add="{% trans 'Add' %}"
        data-save="{% trans 'Save' %}"
        data-draft="{% trans 'Draft' %}"
        data-created="{% trans 'Created' %}"
        data-added="{% trans 'Added' %}"
        data-finish="{% trans 'Finish' %}"
        data-cancel="{% trans 'Cancel' %}"
        data-confirm="{% trans 'Confirm' %}"
        data-loading="{% trans 'Loading' %}"
        data-loading-creating="{% trans 'Creating' %}"
        data-loading-updating="{% trans 'Updating' %}"
        data-loading-deleting="{% trans 'Deleting' %}"
        data-wait="{% trans 'Please wait' %}"
        data-success="{% trans 'Successfully' %}"
        data-fail="{% trans 'Failure' %}"
        data-are-you-sure="{% trans 'Are you sure about this change?' %}"
        data-sure-change="{% trans 'Are you sure about this change?' %}"
        data-sure-delete="{% trans 'Are you sure about this delete?' %}"
        data-sure-clone="{% trans 'Are you sure about this clone?' %}"
        data-no-data="{% trans 'No data available' %}"
        data-title="{% trans 'Title' %}"
        data-code="{% trans 'Code' %}"
        data-action-wf="{% trans 'Action in Workflow' %}"
        data-all="{% trans 'All' %}"
        data-select-placeholder="{% trans 'Select' %}..."
        data-url-invalid="{% trans 'Url is invalid' %}"
        data-msgExecuteThenReloadPageIn="{% trans 'Execute this action after auto reload has been applied after the timeout!' %}"
        data-msgReloadPageIn="{% trans 'Auto reload page after the timeout!' %}"
        data-msgLabelReloadPageIn="{% trans 'Change Space to ' %}"
        data-msgFieldRequired="{% trans 'This field is required' %}"
        data-upload="{% trans 'Upload' %}"
        data-apply-after-relogin="{% trans 'This change will take effect after the next login.' %}"
        data-choose-avatar-image="{% trans 'Choose a image' %}"
        data-allow-file-properties="{% trans 'Allow type {0} and file size less than equal 5MiB' %}"
        data-select2-loadmore="{% trans 'Loading more…' %}"
        data-datatable-count-txt="{% trans '{0} row(s) selected' %}"
        data-msg-open-new-tab="{% trans 'Open a new tab' %}"
        data-msg-show-more="{% trans 'Show more' %}"
        data-msg-show-less="{% trans 'Show less' %}"
        data-msg-empty="{% trans 'Empty' %}"
        data-msg-are-u-sure="{% trans 'Are you sure?' %}"
        data-msg-yes-update-it="{% trans 'Yes, update it!' %}"
        data-msg-yes-delete-it="{% trans 'Yes, delete it!' %}"
        data-msg-yes-clone-it="{% trans 'Yes, clone it!' %}"
        data-apply="{% trans 'Apply' %}"
        data-custom-range="{% trans 'Custom Range' %}"
        data-change-not-save-until-doc-save="{% trans 'All changes will not be saved until the document is saved.' %}"
        data-in-hidden-zone="{% trans 'Data in the hidden zone' %}"
        data-select-next-node-collab="{% trans 'Select collaborator at next step' %}"
        data-type-content="{% trans 'Type your content here...' %}"
        data-msg-more="{% trans 'More' %}"
        data-msg-print-not-have-template="{% trans 'Print Template is unavailable' %}"
        data-save-draft="{% trans 'Save draft' %}"
        data-select-save-status="{% trans 'Select save status' %}"
        data-change-request="{% trans 'Change' %}"
        data-go-back="{% trans 'Back' %}"
        data-save-document="{% trans 'Save document' %}"
        data-save-run-wf="{% trans 'Run the approval workflow' %}"
        data-save-change="{% trans 'Save changes' %}"
        data-warning-can-not-undo="{% trans "You won't be able to undo this action!" %}"
        data-finish-wf-non-apply="{% trans "Document is auto finished because the feature doesn't apply workflow" %}"
        data-canceled-by-creator="{% trans "Document was canceled by creator" %}"
        data-canceled-by-change="{% trans "Document was canceled because changed document was finished" %}"
        data-need-one-option="{% trans "You need to select one option!" %}"
        data-reason-return="{% trans 'Reason for return' %}"
        data-reason-reject="{% trans 'Reason for reject' %}"
        data-reason-cancel="{% trans 'Reason for cancel' %}"
        data-reason-type-here="{% trans 'Type your reason here...' %}"
        data-node-completed="{% trans 'Completed node' %}"
        data-quantity="{% trans 'Quantity' %}"
        data-total="{% trans 'Total' %}"
        data-detail="{% trans 'Detail' %}"
        data-reference="{% trans 'Reference' %}"
        data-refresh="{% trans 'Refresh' %}"
        data-close="{% trans 'Close' %}"
        data-warning="{% trans 'Warning' %}"
        data-customer="{% trans 'Customer' %}"
        data-supplier="{% trans 'Supplier' %}"
        data-filter="{% trans 'Filter' %}"
        data-restore="{% trans 'Restore' %}"
        data-export-exel="{% trans 'Export exel' %}"

        {# WORKFLOW RUNTIME #}
        data-no-next-node="{% trans 'Next node not found.' %}"
        data-select-association-type-1="{% trans 'The document meets the following nodes. Please select one.' %}"
        data-select-association-type-2="{% trans 'The document does not meet any nodes. Do you wish to continue? If yes, please select one.' %}"
        data-select-association="{% trans 'Select next station' %}"
        data-node-type-1="{% trans 'Select collaborator' %}"
        data-node-type-2="{% trans 'Auto assign collaborator' %}"
        data-new-task="{% trans 'New task' %}"
        data-create-document="{% trans 'Create document' %}"
        data-receive-document="{% trans 'Receive document' %}"
        data-in-workflow="{% trans 'In workflow' %}"
        data-approved="{% trans 'Approved' %}"
        data-rejected="{% trans 'Rejected' %}"
        data-edit-zone="{% trans 'Edit data by zones' %}"
        data-return-creator="{% trans 'Return to creator' %}"
        data-document-returned="{% trans 'Document was returned' %}"
        data-rerun-workflow="{% trans 'Rerun workflow' %}"
        data-workflow-end="{% trans 'Workflow ended' %}"
        data-end-approved="{% trans 'Workflow ended (Approved)' %}"
        data-end-rejected="{% trans 'Workflow ended (Rejected)' %}"
        data-workflow-error="{% trans 'Rejected because of workflow error' %}"
        data-check-cr="{% trans 'The action cannot be performed because there are change requests (CR). Please approve or cancel the change requests.' %}"
        data-root-document="{% trans 'Root document' %}"
        >
<!-- /Message translate base -->