{% load i18n %}

<!-- /Message translate base -->
<input
        type="hidden" id="base-trans-factory" data-view-detail="{% trans 'View detail' %}"
        data-more-info="{% trans 'More Information' %}"
        data-draft="{% trans 'Draft' %}"
        data-created="{% trans 'Created' %}"
        data-added="{% trans 'Added' %}"
        data-finish="{% trans 'Finish' %}"
        data-cancel="{% trans 'Cancel' %}"
        data-confirm="{% trans 'Confirm' %}"
        data-loading="{% trans 'Loading' %}"
        data-wait="{% trans 'Please wait' %}"
        data-success="{% trans 'Successfully' %}"
        data-are-you-sure="{% trans 'Are you sure about this change?' %}"
        data-no-data="{% trans 'No data available' %}"
        data-title="{% trans 'Title' %}"
        data-code="{% trans 'Code' %}"
        data-action-wf="{% trans 'Action in Workflow' %}"
        data-all="{% trans 'All' %}"
        data-url-invalid="{% trans 'Url is invalid' %}"
        data-msgExecuteThenReloadPageIn="{% trans 'Execute this action after auto reload has been applied after the timeout!' %}"
        data-msgReloadPageIn="{% trans 'Auto reload has been applied after the timeout!' %}"
        data-msgLabelReloadPageIn="{% trans 'Change Space to ' %}"
        data-msgFieldRequired="{% trans 'This field is required' %}"
        data-upload="{% trans 'Upload' %}"
        data-apply-after-relogin="{% trans 'This change will take effect after the next login.' %}"
        data-choose-avatar-image="{% trans 'Choose a image' %}"
        data-allow-file-properties="{% trans 'Allow type {0} and file size less than equal 5MiB' %}"
        data-select2-loadmore="{% trans 'Loading more…' %}"
        data-datatable-count-txt="{% trans '{0} row(s) selected' %}"
>
<!-- /Message translate base -->