{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Chart of account' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
{% endblock %}
{% block pageContent %}
    <script id="trans-script"
            data-trans-all="{% trans 'Default all' %}"
    ></script>
    <script id="url-script"
            data-url-get-account-list="{% url 'ChartOfAccountsListAPI' %}"
    ></script>
    <div class="row">
        <div class="col-12 col-md-3 col-lg-3">
            {% include 'accountingsettings/chart_of_account/common/tab_menu.html' %}
        </div>
        <div class="col-12 col-md-9 col-lg-9">
            {% include 'accountingsettings/chart_of_account/common/tab_table.html' %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center" style="bottom: 20px; position: fixed">
            <button id="add-new-same" disabled class="btn btn-custom btn-primary btn-sm">
                <span>
                    <span class="icon">
                        <span class="feather-icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </span>
                    <span>{% trans 'Add same level account' %}</span>
                </span>
            </button>
            <button id="add-new-sub" disabled class="btn btn-custom btn-primary btn-sm">
                <span>
                    <span class="icon">
                        <span class="feather-icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </span>
                    <span>{% trans 'Add sub level account' %}</span>
                </span>
            </button>
            <p class="small text-muted">{% trans 'Select an account for these actions' %}</p>
        </div>
    </div>
{% endblock %}
{% block modalData %}
    {% include 'accountingsettings/chart_of_account/common/modals.html' %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/accountingsettings/chart_of_account/chart_of_account.js' %}"></script>
{% endblock %}
