<table style="border-collapse: collapse; width: 100%;" border="0"
       data-mce-style="border-collapse: collapse; width: 100%;" class="mce-item-table">
    <tbody>
    <tr>
        <td style="width: 28.8612%;" data-mce-style="width: 28.8612%;"><img alt="" height="100" loading="lazy"
                                                                            src="http://ngoctrinh.sit.mtsolution.com.vn/media/public/80785ce8f13848b8b7fa5fb1971fe204/global/logo.png"
                                                                            width="199"
                                                                            data-mce-src="http://ngoctrinh.sit.mtsolution.com.vn/media/public/80785ce8f13848b8b7fa5fb1971fe204/global/logo.png">
        </td>
        <td style="width: 70.75%; text-align: center;" data-mce-style="width: 70.75%; text-align: center;"><p>
            <strong><span style="font-size: 18px;"
                          data-mce-style="font-size: 18px;">CÔNG TY CỔ PHẦN GIẢI PHÁP MINH TÂM</span></strong></p>
            <p>Địa chỉ: 20 đường số 22, KDC Him Lam, ấp 4, xã Bình Hưng, huyện Bình Chánh, TP. Hồ Chí Minh</p>
            <p>Email: <a rel="noopener noreferrer nofollow" href="mailto:info@mtsolution.com;vn"
                         data-mce-href="mailto:info@mtsolution.com;vn">info@mtsolution.com;vn</a></p>
            <p>Tel: 0903608494</p></td>
    </tr>
    </tbody>
</table>
<p style="text-align: center;" data-mce-style="text-align: center;"><strong><span style="font-size: 18px;"
                                                                                  data-mce-style="font-size: 18px;">PHIẾU TRẢ HÀNG</span></strong>
</p>
<p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 12px;"
                                                                          data-mce-style="font-size: 12px;">Mã số phiếu: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="code" id="idx-W9CueKxluIBNMhBj"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Code</span>​</span></p>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><br></p>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><span style="font-size: 14px;"
                                                                            data-mce-style="font-size: 14px;">Tên phiếu: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="title" id="idx-zJv9Fc9jvurdU1Gn"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Title</span>​</span></p>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><span style="font-size: 14px;"
                                                                            data-mce-style="font-size: 14px;">Khách hàng: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="sale_order__customer_name"
        id="idx-rQ4QUELqO9LibfnN" data-mce-style="padding: 3px; background-color: #f1f1f1;">#Customer</span>​​</span>
</p>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><span style="font-size: 14px;"
                                                                            data-mce-style="font-size: 14px;">Đơn hàng: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="sale_order__title"
        id="idx-ACPaUeVvFoXbNnMb" data-mce-style="padding: 3px; background-color: #f1f1f1;">#Sale Order</span>​​</span>
</p>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><span style="font-size: 14px;"
                                                                            data-mce-style="font-size: 14px;">Mô tả: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="note" id="idx-Q74zwI81HAaT5lNJ"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Note</span>​</span></p>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><span style="font-size: 14px;"
                                                                            data-mce-style="font-size: 14px;">Sản phẩm:</span>
</p>
<table style="border-collapse: collapse; width: 87.2202%; height: 83px;" border="1"
       data-mce-style="border-collapse: collapse; width: 87.2202%; height: 83px;">
    <tbody>
    <tr style="height: 12px;" data-mce-style="height: 12px;">
        <td style="width: 20.3858%; height: 12px; text-align: center;"
            data-mce-style="width: 20.3858%; height: 12px; text-align: center;"><span style="font-size: 14px;"
                                                                                      data-mce-style="font-size: 14px;"><strong>Tên</strong></span>
        </td>
        <td style="width: 2.12404%; height: 12px; text-align: center;"
            data-mce-style="width: 2.12404%; height: 12px; text-align: center;"><strong><span style="font-size: 14px;"
                                                                                              data-mce-style="font-size: 14px;">Đơn vị</span></strong>
        </td>
        <td style="width: 12.6658%; height: 12px; text-align: center;"
            data-mce-style="width: 12.6658%; height: 12px; text-align: center;"><span style="font-size: 14px;"
                                                                                      data-mce-style="font-size: 14px;"><strong>Mã giao hàng</strong></span>
        </td>
        <td style="width: 13.5154%; height: 12px; text-align: center;"
            data-mce-style="width: 13.5154%; height: 12px; text-align: center;"><span style="font-size: 14px;"
                                                                                      data-mce-style="font-size: 14px;"><strong>Lot No.</strong></span>
        </td>
        <td style="width: 17.5371%; height: 12px; text-align: center;"
            data-mce-style="width: 17.5371%; height: 12px; text-align: center;"><p><span style="font-size: 14px;"
                                                                                         data-mce-style="font-size: 14px;"><strong>Mã serial nhà cung cấp</strong></span>
        </p></td>
        <td style="width: 18.6918%; text-align: center;" data-mce-style="width: 18.6918%; text-align: center;"><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"><strong>Trạng thái giao lại</strong></span>
        </td>
        <td style="width: 15.6331%; text-align: center;" data-mce-style="width: 15.6331%; text-align: center;"><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"><strong>Trạng thái trả hàng</strong></span>
        </td>
        <td style="width: 46.9476%; text-align: center;" data-mce-style="width: 46.9476%; text-align: center;"><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"><strong>Kho trả hàng</strong></span></td>
    </tr>
    <tr style="height: 12px;" data-mce-style="height: 12px;">
        <td style="width: 20.3858%; height: 10px;" data-mce-style="width: 20.3858%; height: 10px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="product_detail_list___product_title" id="idx-45SSjH4GmcNu88Fz"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product title</span>​
        </td>
        <td style="width: 2.12404%; height: 10px;" data-mce-style="width: 2.12404%; height: 10px;"><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="product_detail_list___uom_title" id="idx-meV4QtRVPFLPtE05"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product UoM</span>​​</span></td>
        <td style="width: 12.6658%; height: 10px;" data-mce-style="width: 12.6658%; height: 10px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="delivery__code"
                id="idx-sr2ZBN6ruCOGuUXF"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product Delivery</span>​
        </td>
        <td style="width: 13.5154%; height: 10px;" data-mce-style="width: 13.5154%; height: 10px;"><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="product_detail_list___lot_number" id="idx-Cwa7icXftz3KHnwN"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product Lot No.</span>​​​</span></td>
        <td style="width: 17.5371%; height: 10px;" data-mce-style="width: 17.5371%; height: 10px;"><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="data_line_detail_table___vendor_serial_number_with_serial_number" id="idx-aEckcTxfHyRVzZKb"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product vendor serial (serial)</span>​​</span>
        </td>
        <td style="width: 18.6918%;" data-mce-style="width: 18.6918%;"><span style="font-size: 14px;"
                                                                             data-mce-style="font-size: 14px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="data_line_detail_table___vendor_serial_number_with_serial_number" id="idx-aEckcTxfHyRVzZKb"
                data-mce-style="padding: 3px; background-color: #f1f1f1;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="product_detail_list___is_redelivery" id="idx-6yFklrfwxzSZK3OV"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product redelivery status</span>​</span></span>
        </td>
        <td style="width: 15.6331%;" data-mce-style="width: 15.6331%;"><span style="font-size: 14px;"
                                                                             data-mce-style="font-size: 14px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="data_line_detail_table___vendor_serial_number_with_serial_number" id="idx-aEckcTxfHyRVzZKb"
                data-mce-style="padding: 3px; background-color: #f1f1f1;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="product_detail_list___is_redelivery" id="idx-6yFklrfwxzSZK3OV"
                data-mce-style="padding: 3px; background-color: #f1f1f1;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="product_detail_list___is_return" id="idx-YJIScmPIeUt3d2IE"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product return status</span>​</span></span></span>
        </td>
        <td style="width: 46.9476%;" data-mce-style="width: 46.9476%;"><span style="font-size: 14px;"
                                                                             data-mce-style="font-size: 14px;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="data_line_detail_table___vendor_serial_number_with_serial_number" id="idx-aEckcTxfHyRVzZKb"
                data-mce-style="padding: 3px; background-color: #f1f1f1;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="product_detail_list___is_redelivery" id="idx-6yFklrfwxzSZK3OV"
                data-mce-style="padding: 3px; background-color: #f1f1f1;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="product_detail_list___is_return" id="idx-YJIScmPIeUt3d2IE"
                data-mce-style="padding: 3px; background-color: #f1f1f1;"><span
                style="padding: 3px; background-color: #f1f1f1;" class="params-data"
                data-code="data_line_detail_table___return_to_warehouse__title" id="idx-TbDCOHVUf0mS6uGf"
                data-mce-style="padding: 3px; background-color: #f1f1f1;">#Product return warehouse</span>​</span></span></span></span>
        </td>
    </tr>
    </tbody>
</table>
<p style="text-align: justify;" data-mce-style="text-align: justify;"><br></p>