.quotation-horizon {
    background-color: #3c3f43;
}

.fa-file-alt {
    font-size: larger;
}

.fa-chart-bar {
    font-size: larger;
}

.dropdown-menu .dropdown-header.header-wth-bg {
    background: #007D88;
}
