.quotation-horizon {
    background-color: #3c3f43;
}

.fa-file-alt {
    font-size: larger;
}

.fa-chart-bar {
    font-size: larger;
}

.dropdown-menu .dropdown-header.header-wth-bg {
    background: #007D88;
}

.disabled-custom-show:disabled {
    color: #0c0c0c;
}

.fa-chevron-up {
    text-align: center;
    font-size: larger;
}

.fa-chevron-down {
    text-align: center;
    font-size: larger;
}

ul.quotation-tabs {
  display: flex;
  justify-content: center;
}

ul.quotation-tabs li.quotation-tab-item {
  margin-right: 10px;
}