.quotation-horizon {
    background-color: #3c3f43;
}

.fa-file-alt {
    font-size: x-large;
}

.fa-chart-bar {
    font-size: x-large;
}

.dropdown-menu .dropdown-header.header-wth-bg {
    background: #007D88;
}

.disabled-custom-show:disabled {
    color: #0c0c0c;
}

.disabled-but-edit:disabled {
    color: #0c0c0c;
    background-color: white;
}

.disabled-show-normal:disabled {
    color: #0c0c0c;
    background-color: white;
}

.fa-angle-double-up {
    color: #007D88;
    text-align: right;
}

.fa-angle-double-down {
    color: #007D88;
    text-align: right;
}

ul.quotation-tabs {
  display: flex;
  justify-content: center;
}

ul.quotation-tabs li.quotation-tab-item {
  margin-right: 10px;
}

a.dropdown-item.table-row-price-option:hover {
    background-color: blue;
    color: white;
}

.fa-info-circle {
    color: #298dff;
}

.fa-gift {
    color: #e92990;
}

.fa-shipping-fast {
    color: #c39749;
}

.modal-body-invalid-promotion {
    text-align: center;
}

.row.modal-footer-invalid-promotion {
    position: relative;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #c7c7c7;
}

.row.modal-footer-invalid-promotion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #b5b5b5;
}

.btn-remove-promotion {
    color: red;
}

.btn-see-promotion {
    color: #00D67F;
}

.option-btn-checked {
    background-color: #f7f7f7;
}

.expired-price {
    color: #EB5757CC;
}

.valid-price {
    color: #00D67F;
}

.fa-angle-down {
    font-size: x-small;
    color: #c7c7c7;
}

.status-draft:disabled {
    background-color: #e9ecef;
    color: #6f6f6f;
}

.status-created:disabled {
    background-color: #ebf5f5;
    color: #007D88;
}

.status-added:disabled {
    background-color: #edfcfe;
    color: #18DDEF;
}

.status-finish:disabled {
    background-color: #ebfcf5;
    color: #00ab66;
}

.status-cancel:disabled {
    background-color: #ffebeb;
    color: #e60000;
}

.total-area .card {
    margin-top: unset;
}

.total-area .card.card-sm .card-body {
    padding: 0.8rem;
}

.subtotal-area .card {
    margin-top: unset;
    margin-bottom: unset;
}

.subtotal-area .card.card-sm .card-body {
    padding: 0.5rem;
}