.fa-file-alt {
    font-size: x-large;
}

.fa-chart-bar {
    font-size: x-large;
}

.dropdown-menu .dropdown-header.header-wth-bg {
    background: #007D88;
}

.disabled-custom-show:disabled {
    color: #0c0c0c;
}

.disabled-but-edit:disabled {
    color: #0c0c0c;
    background-color: white;
}

.disabled-show-normal:disabled {
    color: #0c0c0c;
    background-color: white;
}

.fa-angle-double-up {
    color: #007D88;
    text-align: right;
}

.fa-angle-double-down {
    color: #007D88;
    text-align: right;
}

a.dropdown-item.table-row-price-option:hover {
    background-color: blue;
    color: white;
}

.modal-body-invalid-promotion {
    text-align: center;
}

.row.modal-footer-invalid-promotion {
    position: relative;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #c7c7c7;
}

.row.modal-footer-invalid-promotion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #b5b5b5;
}

.btn-remove-promotion {
    color: red;
}

.btn-see-promotion {
    color: #00D67F;
}

.option-btn-checked {
    background-color: #ebfcf5;
}

.expired-price {
    color: #EB5757CC;
}

.valid-price {
    color: #00D67F;
}

.fa-angle-down {
    font-size: x-small;
    color: #c7c7c7;
}

.overflow-x-scroll::-webkit-scrollbar {
    height: 8px;
}

.overflow-x-scroll::-webkit-scrollbar-thumb {
    background-color: #d6d9da;
    border-radius: 4px;
}

.voucher {
  width: 180px; /* Smaller width */
  padding: 4px; /* Smaller padding */
  background-color: #ffebeb; /* Light background color */
  border: 2px dashed red; /* Dashed border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
}

/* Optional: Add some circular cut-out effect on the sides */
.voucher::before, .voucher::after {
  content: '';
  position: absolute;
  width: 15px; /* Smaller cut-out size */
  height: 15px; /* Smaller cut-out size */
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.voucher::before {
  left: -8px; /* Adjust for smaller size */
}

.voucher::after {
  right: -8px; /* Adjust for smaller size */
}

.voucher h2 {
  margin-top: 0;
  font-size: 18px; /* Smaller font size */
  color: #333;
}

.voucher p {
  font-size: 14px; /* Smaller font size */
  color: #555;
}


