.quotation-horizon {
    background-color: #3c3f43;
}

.fa-file-alt {
    font-size: larger;
}

.fa-chart-bar {
    font-size: larger;
}

/*.show-not-edit {*/
/*    background-color: white;*/
/*}*/

.fa-info-circle {
    font-size: large;
}

.custom-popover {
    max-width: 200px;
    border-color: var(--bs-primary);
    border-width: 1px;
    border-style: solid;
}

.custom-popover .popover-header {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.custom-popover .popover-body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}