/* Off Canvas responsive Screen */

@media only screen and (min-width: 1001px) {
    .cus-offcanvas {
        width: 60% !important;
        min-width: 400px;
    }
}

@media only screen and (max-width: 1000px) {
    .cus-offcanvas {
        width: 100% !important;
        min-width: 400px !important;
    }
}

.wizard > .steps .done a {
    color: #000000 !important;
}

.wizard > .steps .current a {
    color: #0a53be !important;
}


/* ... Off Canvas responsive Screen */
.hidden {
    display: none !important;
}


/* Apps in Plan */
.btn-collapse {
    cursor: pointer;
}

.card {
    margin-top: 30px;
}

/* Hidden secondary slider */
.hk-sidebar-togglable {
    display: none;
}

/* color */
.cl-red {
    color: red;
}

.cl-blue {
    color: blue;
}

.cl-green {
    color: green;
}

/* field css */
.field-required {
    color: red;
    padding-left: 3px;
}

/* global class style form */
.modal-backdrop {
    /*background-color: #262a2e;*/
    position: relative;
}

.required::after {
    content: "(*)";
    color: red;
    font-size: 0.8rem;
}

.wrap-text {
    word-break: normal !important;
    white-space: normal !important;
}


.btn-show-hide-password {
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.modal.show {
    background-color: rgba(91, 91, 91, 0.35);
}

.menu-child-icon i {
    font-size: 0.6em;
}

.icon-info {
    font-size: 0.9em;
    padding-left: 3px;
    cursor: pointer;
}


.span-group > .span-item:first-child {
    border-radius: 5px 0 0 5px;
}

.span-group > .span-item:last-child {
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.span-group > .span-item:last-child:hover {
    background-color: #454845;
    color: #FFFFFF;
}
.span-group > .span-item {
    border: 1px solid black;
    padding: 0.4em 1em;
}
.span-group > .span-item:not(:first-child) {
    border-left: 0;
}