/* Off Canvas responsive Screen */

@media only screen and (min-width: 1001px) {
    .cus-offcanvas {
        width: 60% !important;
        min-width: 400px;
    }
}

@media only screen and (max-width: 1000px) {
    .cus-offcanvas {
        width: 100% !important;
        min-width: 400px !important;
    }
}

.wizard > .steps .done a {
    color: #000000 !important;
}

.wizard > .steps .current a {
    color: #0a53be !important;
}


/* ... Off Canvas responsive Screen */
.hidden {
    display: none !important;
}


/* Apps in Plan */
.btn-collapse {
    cursor: pointer;
}

.card {
    margin-top: 30px;
}

/* Hidden secondary slider */
.hk-sidebar-togglable {
    display: none;
}

/* color */
.cl-red {
    color: red;
}

.cl-blue {
    color: blue;
}

.cl-green {
    color: green;
}

/* field css */
.field-required {
    color: red;
    padding-left: 3px;
}

/* global class style form */
.modal-backdrop {
    /*background-color: #262a2e;*/
    position: relative;
}

.required::after {
    content: "(*)";
    color: red;
    font-size: 0.8rem;
}

.wrap-text {
    word-break: normal !important;
    white-space: normal !important;
}


.btn-show-hide-password {
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.modal.show {
    background-color: rgba(91, 91, 91, 0.35);
}

.menu-child-icon i {
    font-size: 0.6em;
}

.icon-info {
    font-size: 0.9em;
    padding-left: 3px;
    cursor: pointer;
}

/* breadcrumb */
.breadcrumb {
    background-color: rgba(255, 255, 255, 0) !important ;
}

/* filter table with inline group */
div.inline { float:left; margin-right: 10px;}
.clearBoth { clear:both; }
/*data table css */

.dataTables_paginate .paginate_button i {
    font-size: 1.2rem;
    vertical-align: -4px
}

.dataTables_paginate .paginate_button.previous i {
    margin-right: 4px;
}

.dataTables_paginate .paginate_button.next i {
    margin-left: 5px;
}

[type="search"] {
    outline: none;
}

/* show - hidden code company */
#span-code-company {
    font-size: 0.9em;
    margin-left: 1em;
    display: none;
}
.hk-menu:hover #span-code-company {
    display: inline-block !important;
}