{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Distribution Plan Create' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="form-create-distribution-plan">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <script id="script-url"
            data-url-expense-item="{% url 'ExpenseItemListAPI' %}"
    ></script>
    {% include 'sales/distribution_plan/common/general_information.html' %}
    {% include 'sales/distribution_plan/common/costs_area.html' %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/sales/distribution_plan/js/distribution_plan_common.js' %}"></script>
    <script src="{% static 'assets/sales/distribution_plan/js/distribution_plan_create.js' %}"></script>
{% endblock %}
