{% extends 'base.html' %}
{% load i18n static %}

{% block cssHeader %}
    <style>
        .rotate-icon {
            transition-duration: 0.5s;
            transition-property: transform;
            transform: rotate(0deg);
        }

        .rotate-90deg {
            transform: rotate(90deg);
        }

        .rotate-180deg {
            transform: rotate(180deg);
        }

        .groupCollapseData {
            padding: 20px;
        }
    </style>
    <style>
        #server-general-checkbox:checked ~ #group-server-mail {
            display: none;
        }

        #server-general-checkbox:not(:checked) ~ #group-server-mail {
            display: block;
        }
    </style>
{% endblock %}

{% block pageAction %}

{% endblock %}

{% block pageContent %}
    <ul class="nav nav-light nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#tabSystem">
                <span class="nav-link-text">{% trans 'System' %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tabFeature"
               id="link-tab-feature"
               data-url-app-list="{% url 'MailFeatureAppListAPI' %}"
            >
                <span class="nav-link-text">{% trans 'Feature' %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tabConfig" id="link-tab-config">
                <span class="nav-link-text"><i class="fa-solid fa-gear"></i></span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tabSystem">
            <div class="row">
                {% for data_info in data.system_info %}
                    {% include 'mailer/extends/group_system_item.html' with data=data_info %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="tabFeature">
            <div class="w-100 d-flex justify-content-start mb-3">
                <a href="{% url 'MailTemplateCreateView' %}">
                    <button class="btn btn-primary"><i class="fa-solid fa-plus mr-1"></i> {% trans 'Add' %}</button>
                </a>
            </div>
            <div id="group-feature-sample" style="display:none;">
                {% include 'mailer/extends/group_feature.html' %}    
            </div>
        </div>
        <div class="tab-pane fade" id="tabConfig">
            {% include 'mailer/extends/group_mail_config.html' %}
        </div>
    </div>
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'mailer/mailer.js' %}"></script>
    <script src="{% static 'mailer/config.js' %}"></script>
    <script src="{% static 'mailer/feature.js' %}"></script>
    <script src="{% static 'mailer/systems.js' %}"></script>
    <script>
        $(document).ready(function () {
            setTimeout(
                () => {
                    let tabIdx = $x.fn.getHashUrl();
                    let tab$ = tabIdx ? $(tabIdx) : $('#tabSystem');
                    if (tab$ && tab$.length > 0) tab$.find('.btnCollapseGroup:first').trigger('click');
                },
                100
            );
        })
    </script>
{% endblock %}