{% extends 'base.html' %}
{% load i18n static %}

{% block cssHeader %}
    <style>
        .rotate-icon {
            transition-duration: 0.5s;
            transition-property: transform;
            transform: rotate(0deg);
        }

        .rotate-90deg {
            transform: rotate(90deg);
        }

        .groupCollapseData {
            padding: 20px;
        }
    </style>
    <style>
        #server-general-checkbox:checked ~ #group-server-mail {
            display: none;
        }

        #server-general-checkbox:not(:checked) ~ #group-server-mail {
            display: block;
        }
    </style>
{% endblock %}

{% block pageAction %}
    <a href="{% url 'MailTemplateCreateView' %}">
        <button class="btn btn-outline-primary">
        <span>
            <span>{% trans 'Add' %}</span>
            <span class="icon"><i class="fa-solid fa-plus"></i></span>
        </span>
        </button>
    </a>
{% endblock %}

{% block pageContent %}
    <ul class="nav nav-light nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#tabSystem" data-not-push-tab>
                <span class="nav-link-text">{% trans 'System' %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tabFeature" data-not-push-tab>
                <span class="nav-link-text">{% trans 'Feature' %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tabConfig" id="link-tab-config">  {# data-not-push-tab #}
                <span class="nav-link-text"><i class="fa-solid fa-gear"></i></span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tabSystem">
            <div class="row">
                {% for data_info in data.system_info %}
                    {% include 'mailer/extends/group_system_item.html' with data=data_info %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="tabFeature">
            <div class="w-100 mb-5">
                <div class="w-100 d-flex">
                    <button class="btn btn-gradient-info btn-square w-90 btnCollapseGroup" type="button">
                        {% trans 'Welcome' %}
                        <i class="btn-collapse-group-print fa-solid fa-angles-left ml-1 rotate-icon"></i>
                    </button>
                    <button class="btn btn-gradient-primary btn-square w-10 btnShowInfo">
                        <i class="fa-solid fa-circle-info"></i>
                    </button>
                </div>
                <div class="w-100 groupInfo p-3" style="display: none;font-style: italic">
                    <p>Đây là cấu hình thư điện tử được sử dụng để gửi thư chào mừng thành viên mới của tổ chức của
                        bạn.</p>
                    <p>Nó được sử dụng trong "cấu hình quy tắc tự động hóa" khi có phát sinh sự kiện tạo mới "người
                        dùng" hoặc chức năng gửi thư tuỳ chỉnh nếu có.</p>
                </div>
                <div class="w-100 groupCollapseData" style="display: none;">
                    <table
                            class="table no-wrap w-100"
                            data-url-detail="{% url 'MailTemplateDetailView' pk='__pk__' %}"
                            data-url-update="{% url 'MailTemplateUpdateView' pk='__pk__' %}"
                            data-url-delete="{% url 'MailTemplateDetailAPI' pk='__pk__' %}"
                    >
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'Title' %}</th>
                            <th>{% trans 'Remarks' %}</th>
                            <th>{% trans 'Using' %}</th>
                            <th>{% trans 'Is default' %}</th>
                            <th>{% trans 'Actions' %}</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tabConfig">
            <form
                    id="frm-mail-config"
                    data-url="{% url 'MailConfigDetailAPI' pk='__pk__' %}"
                    data-method="PUT"
                    data-url-detail="{% url 'MailConfigAPI' %}"
            >
                <div class="w-100">
                    <div class="d-flex">
                        <div class="w-30">
                            <div
                                    class="chip chip-primary chip-ticked w-100 h-100"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Click to toggle on/off' %}"
                            >
                                <input type="checkbox" id="inp-is-active" name="is_active">
                                <span style="border-radius: unset;" class="w-100 h-100"><span
                                        class="chip-text"
                                >
                                {% trans 'Enable mail notification' %}
                            </span></span>
                            </div>
                        </div>
                        <div class="w-30">
                            <div
                                    class="chip chip-primary chip-ticked w-100 h-100"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Click to toggle on/off' %}"
                            >
                                <input type="checkbox" id="inp-server-general" name="use_our_server">
                                <span style="border-radius: unset;" class="w-100 h-100"><span
                                        class="chip-text"
                                >
                                {% trans 'Use our mail server' %}
                            </span></span>
                            </div>
                        </div>
                        <div class="w-40">
                            <button class="btn btn-outline-primary btn-square w-100" type="submit" form="frm-mail-config">{% trans 'Save' %}</button>
                        </div>
                    </div>
                    <div class="row mt-5 p-3" id="group-server-mail">
                        <div class="w-100">
                            <ol>
                                <li>
                                    <p>{% trans 'All configurations will be encrypted before being stored to ensure the security of your information.' %}</p>
                                </li>
                                <li>
                                    <p>{% trans 'Sensitive information such as password, host, port, username, and ssl file will be partially hidden when returning data.' %}</p>
                                </li>
                                <li>
                                    <p>{% trans 'To ensure the best security standards for your server, we recommend using one of the two security methods SSL or TLS (if your mail server supports them). If both TLS and SSL services are enabled, the connection will prioritize using TLS.' %}</p>
                                </li>
                                <li>
                                    <p>{% trans 'If you use SSL, then connection verification is mandatory after successfully saving the configuration.' %}</p>
                                    <p>{% trans 'On the contrary, if you do not use SSL, then the connection can be checked with the data you entered without saving.' %}</p>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="form-group">
                                <label for="inp-host" class="form-label">{% trans 'Host mail server' %}</label>
                                <input type="text" class="form-control" id="inp-host" name="host"/>
                            </div>
                            <div class="form-group">
                                <label for="inp-port" class="form-label">{% trans 'Port mail server' %}</label>
                                <input type="text" class="form-control" id="inp-port" name="port"/>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="form-group">
                                <label for="inp-username" class="form-label">{% trans 'Username' %}</label>
                                <input type="text" class="form-control" id="inp-username" name="username"/>
                            </div>
                            <div class="form-group">
                                <label for="inp-password" class="form-label">{% trans 'Password' %}</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="inp-password" name="password"/>
                                    <button
                                            class="btn btn-outline-secondary w-100p" type="button"
                                            id="btn-show-hide-password"
                                    >
                                        <span>{% trans 'Show' %}</span>
                                        <span class="d-none">{% trans 'Hide' %}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="form-group">
                                <label class="form-label"></label>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="inp-use-tls" name="use_tls"/>
                                    <label class="form-check-label" for="inp-use-tls">{% trans 'Use TLS' %}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="inp-use-ssl" name="use_ssl"/>
                                    <label class="form-check-label" for="inp-use-ssl">{% trans 'Use SSL' %}</label>
                                </div>
                            </div>
                            <div class="row" id="group-ssl-config">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label
                                                for="inp-ssl-key-file" class="form-label"
                                        >{% trans 'SSL Key file' %}</label>
                                        <input
                                                class="form-control" type="file" id="inp-ssl-key-file" name="ssl_key"
                                                accept=".crt,.key,.txt"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label
                                                for="inp-ssl-cert-file" class="form-label"
                                        >{% trans 'SSL Cert file' %}</label>
                                        <input
                                                class="form-control" type="file" id="inp-ssl-cert-file" name="ssl_cert"
                                                accept=".crt,.key,.txt"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="w-100 bg-sky-light-5 p-3 mb-3" style="border-radius: 7px;display: none;" id="connection-group">
                                <p>
                                    <span>{% trans 'Connection status' %}:</span>
                                    <span class="text-info connect-msg" id="connect-msg-in-progress" style="display: none;">{% trans 'Verification in progress' %}...</span>
                                    <span class="text-danger connect-msg" id="connect-msg-fail" style="display: none;">{% trans 'Failure' %}</span>
                                    <span class="text-success connect-msg" id="connect-msg-success" style="display: none;">{% trans 'Successfully' %}</span>
                                    <span class="text-warning connect-msg" id="connect-msg-need-more" style="display: none;">{% trans 'Need more config value' %}</span>
                                </p>
                                <p id="group-connect-errs" style="display: none;">
                                    <span>{% trans 'Errors' %}:</span>
                                    <span class="text-danger" id="connect-errs-value"></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <button
                                    type="button"
                                    class="btn no-transform btn-primary"
                                    id="btn-verify-saved-config"
                                    data-url="{% url 'MailConfigConnectionTest' pk='__pk__' %}"
                            >{% trans 'Verify Config' %}</button>
                            <button
                                    type="button"
                                    class="btn no-transform btn-primary"
                                    id="btn-verify-newly-config"
                                    data-url="{% url 'MailConfigConnectionTestData' pk='__pk__' %}"
                            >{% trans 'Verify New Config' %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'mailer/mailer.js' %}"></script>
    <script src="{% static 'mailer/list.js' %}"></script>
    <script>
        $(document).ready(function () {
            let staticPrefix = "{% static '' %}";

            $('.btnShowInfo').on('click', function () {
                $(this).closest('.parentGroupInfo').find('.groupInfo').animate({
                    height: "toggle",
                    opacity: "toggle",
                })
            })
            $('.btnCollapseGroup').on('click', function () {
                $(this).find('i').toggleClass('rotate-90deg');
                $(this).siblings('button[type=submit]').prop('disabled', (i, v) => !v);
                let groupCollapse$ = $(this).closest('.parentGroupInfo').find('.groupCollapseData');
                groupCollapse$.animate({
                    height: "toggle",
                    opacity: "toggle"
                });
                groupCollapse$.find('table').each(function () {
                    if (!$(this).attr('id')) $(this).attr('id', $x.fn.randomStr(32, true));
                    if (!$.fn.DataTable.isDataTable('#' + $(this).attr('id'))) {
                        let tblEle = $(this);
                        $(this).DataTableDefault({
                            data: [
                                {
                                    'id': '436fcfdb-4c3e-4107-9a62-18bf5128b8c0',
                                    'title': 'Hihi',
                                    'remark': 'Hihiooo',
                                    'is_active': true,
                                    'is_default': true,
                                }
                            ],
                            autoWidth: false,
                            rowIdx: true,
                            callbackGetLinkBlank: (row) => tblEle.attr('data-url-detail').replaceAll('__pk__', row.id),
                            columns: [
                                {
                                    width: '10%',
                                    render: () => ''
                                },
                                {
                                    data: 'title',
                                    width: '30%',
                                    render: (data, type, row) => {
                                        return `<a href="${tblEle.attr('data-url-detail').replaceAll('__pk__', row.id)}">${data}</a>`
                                    },
                                },
                                {
                                    data: 'remark',
                                    width: '20%',
                                    render: (data) => data,
                                },
                                {
                                    data: 'is_active',
                                    width: '15%',
                                    render: (data) => {
                                        let idx = $x.fn.randomStr(32, true);
                                        return `<div class="form-check form-switch">
                                            <input type="checkbox" class="form-check-input" id="${idx}" ${data ? "checked" : ""} disabled>
                                            <label class="form-check-label d-none" for="${idx}"></label>
                                        </div>`;
                                    },
                                },
                                {
                                    data: 'is_default',
                                    width: '15%',
                                    render: (data) => {
                                        let idx = $x.fn.randomStr(32, true);
                                        return `<div class="form-check form-switch">
                                            <input type="checkbox" class="form-check-input" id="${idx}" ${data ? "checked" : ""} disabled>
                                            <label class="form-check-label d-none" for="${idx}"></label>
                                        </div>`;
                                    },
                                },
                                {
                                    width: '10%',
                                    className: 'action-center',
                                    render: (data, type, row) => {
                                        let btnEdit = `
                                            <a
                                                class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="" data-bs-original-title="Edit"
                                                href="${tblEle.attr('data-url-update').replaceAll('__pk__', row.id)}"
                                            >
                                                <span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="edit"></i></span></span>
                                            </a>
                                        `;
                                        let btnDelete = `
                                            <button
                                                type="button"
                                                class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover del-button"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                                data-bs-original-title="Delete" href="#"
                                                data-url="${tblEle.attr('data-url-delete').replaceAll('__pk__', row.id)}}"
                                                data-method="DELETE"
                                                data-url-redirect="${window.location.href}"
                                            >
                                                <span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="trash-2"></i></span></span>
                                            </button>
                                        `;
                                        return btnEdit + btnDelete;
                                    },
                                },
                            ]
                        });
                    }
                });
                groupCollapse$.find('form').each(function () {
                    if (!$(this).attr('data-loaded')) {
                        let frm$ = $(this);
                        $(frm$).attr('data-loaded', true);

                        $.fn.callAjax2({
                            url: $(this).attr('data-url-get'),
                            method: 'GET',
                            isLoading: true,
                            sweetAlertOpts: {'allowOutsideClick': true},
                        }).then(
                            resp => {
                                let data = $.fn.switcherResp(resp);
                                if (typeof data === 'object' && data.hasOwnProperty('mailer_system')) {
                                    let mailerSystem = data['mailer_system'];
                                    //
                                    let textarea$ = $(frm$).find('textarea[name=contents]');
                                    MailerTinymceControl.init_tinymce_editable(textarea$, mailerSystem.contents, {
                                        url: $(frm$).attr('data-url-params'),
                                        system_code: $(frm$).attr('data-system-code'),
                                        application_id: null,
                                    }, {
                                        {#'width': '430',#}
                                        templates: JSON.parse(
                                            $(frm$).find('script[type="application/json"]').text()
                                        ).map(
                                            (item) => {
                                                item.url = staticPrefix + item.url;
                                                return item;
                                            }
                                        ),
                                    });
                                    //
                                    let active$ = $(frm$).find('input[name=is_active]');
                                    active$.prop('checked', mailerSystem.is_active);
                                    //
                                    $(frm$).attr('data-url', $(frm$).attr('data-url').replaceAll('__pk__', mailerSystem.id));

                                    new SetupFormSubmit($(frm$)).validate({
                                        submitHandler: function (form, event) {
                                            let frmSetup = new SetupFormSubmit($(form));
                                            frmSetup.dataForm['is_active'] = $(form).find('input[name=is_active]').prop('checked');
                                            $.fn.callAjax2({
                                                url: frmSetup.dataUrl,
                                                method: frmSetup.dataMethod,
                                                data: frmSetup.dataForm,
                                            }).then(
                                                resp => {
                                                    let data = $.fn.switcherResp(resp);
                                                    if (data) {
                                                        $.fn.notifyB({
                                                            'description': $.fn.gettext('Success'),
                                                        }, 'success');
                                                    }
                                                },
                                                errs => $.fn.switcherResp(errs),
                                            )
                                        }
                                    })
                                }
                            },
                            errs => $.fn.switcherResp(errs),
                        )
                    }
                })
            });

            setTimeout(
                () => {
                    if (!$x.fn.getHashUrl()) $('.btnCollapseGroup:first').trigger('click');
                    $('#inp-server-general').trigger('change');
                },
                100
            );
        })
    </script>
{% endblock %}