.bookmark-item {
    cursor: pointer;
    position: relative;
}

.bookmark-item-action {
    position: absolute;
    top: -1rem;
    right: -1rem;
    cursor: pointer;
    display: none;
}

.bookmark-item-delete:hover {
    background-color: slategrey;
}

.bookmark-item:hover .bookmark-item-action {
    display: block;
}