{% extends 'base.html' %}
{% load static i18n awesome_icon_free string_utils %}
{% block title %}
    {% trans 'Home Page' %}
{% endblock %}
{% block cssHeader %}
    <link href="{% static 'assets/css/core_home/home.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'vendors/vanilla-calendar-pro/vanilla-calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/vanilla-calendar-pro/themes/themes.light.min.css' %}">
    <style>
        #idxPageContent {
            background-image: url("{% static 'assets/js/home_4.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}
{% block pageAction %}{% endblock %}
{% block pageContent %}
    {{ data.employee_current_data | json_script:"employee_current_data" }}
    {{ data.company_current_data | json_script:"company_current_data" }}

    <div id="setting-home" data-bs-toggle="tooltip" title="{% trans 'Home UI config' %}">
        <span class="icon">
            <i class="fa-solid fa-gear"></i>
        </span>
    </div>
    <div class="row" style="display: none;">
        <div class="col-12 mb-3">
            <h1 class="fw-bold text-white" id="employee-current-fullname"></h1>
            <h6 class="fw-bold text-white" id="employee-current-company"></h6>
        </div>
        <div class="col-12 col-md-12 col-lg-9">
            <div class="row" id="my-task-summary-report" data-url="{% url 'MyTaskSummaryReport' %}">
                <!-- Active Task -->
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="bflow-mirrow-card">
                        <div class="row">
                            <div class="col-12">
                                <div class="summary-item" data-item="actives">
                                    <div class="text-center">
                                        <h1 class="text-white summary-value fw-bold"></h1>
                                        <h5 class="text-white summary-title">{% trans 'Active Tasks' %}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Overdue -->
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="bflow-mirrow-card">
                        <div class="summary-item" data-item="overdue">
                            <div class="text-center">
                                <h1 class="text-white summary-value fw-bold"></h1>
                                <h5 class="text-white summary-title">{% trans 'Overdue Tasks' %}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Upcoming Today -->
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="bflow-mirrow-card">
                        <div class="summary-item" data-item="upcoming_today">
                            <div class="text-center">
                                <h1 class="text-white summary-value fw-bold"></h1>
                                <h5 class="text-white summary-title">{% trans 'Upcoming Today' %}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Upcoming 3 Days -->
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="bflow-mirrow-card">
                        <div class="summary-item" data-item="upcoming_soon">
                            <div class="text-center">
                                <h1 class="text-white summary-value fw-bold"></h1>
                                <h5 class="text-white summary-title">{% trans 'Upcoming 3 Days' %}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-muted text-center mt-3 mb-3 small">
                    <i class="fa-solid fa-spinner fa-spin me-1"></i>
                    {% trans "Current task data is being collected." %}
                </p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="bflow-mirrow-card-100 w-100">
                        <div id="task-list-group">
                            <ul class="nav nav-pills-bfl">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab-task">
                                        <span class="nav-link-text">{% trans 'To do' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab-owner">
                                        <span class="nav-link-text">{% trans 'Following' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab-pined">
                                        <span class="nav-link-text">{% trans 'Pined' %}</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-task">
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="table nowrap w-100" id="tbl_my_task" data-url="{% url 'FlowRuntimeTaskListAPI' %}" data-method="GET">
                                                <thead>
                                                    <tr>
                                                        <th style="min-width: 50px"></th>
                                                        <th style="min-width: 300px">{% trans 'Application' %}</th>
                                                        <th style="min-width: 250px">{% trans 'Current node' %}</th>
                                                        <th style="min-width: 100px">{% trans 'Assignee' %}</th>
                                                        <th style="min-width: 200px">{% trans 'Date receive' %}</th>
                                                        <th style="min-width: 150px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-owner">
                                    <div class="row">
                                        <div class="col-12">
                                            <table id="tbl_following_data" class="table nowrap w-100" data-url="{% url 'FlowRuntimeMeListAPI' %}" data-method="GET">
                                                <thead>
                                                <tr>
                                                    <th style="min-width: 50px"></th>
                                                    <th style="min-width: 300px">{% trans 'Application' %}</th>
                                                    <th style="min-width: 250px">{% trans 'Current node' %}</th>
                                                    <th style="min-width: 100px">{% trans 'Collaborator' %}</th>
                                                    <th style="min-width: 200px">{% trans 'Date Created' %}</th>
                                                    <th style="min-width: 150px"></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-pined">
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="table nowrap w-100" id="tbl_block_doc_pined" data-url="{% url 'DocPinedListAPI' %}" data-url-detail="{% url 'DocPinedDetailAPI' pk=1 %}" data-method="GET">
                                                <thead>
                                                <tr>
                                                    <th style="min-width: 50px"></th>
                                                    <th style="min-width: 300px">{% trans 'Application' %}</th>
                                                    <th style="min-width: 250px">{% trans 'Current node' %}</th>
                                                    <th style="min-width: 100px">{% trans 'Collaborator' %}</th>
                                                    <th style="min-width: 200px">{% trans 'Date Created' %}</th>
                                                    <th style="min-width: 150px"></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        {#            <div class="row p-0">#}
        {#                <div class="col-lg-12 col-xl-4 mb-3">#}
        {#                    <div#}
        {#                            class="w-100 d-flex justify-content-center align-items-center"#}
        {#                            id="my-task-by-status"#}
        {#                            style="background-color: #fff"#}
        {#                    >#}
        {#                        <div#}
        {#                                class="w-100 h-100"#}
        {#                                style="padding: 10px 20px;height: 300px;display: flex; justify-content: center;min-height: 200px;max-height: 400px;"#}
        {#                        >#}
        {#                            <canvas style="width: 100%;"></canvas>#}
        {#                            <p>{% trans "Current task data is being collected." %}</p>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <div class="col-lg-12 col-xl-8 mb-3">#}
        {#                    <div#}
        {#                            class="w-100"#}
        {#                            style="border: 1px solid #f1f1f1; border-radius: 10px; padding: 10px 20px;background-color: #fff;min-height: 200px;"#}
        {#                    >#}
        {#                        <canvas#}
        {#                                id="my-task-report-by-date"#}
        {#                                data-url="{% url 'MyTaskReportAPI' %}"#}
        {#                                style="width: 100%;"#}
        {#                        ></canvas>#}
        {#                        <div class="w-100 mt-3 mb-3 d-flex justify-content-center">#}
        {#                            <select id="inp-range-day-report-task-status" class="d-none">#}
        {#                                <option value="7" selected>{% trans '7 days' %}</option>#}
        {#                                <option value="14">{% trans '14 days' %}</option>#}
        {#                                <option value="30">{% trans '30 days' %}</option>#}
        {#                            </select>#}
        {#                            <div id="group-range-day-report-task-status"></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-3">
            <div class="row calendar-group">
                <div class="col-12 mb-3">
                    <div id="calendar" class="w-100"></div>
                </div>
                <div class="col-12 mb-3">
                    <div class="bflow-mirrow-card">
                        <div class="w-100">
                            <div class="d-flex">
                                <div id="event-at-day-selected-date" data-text-today="{% trans 'Today' %}" data-bs-toggle="tooltip"
                                     title="{% trans 'There is a delay in updating the data with new changes. Estimated within 5 minutes of change.' %}"
                                ></div>
                                <div style="margin-left: auto; display: flex; align-items: start;">
                                    <button class="btn btn-xs btn-primary event-at-btn-all mr-1" id="event-at-expand-all" data-bs-toggle="tooltip" title="{% trans 'Expand all' %}">
                                        <i class="fa-solid fa-chevron-down fa-xs"></i>
                                    </button>
                                    <button class="btn btn-xs btn-primary event-at-btn-all" id="event-at-collapse-all" data-bs-toggle="tooltip" title="{% trans 'Collapse all' %}">
                                        <i class="fa-solid fa-chevron-up fa-xs"></i>
                                    </button>
                                </div>
                            </div>
                            <div id="event-at-day" data-url="{% url 'HomeCalendarAPI' %}">
                                <div id="event-at-empty">{% trans 'A quiet day!' %}</div>
                                <div class="event-at-item" id="event-at-day-base">
                                    <div class="event-at-head">
                                        <span class="event-at-title"></span>
                                        <div class="event-at-date-group-in-title ml-3">
                                            <span class="event-at-body-icon"><i class="fa-solid fa-flag"></i></span>
                                            <span class="event-at-date-start"></span>
                                            <span class="ml-1 mr-1"><i class="fa-solid fa-arrow-right-long"></i></span>
                                            <span class="event-at-date-end"></span>
                                        </div>
                                        <div class="event-at-show-more-group">
                                            <button class="btn btn-xs btn-soft-primary event-at-show-more" data-bs-toggle="tooltip" title="{% trans 'Expand / Collapse' %}">
                                                <i class="fa-solid fa-chevron-down fa-2xs"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="event-at-body">
                                        <div class="event-at-body-more">
                                            <div>
                                                <span class="event-at-body-icon"><i class="fa-solid fa-tag"></i></span>
                                                <span class="event-at-category-title"></span>
                                            </div>
                                            <div>
                                                <span class="event-at-body-icon"><i class="fa-solid fa-location-dot"></i></span>
                                                <span class="event-at-location"></span>
                                            </div>
                                            <div>
                                                <span class="event-at-body-icon"><i class="fa-solid fa-circle-info"></i></span>
                                                <span class="event-at-remark"></span>
                                            </div>
                                            <div class="event-at-date-group-in-body">
                                                <span class="event-at-body-icon"><i class="fa-solid fa-flag"></i></span>
                                                <span class="event-at-date-start"></span>
                                                <span class="ml-1 mr-1"><i class="fa-solid fa-arrow-right-long"></i></span>
                                                <span class="event-at-date-end"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bflow-mirrow-card">
                        <div class="w-100 bookmark-group">
                            <h6>{% trans 'Bookmarks' %}</h6>
                            <div id="boxBookmarkDisplay" data-url="{% url 'BookMarkListAPI' %}" data-url-delete="{% url 'BookMarkDetailAPI' pk=1 %}">
                                <div class="row d-flex justify-content-start flex-wrap" id="boxBookmarkDisplayData">
                                    <div id="boxBtnAddNewBM" class="bookmark-item d-10 m-2" data-bs-toggle="modal" data-bs-target="#modalAddBookMark">
                                        <div style="opacity: 0.5; border-radius: 12px;" class="bg-light d-15 d-flex flex-column justify-content-center align-items-center overflow-hidden">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modalData %}
    <div class="modal fade" id="modalAddBookMark" tabindex="-1" role="dialog" aria-labelledby="modalAddBookMark" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {% trans 'New Book Mark' as titleModalBM %}
                    <h5 class="modal-title">{{ titleModalBM|title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frmAddNewBookMark" data-url="{% url 'HomeView' %}" data-method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label
                                            for="newBookMarkType" class="form-label required"
                                    >{% trans 'Type' %}</label>
                                    <select name="kind" id="newBookMarkType" class="form-control">
                                        <option value="0" selected>{% trans 'Available URL' %}</option>
                                        <option value="1">{% trans 'Customize URL' %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label
                                            for="newBookMarkApplication" class="form-label required"
                                    >{% trans 'Application' %}</label>
                                    <select
                                            name="view_name" id="newBookMarkApplication" class="form-select"
                                            data-url="{% url 'GatewayViewNameListView' %}"
                                            data-method="GET"
                                            data-keyResp="views_name"
                                            data-keyId="view_name"
                                            data-keyText="title"
                                            required
                                    ></select>
                                    <small class="text-muted">{% trans 'Application of link' %}</small>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label
                                            for="newBookMarkCustomURL" class="form-label required"
                                    >{% trans 'URL' %}</label>
                                    <input
                                            type="text" name="customize_url" id="newBookMarkCustomURL"
                                            class="form-control" required disabled
                                    />
                                    <small class="text-muted">{% trans 'Link to page' %}</small>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label
                                            for="newBookMarkTitle" class="form-label required"
                                    >{% trans 'Title' %}</label>
                                    <input
                                            type="text" name="title" id="newBookMarkTitle" class="form-control"
                                            maxlength="20" required
                                    />
                                    <small class="text-muted">{% trans 'Application rename' %}, {% trans 'Maximum characters' %}:
                                        20</small>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label
                                            for="selectIconNewBookMark" class="form-label required"
                                    >{% trans 'Icon' %}</label>{% icon_choices as icon_list %}
                                    <select
                                            class="form-control" id="selectIconNewBookMark"
                                            name="box_style__icon_cls"
                                            required
                                            data-select2-placeholder="{% trans 'Choose' %}..."
                                            data-select2-allowClear="true"
                                    >
                                        <option></option>
                                        {% for item in icon_list %}
                                            <option value='{{ item.0 }}'>{{ item.1|title|replace_str:"-, " }}</option>
                                        {% endfor %}
                                    </select>
                                    <small class="text-muted">{% trans 'Icon' %}</small>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="newBMSelectBG" class="form-label required">
                                        {% trans 'Background Color' %}
                                    </label>
                                    <select name="box_style__bg_cls" id="newBMSelectBG" class="form-select">
                                        {% bg_choices as bg_list %}
                                        {% for item in bg_list %}
                                            <option value="{{ item }}">{{ item|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="newBMSelectTextColor" class="form-label required">
                                        {% trans "Text Color" %}
                                    </label>
                                    <select
                                            name="box_style__text_cls" id="newBMSelectTextColor" class="form-select"
                                    >
                                        {% text_color_choices as text_color_list %}
                                        {% for item in text_color_list %}
                                            <option value="{{ item }}">{{ item|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <p class="form-label" >{% trans 'Preview' %}</p>
                                    <div
                                            class="d-17 bg-light text-dark rounded-5 m-1 d-17 d-flex flex-column justify-content-center align-items-center overflow-hidden"
                                            id="newBMBlockPreview"
                                    >
                                        <span class="text-center mb-1" id="previewBMTitle"></span>
                                        <span class="mb-1" id="previewBMSelectIcon"></span>
                                        <small class="text-center"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                            type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    >{% trans 'Close' %}</button>
                    <button
                            type="submit" form="frmAddNewBookMark" class="btn btn-primary"
                    >{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalHomeSetupUI" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="formHomeSetupUI" data-url="/" data-method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans 'Home UI' %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" id="inp-show-report-task" name="show_report_task">
                            <label class="form-check-label" for="inp-show-report-task">{% trans 'Show report task' %}</label>
                        </div>
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" id="inp-show-summary-task" name="show_summary_task">
                            <label class="form-check-label" for="inp-show-summary-task">{% trans 'Show summary task' %}</label>
                        </div>
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" id="inp-show-calendar" name="show_calendar">
                            <label class="form-check-label" for="inp-show-calendar">{% trans 'Show calendar' %}</label>
                        </div>
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" id="inp-show-bookmark" name="show_bookmark">
                            <label class="form-check-label" for="inp-show-bookmark">{% trans 'Show bookmark' %}</label>
                        </div>
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" id="inp-show-task-list" name="show_task_list">
                            <label class="form-check-label" for="inp-show-task-list">{% trans 'Show task list' %}</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block dataHiddenGroup %}
    <input
        type="text"
        id="home-urls-factory"
        data-so-create="{% url 'SaleOrderCreate' %}"
        data-so-detail="{% url 'SaleOrderDetail' pk=1 %}"
        data-lo-create="{% url 'LeaseOrderCreate' %}"
        data-lo-detail="{% url 'LeaseOrderDetail' pk=1 %}"
    >
{% endblock %}
{% block jsHeaderUnCompress %}
    <script src="{% static 'vendors/vanilla-calendar-pro/vanilla-calendar.min.js' %}" defer></script>
{% endblock %}
{% block jsFooter %}
    <script>
        const msgChangeCompany = "{% trans 'Change Company' %}";
        const msgTitleErrLinked = "{% trans 'Some apps will not work correctly' %}"
        const msgTextErrLinked = `{% trans "Hasn't been link to the employee!" %}`;
        const msgTextErrLinked2 = "{% trans 'Please switch the current company to the one that already has an employee link or contact the administrator to add an employee to the account.' %}"
    </script>
{#    <script src="{% static 'assets/js/core_home/day_flow_homepage.js' %}"></script>#}
    <script src="{% static 'assets/js/core_home/home.js' %}"></script>

    <script src="{% static 'vendors/chartjs/chart.umd.min.js' %}"></script>
    <script src="{% static 'vendors/chartjs/plugins/chartjs-plugin-datalabels@2.0.0.js' %}"></script>
    <script>
        $(document).ready(function () {
                const inpRangeReportByDay$ = $('#inp-range-day-report-task-status');
                const groupRangeReportByDay$ = $('#group-range-day-report-task-status');

                groupRangeReportByDay$.empty();
                inpRangeReportByDay$.find('option').each(function () {
                    const ele$ = $(`<div>${$(this).text()}</div>`);
                    const selected = $(this).prop('selected');
                    ele$.attr('data-value', $(this).val());
                    if (selected === true) ele$.addClass('active');
                    groupRangeReportByDay$.append(ele$);
                    ele$.on('click', function () {
                        groupRangeReportByDay$.children().not($(this)).removeClass('active');
                        $(this).addClass('active');
                        inpRangeReportByDay$.val($(this).attr('data-value')).trigger('change');
                    })
                })
                function activeReportShow() {
                    const canvasTaskSummaryReport$ = $('#my-task-summary-report');
                    const eleActives$ = canvasTaskSummaryReport$.find('.summary-item[data-item="actives"] .summary-value');
                    const eleOverdue$ = canvasTaskSummaryReport$.find('.summary-item[data-item="overdue"] .summary-value');
                    const eleUpcomingToday$ = canvasTaskSummaryReport$.find('.summary-item[data-item="upcoming_today"] .summary-value');
                    const eleUpcomingSoon$ = canvasTaskSummaryReport$.find('.summary-item[data-item="upcoming_soon"] .summary-value');

                    $.fn.callAjax2({
                        url: canvasTaskSummaryReport$.attr('data-url'),
                        method: 'GET'
                    })
                        .then(
                            resp => {
                                const respData = $.fn.switcherResp(resp);
                                if (respData && respData.hasOwnProperty('my_task_summary_report')) {
                                    const summaryDatas = respData?.['my_task_summary_report'] || {};
                                    if (summaryDatas?.['state'] === 'READY') {
                                        const data = summaryDatas?.['data'] || {};
                                        eleActives$.css('--num', data?.['actives'] || 0);
                                        eleOverdue$.css('--num', data?.['overdue'] || 0);
                                        eleUpcomingSoon$.css('--num', data?.['upcoming_soon'] || 0);
                                        eleUpcomingToday$.css('--num', data?.['upcoming_today'] || 0);
                                    } else {
                                        canvasTaskSummaryReport$.addClass('collecting');
                                    }
                                }
                            },
                        )
                }

                activeReportShow();
            }
        )
    </script>
    <script>
        $(document).ready(function () {
            const eventAtDay$ = $('#event-at-day');
            const eventItemBase$ = $('#event-at-day-base');
            const dateSelected$ = $('#event-at-day-selected-date');
            const itemEmpty$ = $('#event-at-empty');

            let $urls = $('#home-urls-factory');
            let appMapUrl = {
                'saleorder.saleorder': {
                    "create": $urls.attr('data-so-create'),
                    "detail": $urls.attr('data-so-detail'),
                },
                'leaseorder.leaseorder': {
                    "create": $urls.attr('data-lo-create'),
                    "detail": $urls.attr('data-lo-detail'),
                },
            }

            function keepNumberHasTwoChar(numberData) {
                return numberData >= 10 ? numberData.toString() : '0' + numberData;
            }

            function _renderEventItem(data) {
                const ele$ = $(eventItemBase$.prop('outerHTML'));
                ele$.removeAttr('id');

                let link = "#";
                let title = `<span>${data?.['title'] || ''}</span>`;
                let iconApp = $('<i class="fa-solid fa-calendar-day"></i>');
                switch (data?.['category']) {
                    case 'Opportunity Meeting':
                        iconApp = $('<i class="fa-regular fa-lightbulb"></i>');
                        break
                    case 'EOffice Meeting':
                        iconApp = $('<i class="fas fa-chalkboard-teacher"></i>');
                        break
                    case 'Business Trip':
                        iconApp = $('<i class="fa-solid fa-business-time"></i>');
                        break
                    case 'Leave':
                        iconApp = $('<i class="fa-solid fa-arrow-right-from-bracket"></i>');
                        break
                    case 'Holiday':
                        ele$.addClass('event-item-holiday');
                        iconApp = $('<i class="fa-solid fa-umbrella-beach"></i>');
                        break
                    case 'Birthday':
                        ele$.addClass('event-item-birthday');
                        iconApp = $(`<i class="fa-solid fa-cake-candles"></i>`)
                        break
                    case 'Recurrence':
                        iconApp = $(`<i class="fas fa-sync-alt"></i>`)
                        if (data?.['id'] && data?.['app_code'] && data?.['doc_template_data']?.['id']) {
                            if (appMapUrl?.[data?.['app_code']]?.['create']) {
                                link = appMapUrl[data?.['app_code']]['create'] + `?recurrence_template_id=${data?.['doc_template_data']?.['id']}&recurrence_task_id=${data?.['id']}`;
                                title = `<a href="${link}"><span>${data?.['title'] || ''}</span></a>`;
                            }
                        }
                        break
                }

                if (data?.['category']) {
                    iconApp.addClass("mr-2").attr('data-bs-toggle', 'tooltip').attr('title', $.fn.gettext(data['category']));
                    ele$.find('.event-at-category-title').text($.fn.gettext(data['category']));
                } else {
                    ele$.find('.event-at-category-title').text('');
                }
                ele$.find('.event-at-title').html(iconApp.prop('outerHTML') + `${title}`);
                if (data?.['location_title'] && data?.['location_address']){
                    ele$.find('.event-at-location').html(`${data['location_address']} - ${data['location_title']}`);
                } else if (data?.['location_address']) {
                    ele$.find('.event-at-location').text(data['location_address']);
                } else if (data?.['location_title']) {
                    ele$.find('.event-at-location').text(data['location_title']);
                } else {
                    ele$.find('.event-at-location').text('').parent().addClass('d-none');
                }
                if (data?.['remark']) {
                    ele$.find('.event-at-remark').text(data['remark']);
                } else {
                    ele$.find('.event-at-remark').text('').parent().addClass('d-none');
                }
                ele$.find('.event-at-date-start').text(data?.['start_date'] || '');
                ele$.find('.event-at-date-end').text(data?.['end_date'] || '');

                const start_date = data?.['start_date'] ? moment(data['start_date'], 'YYYY-MM-DDTHH:mm:ss') : null;
                const end_date = data?.['end_date'] ? moment(data['end_date'], 'YYYY-MM-DDTHH:mm:ss') : null;
                if (start_date && end_date){
                    if (start_date.format('YYYY-MM-DD') === end_date.format('YYYY-MM-DD')) {
                        ele$.find('.event-at-date-start').text(`${keepNumberHasTwoChar(start_date.hours())}:${keepNumberHasTwoChar(start_date.minutes())}`);
                        ele$.find('.event-at-date-end').text(`${keepNumberHasTwoChar(end_date.hours())}:${keepNumberHasTwoChar(end_date.minutes())}`);
                    } else {
                        ele$.find('.event-at-date-start').text(start_date.format('DD / MM / YYYY HH:mm'));
                        ele$.find('.event-at-date-end').text(end_date.format('DD / MM / YYYY HH:mm'));
                    }
                } else if (start_date || end_date) {
                    ele$.find('.event-at-date-start').text(start_date ? start_date.format('DD / MM / YYYY HH:mm') : "-");
                    ele$.find('.event-at-date-end').text(end_date ? end_date.format('DD / MM / YYYY HH:mm') : "-");
                } else {
                    ele$.find('.event-at-date-start').text("");
                    ele$.find('.event-at-date-end').text("");
                    ele$.find('.event-at-date-group-in-title').addClass('d-none');
                    ele$.find('.event-at-date-group-in-body').addClass('d-none');
                }
                eventAtDay$.append(ele$);
                ele$.find('[data-bs-toggle="tooltip"]').tooltip();
            }
            function renderEventItem(data) {
                switch (data.category) {
                    case 'EOffice Meeting':
                    case 'Opportunity Meeting':
                    case 'Business Trip':
                    case 'Leave Register':
                    case 'Recurrence':
                    case 'Holiday':
                    case 'Birthday':
                        _renderEventItem(data);
                        break
                }
            }

            function loadEventAtDay(dateStr = null) {
                eventAtDay$.children().not(eventItemBase$).not(itemEmpty$).remove();
                let param = {}

                const dateObj = dateStr ? new Date(Date.parse(dateStr)) : new Date();
                if (dateObj.toUTCString().slice(0, 10) !== new Date().toUTCString().slice(0, 10)) {
                    param['day'] = dateStr;
                    const dateObj = new Date(Date.parse(dateStr));
                    const dateStrReParsed = `${dateObj.getDate()} / ${dateObj.getMonth() + 1} / ${dateObj.getFullYear()}`
                    dateSelected$.text(dateStrReParsed)
                } else {
                    dateSelected$.text(dateSelected$.attr('data-text-today'));
                    param['day'] = new Date().toISOString().slice(0, 10);
                }

                $.fn.callAjax2({
                    url: eventAtDay$.attr('data-url') + '?' + $.param(param),
                    method: 'GET',
                    isLoading: true,
                    sweetAlertOpts: {'allowOutsideClick': true},
                }).then(
                    resp => {
                        const data = $.fn.switcherResp(resp);
                        const homeCalendar = data?.['home_calendar'] || {};
                        if (homeCalendar) {
                            let MeetingData = [
                                ...homeCalendar?.['meeting'] || [],
                                ...homeCalendar?.['meeting_opp'] || [],
                                ...homeCalendar?.['business_trip'] || [],
                                ...homeCalendar?.['leave'] || [],
                                ...homeCalendar?.['holiday'] || [],
                                ...homeCalendar?.['birthday'] || [],
                                ...homeCalendar?.['recurrence'] || [],
                            ]
                            if (MeetingData.length > 0) {
                                itemEmpty$.hide(0);
                                [...MeetingData].sort(
                                    (a, b) => {
                                        if (a.start_date && b.start_date) {
                                            return new Date(a.start_date) - new Date(b.start_date);
                                        }
                                        return false;
                                    }
                                ).map(
                                    item => {
                                        renderEventItem(item);
                                    }
                                )
                            } else {
                                itemEmpty$.show(0);
                            }
                        }
                    },
                    errs => {},
                )
            }

            const config = {
                type: 'default',
                settings: {
                    visibility: {
                        theme: 'light',
                        monthShort: false,
                        weekNumbers: true,
                        today: true,
                        daysOutside: true,
                    },
                    lang: globeLanguage === 'vi' ? 'vi-VN' : 'en-EN',
                },
                actions: {
                    clickDay(e, self) {
                        loadEventAtDay(self.selectedDates[0]);
                    },
                },
            };
            const calendar = new VanillaCalendar('#calendar', config);
            calendar.init();

            eventAtDay$.on('click', '.event-at-show-more', function (event, data) {
                const btn$ = $(this);

                btn$.prop('disabled', true);
                setTimeout(
                    () => btn$.prop('disabled', false),
                    200
                )
                const direct = data?.['direct'] || null;
                const item$ = $(this).closest('.event-at-item');
                if (item$.length > 0) {
                    if (direct === 'open') {
                        item$.addClass('active').find('.event-at-body-more').slideDown();
                        btn$.addClass('active');
                    } else if (direct === 'close') {
                        item$.removeClass('active').find('.event-at-body-more').slideUp();
                        btn$.removeClass('active');
                    } else {
                        item$.toggleClass('active').find('.event-at-body-more').slideToggle();
                        btn$.toggleClass('active');
                    }
                }
            })

            $('#event-at-collapse-all').on('click', function (){
                eventAtDay$.find('.event-at-item').not(eventItemBase$).each(function (){
                    $(this).find('.event-at-show-more').trigger('click', {'direct': 'close'});
                })
            });
            $('#event-at-expand-all').on('click', function (){
                eventAtDay$.find('.event-at-item').not(eventItemBase$).each(function (){
                    $(this).find('.event-at-show-more').trigger('click', {'direct': 'open'});
                })
            });

            loadEventAtDay();
        })
    </script>
    <script>
        $(document).ready(function (){
            const btnSettingHome$ = $('#setting-home');
            const modalHomeSetup$ = $('#modalHomeSetupUI');
            const formHomeSetup$ = $('#formHomeSetupUI');
            const setupInp$ = formHomeSetup$.find('input[name]');
            btnSettingHome$.on('click', function (){
                modalHomeSetup$.modal('toggle');
            })
            modalHomeSetup$.on('show.bs.modal', function (){
                setupInp$.each(function (){
                    let state = localStorage.getItem($(this).attr('name'));
                    if (state !== '1' && state !== '0') state = '1';
                    $(this).prop('checked', state === '1');
                })
            })
            new SetupFormSubmit(formHomeSetup$).validate({
                submitHandler: function (form, event){
                    event.preventDefault();
                    const frm = new SetupFormSubmit($(form));
                    Object.entries(frm.dataForm).map(
                        ([key, value]) => {
                            localStorage.setItem(key, value === true ? '1' : '0');
                        }
                    )
                    $.fn.notifyB({
                        'description': $.fn.gettext('Successful'),
                    }, 'success');
                    setTimeout(
                        () => window.location.reload(),
                        1000
                    )
                }
            })

            function applyShowHomeUI(){
                let stateShow = {};
                setupInp$.each(function (){
                    const name = $(this).attr('name');
                    let state = localStorage.getItem(name);
                    if (state !== '1' && state !== '0') state = '1';
                    stateShow[name] = state === '1';
                })
                const taskReport$ = $('#my-task-summary-report');
                const taskSummary$ = $('#my-task-by-status').closest('.row');
                const calendar$ = $('.calendar-group');
                const bookmark$ = $('#boxBookmarkDisplay');
                const taskList$ = $('#task-list-group');
                if (stateShow['show_report_task'] === false) {
                    taskReport$.hide(0);
                } else {
                    taskReport$.show(0);
                }
                if (stateShow['show_summary_task'] === false) {
                    taskSummary$.hide(0);
                } else {
                    taskSummary$.show(0);
                }
                if (stateShow['show_calendar'] === false && stateShow['show_bookmark'] === false){
                    calendar$.closest('.col').hide(0).siblings('div').addClass('w-100');
                } else {
                    calendar$.closest('.col').show(0).siblings('div').removeClass('w-100');
                    if (stateShow['show_calendar'] === false) {
                        calendar$.hide(0);
                    } else {
                        calendar$.show(0);
                    }
                    if (stateShow['show_bookmark'] === false) {
                        bookmark$.closest('.bookmark-group').hide(0);
                    } else {
                        bookmark$.closest('.bookmark-group').show(0);
                    }
                }
                if (stateShow['show_task_list'] === false){
                    taskList$.hide(0);
                } else {
                    taskList$.show(0);
                }
            }

            applyShowHomeUI();
            btnSettingHome$.siblings('.row').show(0);
        })
    </script>
{% endblock %}
