{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BFlow - Business Flow</title>
    <meta
            name="description"
            content="BFlow, MTS, Business Flow, Minh Tam Solution, BFlow - Business Flow, MTS - Minh Tam Solution, Giải pháp doanh nghiệp"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/logo-28x16.png' %}">
    <link rel="icon" href="{% static 'assets/images/logo/logo-28x16.png' %}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            rel="stylesheet"
            href="//fonts.googleapis.com/css?family=Google+Sans:400,500,600|Roboto:400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700&amp;display=swap"
    >

    <!-- CSS -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/my-style.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap-utilities.min.css' %}">
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">

    <link
            rel="stylesheet"
            href="{% static 'vendors/horizontal-vertical-timeline-plugin-jquery/dist/css/timeline.min.css' %}"
    >

    <style>
        html, body {
            color: rgb(32, 33, 36);
            font: 400 16px/24px "Roboto", "Google Sans", "Roboto Mono", sans-serif;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            height: 100%;
            margin: 0;
            -webkit-text-size-adjust: 100%;
            -moz-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            text-size-adjust: 100%
        }

        :root {
            --bs-body-color: rgb(32, 33, 36);
            --bs-body-font-family: "Roboto", "Google Sans", "Roboto Mono", sans-serif;
            --bs-body-font-size: 16px;
            --bs-body-font-weight: 400;
            --bs-body-line-height: 24px;
        }

        .carousel-control-prev-icon, .carousel-control-next-icon {
            background-image: none;
        }
        .card-group>.card{width:32%;flex:auto;}
    </style>
</head>
<body>
<!-- Wrapper -->
<div class="hk-wrapper" data-layout="horizontal" data-layout-style="default" data-menu="light" data-footer="simple">
    <!-- Top Navbar -->
    <nav class="hk-navbar navbar navbar-expand-xl navbar-light fixed-top">
        <div class="container-fluid">
            <!-- Start Nav -->
            <div class="nav-start-wrap">
                <!-- Brand -->
                <a class="navbar-brand d-xl-flex d-none" href="/">
                    <img
                            class="brand-img img-fluid" src="{% static 'assets/images/logo/logo-55x32.png' %}"
                            alt="brand"
                    />
                    <img
                            class="brand-img img-fluid" src="{% static 'assets/images/logo/text-logo.png' %}"
                            width="70px"
                            alt="brand"
                    />
                </a>
                <!-- /Brand -->
                <button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle d-xl-none"><span
                        class="icon"
                ><span class="feather-icon"><i data-feather="align-left"></i></span></span></button>

                <!-- Search -->
                <form class="dropdown navbar-search">
                    <div
                            class="dropdown-toggle no-caret" data-bs-toggle="dropdown" data-dropdown-animation
                            data-bs-auto-close="outside"
                    >
                        <a href="#" class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover  d-xl-none"><span
                                class="icon"
                        ><span class="feather-icon"><i data-feather="search"></i></span></span></a>
                        <div class="input-group d-xl-flex d-none">
							<span class="input-affix-wrapper input-search affix-border">
								<input
                                        type="text" class="form-control  bg-transparent"
                                        data-navbar-search-close="false" placeholder="Tìm kiếm..." aria-label="Search"
                                >
								<span class="input-suffix"><span>/</span>
									<span class="btn-input-clear"><i class="bi bi-x-circle-fill"></i></span>
									<span
                                            class="spinner-border spinner-border-sm input-loader text-primary"
                                            role="status"
                                    >
										<span class="sr-only">Loading...</span>
									</span>
								</span>
							</span>
                        </div>
                    </div>
                    <div class="dropdown-menu p-0">
                        <!-- Mobile Search -->
                        <div class="dropdown-item d-xl-none bg-transparent">
                            <div class="input-group mobile-search">
								<span class="input-affix-wrapper input-search">
									<input type="text" class="form-control" placeholder="Search..." aria-label="Search">
									<span class="input-suffix">
										<span class="btn-input-clear"><i class="bi bi-x-circle-fill"></i></span>
										<span
                                                class="spinner-border spinner-border-sm input-loader text-primary"
                                                role="status"
                                        >
											<span class="sr-only">Loading...</span>
										</span>
									</span>
								</span>
                            </div>
                        </div>
                        <!--/ Mobile Search -->
                        <div data-simplebar class="dropdown-body p-2"></div>
                        <div class="dropdown-footer d-xl-flex d-none"><a href="#"><u>Search all</u></a></div>
                    </div>
                </form>
                <!-- /Search -->
            </div>
            <!-- /Start Nav -->

            <!-- End Nav -->
            <div class="nav-end-wrap">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a
                                href="{% url 'AuthLogin' %}" class="badge badge-primary px-3 py-2"
                                style="margin-right: 10px!important; text-decoration: none;"
                        >{% trans 'Login' %}</a>
                    </li>
                    <li class="nav-item">
                        <a
                                href="#" class="badge badge-primary px-3 py-2"
                                style="margin-right: 10px!important; text-decoration: none;"
                        >{% trans 'Registry' %}</a>
                    </li>
                </ul>
            </div>
            <!-- /End Nav -->
        </div>
    </nav>
    <!-- /Top Navbar -->

    <!-- Horizontal Nav -->
    <div class="hk-menu">
        <!-- Brand -->
        <div class="menu-header d-xl-none">
				<span>
					<a class="navbar-brand" href="/">
						<img
                                class="brand-img img-fluid" src="{% static 'assets/images/logo/logo-55x32.png' %}"
                                alt="brand"
                        />
					</a>
					<button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle">
						<span class="icon">
							<span class="svg-icon fs-5">
								<svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-arrow-bar-to-left" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round"
                                >
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<line x1="10" y1="12" x2="20" y2="12"></line>
									<line x1="10" y1="12" x2="14" y2="16"></line>
									<line x1="10" y1="12" x2="14" y2="8"></line>
									<line x1="4" y1="4" x2="4" y2="20"></line>
								</svg>
							</span>
						</span>
					</button>
				</span>
        </div>
        <!-- /Brand -->

        <!-- Main Menu -->
        <div data-simplebar class="nicescroll-bar">
            <div class="menu-content-wrap">
                <div class="container-fluid menu-group">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#intro">
                                <span class="nav-link-text">{% trans 'Introduce' %}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#products">
                                <span class="nav-link-text">{% trans 'Products' %}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#solutions">
                                <span class="nav-link-text">{% trans 'Solutions' %}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#customers">
                                <span class="nav-link-text">{% trans 'Customers' %}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about-us">
                                <span class="nav-link-text">{% trans 'About Us' %}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">
                                <span class="nav-link-text">{% trans 'Contact' %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Main Menu -->
    </div>
    <div id="hk_menu_backdrop" class="hk-menu-backdrop"></div>
    <!-- /Horizontal Nav -->

    <!-- Main Content -->
    <div class="hk-pg-wrapper">
        <div class="container-xxl">
            <!-- Page Body -->
            <div class="hk-pg-body">
                <div class="pb-10">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img
                                        class="d-block w-100" src="{% static 'assets/images/team/slide-6.jpg' %}"
                                        alt="Số hóa và tự động"
                                >
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="text-white">Quản trị hiệu quả, tăng trưởng bền vững</h5>
                                    <p>Giúp doanh nghiệp CHUYỂN ĐỔI SỐ thành công thông qua thực thi MÔ HÌNH KINH DOANH,
                                        và TRIẾT LÝ QUẢN TRỊ trên phần mềm</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img
                                        class="d-block w-100" src="{% static 'assets/images/team/slide-4.jpg' %}"
                                        alt="Third slide"
                                >
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="text-white">Thống nhất dữ liệu</h5>
                                    <p>Phần mềm quản trị doanh nghiệp giúp thống nhất dữ liệu từ các phòng ban khác nhau trong doanh nghiệp. Điều này giúp doanh nghiệp dễ dàng truy cập và phân tích dữ liệu, từ đó đưa ra quyết định chính xác hơn.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img
                                        class="d-block w-100" src="{% static 'assets/images/team/slide-3.jpg' %}"
                                        alt="Second slide"
                                >
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="text-white">Báo cáo và phân tích dữ liệu</h5>
                                    <p>Phần mềm quản trị doanh nghiệp cung cấp các công cụ báo cáo và phân tích dữ liệu mạnh mẽ. Điều này giúp doanh nghiệp hiểu rõ hơn về tình hình kinh doanh của mình, từ đó cải thiện hiệu quả hoạt động.</p>
                                </div>
                            </div>
                        </div>
                        <a
                                class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-bs-slide="prev"
                        >
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a
                                class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-bs-slide="next"
                        >
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div id="intro" class="pb-10">
                    <div class="title-lg title-wth-divider mb-5">
                        <span>Câu chuyện của chúng tôi - nhóm phát triển BFlow</span>
                    </div>
                    <figure>
                        <blockquote class="blockquote">
                            <p class="p-lg">Với các vai trò như người quản lý kinh doanh, chuyên viên phát triển phần
                                mềm trong một doanh nghiệp, khi được giao nhiệm vụ bắt đầu triển khai một ứng dụng
                                phần mềm quản trị doanh nghiệp cho công ty, chúng tôi nhận ra rằng đa số các
                                phần mềm quản trị hiện tại thường chỉ tập trung vào số hóa (tin học hóa) các kết
                                quả giao dịch trong chuỗi bán hàng hay cung cấp dịch vụ nội bộ, giúp hỗ trợ tốt hơn
                                một số yêu cầu như nhập liệu, tập trung dữ liệu, các báo cáo kết quả kinh doanh
                                chung. Trong khi yêu cầu của ban lãnh đạo công ty đặt ra cho chúng tôi là mô hình
                                kinh doanh và các triết lý quản trị phải được hiện thực hóa và thực sự vận hành trên
                                phần mềm. Cụ thể để đáp ứng một số yêu cầu như: quản lý khách hàng theo mô
                                hình ma trận, lập kế hoạch tài chính và theo dõi giám sát cho từng dự án kinh doanh,
                                định mức các hoạt động cung cấp dịch vụ, đánh giá hiệu quả công việc cho từng cá
                                nhân, bộ phận trong tổ chức dưới nhiều góc độ khác nhau kể cả qui đổi về tài chính,
                                áp dụng mô hình cung cấp dịch vụ nội bộ (profit center). Chúng tôi đã không thể tìm
                                được các phần mềm hiện có trên thị trường đáp ứng được nhu cầu đó, và quyết định
                                đã được ban lãnh đạo công ty đưa ra là công ty phải tự phát triển một phần mềm
                                riêng để đáp ứng nhu cầu của mình.</p>
                            <p class="p-lg">
                                Với nhiều nỗ lực từ nhóm dự án cộng với sự hỗ trợ liên tục từ Ban lãnh đạo công
                                ty thì phiên bản đầu tiên cũng đã hoàn thành và đưa vào sử dụng ngay. Suốt các
                                năm sau đó phần mềm này đã trở nên một công cụ gắn liền với các kết quả thành
                                công vượt bật trong phát triển của công ty. Trong khoảng thời gian đó nhiều công ty
                                có thông tin đã đặt vấn đề nhờ chúng tôi triển khai phần mềm tương tự cho họ. Tuy
                                nhiên vì giới hạn về nguồn lực, cũng như kiến trúc phần mềm lúc đó nếu triển khai
                                cho một công ty có ngành nghề kinh doanh khác thì phải tùy chỉnh và bổ sung mã
                                nguồn, do đó chung tôi chỉ nhận lời triển khai cho một số công ty trong nội bộ tập
                                đoàn và một vài công ty khách hàng thân thiết.</p>
                            <p class="p-lg">
                                Đến cuối năm 2022, đặc biệt là sau khi dịch bệnh Covid kết thúc, các nhu cầu của
                                thị trường với một phần mềm quản trị giúp cho doanh nghiệp chuyển đổi số với các
                                yêu cầu tương tự càng trở nên cấp thiết hơn. Nhóm chúng tôi nhận thấy đã đến lúc
                                thực hiện sứ mệnh của mình nhằm đem đến cho các khách hàng một sản phẩm
                                phầm mềm có thể thực thi các mô hình kinh doanh và triển khai được triết lý quản
                                trị đặc sắc của các nhà quản lý, giúp cho doanh nghiệp ngày càng tăng năng suất và
                                phát triển bền vững hơn. Năm 2022, chúng tôi quyết định khởi nghiệp với sản phẩm
                                đầu tiên là <b>Business Flow</b> (BFlow) và đã hoàn thành phiên bản đầu tiên sau một năm
                                phát triển.</p>
                            <p class="p-lg">BFlow được thiết kế và phát triển trên nền tảng cung cấp dạng dịch vụ (Software
                                as a Services - <b>SaaS</b>) giúp khách hàng nhanh chóng áp dụng với chi phí thấp nhất</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mt-3">
                            <cite title="Source Title">BFlow Team</cite>
                        </figcaption>
                    </figure>
                </div>
                <div id="products" class="pb-10">
                    <div class="title-lg title-wth-divider mb-5">
                        <span>CÁC ĐẶC ĐIỂM NỔI BẬT CỦA BFLOW</span>
                    </div>
                    <div class="card-group">
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/management.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h4 class="card-title">Hỗ trợ từng thao tác nghiệp vụ
                                    suốt quá trình kinh doanh</h4>
                                <p class="card-text">
                                    Phần mềm không đơn thuần tập trung vào việc nhập liệu các kết quả giao dịch
                                    cần phải có cho hệ thống báo cáo và quản trị, mà thực sự hỗ trợ cho từng tác vụ của
                                    từng nhân viên xuyên suốt các quá trình cung cấp dịch vụ cho khách hàng bên ngoài và nội bộ
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/sale.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Hệ thống quy trình mạnh mẽ (power workflow definitions)</h5>
                                <p class="card-text">
                                    Người dùng tự định nghĩa quy trình tạo dữ liệu, quy trình phê duyệt với nhiều bước,
                                    nhiều người cộng tác thực hiện hay đánh giá phê duyệt tại mỗi bước. Các cơ chế điều
                                    hướng quy trịnh được thực hiện tự động theo tính toán dữ liệu hay hay bằng tay.
                                    Ngoài ra hệ thống còn cung cấp công cụ giám sát các quy trình đang chạy, cho phép
                                    xử lý lỗi, điều hướng, bật tắt kích hoạt các quy trình khác nhau cho một chức năng kinh doanh.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Phân quyền mạnh mẽ</h5>
                                <p class="card-text">
                                    Không chỉ phân quyền theo vai trò, tổ chức, hệ thống còn cho phép phân quyền theo
                                    từng nhóm dự án trong các hoạt động bán hàng, các dự án khác cho khách hàng hay
                                    nội bộ. Khi nhiều người cùng tương tác trên nhóm dữ liệu công việc cùng hiển thị,
                                    hệ thống cho phép phân quyền người nào được tương tác trên đơn vị dữ liệu nào
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Hỗ trợ mạnh mẽ trong tương tác làm việc nhóm</h5>
                                <p class="card-text">
                                    Với các tính năng nổi bật về phân quyền, quy trình, và định nghĩa nhóm làm việc,
                                    hệ thống cho phép thiết lập các dự án với nhiều thành viên được phân công vài trò
                                    trách nhiệm phù hợp, giúp kiểm soát được các hoạt động, chi phí và bảo mật dự án.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Tự động hóa các tác vụ</h5>
                                <p class="card-text">
                                    Một số nghiệp với nhiều tác vụ có tính tuần tự, hệ thống hỗ trợ tự thiết lập hay
                                    gợi ý tác vụ một cách tự động, qua đó giúp nhân viên thực hiện công việc của
                                    mình nhanh hơn mà không bị thiếu sót.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Quản trị tài chính</h5>
                                <p class="card-text">
                                    Theo dõi và quản lý sức khỏe tài chính của từng dự án, công việc, hỗ trợ bộ chỉ số
                                    tài chính để đánh giá hiệu quả cho mọi hoạt động trong tiến trình kinh doanh,
                                    từ lập kết hoạch cho đến thực thi và tổng kết đánh giá sau khi hoàn thành.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Ra quyết định dựa trên dữ liệu</h5>
                                <p class="card-text">
                                    Hệ thống luôn cung cấp chính xác thông tin nguồn lực của doanh nhiệp (con người,
                                    sản phẩm dịch vụ, khách hàng, nhà cung cấp..) theo thời gian thực.
                                    Nhờ đó các hệ thống điều hướng công việc theo quy trình tự động hóa được áp dụng,
                                    hoặc thông qua các báo cáo phân tích, các nhà quản lý sẽ có các quyết định nhanh chóng và chính xác.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Tạo nhanh trang web thương mại điện tử</h5>
                                <p class="card-text">
                                    Cho phép người dùng nhanh chóng tự tạo một trang web thương mại điện tử chỉ bằng
                                    vài bước định nghĩa đơn giản, trên đó có thể giúp khách hàng xem và tìm kiếm sản
                                    phẩm dịch vụ, đặt hàng và theo dõi tính trạng thực hiện đơn hàng.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Giao diện thân thiện</h5>
                                <p class="card-text">
                                    Các thiết kế phần mềm chúng tôi tập trung những dữ liệu cần thiết và thể hiện đơn
                                    giản, trực quan, giúp người dùng nhanh chóng hiển và thực hiện thao tác mà không
                                    cần phải được đào tạo sử dụng.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Công cụ tự xây dựng các ứng dụng</h5>
                                <p class="card-text">
                                    Cho phép dể dàng xây dựng các ứng dụng riêng phù hợp với yêu cầu nghiệp vụ của
                                    từng doanh nghiệp thông qua công cụ kéo thả.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Bảo mật dữ liệu</h5>
                                <p class="card-text">
                                    Bảo mật dữ liệu cho công ty bạn luôn là ưu tiên hàng đầu của chúng tôi.
                                    Kiến trúc phần mềm cũng như sử dụng các biện pháp và công cụ bảo mật mạnh mẽ
                                    theo tuân thủ theo các tiêu chuẩn của ngành, bạn sẽ luôn yên tâm dữ liệu của bạn
                                    luôn được an toàn.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Khả năng linh hoạt mở rộng</h5>
                                <p class="card-text">
                                    Với từng chức năng nghiệp vụ, phần mềm hỗ trợ cho bạn tùy chỉnh thực thi ở cấp độ
                                    đơn giản cho đến phức tạp tùy theo quy mô hay mức độ quản trị của doanh nghiệp.
                                    Khi doanh nghiệp phát triển về quy mô thâm chí phát triển thành mô hình tập đoàn,
                                    có hình thức quản trị phức tập hơn, cần nhiều chức năng nghiệp vụ hơn, số người
                                    dùng tăng lên nhiều, thì nền tảng phần mềm của chúng tôi sẽ thích ứng ngay,
                                    không cần thay đổi, không bị gián đoạn.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Cung cấp phần mềm dưới dạng dịch vụ (SaaS)</h5>
                                <p class="card-text">
                                    Với khả năng cung cấp dưới dạng dịch vụ, việc triển khai ứng dụng phần mềm
                                    trở nên dễ dàng và tiện lợi hơn nhiều: chỉ cần đăng ký là hệ thống tự khởi tạo
                                    ứng dụng và cơ sở dữ liệu, không phải đầu tư hạ tầng phần cứng, không tốn chi
                                    phí duy trì bộ máy nhân sự IT vận hành hệ thống.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    class="card-img-top" src="{% static 'assets/images/slide/office.jpg' %}"
                                    alt="Card image cap"
                            >
                            <div class="card-body">
                                <h5 class="card-title">Khả năng tích hợp dữ liệu</h5>
                                <p class="card-text">
                                    Phần mềm sẵn sàng trong việc tích hợp với các công cụ quản lý phố biến,
                                    hay các ứng dụng bên thứ ba mà công ty bạn đang sử dụng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="solutions" class="pb-10">
                    <div class="title-lg title-wth-divider mb-5">
                        <span>{% trans 'Solutions' %}</span>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="card">
                                <img
                                        class="card-img-top"
                                        src="{% static 'assets/images/slide/cloud-software.jpg' %}"
                                        alt="Card image cap"
                                >
                                <div class="card-body">
                                    <h3 class="card-title">Cloud</h3>
                                    <h5 class="card-subtitle mb-2 text-muted">Nền tảng đám mây</h5>
                                    <div class="separator-full"></div>
                                    <p class="card-text">
                                    <h6>Khả năng Truy Cập Mọi Lúc, Mọi Nơi</h6>
                                    <small class="text-muted">Bạn có thể làm việc từ xa và truy cập dữ liệu quan
                                        trọng từ bất kỳ thiết bị nào có kết nối internet.</small>
                                    </p>
                                    <p class="card-text">
                                    <h6>Tối Ưu Hóa Tài Nguyên</h6>
                                    <small class="text-muted">Giảm thiểu tình trạng lãng phí tài nguyên với việc sử
                                        dụng các tính năng đám mây linh hoạt, đảm bảo bạn trả tiền chỉ cho những gì
                                        bạn thực sự sử dụng.</small>
                                    </p>
                                    <p class="card-text">
                                    <h6>Bảo Mật Và Bảo Đảm Dữ Liệu</h6>
                                    <small class="text-muted">Chúng tôi cam kết đảm bảo an toàn cho dữ liệu của bạn
                                        thông qua các biện pháp bảo mật tiên tiến và dịch vụ sao lưu định
                                        kỳ.</small>
                                    </p>
                                    <div class="separator-full"></div>
                                    <a href="#" class="btn btn-primary">Trải nghiệm</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card">
                                <img
                                        class="card-img-top"
                                        src="{% static 'assets/images/slide/on-premise-software.jpg' %}"
                                        alt="Card image cap"
                                >
                                <div class="card-body">
                                    <h3 class="card-title">On-premise</h3>
                                    <h5 class="card-subtitle mb-2 text-muted">Triển khai nội bộ</h5>
                                    <div class="separator-full"></div>
                                    <p class="card-text">
                                    <h6>Kiểm Soát Toàn Diện</h6>
                                    <small class="text-muted">
                                        Bạn có quyền kiểm soát hoàn toàn việc triển khai và quản lý hệ thống tại chỗ,
                                        đảm bảo tuân thủ các quy tắc và quy định nội bộ.
                                    </small>
                                    </p>
                                    <p class="card-text">
                                    <h6>Tùy Chỉnh Tối Đa</h6>
                                    <small class="text-muted">
                                        Tận dụng tính linh hoạt của sản phẩm để tùy chỉnh nó theo nhu cầu cụ thể của bạn
                                        và tích hợp hoàn hảo với hệ thống hiện có.
                                    </small>
                                    </p>
                                    <p class="card-text">
                                    <h6>Bảo Mật Dữ Liệu</h6>
                                    <small class="text-muted">
                                        Với việc dữ liệu được lưu trữ trên cơ sở dữ liệu nội bộ, bạn có thể áp dụng các
                                        biện pháp bảo mật nghiêm ngặt và giữ an toàn cho thông tin quan trọng của bạn.
                                    </small>
                                    </p>
                                    <div class="separator-full"></div>
                                    <a href="#" class="btn btn-primary">Trải nghiệm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="customers" class="pb-10">
                    <div class="title-lg title-wth-divider mb-5">
                        <span>{% trans 'Customers' %}</span>
                    </div>
                    <div id="owl_demo_2" class="owl-carousel owl-theme">
                        <div class="item"><img src="{% static 'assets/images/customers/customer-bastion.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'assets/images/customers/customer-bastion.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'assets/images/customers/customer-bastion.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'assets/images/customers/customer-bastion.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'assets/images/customers/customer-bastion.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'assets/images/customers/customer-bastion.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div id="about-us" class="pb-10">
                    <div class="title-lg title-wth-divider mb-5">
                        <span>{% trans 'About Us' %}</span>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-7">
                            <img
                                    src="{% static 'assets/images/team/team-work.jpg' %}"
                                    style="object-fit: cover; max-height: 500px" alt=""
                            >
                        </div>
                        <div class="col-12 col-md-6 mb-7">
                            <h5 class="text-primary mb-5">Câu chuyện của chúng tôi</h5>
                            <p>
                                Câu chuyện của chúng tôi bắt đầu từ một ý tưởng đơn giản nhưng tận tâm: tạo ra một phần
                                mềm quản trị doanh nghiệp giúp các doanh nhân và nhà quản lý thể hiện tiềm năng tối đa
                                của họ. Tại ngọn đồi nhỏ này, một nhóm những cá nhân đam mê công nghệ và kinh doanh đã
                                hợp tác nhau để xây dựng nên một ứng dụng mạnh mẽ, đáp ứng mọi nhu cầu của doanh nghiệp.
                            </p>
                            <p>
                                Không gì có thể ngăn cản chúng tôi. Chúng tôi đã đánh bại hàng loạt khó khăn và thử
                                thách, từ việc tìm nguồn tài trợ ban đầu đến việc đoàn kết phát triển sản phẩm. Chúng
                                tôi đã luôn lắng nghe ý kiến phản hồi của khách hàng và liên tục cải tiến phần mềm của
                                mình.
                            </p>
                            <p>
                                Câu chuyện của chúng tôi không chỉ là về việc xây dựng một sản phẩm xuất sắc, mà còn là
                                về việc xây dựng một cộng đồng đoanh nghiệp mạnh mẽ. Chúng tôi tự hào vì đã đồng hành
                                cùng hàng ngàn doanh nghiệp trên khắp thế giới, giúp họ tăng cường hiệu suất và phát
                                triển bền vững.
                            </p>
                            <p>
                                Và câu chuyện của chúng tôi vẫn tiếp tục, với sự cam kết không ngừng nghỉ để đổi mới và
                                phục vụ tốt hơn mỗi ngày. Chúng tôi hy vọng rằng phần mềm quản trị doanh nghiệp của
                                chúng tôi sẽ luôn là người bạn đồng hành đáng tin cậy cho những người xây dựng và phát
                                triển doanh nghiệp của mình.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="timeline">
                            <div class="timeline__wrap">
                                <div class="timeline__items">
                                    <div class="timeline__item">
                                        <div class="timeline__content">
                                            <h2>09-2022</h2>
                                            <h6>Thành lập công ty</h6>
                                            <p>Hoàn thành tất cả các thủ tục pháp lý thành lập công ty.</p>
                                            <p>Xây dựng đội ngũ phát triển sản phẩm.</p>
                                        </div>
                                    </div>
                                    <div class="timeline__item">
                                        <div class="timeline__content">
                                            <h2>10-2023</h2>
                                            <h6>Phát hành sản phẩm đầu tiên</h6>
                                            <p>Phát hành phần mềm hỗ trợ việc kinh doanh của doanh nghiệp trên nền tảng
                                                SAAS.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contact">
                    <div class="title-lg title-wth-divider mb-5">
                        <span>{% trans 'Contact' %}</span>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <ul>
                                <li>
                                    <b>Địa chỉ:</b>
                                    <p>20 Đường số 22, Bình Hưng, Bình Chánh, Thành phố Hồ Chí Minh 70000, Việt Nam</p>
                                </li>
                                <li>
                                    <b>Email:</b>
                                    <p>support@mtsolution.com.vn</p>
                                </li>
                                <li>
                                    <b>Số điện thoại:</b>
                                    <p>**Đang cập nhật**</p>
                                </li>
                                <li>
                                    <small class="text-muted text-warning">Bạn có thể để lại liên lạc và lời nhắn tại phần chat trong màng hình này. Đội hỗ trợ của chúng tôi sẽ nhanh chóng kết nối với bạn.</small>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="d-flex justify-content-center align-items-center">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15679.953959206854!2d106.68808435!3d10.735370199999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fb753339b89%3A0xa83349079360b12b!2zMjAgxJDGsOG7nW5nIHPhu5EgMjIsIELDrG5oIEjGsG5nLCBCw6xuaCBDaMOhbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCA3MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1693989009427!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>

        <!-- Page Footer -->
        <div class="hk-footer">
            <footer class="container-xxl footer">
                <div class="row">
                    <div class="col-xl-8">
                        <p class="footer-text"><span class="copy-text">BFlow © 2023 All rights reserved.</span> <a
                                href="#" class="" target="_blank"
                        >Privacy Policy</a><span class="footer-link-sep">|</span><a href="#" class="" target="_blank">T&C</a><span
                                class="footer-link-sep"
                        >|</span><a href="#" class="" target="_blank">System Status</a></p>
                    </div>
                    <div class="col-xl-4">
                        <a href="#" class="footer-extr-link link-default"><span class="feather-icon"><i
                                data-feather="external-link"
                        ></i></span><u>Send feedback to our help forum</u></a>
                    </div>
                </div>
            </footer>
        </div>
        <!-- / Page Footer -->

    </div>
    <!-- /Main Content -->
</div>
<!-- /Wrapper -->

<!-- jQuery -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/jquery/dist/jquery-ui.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.js' %}"></script>

<!-- Simplebar JS -->
<script src="{% static 'vendors/simplebar/dist/simplebar.min.js' %}"></script>

<script>
    const globeLanguage = "{{ base.language }}";
</script>

<!-- FeatherIcons JS -->
<script src="{% static 'assets/js/feather.min.js' %}"></script>
<!-- // FeatherIcons JS -->
<script src="{% static 'assets/js/notify.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-notify.min.js' %}"></script>
<!-- Select2 JS -->
<script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
<!-- // Select2 JS -->

<script src="{% static 'vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<!-- Init JS -->
<script src="{% static 'assets/js/init.js' %}"></script>
<script src="{% static 'assets/js/cdn-clone/select2/init-select2.js' %}"></script>
<script src="{% static 'assets/js/init-setup.js' %}"></script>
<script src="{% static 'assets/js/init-loader.js' %}"></script>

<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/64f7e242a91e863a5c11df8e/1h9k4nles';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<script>
    $('#owl_demo_2').owlCarousel({
        margin: 20,
        autoplay: true,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            480: {
                items: 2
            },
            800: {
                items: 4
            },

        }
    });
</script>

<script src="{% static 'vendors/horizontal-vertical-timeline-plugin-jquery/dist/js/timeline.min.js' %}"></script>
<script>
    $('.timeline').timeline({
        horizontalStartPosition: 'top',
        mode: 'horizontal',
        visibleItems: 3,
    });
</script>
</body>
</html>