{% load i18n %}

<div class="modal fade" id="customer-select-modal" tabindex="-1" role="dialog" aria-labelledby="customer-select-modal">
    <div class="modal-dialog" style="min-width: 70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Select customer' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table nowrap w-100"
                       id="table-select-customer"
                       data-method="GET" data-url="{% url 'CustomerListAPI' %}"
                >
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>{% trans 'Customer' %}</th>
                            <th>{% trans 'Tax number' %}</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" id="accept-select-customer-btn" class="btn btn-primary">{% trans 'Select' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view-payment-term-modal" tabindex="-1" role="dialog" aria-labelledby="view-payment-term-modal">
    <div class="modal-dialog" style="min-width: 80%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Payment term information' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table id="payment-term-info-table" class="table nowrap w-100">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{% trans 'Term' %}</th>
                                <th>{% trans 'Remark' %}</th>
                                <th>{% trans 'Date' %}</th>
                                <th>% {% trans 'Payment' %}</th>
                                <th>{% trans 'Value before tax' %}</th>
                                <th>{% trans 'Total payment' %}</th>
                                <th>{% trans 'Due date' %}</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end w-70" tabindex="-1" id="select-delivery-offcanvas" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">{% trans 'Select product from delivery' %}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12">
                <table class="table w-100 nowrap" id="table-select-delivery">
                    <thead class="bg-secondary-light-5">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>{% trans 'Code' %}</th>
                        <th>{% trans 'Description' %}</th>
                        <th>{% trans 'Actual delivery date' %}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <table class="table w-100 nowrap" id="table-delivery-product">
                    <thead class="bg-secondary-light-5">
                    <tr>
                        <th></th>
                        <th>{% trans 'Product' %}</th>
                        <th>{% trans 'UOM' %}</th>
                        <th>{% trans 'Total' %}</th>
                        <th>{% trans 'Previous time' %}</th>
                        <th>{% trans 'This time' %}</th>
                        <th>{% trans 'AR value done' %}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-right">
                <button type="button" id="accept-delivery-product-btn" class="btn btn-custom btn-gradient-success btn-wth-icon">
                    <span>
                        <span>{% trans 'Select' %}</span>
                        <span class="icon"><span class="feather-icon"><i class="fa-solid fa-check"></i></span></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-view-tax-code-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{% trans 'View tax code information' %}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="tax-code-info-international-name">{% trans 'International name' %}</label>
                            <textarea disabled readonly rows="1" class="form-control form-control-line text-primary" id="tax-code-info-international-name"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="tax-code-info-name">{% trans 'Name' %}</label>
                            <textarea disabled readonly rows="1" class="form-control form-control-line text-primary" id="tax-code-info-name"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="tax-code-info-short-name">{% trans 'Short name' %}</label>
                            <textarea disabled readonly rows="1" class="form-control form-control-line text-primary" id="tax-code-info-short-name"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="tax-code-info-tax-code">{% trans 'Tax code' %}</label>
                            <textarea disabled readonly rows="1" class="form-control form-control-line text-primary" id="tax-code-info-tax-code"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="tax-code-info-address">{% trans 'Address' %}</label>
                            <textarea disabled readonly class="form-control form-control-line text-primary" id="tax-code-info-address"></textarea>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
			</div>
		</div>
	</div>
</div>
