{% load i18n %}

<div class="row mt-5 mb-10">
    <div class="col-12">
        <ul class="nav nav-pills-bfl">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#tab_line_detail">
                    <span class="nav-icon-wrap"><span class="feather-icon"><i class="bi bi-list"></i></span></span>
                    <span class="nav-link-text">{% trans 'Line Detail' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab_attachment">
                    <span class="nav-icon-wrap"><span class="feather-icon"><i class="bi bi-file-earmark-arrow-up"></i></span></span>
                    <span class="nav-link-text">{% trans 'Attachment' %}</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_line_detail">
                <div class="row">
                    <div class="col-12">
                        <table id="main-table"
                               data-delivery-selected=""
                               class="table nowrap w-100"
                               data-url-expense-type-list="{% url 'ExpenseItemListAPI' %}"
                               data-url-tax-list="{% url 'TaxListAPI' %}">
                            <thead>
                            <tr>
                                <th style="min-width: 50px"></th>
                                <th style="min-width: 300px">{% trans 'Product' %}</th>
                                <th style="min-width: 300px">{% trans 'Quantity' %}</th>
                                <th style="min-width: 200px">{% trans 'Unit price' %}</th>
                                <th style="min-width: 350px">{% trans 'Payment value this time' %}</th>
                                <th style="min-width: 350px">{% trans 'Discount' %}</th>
                                <th style="min-width: 150px">{% trans 'Tax' %}</th>
                                <th style="min-width: 200px">{% trans 'Final value' %}</th>
                                <th style="min-width: 200px">{% trans 'Note' %}</th>
                                <th style="min-width: 50px"></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="btn-group dropend">
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans 'Add new row' %}
                            </button>
                            <div class="dropdown-menu dropdown-bordered">
                                <h6 class="dropdown-header">{% trans 'If not referring to SO' %}</h6>
                                <a class="dropdown-item" href="#" id="btn-add-optionally">
                                    <i class="dropdown-icon fa-solid fa-plus"></i>
                                    <span>{% trans 'Add row optionally' %}</span>
                                </a>
                                <h6 class="dropdown-header">{% trans 'If referring to SO' %}</h6>
                                <a class="dropdown-item disabled" href="#" id="btn-select-from-delivery">
                                    <i class="dropdown-icon fa-solid fa-square-check"></i>
                                    <span>{% trans 'Select product from delivery' %}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-7"></div>
                    <div class="col-12 col-lg-5 mt-3 text-right">
                        <div class="row mt-1">
                            <label for="pretax-value" class="col-4 col-form-label">{% trans 'Pretax Amount' %}</label>
                            <div class="col-8">
                                <input disabled readonly class="text-right fw-bold form-control form-control-line mask-money zone-readonly" id="pretax-value" value="0">
                            </div>
                        </div>
                        <div class="row mt-1">
                            <label for="discount-all" class="col-4 col-form-label text-danger">{% trans 'Discount' %}</label>
                            <div class="col-8">
                                <input disabled readonly class="text-danger text-right form-control form-control-line mask-money zone-readonly" id="discount-all" value="0">
                            </div>
                        </div>
                        <div class="row mt-1">
                            <label for="taxes-value" class="col-4 col-form-label">{% trans 'VAT' %}</label>
                            <div class="col-8 dropdown">
                                <input disabled readonly class="text-right form-control form-control-line mask-money zone-readonly" id="taxes-value" value="0">
                                <a href="#" class="badge badge-sm badge-light" data-bs-toggle="dropdown">{% trans 'Detail' %}</a>
                                <div role="menu" class="dropdown-menu dropdown-bordered col-12" id="dropdown-tax-detail"></div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label style="font-size: larger" for="total-value" class="col-4 col-form-label fw-bold">{% trans 'TOTAL' %}</label>
                            <div class="col-8">
                                <input style="font-size: larger" disabled readonly class="text-right fw-bold form-control form-control-line mask-money zone-readonly" id="total-value" value="0">
                                <span class="text-muted" id="total-value-by-words"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab_attachment">
                <div class="row">
                    <div class="col-12">
                        <div class="w-100" id="attachment">
                            {% include 'extends/files/all.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>