{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Contract tempate create' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'assets/core/contract-template/css/contract-template.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="form_contract_template">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}

{% block pageContent %}
    <form
            data-url="{% url 'ContractTemplateCreateAPI' %}"
            data-redirect="{% url 'ContractTemplateList' %}"
            data-method="POST"
            id="form_contract_template"
            style="padding: 10px"
            method="post"
    >
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6 col-md-12 form-group">
                <label class="form-label" for="from_title">{% trans 'Title' %}</label>
                <input type="text" name="title" id="from_title" class="form-control">
            </div>
            <div class="col-lg-6 col-md-12 form-group">
                    <label class="form-label required" for="application_id">{% trans 'Application' %}</label>
                    <select
                            id="application_id"
                            name="application"
                            class="select2 form-select"
                            data-url="{% url 'TenantApplicationListAPI' %}"
                            data-params='{"pageSize":-1}'
                            data-method="GET"
                            data-keyResp="tenant_application_list"
                            required
                    ></select>
            </div>
            <div class="col-lg-6 col-md-12 form-group">
                <label class="form-label" for="from_signatures">{% trans 'Signature replacement character' %}</label>
                <div id="signatures"></div>
            </div>
            <div class="col-lg-6 col-md-12">
            </div>
            <div class="col-lg-12 col-xs-12">
                <textarea id="txt_template" type="text"
                        name="template"
                        class="form-control"
                ></textarea>
            </div>
        </div>
    </form>
{% endblock %}

{% block dataHiddenGroup %}
    <input type="text" id="url-factory" data-employee="{% url 'EmployeeListAPI' %}"
    data-template="{% url 'ContractTemplateConfigAPI' %}">
{% endblock %}

{#    https://daynhauhoc.com/t/cach-in-website-ra-giay-a4/28821/10 #}
{% block jsFooter %}
    <script src="{% static 'assets/core/contract-template/js/common.js' %}"></script>
    <script>
        $(document).ready(function () {
            // run signature list
            window.signObj.init()

            // run editor
            window.is_editor.init()
        });
    </script>
{% endblock %}