{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Contract tempate create' %}{% endblock %}
{% block cssHeader %}
    <link href="{% static 'assets/core/contract-template/css/contract-template.css' %}" rel="stylesheet"
          type="text/css"/>
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="form_contract_template">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}

{% block pageContent %}
    <form
            data-url="{% url 'ContractTemplateUpdateAPI' data.pk %}"
            data-redirect="{% url 'ContractTemplateList' %}"
            data-method="PUT"
            id="form_contract_template"
            style="padding: 10px"
            method="post"
    >
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6 col-md-12 form-group">
                <label class="form-label" for="from_title">{% trans 'Title' %}</label>
                <input type="text" name="title" id="from_title" class="form-control">
            </div>
            <div class="col-lg-6 col-md-12 form-group">
                    <label class="form-label required" for="application_id">{% trans 'Application' %}</label>
                    <select
                            id="application_id"
                            name="application"
                            class="select2 form-select"
                            data-url="{% url 'TenantApplicationListAPI' %}"
                            data-params='{"pageSize":-1}'
                            data-method="GET"
                            data-keyResp="tenant_application_list"
                            required
                    ></select>
            </div>
            <div class="col-lg-12 col-xs-12 user_assign mb-3">
                <label class="form-label" for="txt_template">{% trans 'User Signature Definitioned' %}</label>
            </div>
            <div class="col-lg-12 col-xs-12">
                <label class="form-label" for="txt_template">{% trans 'Template' %}</label>
                <textarea id="txt_template" type="text"
                        name="template"
                        class="form-control"
                ></textarea>
            </div>
        </div>
    </form>
{% endblock %}
{% block modalData %}
    {% include 'core/contract_template/extend/modal_sign_defination.html' %}
{% endblock %}
{% block dataHiddenGroup %}
    <input type="text" id="url-factory" data-template="{% url 'ContractTemplateConfigAPI' %}"
    data-employee="{% url 'EmployeeListAPI' %}">
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'assets/core/contract-template/js/common.js' %}"></script>
    <script src="{% static 'assets/core/contract-template/js/update.js' %}"></script>
{% endblock %}