{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Budget Plan List' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url "BudgetPlanCreate" %}">
        <button class="btn btn-outline-primary" type="button">
            <span>
                <span>{% trans 'Add' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/budget_plan/budget_plan_list.js' %}"></script>
{% endblock %}
