{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Project' %} {% trans 'update' %}
{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'vendors/frappe-gantt/dist/frappe-gantt.css' %}">
    <link rel="stylesheet" href="{% static 'assets/project/css/project.css' %}">
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="project_form">
            <span>
                <span>{% trans 'Save' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-floppy-disk"></i>
                </span>
            </span>
    </button>
{% endblock %}

{% block pageContent %}
    <!-- from edit-->
    <form class="container-fluid mt-4" id="project_form" method="post" data-method="put" autocomplete="off"
          data-url-detail="{% url 'ProjectDetailAPI' data.pk %}" data-url="{% url 'ProjectEditAPI' data.pk %}">
        {% csrf_token %}
        <input type="hidden" id="id">
        <div class="row">
            <div class="col-xs-12 col-md-6 form-group">
                <label for="titleInput" class="form-label required">{% trans 'Title' %}</label>
                <input type="text" name="title" id="titleInput" class="form-control" required>
            </div>
            <div class="col-xs-12 col-md-6 form-group">
                <label for="select_project_owner" class="form-label required">{% trans 'Project owner' %}</label>
                <select class="form-select" name="project_owner" id="select_project_owner"
                        data-url="{% url 'EmployeeListAPI' %}"
                        data-keyResp="employee_list" data-keyText="full_name" data-keyId="id"
                        data-params="{'list_from_app':'{{ data.list_from_app|escape }}'}"
                >
                </select>
            </div>
            <div class="col-xs-12 col-md-6 form-group">
                <label for="selectEmployeeInherit" class="form-label required">{% trans 'Project PM' %}</label>
                <select class="form-select" name="employee_inherit" id="selectEmployeeInherit"
                        data-url="{% url 'EmployeeListAPI' %}"
                        data-keyResp="employee_list" data-keyText="full_name" data-keyId="id"
                        data-params="{'list_from_app':'{{ data.list_from_app|escape }}'}"
                >
                </select>
            </div>
            <div class="col-xs-12 col-md-6 form-group">
                <label for="dateStart" class="form-label">{% trans 'Start date' %}</label>
                <div class="input-affix-wrapper">
                    <input type="text" id="dateStart" name="start_date" class="form-control date-picker"
                           autocomplete="off">
                    <span class="input-suffix"><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 form-group">
                <label for="dateFinish" class="form-label">{% trans 'Finish date' %}</label>
                <div class="input-affix-wrapper">
                    <input type="text" id="dateFinish" name="finish_date" class="form-control date-picker"
                           autocomplete="off">
                    <span class="input-suffix"><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>
            <input type="hidden" name="system_status" id="SystemStatusInput" class="form-control" value="1">
        </div>
    </form>
    <!-- Tabs -->
    <ul class="nav nav-line nav-light nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#tab_detail">
                <i class="fa-solid fa-diagram-next"></i>
                <span class="nav-link-text">{% trans 'Detail' %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab_members">
                <i class="fa-solid fa-address-card"></i>
                <span class="nav-link-text">{% trans 'Teams' %}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab_detail">
            <div class="gantt-wrap">
                <div class="gantt-block gantt-left">
                </div>
                <div class="gantt-block gantt-right">
                    <svg id="gantt"></svg>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_members">
            <div class="row">
                <div class="member-item col-12 col-lg-4 col-md-4 text-center member-item-add_btn">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal_employee_list"
                            id="btn-show-modal-add-member" class="mt-4 btn btn-outline-primary btn-sm w-100">
                        <i class="fas fa-plus-circle"></i>
                        {% trans 'Add member' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Tabs -->

    <!-- modal group -->
    {% include 'sales/project/extends/group-modal.html' %}
    <!-- modal work -->
    {% include 'sales/project/extends/work-modal.html' %}
    <!-- modal employee list -->
    {% include 'sales/project/extends/employee-list.html' %}
{% endblock %}
{% block dataHiddenGroup %}
    <input type="text" id="url-factory"
           data-group="{% url 'ProjectCreateGroupAPI' %}"
           data-group-detail="{% url 'ProjectGroupDetailAPI' 1 %}"
           data-work="{% url 'ProjectWorkCreateAPI' %}"
           data-work-detail="{% url 'ProjectWorkDetailAPI' 1 %}"
    >
    <input type="text" id="trans-factory"
    >
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/frappe-gantt/dist/frappe-gantt.js' %}"></script>

    <script src="{% static 'assets/project/js/project-common.js' %}"></script>
    <script src="{% static 'assets/project/js/frappe-gantt-custom.js' %}"></script>
    <script src="{% static 'assets/project/js/edit.js' %}"></script>
{% endblock %}
