{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Project' %} {% trans 'Update' %}
{% endblock %}
{% block cssHeader %}
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/core/workflow/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'vendors/frappe-gantt/dist/frappe-gantt.css' %}">
    <link rel="stylesheet" href="{% static 'assets/project/css/project.css' %}">
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="project_form">
            <span>
                <span>{% trans 'Save' %}</span>
                <span class="icon">
                    <i class="fa-regular fa-floppy-disk"></i>
                </span>
            </span>
    </button>
{% endblock %}

{% block pageContent %}
    <!-- from edit-->
    <form class="container-fluid mt-4" id="project_form" method="post" data-method="put" autocomplete="off"
          data-url-detail="{% url "ProjectDetailAPI" data.pk %}" data-url="{% url "ProjectEditAPI" data.pk %}">
        {% csrf_token %}
        <input type="hidden" id="id">
        <div class="collapse show" id="toggle-ud">
            <div class="row">
                <div class="col-xs-12 col-md-6 form-group">
                    <label for="titleInput" class="form-label required">{% trans 'Title' %}</label>
                    <input type="text" name="title" id="titleInput" class="form-control" required>
                </div>
                <div class="col-xs-12 col-md-6">
                    {{ data.employee_info|json_script:'current_info' }}
                    <input type="hidden" id="data_form">
                    <a href="#" class="btn btn-primary mt-5" id="create_baseline" disabled>
                        <span>
                            <span class="icon">
                                <i class="bi bi-graph-up"></i>
                            </span>
                            <span>{% trans 'Create Baseline' %}</span>
                        </span>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-md-6 form-group">
                    <label for="select_project_pm" class="form-label required">{% trans 'Project owner' %}</label>
                    <input type="input" name="employee_inherit" id="employeeInheritInput" class="form-control" readonly>
                    {% comment %}
                    <select class="form-select" name="project_pm" id="select_project_pm"
                            data-url="{% url "EmployeeListAPI" %}"
                            data-keyResp="employee_list" data-keyText="full_name" data-keyId="id"
                            data-params="{'list_from_app':'{{ data.list_from_app|escape }}'}"
                    >
                    </select>{% endcomment %}
                </div>
                <div class="col-xs-12 col-md-6 form-group">
                    <label for="selectEmployeeInherit" class="form-label required">{% trans 'Project PM' %}</label>
                    <select class="form-select" name="project_pm" id="select_project_pm"
                            data-url="{% url 'EmployeeListAPI' %}"
                            data-keyResp="employee_list" data-keyText="full_name" data-keyId="id"
                            data-params="{'list_from_app':'{{ data.list_from_app|escape }}'}"
                    >
                    </select>
                </div>
                <div class="col-xs-12 col-md-6 form-group">
                    <label for="dateStart" class="form-label">{% trans 'Start date' %}</label>
                    <div class="input-affix-wrapper">
                        <input type="text" id="dateStart" name="start_date" class="form-control date-picker"
                               autocomplete="off">
                        <span class="input-suffix"><i class="fa-solid fa-calendar-days"></i></span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 form-group">
                    <label for="dateFinish" class="form-label">{% trans 'Finish date' %}</label>
                    <div class="input-affix-wrapper">
                        <input type="text" id="dateFinish" name="finish_date" class="form-control date-picker"
                               autocomplete="off">
                        <span class="input-suffix"><i class="fa-solid fa-calendar-days"></i></span>
                    </div>
                </div>
                <input type="hidden" name="system_status" id="SystemStatusInput" class="form-control" value="1">
            </div>
        </div>
        <div class="toggle-ud is_show">
            <a class="btn btn-lg btn-icon btn-rounded btn-flush-primary flush-soft-hover"
               data-bs-toggle="collapse" href="#toggle-ud" ontoggle=""><span class="icon">
                    <i class="fa-solid fa-angles-up"></i></span></a>
        </div>
    </form>
    <!-- Tabs -->
    <ul class="nav nav-line nav-light nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#tab_detail">
                <i class="fa-solid fa-diagram-next"></i>
                <span class="nav-link-text">{% trans 'Detail' %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab_members">
                <i class="fa-solid fa-address-card"></i>
                <span class="nav-link-text">{% trans 'Teams' %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab_work_expense">
                <i class="fa-solid fa-money-check-dollar"></i>
                <span class="nav-link-text">{% trans 'Work expense' %}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab_detail">
            <label for="change_view_mode" class="label font-weight-bold mr-3">{% trans 'Change view mode' %}: </label>
            <div class="mx-auto mt-3 btn-group mb-3" role="group" id="change_view_mode">
                <button type="button" class="btn btn-sm btn-primary" data-value="Quarter Day">{% trans 'Quarter Day' %}</button>
                <button type="button" class="btn btn-sm btn-primary" data-value="Half Day">{% trans 'Half Day' %}</button>
                <button type="button" class="btn btn-sm btn-primary active" data-value="Day">{% trans 'Day' %}</button>
                <button type="button" class="btn btn-sm btn-primary" data-value="Week">{% trans 'Week' %}</button>
                <button type="button" class="btn btn-sm btn-primary" data-value="Month">{% trans 'Month' %}</button>
            </div>
            <div class="gantt-wrap">
                <div class="gantt-block gantt-left">
                </div>
                <div class="gantt-block gantt-right">
                    <svg id="gantt"></svg>
                </div>
            </div>
            <div class="lazy_loading">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_members">
            <div class="row wrap_members mb-6">
                <div class="member-item col-12 col-lg-4 col-md-4 text-center member-item-add_btn">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal_employee_list"
                            id="btn-show-modal-add-member" class="mt-4 btn btn-outline-primary btn-sm w-100">
                        <i class="fas fa-plus-circle"></i>
                        {% trans 'Add member' %}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 hidden" id="box-edit-permit" data-url="{% url 'ProjectMemberDetailAPI' pk 1 %}"
                     data-url-update="{% url 'ProjectMemberUpdateAPI' pk 1 %}">
                    <div class="row mb-2">
                        <div class="col-xs-12 col-md-8 mb-1">
                            <div class="form-group">
                                <label for="member-current-edit" class="form-label">{% trans 'Member' %}</label>
                                <select name="" id="member-current-edit" class="form-select">
                                    <option value="" selected></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 mb-1">
                            <div class="form-group">
                                <div class="form-label">{% trans 'Actions' %}</div>
                                <button type="button" id="btnSavePermitMember"
                                        class="btn btn-gradient-primary text-white btn-custom btn-wth-icon w-100"><span><span>{% trans 'Update permit' %}</span><span
                                        class="icon"><span class="feather-icon"><i class="fas fa-user-edit"></i></span></span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input" id="view_this_project">
                                <label class="form-check-label" for="enable-view-opp-member">
                                    {% trans 'Allow view this project' %}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input" id="can_add_member">
                                <label class="form-check-label" for="enable-view-opp-member">
                                    {% trans 'Can add member this project' %}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input" id="can_add_gaw">
                                <label class="form-check-label" for="enable-view-opp-member">
                                    {% trans 'Allow create group and work this project' %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="row mb-2">
                        <div class="col-12">
                            {% include 'core/hr/extends_new/permission_group_tabs_has_change_app.html' with range_allowed="1,4" pk='__pk__' get_from='project' active_tab='tab-permissions' actions_enabled=True permit_enabled=True %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_work_expense">
            <input type="hidden" id="work_expense_data">
            <table class="table nowrap w-100 min-w-1500p" id="work_expense_tbl"
                   data-method="get"
                   data-url="{% url 'ProjectListAPI' %}"
                   data-detail="{% url 'ProjectDetail' 1 %}">
                <thead>
                <tr>
                    <th colspan="2" class="bt-0"></th>
                    <th class="text-right"><span class="font-weight-bold">{% trans 'Total price' %}:</span></th>
                    <th class="text-center"></th>
                </tr>
                <tr>
                    <th colspan="2" class="bt-0"></th>
                    <th class="text-right"><span class="font-weight-bold">{% trans 'Total tax' %}:</span></th>
                    <th class="text-center"></th>
                </tr>
                <tr>
                    <th colspan="2" class="bt-0"></th>
                    <th class="text-right"><span class="font-weight-bold">{% trans 'Total price after tax' %}:</span></th>
                    <th class="text-center"></th>
                </tr>
                <tr>
                    <th>{% trans 'Work title' %}</th>
                    <th>{% trans 'Total price' %}</th>
                    <th>{% trans 'Total tax' %}</th>
                    <th>{% trans 'Total price after tax' %}</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- End Tabs -->
    <!-- modal group -->
    {% include 'sales/project/extends/group-modal.html' %}
    <!-- modal work -->
    {% include 'sales/project/extends/work-modal.html' %}
    <!-- modal employee list -->
    {% include 'sales/project/extends/employee-list.html' %}
    <!-- modal assign task -->
    {% include 'sales/project/extends/assign-task.html' with prj_id=data.pk %}
    <!-- modal create task -->
    {% include 'sales/task/extend/task-form.html' with is_project_page=True new_list_from_app='task.opportunitytask.create'%}
    <!-- modal check employee in expense role -->
    {% include 'sales/project/extends/check-expense-modal.html' %}
{% endblock %}
{% block dataHiddenGroup %}
    <div class="table_btn">
        <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover btn-adjust-row" >
            <span class="btn-icon-wrap">
                <i class="fa-solid fa-window-maximize"></i>
            </span>
        </a>
    </div>
    <button class="ntt-drawer-toggle-link hidden btn-show-task_f" type="button" data-drawer-target="#drawer_task_create"
            data-drawer-active="false"></button>
    <input type="text" id="url-factory"
           data-list="{% url 'ProjectList' %}"
           data-group="{% url 'ProjectCreateGroupAPI' %}"
           data-group-detail="{% url 'ProjectGroupDetailAPI' 1 %}"
           data-work="{% url 'ProjectWorkCreateAPI' %}"
           data-work-detail="{% url 'ProjectWorkDetailAPI' 1 %}"
           data-member="{% url 'ProjectMemberAddAPI' 1 %}"
           data-member-delete="{% url 'ProjectMemberDeleteAPI' data.pk 1 %}"
           data-update-order="{% url 'ProjectUpdateOrderAPI' data.pk %}"
           data-task="{% url 'ProjectTaskListAPI' %}"
           data-task-logtime="{% url 'OpportunityTaskLogTimeAPI' %}"
           data-expense="{% url 'ExpenseListAPI' %}"
           data-expense-detail="{% url "ExpenseDetail" 1 %}"
           data-expense_item="{% url "ExpenseItemListAPI" %}"
           data-expense_item-detail="{% url "ExpenseItemDetailAPI" 1 %}"
           data-uom="{% url "UnitOfMeasureListAPI" %}"
           data-tax="{% url "TaxListAPI" %}"
           data-work-expense="{% url "ProjectWorkExpenseAPI" %}"
           data-baseline="{% url "ProjectCreateBaselineAPI" %}"
    >

{% endblock %}
{% block jsFooter %}
    <!-- library -->
    <script src="{% static 'assets/core/workflow/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'vendors/frappe-gantt/dist/frappe-gantt.js' %}"></script>

    <!-- js component permission -->
    <script src="{% static 'assets/js/core/hr/permissions.js' %}"></script>
    <script src="{% static 'assets/js/core/hr/plan_app.js' %}"></script>
    <script src="{% static 'assets/js/core/hr/permission_group_tabs.js' %}"></script>
    <script>
        function loadPermitEmpty() {
            let cls = new HandlePermissions();
            cls.loadData([], [], {
                enableVisibleColumns : false,
                enableSortColumns : false,
                enableTools : false,
                searching : false,
                ordering : false,
                visibleSearchField : false,
                visibleOrder : false,
            });
        }

        $('#btnResetData').on('click', function (){
            $('#member-current-edit').trigger('change');
        })
    </script>

    <!-- js edit page -->
    <script src="{% static 'assets/project/js/project-common.js' %}"></script>
    <script src="{% static 'assets/project/js/frappe-gantt-custom.js' %}"></script>
    <script src="{% static 'assets/project/js/edit.js' %}"></script>
    <script src="{% static 'assets/js/core/hr/extends_new/plan_app_permissions.js' %}"></script>
    <script src="{% static 'assets/project/js/extend/component-modal-drag.js' %}"></script>
    <script src="{% static 'assets/project/js/extend/project-task.js' %}"></script>
{% endblock %}