{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'project page' %}{% endblock %}
{% block cssHeader %}
    <link rel="stylesheet" href="{% static 'vendors/frappe-gantt/dist/frappe-gantt.css' %}">
{% endblock %}

{% block pageAction %}
    <a href="#">
        <button class="btn btn-outline-primary ntt-drawer-toggle-link btn-create-todo"
                type="button"
                data-drawer-target="#drawer_task_create"
                data-drawer-active="false"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-original-title="{% trans 'Create' %}">
        <span>
            <span>{% trans 'Create' %}</span>
            <span class="icon">
                <i class="fa-solid fa-plus"></i>
            </span>
        </span>
        </button>
    </a>
{% endblock %}

{% block pageContent %}
    <!-- test gantt view-->
    <div class="gantt-wrap" style="display: flex;">
        <div class="has_resize" style="width:500px; height:566px;resize: horizontal;overflow: hidden;"></div>
        <div class="gantt-wrap" style="resize: horizontal;overflow: hidden;">
            <svg id="gantt"></svg>
        </div>
    </div>
    <!-- end gantt view-->
{% endblock %}
{% block jsFooter %}

    <script src="{% static 'vendors/frappe-gantt/dist/frappe-gantt.js' %}"></script>
    <script>
        $(document).ready(function(){
            var s = new Gantt("#gantt", [{
                id: "1",
                name: "Draft the new contract document for sales team",
                start: "2019-07-16",
                end: "2019-07-20",
                progress: 55
            }, {
                id: "2",
                name: "Find out the old contract documents",
                start: "2019-07-19",
                end: "2019-07-21",
                progress: 85,
                dependencies: "1"
            }, {
                id: "3",
                name: "Organize meeting with sales associates to understand need in detail",
                start: "2019-07-21",
                end: "2019-07-22",
                progress: 80,
                dependencies: "2"
            }, {
                id: "4",
                name: "iOS App home page",
                start: "2019-07-15",
                end: "2019-07-17",
                progress: 80
            }, {
                id: "5",
                name: "Write a release note",
                start: "2019-07-18",
                end: "2019-07-22",
                progress: 65,
                dependencies: "4"
            }, {
                id: "6",
                name: "Setup new sales project",
                start: "2019-07-20",
                end: "2019-07-31",
                progress: 15
            }, {
                id: "7",
                name: "Invite user to a project",
                start: "2019-07-25",
                end: "2019-07-26",
                progress: 99,
                dependencies: "6"
            }, {
                id: "8",
                name: "Coordinate with business development",
                start: "2019-07-28",
                end: "2019-07-30",
                progress: 35,
                dependencies: "7"
            }, {
                id: "9",
                name: "Kanban board design",
                start: "2019-08-01",
                end: "2019-08-03",
                progress: 25,
                dependencies: "8"
            }, {
                id: "10",
                name: "Enable analytics tracking",
                start: "2019-08-05",
                end: "2019-08-07",
                progress: 60,
                dependencies: "9"
            }], {
                view_modes: ["Quarter Day", "Half Day", "Day", "Week", "Month"],
                bar_height: 20,
                padding: 18,
                view_mode: "Week",
                custom_popup_html: null
            });
        });
    </script>
{% endblock %}
