{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block cssHeader %}
    <link rel="stylesheet" href="{% static 'assets/plugins/orgchart/orgchart.css' %}"/>
    <style>
        #chart-container {
            position: relative;
            height: 80%;
            border: 1px solid #aaa;
            margin: 0.5rem;
            overflow: auto;
            text-align: center;
        }

        {# Customize Css #}
        .orgchart {
            background-image: unset;
            background-size: unset; /* background square size */
        }

        .node .title {
            margin-bottom: 0 !important;
        }

        .orgchart .node .title .parentNodeSymbol {
            padding-right: 5px;
        }

        .orgchart .node .title {
            width: 150px;
            padding: 5px;
            word-break: normal !important;
            white-space: normal !important;
            min-height: 20px;
            height: unset;
        }

        .orgchart .node .content {
            width: 150px;
            min-height: 20px;
            height: unset;
            word-break: normal !important;
            white-space: normal !important;
        }
    </style>
{% endblock %}

{% block jsHeader %}
    <script src="{% static 'vendors/es6-promise_4/es6-promise.min.js' %}"></script>
    <script src="{% static 'vendors/es6-promise_4/es6-promise.auto.min.js' %}"></script>
    <script src="{% static 'vendors/html2canvas_1.4.1/html2canvas.min.js' %}"></script>
{% endblock %}

{% block pageContent %}
    <div id="chart-container" data-url="{% url 'TenantDiagramAPI' %}">

    </div>
    <span class="hidden" id="msgPrivate" data-msg-export-to-image="{% trans 'Export To Image' %}"></span>
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'vendors/jquery-mockjax_2.6.0/jquery.mockjax.min.js' %}"></script>
    <script src="{% static 'assets/plugins/orgchart/orgchart.js' %}"></script>
    <script src="{% static 'assets/js/core/tenant/org_chart.js' %}"></script>
{% endblock %}