{% extends 'base.html' %}
{% load static i18n %}

{% block cssHeader %}
{% endblock %}

{% block pageAction %}
    <a
            class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover no-caret flex-shrink-0 d-lg-inline-block d-none"
            href="#" data-bs-toggle="tooltip" data-bs-placement="top" title=""
            data-bs-original-title="Refresh"
    >
        <span class="icon">
            <span class="feather-icon">
                <i data-feather="refresh-cw"></i>
            </span>
        </span>
    </a>
{% endblock %}

{% block pageContent %}
    <table
            id="table_tenant_information" class="table nowrap w-100 mb-5" data-url="{% url 'TenantInformationAPI' %}"
            data-method="GET"
    >
        <thead>
        <tr>
            <th>
                <span class="form-check">
                    <input
                            type="checkbox"
                            class="form-check-input check-select-all"
                            id="customCheck1"
                    >
                    <label class="form-check-label" for="customCheck1"></label>
                </span>
            </th>
            <th>{% trans 'Company' %}</th>
            <th>{% trans 'License used' %}</th>
            <th><center>{% trans 'Total user' %}</center></th>
            <th><center>{% trans 'Power user' %}</center></th>
            <th><center>{% trans 'Employee' %}</center></th>
            <th><center>{% trans 'Employee connected to user' %}</center></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'assets/js/core/tenant/tenant_information.js' %}"></script>
{% endblock %}
