{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Business trip request' %}
{% endblock %}
{% block cssHeader %}
{#    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>#}
{% endblock %}
{% block pageAction %}
    <a href="{% url 'BusinessTripCreate' %}">
        <button class="btn btn-outline-primary" type="button">
            <span>
                <span>{% trans 'Create' %}</span>
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </span>
        </button>
    </a>
{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <table
                class="table nowrap min-w-1500p w-100"
                id="business_trip_request_tbl"
                data-method="get"
                data-url="{% url 'BusinessTripRequestListAPI' %}"
                data-detail="{% url 'BusinessTripRequestDetail' 1 %}"
            >
                <thead>
                    <tr>
                        <td>#</td>
                        <td>{% trans 'Name' %}</td>
                        <td>{% trans 'Code' %}</td>
                        <td>{% trans 'Employee inherit' %}</td>
                        <td>{% trans 'From date' %}</td>
                        <td>{% trans 'To date' %}</td>
                        <td>{% trans 'Status' %}</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block dataHiddenGroup %}
    <input type="text" id="url-factory"
    >
    <input type="text" id="trans-factory"
    >
    {{ data.stt_sys|json_script:'stt_sys' }}
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/e-offices/business-trip/js/list.js' %}"></script>
{% endblock %}
