{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block cssHeader %}
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs5/css/dataTables.jqueryui.min.css' %}">
    <style>

        button {
            border: 0;
        }

        #user-list_filter {
            padding-right: 50px;
        }
        #offcanvasRight {
            width: 75%;
        }

        @media screen and(max-width: 850px) {
            #offcanvasRight {
                width: 100%;
            }
        }

        .offcanvas-header {
            margin-right: 1em;
            margin-left: 1em;
            border-bottom: 0.01em solid #dcdcdc;
        }

        .name-field input {
            width: 80%;
            border: 0.1em solid #dcdcdc;
            border-radius: 0.4em;
        }

        .other-field, .input-checkbox, .button-field {
            margin-top: 1em;
        }

        .other-field input {
            width: 90%;
            border: 0.1em solid #dcdcdc;
            border-radius: 0.4em;
        }

        tbody tr td button {
            background: none;
        }

        table {
            width: 100%;
        }

        .alert-success, .alert-danger {
            z-index: 1000;
            position: fixed;
            display: none;
            right: 0;
            top: 10%;
        }

        form input {
            height: 3em;
        }

        #auto-create-pw {
            height: 1em;
        }
    </style>
{% endblock %}
{% block PageHeader %}
{% endblock %}
{% block pageContent %}
    <div class="row" style="margin-left: 1em; border-bottom: 0.01em solid #dcdcdc;">
        <div class="col-lg-4">
            <p>System > <span>User</span></p>
        </div>
    </div>
    <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight" style="margin-left: 1em"><i class="far fa-plus-square"></i>
    </button>
    <!--Form create user-->

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="alert alert-success">
            <strong>Creating!</strong>
            <div class="spinner-border text-success" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <div class="alert alert-danger">
            <strong>Error!</strong>
        </div>
        <div class="offcanvas-header">
            <h3 id="offcanvasRightLabel">Add User</h3>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row">
                <div class="col-lg-2 col-sm-2"></div>
                <div class="col-lg-8 col-sm-8">
                    <form id="form-create-user" data-url="" data-url-redirect="" data-method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="row name-field">
                                    <label>First Name</label>
                                    <input type="text" placeholder="Input text" name="first_name" id="inp-firstname"
                                           required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="row name-field">
                                    <label>Last Name</label>
                                    <input type="text" placeholder="Input text" name="last_name" id="inp-lastname">
                                </div>
                            </div>
                        </div>
                        <div class="row other-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Input text" name="full_name" required id="inp-fullname" disabled>
                        </div>
                        <div class="row other-field">
                            <label>Email Address</label>
                            <input type="email" placeholder="Input text" name="email" required>
                        </div>
                        <div class="row other-field">
                            <label>Select Company</label>
                            <input type="text" placeholder="Input text" name="company" required>
                        </div>
                        <div class="row other-field username">
                            <label>User Name</label>
                            <input type="text" placeholder="Input text" name="username" required>
                            <span class="not-valid-username" style="display: none">Username is existing</span>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="auto-create-pw" name="auto-create-pw"/>
                            <label for="auto-create-pw">Auto create password</label>
                        </div>

                        <div class="row other-field password">
                            <label>Password</label>
                            <input type="password" placeholder="Input text" name="password" id="password"
                                   required>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="auto-create-pw" name="auto-create-pw"/>
                            <label for="auto-create-pw">require change password when first sign in</label>
                        </div>
                        <div class="row button-field">
                            <div class="col-lg-2 col-sm-2">
                                <button type="submit" class="btn btn-primary btn-save">Submit</button>
                            </div>

                            <div class="col-lg-7 col-sm-7"></div>
                            <div class="col-lg-2 col-sm-2">
                                <button type="button" class="btn btn-light" data-bs-dismiss="offcanvas"
                                        aria-label="Close">Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- end form create user -->

    <!--end edit user-->
    <div style="padding-left: 20Px;padding-top: 20px; padding-right: 20px;">
        <div class="alert alert-success">
            <strong>Deleting!</strong>
            <div class="spinner-border text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="alert alert-danger " id="danger-del-noti">
            <strong>Error!</strong>
        </div>
        <table class="table nowrap display" id="user-list">
            <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Username</th>
                <th scope="col">Plan</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        {{ data.user_list|json_script:'user-data' }}

    </div>
{% endblock %}
{% block jsFooter %}
    <script>
        let first_name = '';
        let last_name = '';
        $('#inp-firstname').change(function () {
            first_name = $(this).val();
            $('#inp-fullname').val(first_name + ' ' + last_name);
        });

        $('#inp-lastname').change(function () {
            last_name = $(this).val();
            $('#inp-fullname').val(first_name + ' ' + last_name);
        });

        $('.btn-icon').on('click', function () {
            $('#user-list_wrapper').css('width', '100%');
            $('.dataTable').css('width', '100%');
        });

        function generateP() {
            var pass = '';
            var str = 'abcdefghijklmnopqrstuvwxyz0123456789';

            for (let i = 1; i <= 8; i++) {
                var char = Math.floor(Math.random()
                    * str.length + 1);
                pass += str.charAt(char)
            }
            return pass;
        }

        $('#auto-create-pw').on('change', function () {
            if ($(this).is(':checked') == true) {
                $('#password').val(generateP());
                $('#password').prop("readonly", true);
            } else {
                $('#password').val('');
                $('#password').prop("readonly", false);
            }
        });
        var user_list_DT;

        function loadDataUser() {
            let data = JSON.parse($('script[id=user-data]').html())
            user_list_DT = $('#user-list').DataTable({
                processing: true,
                data: data,
                columns: [
                    {
                        'render': function (data, type, row) {
                            let temp = ``;
                            temp += row.first_name + ' ' + row.last_name;
                            return temp
                        }
                    },
                    {
                        'data': 'username',
                        'className': 'user-username',
                    },
                    {
                        'render': function (data, type, row) {
                            let temp = ``;
                            temp += `unlicense`;
                            return temp
                        }
                    },
                    {
                        'render': function (data, type, row) {
                            let temp = ``;
                            temp += `<a href='users/` + row.id + `'><button class="btn-edit" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight-edit" aria-controls="offcanvasRight">
                                        <i class="fa fa-edit"></i>
                                     </button></a>`;
                            temp += `<button class="btn-del"><i class="fa fa-trash-alt"></i></button>`;
                            return temp
                        }
                    }
                ],
                columnDefs: [{orderable:false, targets: 3}]
            });
        }

        loadDataUser();

        $("#form-create-user").submit(function (event) {
            event.preventDefault();
            let csr = $("input[name=csrfmiddlewaretoken]").val();
            let frm = new SetupFormSubmit($(this));
            $.fn.callAjax(frm.dataUrl, frm.dataMethod, frm.dataForm, csr)
                .then(
                    (res) => {
                        if ($('#offcanvasRight .alert-danger').css('display') != 'none') {
                            $('.alert-danger').hide(500);
                        }
                        $('.alert-success').show(1000);
                        setTimeout(location.reload.bind(location), 3000);
                    },
                    (err) => {
                        $('.alert-danger').show(500);
                        $('.not-valid-username').show();
                        $('.username').css('color', 'red');
                        $('.username').css('background', '#FFF0F5');
                        $('#username').css('border-color', 'red');
                        console.log(err)
                    }
                )
        });

    </script>
{% endblock %}