{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssHeader %}
{% endblock %}
{% block pageAction %}
    <button class="btn btn-outline-primary" type="submit" form="form-create-user">
        <span>
            <span>{% trans 'Save' %}</span>
            <span class="icon">
                <i class="fa-regular fa-floppy-disk"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <div class="row">
        <form
                class="needs-validation" id="form-create-user" data-url="{% url 'UserListAPI' %}"
                data-url-redirect="{% url 'UserList' %}"
                data-method="POST" novalidate
        >
            {% csrf_token %}
            <div class="row">
                <div class="col-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">{% trans 'First Name' %}<span
                                class="field-required"
                        >(*)</span></label>
                        <input
                                type="text" class="form-control" placeholder="A" name="first_name"
                                id="inp-firstname" required
                        >
                        <span class="form-text text-muted">{% trans 'Name of Person' %}</span>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">{% trans "Last Name" %}<span
                                class="field-required"
                        >(*)</span></label>
                        <input
                                class="form-control" type="text" placeholder="Nguyen Van" name="last_name"
                                id="inp-lastname" required
                        >
                        <span class="form-text text-muted">{% trans 'Surname and Middle Names' %}</span>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">{% trans "Full Name" %}</label>
                        <input
                                class="form-control-plaintext" type="text" placeholder="Nguyen Van A" name="full_name"
                                id="inp-fullname" readonly
                        >
                        <span class="form-text text-muted">{% trans 'Full Name of Person' %}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">{% trans 'Email' %}<span
                                class="field-required"
                        >(*)</span></label>
                        <input
                                type="email" class="form-control"
                                placeholder="customer@mtsolution.com.vn"
                                name="email"
                                required
                        >
                        <span class="form-text text-muted">{% trans 'Contact to email address' %}</span>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">{% trans "Select Company" %}</label>
                        <select
                                class="form-select"
                                name="company_current"
                                id="select-box-company"
                                data-method="GET"
                                data-url="{% url "CompanyListAPI" %}"
                                data-keyResp="company_list"
                                required
                        >
                        </select>
                        <span class="form-text text-muted">{% trans 'Select your company' %}</span>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">{% trans 'Phone' %}<span
                                class="field-required"
                        >(*)</span></label>
                        <input
                                type="text" placeholder="(+84) 987-654-321"
                                {#                                        data-mask="(999) 999-999-999"#}
                                class="form-control"
                                name="phone"
                                required
                        >
                        <span class="form-text text-muted">{% trans 'Contact to phone number' %}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">{% trans "User Name" %}<span
                                class="field-required"
                        >(*)</span></label>
                        <input class="form-control" type="text" placeholder="Username" name="username" required>
                        <span class="form-text text-muted">{% trans 'Username to login ' %}</span>
                    </div>
                </div>
            </div>

            <div class="form-check">
                <input type="checkbox" id="auto-create-pw" name="auto-create-pw" class="form-check-input"/>
                <label for="auto-create-pw" class="form-check-label">{% trans 'Auto create password' %}</label>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">{% trans "Password" %}<span
                                class="field-required"
                        >(*)</span></label>
                        <input
                                class="form-control" type="password" placeholder="*****" name="password"
                                id="password" required
                        >
                        <span class="form-text text-muted">{% trans 'Password to login ' %}</span>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="form-group confirm-password">
                        <label class="form-label">{% trans "Confirm Password" %}<span
                                class="field-required"
                        >(*)</span></label>
                        <input
                                class="form-control" type="password" placeholder="*****"
                                id="confirm-password" name="confirm_password" required
                        >
                        <span class="form-text text-muted">{% trans 'Password to login ' %}</span>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" id="require-change-pw" class="form-check-input" disabled>
                <label
                        for="auto-create-pw"
                        class="form-check-label"
                >{% trans 'require change password when first sign in' %}</label>
            </div>
        </form>
    </div>
{% endblock %}
{% block dataHiddenGroup %}
    <input type="text" id="trans-factory"
           data-trans-confirm-password="{% trans 'Passwords does not match' %}"
    >
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/core/account/user_create.js' %}"></script>
{% endblock %}
