{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssHeader %}
{% endblock %}
{% block pageAction %}
    <a href="{% url 'UserEdit' pk=pk %}">
        <button class="btn btn-outline-primary">
        <span>
            <span>{% trans 'Edit' %}</span>
            <span class="icon">
                <i class="fa-regular fa-pen-to-square"></i>
            </span>
        </span>
        </button>
    </a>
{% endblock %}
{% block pageContent %}
    <span id="pageDataHide" data-url="{% url 'UserDetailAPI' pk=pk %}"></span>
    <div class="row">
        <div class="col-6 col-lg-4">
            <div class="form-group">
                <label class="form-label">{% trans "First Name" %}</label>
                <input
                        class="form-control" type="text"
                        id="inp-first_name" readonly
                >
            </div>
        </div>
        <div class="col-6 col-lg-4">
            <div class="form-group">
                <label class="form-label">{% trans "Last Name" %}</label>
                <input class="form-control" type="text" id="inp-last_name" readonly>
            </div>
        </div>
        <div class="col-6 col-lg-4">
            <div class="form-group">
                <label class="form-label">{% trans "Full Name" %}</label>
                <input
                        class="form-control" type="text"
                        id="inp-full_name" readonly
                >
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-4">
            <div class="form-group">
                <label class="form-label">Email</label>
                <input class="form-control" type="text" id="inp-email" readonly>
            </div>
        </div>
        <div class="col-6 col-lg-4">
            <div class="form-group">
                <label class="form-label">{% trans "Company" %}</label>
                <select
                        class="form-select"
                        id="select-box-company"
                        data-url="{% url "CompanyListAPI" %}"
                        data-method="GET"
                        disabled
                >
                </select>
            </div>
        </div>
        <div class="col-6 col-lg-4">
            <div class="form-group">
                <label class="form-label">{% trans "Username" %}</label>
                <input class="form-control" type="text" id="inp-username" readonly>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h6>{% trans 'License' %}</h6>
        <table
                id="datable_company_list" class="table nowrap mb-5 w-100"
                data-url="{% url "CompanyListAPI" %}"
                data-url-redirect="/"
                data-method="get"
        >
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Code" %}</th>
                <th>{% trans "Company Name" %}</th>
                <th>{% trans "Representative" %}</th>
                <th>{% trans "License" %}</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/core/account/user_common.js' %}"></script>
    <script src="{% static 'assets/js/core/account/user_detail.js' %}"></script>
{% endblock %}
