{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssHeader %}
    <style>
        #offcanvasRight {
            width: 80%;
        }
    </style>
{% endblock %}
{% block pageAction %}
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasExample">

    <span class="icon">
        <span class="feather-icon">
            <i data-feather="edit"></i>
        </span>
    </span>
    </button>


    <a
            class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover no-caret flex-shrink-0 d-lg-inline-block d-none"
            href="#" data-bs-toggle="tooltip" data-bs-placement="top" title=""
            data-bs-original-title="Refresh"
    >
        <span class="icon">
            <span class="feather-icon">
                <i data-feather="refresh-cw"></i>
            </span>
        </span>
    </a>
{% endblock %}
{% block pageContent %}
    <div style="padding-left: 20Px;padding-top: 20px; padding-right: 20px;">
        <!-- Form edit -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasTopLabel"
             style="padding-top: 4em;">
            <div class="offcanvas-header" style="border-bottom: 0.01em solid #dcdcdc">
                <h5 id="offcanvasRightLabel">Edit user</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form data-url="" data-url-redirect="/" data-method="PUT" id="form-edit-user">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">First Name</label>
                                <input class="form-control" type="text" value="{{ data.user.first_name }}"
                                       name="first_name"
                                       id="form-firstname">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">Last Name</label>
                                <input class="form-control" type="text" value="{{ data.user.last_name }}"
                                       name="last_name"
                                       id="form-lastname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">{% trans 'Full Name' %}</label>
                                <input class="form-control" type="text" value="{{ data.user.full_name }}"
                                       name="full_name"
                                       id="form-fullname">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                                <input class="form-control" type="text" value="{{ data.user.phone }}"
                                       name="phone"
                                       id="form-fullname">
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" type="text" value="{{ data.user.email }}"
                                           name="email">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label">{% trans "Select Company" %}</label>
                                    <select class="form-select" name="company" disabled>
                                        <option selected>FPT Telecom</option>
                                        <option value="1">MT Solution</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em">
                            <div class="col-5"></div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary" style="margin-left: 3em;">Cập nhật
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
        </div>
        <!-- End form edit -->

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label">First Name</label>
                    <input class="form-control" type="text" value="{{ data.user.first_name }}" name="first_name"
                           id="inp-firstname" readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label">Last Name</label>
                    <input class="form-control" type="text" value="{{ data.user.last_name }}" name="last_name"
                           id="inp-lastname" readonly>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Full Name</label>
            <input class="form-control" type="text" value="{{ data.user.full_name }}" name="full_name"
                   id="inp-fullname" readonly>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="text" value="{{ data.user.email }}" name="email" readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label">{% trans "Select Company" %}</label>
                    <select class="form-select" name="company" disabled>
                        <option selected>FPT Telecom</option>
                        <option value="1">MT Solution</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label">Username</label>
                    <input class="form-control" type="text" value="{{ data.user.username }}" name="username" readonly>
                </div>
            </div>
            <div class="col-3">
                <button type="button" id="btn-resetpw" style="margin-top: 1.2em" class="btn btn-primary">Đổi mật
                    khẩu
                </button>
            </div>
        </div>

        <br>
        <div class="row" style="border: 0.01em solid #dcdcdc">
            <h6>License</h6>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Company Name</th>
                <th scope="col">Employee</th>
                <th scope="col">License</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>FPT Telecom</td>
                <td>Lê Minh</td>
                <td>Sale, eOffice</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>FTEL Telecom</td>
                <td>Lê Minh</td>
                <td>Sale, HRM</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/core/account/user_detail.js' %}"></script>
{% endblock %}
