{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssHeader %}
{% endblock %}
{% block pageAction %}
    <button type="submit" form="form-create-user" style="background: none; border: none">
        <span class="icon">
            <span class="feather-icon">
                <i data-feather="save"></i>
            </span>
        </span>
    </button>

    <a
            class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover no-caret flex-shrink-0 d-lg-inline-block d-none"
            href="#" data-bs-toggle="tooltip" data-bs-placement="top" title=""
            data-bs-original-title="Refresh"
    >
        <span class="icon">
            <span class="feather-icon">
                <i data-feather="refresh-cw"></i>
            </span>
        </span>
    </a>
{% endblock %}
{% block pageContent %}
    <div style="padding-left: 20Px;padding-top: 20px; padding-right: 20px;">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-9">
                <form id="form-create-user" data-url="{% url 'UserListAPI' %}" data-url-redirect="{% url 'UserList' %}"
                      data-method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">{% trans 'First Name' %}</label>
                                <input type="text" class="form-control" placeholder="A" name="first_name" required
                                       id="inp-firstname">
                                <span class="form-text text-muted">{% trans 'Name of Person' %}</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">{% trans "Last Name" %}</label>
                                <input class="form-control" type="text" placeholder="Nguyen Van" name="last_name"
                                       required id="inp-lastname">
                                <span class="form-text text-muted">{% trans 'Surname and Middle Names' %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">{% trans "Full Name" %}</label>
                        <input class="form-control" type="text" placeholder="Nguyen Van A" name="full_name" disabled
                               id="inp-fullname">
                        <span class="form-text text-muted">{% trans 'Full Name of Person' %}</span>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">{% trans 'Email' %}</label>
                                <input
                                        type="email" class="form-control"
                                        placeholder="customer@mtsolution.com.vn"
                                        name="email"
                                        required
                                >
                                <span class="form-text text-muted">{% trans 'Contact to email address' %}</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">{% trans "Select Company" %}</label>
                                <select
                                        class="form-select"
                                        name="company_current"
                                        id="select-box-company"
                                        data-method="GET"
                                        data-url="{% url "CompanyListAPI" %}"
                                        required>
                                </select>
                                <span class="form-text text-muted">{% trans 'Select your company' %}</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="form-label">{% trans "User Name" %}</label>
                        <input class="form-control" type="text" placeholder="Username" name="username" required>
                        <span class="form-text text-muted">{% trans 'Username to login ' %}</span>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="auto-create-pw" name="auto-create-pw" class="form-check-input"/>
                        <label for="auto-create-pw" class="form-check-label">{% trans 'Auto create password' %}</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label">{% trans "Password" %}</label>
                                <input class="form-control" type="password" placeholder="*****" name="password"
                                       id="password" required>
                                <span class="form-text text-muted">{% trans 'Password to login ' %}</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group confirm-password">
                                <label class="form-label">{% trans "Confirm Password" %}</label>
                                <input class="form-control" type="password" placeholder="*****"
                                       id="confirm-password" required>
                                <span class="form-text text-muted">{% trans 'Password to login ' %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="require-change-pw" class="form-check-input" disabled>
                        <label for="auto-create-pw"
                               class="form-check-label">{% trans 'require change password when first sign in' %}</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsFooter %}
    <script src="{% static 'assets/js/core/account/user_create.js' %}"></script>
{% endblock %}
