<table style="border-collapse: collapse; width: 100%; height: 12px;" border="1"
       data-mce-style="border-collapse: collapse; width: 100%; height: 12px;">
    <tbody>
    <tr style="height: 12px;" data-mce-style="height: 12px;">
        <td style="width: 27.5448%; height: 12px;" data-mce-style="width: 27.5448%; height: 12px;"><p><img alt=""
                                                                                                           height="74"
                                                                                                           loading="lazy"
                                                                                                           src="http://ngoctrinh.sit.mtsolution.com.vn/media/public/80785ce8f13848b8b7fa5fb1971fe204/global/logo.png"
                                                                                                           width="147"
                                                                                                           data-mce-src="http://ngoctrinh.sit.mtsolution.com.vn/media/public/80785ce8f13848b8b7fa5fb1971fe204/global/logo.png">
        </p></td>
        <td style="width: 48.3905%; height: 12px; text-align: center;"
            data-mce-style="width: 48.3905%; height: 12px; text-align: center;"><p style="text-align: center;"
                                                                                   data-mce-style="text-align: center;">
            <span style="font-size: 26px;"
                  data-mce-style="font-size: 26px;"><strong>ĐỀ NGHỊ TẠM ỨNG</strong></span><span
                style="font-size: 14px;" data-mce-style="font-size: 14px;">​</span></p></td>
        <td style="width: 23.6733%; text-align: center;" data-mce-style="width: 23.6733%; text-align: center;"><p
                style="text-align: left;" data-mce-style="text-align: left;"><span style="font-size: 24px;"
                                                                                   data-mce-style="font-size: 24px;">&nbsp;<span
                style="font-size: 14px;" data-mce-style="font-size: 14px;"> Mã số:</span></span></p>
            <p style="text-align: left;" data-mce-style="text-align: left;"><span style="font-size: 14px;"
                                                                                  data-mce-style="font-size: 14px;">&nbsp; &nbsp;Hiệu lực:</span>
            </p></td>
    </tr>
    </tbody>
</table>
<p><br></p>
<p style="text-align: right;" data-mce-style="text-align: right;"><span style="font-size: 14px;"
                                                                        data-mce-style="font-size: 14px;">Số:.............................&nbsp; &nbsp;</span><span
        style="font-size: 14px;" data-mce-style="font-size: 14px;">Ngày: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="_current_date"
        id="idx-KBTLIigaTb4hIq8C" data-mce-style="padding: 3px; background-color: #f1f1f1;">#Current date</span>​</span>
</p>
<p><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Người đề nghị tạm ứng: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="employee_inherit__full_name"
        id="idx-xepg8oDVFGxkbdqR"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Employee inherited fullname</span></span></p>
<p><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Đơn vị công tác: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="employee_inherit__group__title"
        id="idx-XRtMZXuX67YadkhW"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Employee inherited group</span>​</span></p>
<p><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Lý do tạm ứng: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="title" id="idx-lkrelnvmeJanee2b"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Title</span>​</span></p>
<p><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Hình thức tạm ứng: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="method"
        id="idx-S2A8aDE7PXYHwktJ"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Advance payment method</span>​ (0: Tiền mặt; 1: Chuyển khoản)</span>
</p>
<p><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Số tiền đề nghị tạm ứng: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="advance_value"
        id="idx-zvfF7iRNqQ7DmHbl"
        data-mce-style="padding: 3px; background-color: #f1f1f1;">#Advance value</span>​ VND</span></p>
<p><em><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Bằng chữ: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="advance_value_by_words"
        id="idx-oGaR83qXs7GLeWaz" data-mce-style="padding: 3px; background-color: #f1f1f1;">#Advance payment value (by words)</span>​</span></em>
</p>
<p><br></p>
<p><span style="background-color: #fbeeb8;" data-mce-style="background-color: #fbeeb8;"><em><span
        style="text-decoration: underline;" data-mce-style="text-decoration: underline;"><strong><span
        style="font-size: 14px; background-color: #fbeeb8;"
        data-mce-style="font-size: 14px; background-color: #fbeeb8;">Phần dành cho Tạm ứng bằng hình thức chuyển khoản:</span></strong></span></em></span>
</p>
<p><span style="font-size: 14px; background-color: #fbeeb8;"
         data-mce-style="font-size: 14px; background-color: #fbeeb8;">Đơn vị/ Cá nhân nhận tiền: ..............................................................................</span>
</p>
<p><span style="font-size: 14px; background-color: #fbeeb8;"
         data-mce-style="font-size: 14px; background-color: #fbeeb8;">Số tài khoản: ....................................................................................................</span>
</p>
<p><span style="font-size: 14px; background-color: #fbeeb8;"
         data-mce-style="font-size: 14px; background-color: #fbeeb8;">Tại ngân hàng: .................................................................................................</span>
</p>
<p><em><span style="text-decoration: underline;" data-mce-style="text-decoration: underline;"><strong><span
        style="font-size: 14px;" data-mce-style="font-size: 14px;">Thông tin thanh toán:</span></strong></span></em>
</p>
<p><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Thời hạn nhận Tạm ứng: .................................... Từ ngày: ................................. Đến ngày: ................................</span>
</p>
<p><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Thời hạn Hoàn ứng: ........................................... Hạn cuối hoàn ứng: <span
        style="padding: 3px; background-color: #f1f1f1;" class="params-data" data-code="return_date"
        id="idx-TYfJk1cn5IW4pCdI" data-mce-style="padding: 3px; background-color: #f1f1f1;">#*Return date</span>​</span>
</p>
<p><em><span style="text-decoration: underline;" data-mce-style="text-decoration: underline;"><strong><span
        style="font-size: 14px;"
        data-mce-style="font-size: 14px;">Chứng từ kèm theo gồm:</span></strong></span></em><strong><span
        style="font-size: 14px;" data-mce-style="font-size: 14px;"><span class="mce-nbsp-wrap">&nbsp; </span><span
        class="mce-nbsp-wrap">&nbsp;</span></span></strong></p>
<p><strong><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Số chứng từ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Loại chứng từ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ngày&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Gốc&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Sao&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Ghi chú</span></strong>
</p>
<p><strong><span style="font-size: 14px;" data-mce-style="font-size: 14px;"><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span></span></strong><span
        style="font-size: 14px;" data-mce-style="font-size: 14px;"><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span></span><span
        style="font-size: 14px;" data-mce-style="font-size: 14px;">..........<span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>...........<span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>..........<span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>..........<span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>..........<span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>..........</span></p>
<p><span style="font-size: 14px;" data-mce-style="font-size: 14px;"><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>..........<span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>...........<span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>..........<span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>..........<span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>..........<span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>..........</span></p>
<p><span style="text-decoration: underline; background-color: #c2e0f4;"
         data-mce-style="text-decoration: underline; background-color: #c2e0f4;"><em><strong><span
        style="font-size: 14px; background-color: #c2e0f4;"
        data-mce-style="font-size: 14px; background-color: #c2e0f4;">Phần dành cho kế toán kiểm tra số dư Tạm ứng:</span></strong></em></span>
</p>
<p><span style="font-size: 14px; background-color: #c2e0f4;"
         data-mce-style="font-size: 14px; background-color: #c2e0f4;">Số dư nợ Tạm ứng của người đề nghị tính đến ngày tạm ứng này: ........................................................................</span>
</p>
<p><br></p>
<p><strong><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Người đề nghị<span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span> <span class="mce-nbsp-wrap">&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp; </span>Trưởng đơn vị<span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap"> &nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp; &nbsp;</span><span
        class="mce-nbsp-wrap"> &nbsp;</span><span class="mce-nbsp-wrap">&nbsp; &nbsp;</span><span class="mce-nbsp-wrap">&nbsp;</span>Kế toán trưởng<span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span> <span class="mce-nbsp-wrap">&nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;</span><span class="mce-nbsp-wrap"> &nbsp;&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;</span><span class="mce-nbsp-wrap"> &nbsp;&nbsp;</span><span class="mce-nbsp-wrap">&nbsp;</span><span
        class="mce-nbsp-wrap">&nbsp;&nbsp;&nbsp;</span>Phê duyệt</span></strong></p>
<p><br></p>
<p><br></p>
<table style="border-collapse: collapse; width: 46.054%;" border="1"
       data-mce-style="border-collapse: collapse; width: 46.054%;">
    <tbody>
    <tr>
        <td style="width: 100%;" data-mce-style="width: 100%;"><p><em><strong>Duyệt chi nếu có</strong></em></p></td>
    </tr>
    </tbody>
</table>
<p><br></p>
<p><br></p>