{% extends 'base.html' %}
{% load i18n static %}

{% block cssHeader %}
    <style>
        #btn-collapse {
            display: none;
        }

        @media screen and (min-width: 767px) {
            #btn-collapse {
                display: block;
            }

            #idx-box-control {
                padding-right: 1rem;
                border-right: 1px solid #f1f1f1;
            }

            #idx-box-data {
                padding-left: 1rem;
            }
        }

        .my-custom-align {
            vertical-align: top !important;
            text-align: left;
        }
    </style>
{% endblock %}

{% block pageContent %}
    {{ data|json_script:"idx-template-link" }}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12" id="idx-box-control">
            <div class="w-100 mb-5">
                <div class="form-group">
                    <label for="inp-application" class="form-label required">{% trans 'Application' %}</label>
                    <select
                            id="inp-application" class="form-select"
                            data-url="{% url 'TenantApplicationListAPI' %}"
                            data-params='{"allow_import":true,"pageSize":-1}'
                            data-method="GET" data-keyResp="tenant_application_list"
                            required
                    ></select>
                </div>
                <a
                        href="#"
                        id="idx-link-template"
                        style="display: none;"
                        data-static-url="{% static '' %}"
                >{% trans 'Click here to download template file' %}.</a>
            </div>
            <div class="w-100 mb-5">
                <div class="form-group">
                    <label
                            for="formFile" class="form-label required"
                    >{% trans 'Choose the Excel file data' %}</label>
                    <small class="text-muted form-text">
                        {% blocktranslate with max_size='5' %}Maximum size: {{ max_size }} MB{% endblocktranslate %}
                    </small>
                    <input class="form-control" type="file" id="formFile" disabled required>
                    <small class="text-muted form-text" id="file-remarks"></small>
                </div>
            </div>
            <div class="w-100 mb-3">
                <div class="row mb-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="inpStartRecord" class="form-label">{% trans 'Starting' %}</label>
                            <div class="input-group">
                                <button class="btn btn-xs btn-outline-light" id="btnSetMin">{% trans 'Min' %}</button>
                                <input type="number" id="inpStartRecord" class="form-control" min="1" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="inpEndRecord" class="form-label">{% trans 'Ending' %}</label>
                            <div class="input-group">
                                <input type="number" id="inpEndRecord" class="form-control" min="1" disabled>
                                <button class="btn btn-xs btn-outline-light" id="btnSetMax">{% trans 'Max' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button
                        class="btn btn-primary w-100 mb-1" disabled id="btnLoadFileData"
                >{% trans 'Load File Data' %}</button>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12" id="idx-box-data">
            <div class="w-100 d-flex mb-1">
                <button
                        class="btn btn-xs btn-icon btn-soft-secondary"
                        id="btn-collapse"
                >
                    <span class="icon"><i class="fa-solid fa-angles-left"></i></span>
                </button>
                <a href="#" class="ml-3" id="btnPageListLink" style="display:none;" target="_blank"><small>{% trans 'List page' %}</small></a>
                <a href="#" class="ml-3" id="btnPageCreateLink" style="display:none;" target="_blank"><small>{% trans 'Create page' %}</small></a>
            </div>

            <div class="w-100">
                <table class="table w-100 no-wrap" id="tbl-display-data"></table>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsHeaderUnCompress %}
    <script src="{% static 'vendors/xlsx/dist/xlsx.full.min.js' %}"></script>
    <script src="{% static 'assets/js/additional-methods.min.js' %}"></script>
{% endblock %}

{% block jsFooter %}
    <script>
        $(document).ready(function () {
            class RenderData {
                constructor(props) {
                    this.templateConfig = {
                        url: '#',
                        template_link: null,
                        validate: {},
                        columns: [],
                        ...props?.['templateConfig'] || {}
                    };
                    this.tbl$ = props?.['table'] || $('#tbl-display-data');
                    if (!$(this.tbl$).attr('id')) this.tbl$.attr('id', $x.fn.randomStr(32));

                    this.bodyData = [];

                    this.keyMap = {};
                    (this.templateConfig.columns || []).map(
                        (item) => {
                            let input_title = item?.['name'] || null;
                            let input_name = item?.['input_name'] || null;
                            if (input_name && input_title) this.keyMap[input_name] = input_title;
                        }
                    )
                }

                generate_head() {
                    let columnsConfig = this.templateConfig.columns || [];
                    if (!columnsConfig) return false;

                    //
                    let row$ = $(`<div class="row"></div>`);
                    columnsConfig.map(
                        (item) => {
                            let col$ = $(`<div class="col">${item.name}</div>`);
                            let colConfig = item?.['col_attrs'] || null;
                            if (colConfig) {
                                Object.keys(colConfig).map(
                                    (key) => {
                                        col$.attr(key, colConfig[key]);
                                    }
                                )
                            }
                            col$.append(`<i class="fa-solid fa-circle-info ml-1" data-bs-toggle="tooltip" title="${item.type} - ${item.remarks}"></i>`);
                            row$.append(col$);
                        }
                    )
                    // setup thead
                    let thead$ = $(`<thead>
                        <tr>
                            <th>${row$.prop('outerHTML')}</th>
                            <th>#</th>
                        </tr>
                    </thread>`);
                    // add thead to table
                    this.tbl$.append(thead$);
                }

                get_columns() {
                    let columnsConfig = this.templateConfig.columns || [];

                    function generate_col(config) {
                        let colAttrs = config?.['col_attrs'] || {'class': 'col'};
                        let col$ = $(`<div></div>`);
                        Object.keys(colAttrs).map(
                            (key) => {
                                col$.attr(key, colAttrs[key]);
                            }
                        )
                        return col$;
                    }

                    function generate_form_group(data, config) {
                        let group$ = $(`<div class="form-group"></div>`);
                        let inp$ = $(`<input class="form-control" value="${data ? data : ''}" />`);

                        let inpName = config?.['input_name'] || null;
                        if (inpName) inp$.attr('name', inpName);

                        let inpAttrs = {
                            'args': !!(config?.['input_attrs'] || null) ? [] : ['disabled', 'readonly'],
                            'kwargs': {
                                class: 'form-control-plaintext',
                            },
                            ...config?.['input_attrs'] || {}
                        };
                        inpAttrs.args.map(
                            (attData) => inp$.prop(attData, true)
                        )
                        Object.keys(inpAttrs.kwargs).map(
                            (key) => {
                                inp$.attr(key, inpAttrs.kwargs[key]);
                            }
                        )

                        group$.append(inp$);
                        return group$;
                    }

                    return [
                        {
                            render: (data, type, row) => {
                                let cell$ = $(`<div class="row"></div>`);
                                columnsConfig.map(
                                    (config, index) => {
                                        let col$ = generate_col(config);
                                        let group$ = generate_form_group(row[index], config);

                                        col$.append(group$);
                                        cell$.append(col$);
                                    }
                                )
                                return `<form data-url="${this.templateConfig.url}" data-method="POST" id="${$x.fn.randomStr(32)}">${cell$.prop('outerHTML')}</form>`;
                            }
                        },
                        {
                            width: '10%',
                            className: 'my-custom-align',
                            render: (data, type, row) => {
                                return `<button class="btn btn-soft-primary btnSubmit" type="button" disabled><i class="fa-regular fa-floppy-disk"></i></button>`;
                            }
                        }
                    ]
                }

                render_data(data) {
                    // not process when data type is not correct
                    if (!(data && Array.isArray(data) && data.length > 0)) return false;

                    $x.fn.showLoadingPage();
                    setTimeout(
                        () => {
                            this.bodyDatas = data;
                            this.tbl$.DataTable().clear().rows.add(this.bodyDatas).draw();
                            setTimeout(
                                () => $x.fn.hideLoadingPage(),
                                300
                            )
                        },
                        300
                    )
                }

                render_frame() {
                    let clsThis = this;

                    // destroy datatable if exist
                    if ($.fn.DataTable.isDataTable('#' + this.tbl$.attr('id'))) this.tbl$.DataTable().destroy();

                    this.tbl$.empty();

                    this.generate_head();

                    this.tbl$.DataTableDefault({
                        searching: true,
                        autoWidth: false,
                        columns: this.get_columns(),
                        data: [],
                        initComplete: function () {
                            $x.fn.hideLoadingPage();
                        },
                        rowCallback: function (row, data, displayNum, displayIndex, dataIndex) {
                            $(row).attr('data-url', '#');
                            $(row).attr('data-method', "POST");
                            let frm$ = $(row).find('form');
                            let btn$ = $(row).find('button.btnSubmit');

                            btn$.off('click').on('click', function () {
                                $(this).prop('disabled', true);
                                frm$.trigger('submit');
                                setTimeout(
                                    () => $(this).prop('disabled', false),
                                    1000
                                )
                            });

                            function checkValid() {
                                btn$.prop('disabled', !frm$.valid());
                            }

                            let validator = new SetupFormSubmit(frm$).validate({
                                rules: clsThis.templateConfig?.['validate'] || {},
                                submitHandler: function (form, event) {
                                    let frm = new SetupFormSubmit(form);
                                    $.fn.callAjax2({
                                        url: frm.dataUrl,
                                        method: frm.dataMethod,
                                        data: frm.dataForm,
                                    }).then(
                                        (resp) => {
                                            let data = $.fn.switcherResp(resp);
                                            if (data) {
                                                $.fn.notifyB({
                                                    'description': $.fn.gettext('Successfully'),
                                                }, 'success');
                                                $(row).addClass('bg-success bg-opacity-25 text-dark');
                                            }
                                        },
                                        (errs) => {
                                            $.fn.switcherResp(errs, {
                                                'notifyOpts': {
                                                    'keyNotMatch': '',
                                                    'replaceKey': clsThis.keyMap,
                                                    'isShowKey': true
                                                },
                                                'swalOpts': {'allowOutsideClick': true},
                                            });
                                            if (errs && typeof errs === 'object' && errs.hasOwnProperty('data')) {
                                                let data = errs['data'];
                                                if (data && typeof data === 'object' && data.hasOwnProperty('errors')) {
                                                    let errors = data['errors'];
                                                    if (errors && typeof errors === 'object') {
                                                        validator.showErrors(errors);
                                                    }
                                                }
                                            }
                                            $(row).addClass('bg-danger bg-opacity-25 text-dark');
                                        },
                                    )
                                }
                            });

                            setTimeout(() => checkValid(), 100);

                            $(row).find('input:not(:disabled):not(:read-only):not(.form-control-plaintext)').off('input').on('input', checkValid)
                        },
                    })
                }
            }

            class ImportController {
                constructor(opts = {}) {
                    this.opts = opts;
                    this.boxData$ = $('#idx-box-data');
                    this.boxControl$ = $("#idx-box-control");
                    this.linkTemplateList$ = $('#idx-link-template');
                    this.inpFile$ = $('#formFile');
                    this.inpApp$ = $('#inp-application');
                    this.starting$ = $('#inpStartRecord');
                    this.ending$ = $('#inpEndRecord');
                    this.btnSetMin$ = $('#btnSetMin');
                    this.btnSetMax$ = $('#btnSetMax');
                    this.btnPageList$ = $('#btnPageListLink');
                    this.btnPageCreate$ = $('#btnPageCreateLink')

                    this.templateData = JSON.parse($('#idx-template-link').text());
                    this.templateSelectedData = {};
                    this.previousState = '1';  // 0: hide, 1: show
                }

                update_max_start_end(data_length) {
                    this.starting$.val(1).attr('min', 1).attr('max', data_length).prop('disabled', false);
                    this.ending$.val(data_length).attr('min', 1).attr('max', data_length).prop('disabled', false);
                }

                readerBufferFile(f) {
                    let clsThis = this;
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        let data = new Uint8Array(e.target.result);
                        let workbook = XLSX.read(data, {type: 'array'});

                        // Get first worksheet
                        let worksheetName = workbook.SheetNames[0];
                        let worksheet = workbook.Sheets[worksheetName];

                        // Convert to JSON
                        let jsonData = XLSX.utils.sheet_to_json(worksheet, {header: 1});

                        // update remarks
                        let sizeToMB = f.size / (1024 * 1024);
                        $('#file-remarks').text(`${$.fn.gettext("Size")}: ${sizeToMB.toFixed(2)}MB  ●  ${$.fn.gettext("Total rows")}: ${jsonData.length - 1}`);

                        // update starting and ending records
                        clsThis.update_max_start_end(jsonData.length - 1);

                        $x.fn.hideLoadingPage();
                        $('#btnLoadFileData').prop('disabled', false).on('click', function () {
                            let startNum = Number.parseInt(clsThis.starting$.val());
                            let endNum = Number.parseInt(clsThis.ending$.val());
                            if (startNum <= endNum) clsThis.clsRenderData.render_data(jsonData.slice(startNum, endNum + 1));
                            else $.fn.notifyB({
                                'description': $.fn.gettext('The feature is not support import file data'),
                            })

                        })
                    };
                    reader.readAsArrayBuffer(f);
                }

                on_events() {
                    let clsThis = this;
                    this.clsRenderData = null;

                    this.inpApp$.initSelect2().on('change', function () {
                        let idx = $(this).val();
                        clsThis.templateSelectedData = clsThis.templateData[idx];
                        if (clsThis.templateSelectedData && clsThis.templateSelectedData?.['template_link']) {
                            clsThis.linkTemplateList$.attr(
                                'href',
                                clsThis.linkTemplateList$.attr('data-static-url') + clsThis.templateSelectedData['template_link']
                            ).show();
                            clsThis.inpFile$.prop('disabled', false);

                            //
                            clsThis.clsRenderData = new RenderData({
                                'templateConfig': clsThis.templateSelectedData,
                            });
                            clsThis.clsRenderData.render_frame();

                            //
                            let urlList = clsThis.templateSelectedData?.['url_list'] || null;
                            urlList ? clsThis.btnPageList$.attr('href', urlList ).show() : clsThis.btnPageList$.attr('href', '#' ).hide();

                            //
                            let urlCreate = clsThis.templateSelectedData?.['url_create'] || null;
                            urlCreate ? clsThis.btnPageCreate$.attr('data-href', urlCreate ).show() : clsThis.btnPageCreate$.attr('data-href', '#' ).hide();
                        } else {
                            clsThis.linkTemplateList$.attr('href', '#').hide();
                            $.fn.notifyB({
                                'description': $.fn.gettext('The feature is not support import file data')
                            }, 'failure');

                            clsThis.btnPageList$.attr('href', '#' ).hide();
                            clsThis.btnPageCreate$.attr('data-href', '#' ).hide();
                        }
                    });

                    this.inpFile$.on('change', function (event) {
                        $x.fn.showLoadingPage();

                        let files = event.target.files;
                        let f = files[0];
                        let sizeToMB = f.size / (1024 * 1024);

                        if (sizeToMB > 5) {
                            $.fn.notifyB({
                                'description': $.fn.gettext('File size must be less than or equal to __size__').replaceAll('__size__', '5MB')
                            }, 'failure');
                            this.value = "";
                            $x.fn.hideLoadingPage();
                            return;
                        }

                        setTimeout(() => {
                            clsThis.readerBufferFile(f);
                        }, 100);
                    });

                    $('#btn-collapse').on('click', function () {
                        let i$ = $(this).find('i');
                        if (i$.length > 0) {
                            let currentRotate = i$.attr('data-rotate');

                            i$.css('transition-duration', '0.5s');
                            i$.css('transition-property', 'transform');

                            clsThis.boxControl$.animate(
                                {
                                    width: "toggle",
                                    opacity: "toggle"
                                },
                                {
                                    'duration': 400,
                                    'start': function () {
                                        clsThis.boxControl$.children().fadeOut('fast');
                                        if (!clsThis.boxData$.attr('data-old-class')) clsThis.boxData$.attr('data-old-class', clsThis.boxData$.getClass('^col-*').join(" "));
                                        if (!clsThis.boxControl$.attr('data-old-class')) clsThis.boxControl$.attr('data-old-class', clsThis.boxControl$.getClass('^col-*').join(" "));

                                        // show
                                        if (clsThis.previousState === '0') clsThis.boxData$.alterClass('col-*').addClass(clsThis.boxData$.attr('data-old-class'));
                                    },
                                    'done': function () {
                                        clsThis.boxControl$.children().fadeIn('fast');
                                        if (!clsThis.boxData$.attr('data-old-class')) clsThis.boxData$.attr('data-old-class', clsThis.boxData$.getClass('^col-*').join(" "));
                                        if (!clsThis.boxControl$.attr('data-old-class')) clsThis.boxControl$.attr('data-old-class', clsThis.boxControl$.getClass('^col-*').join(" "));

                                        // hide
                                        if (clsThis.previousState === '1') clsThis.boxData$.alterClass('col-*').addClass('col-12');

                                        if (clsThis.previousState === '0') clsThis.previousState = '1';
                                        else clsThis.previousState = '0';
                                    }
                                }
                            )

                            if (currentRotate) {
                                i$.removeAttr('data-rotate');
                                i$.css({'transform': 'unset'});
                            } else {
                                i$.attr('data-rotate', '1');
                                i$.css({'transform': 'rotate(' + 180 + 'deg)'});
                            }
                        }
                    });

                    this.starting$.on('change', function () {
                        let valueEnd = clsThis.ending$.val();
                        let valueStart = clsThis.starting$.val();

                        if (Number.parseInt(valueEnd) < Number.parseInt(valueStart)) {
                            $.fn.notifyB({
                                'description': $.fn.gettext("Starting record must be equal or less than ending records")
                            }, 'failure');
                            $(this).val(valueEnd);
                        }
                    })

                    this.ending$.on('change', function () {
                        let valueEnd = clsThis.ending$.val();
                        let valueStart = clsThis.starting$.val();

                        if (Number.parseInt(valueEnd) < Number.parseInt(valueStart)) {
                            $.fn.notifyB({
                                'description': $.fn.gettext("Starting record must be equal or less than ending records")
                            }, 'failure');
                            $(this).val(valueStart);
                        }
                    })

                    this.btnSetMin$.on('click', function () {
                        let inp$ = $(this).siblings('input');
                        if (inp$.length > 0 && inp$.prop('disabled') === false) {
                            let minData = inp$.attr('min');
                            if (typeof minData === 'string') inp$.val(minData);
                        }
                    })

                    this.btnSetMax$.on('click', function () {
                        let inp$ = $(this).siblings('input');
                        if (inp$.length > 0 && inp$.prop('disabled') === false) {
                            let maxData = inp$.attr('max');
                            if (typeof maxData === 'string') inp$.val(maxData);
                        }
                    })

                    this.btnPageList$.on('click', function (){
                        let dataHref = $(this).attr('data-href');
                        if (dataHref){
                            window.open(dataHref, '_blank');
                        }
                    })

                    this.btnPageCreate$.on('click', function (){
                        let dataHref = $(this).attr('data-href');
                        if (dataHref){
                            window.open(dataHref, '_blank');
                        }
                    })
                }

                init() {
                    this.on_events();
                }
            }

            new ImportController().init();
        })
    </script>
{% endblock %}