{% extends 'base.html' %}
{% load i18n static %}

{% block cssHeader %}
    <link rel="stylesheet" href="{% static 'fimport/fimport.css' %}">
    <style>
        #btn-collapse {
            display: none;
        }

        @media screen and (min-width: 767px) {
            #btn-collapse {
                display: block;
            }

            #idx-box-control {
                padding-right: 1rem;
                border-right: 1px solid #f1f1f1;
            }

            #idx-box-data {
                padding-left: 1rem;
            }
        }

        .my-custom-align {
            vertical-align: top !important;
            text-align: left;
        }
    </style>
{% endblock %}

{% block pageContent %}
    {{ data|json_script:"idx-template-link" }}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12" id="idx-box-control">
            <div class="w-100 mb-5">
                <div class="form-group mb-5">
                    <label for="inp-application" class="form-label required">{% trans 'Application' %}</label>
                    <select
                            id="inp-application" class="form-select"
                            data-url="{% url 'TenantApplicationListAPI' %}"
                            data-params='{"allow_import":true,"pageSize":-1}'
                            data-method="GET" data-keyResp="tenant_application_list"
                            required
                    ></select>
                </div>
                <div class="w-100">
                    <a
                            href="#"
                            id="idx-link-template"
                            style="display: none;"
                            data-static-url="{% static '' %}"
                    ><i class="fa-solid fa-file-arrow-down mr-1"></i>{% trans 'Click here to download template file' %}.</a>
                </div>
                <div class="w-100">
                    <a
                            href="{% static 'fimport/template/mega-import.xlsx' %}"
                    ><i class="fa-solid fa-file-arrow-down mr-1"></i>{% trans "Import template file of all feature" %}.</a>
                </div>
            </div>
            <div class="w-100 mb-3">
                <div class="form-group">
                    <label
                            for="formFile" class="form-label required"
                    >{% trans 'Choose the Excel file data' %}</label>
                    <small class="text-muted form-text">
                        {% blocktranslate with max_size='5' %}Maximum size: {{ max_size }} MB{% endblocktranslate %}
                    </small>
                    <input
                            class="form-control" type="file" id="formFile"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                            disabled required
                    >
                    <small class="text-muted form-text" id="file-remarks"></small>
                </div>
            </div>
            <div class="w-100 mb-3">
                <div class="form-group">
                    <label for="inp-sheet-name" class="form-label required">{% trans 'Sheet name' %}</label>
                    <select id="inp-sheet-name" class="form-select"></select>
                    <small class="text-muted form-text" id="sheet-remarks"></small>
                </div>
            </div>
            <div class="w-100 mb-3">
                <div class="row mb-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="inpStartRecord" class="form-label">{% trans 'Starting' %}</label>
                            <div class="input-group">
                                <button class="btn btn-xs btn-outline-light" id="btnSetMin">{% trans 'Min' %}</button>
                                <input type="number" id="inpStartRecord" class="form-control" min="1" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="inpEndRecord" class="form-label">{% trans 'Ending' %}</label>
                            <div class="input-group">
                                <input type="number" id="inpEndRecord" class="form-control" min="1" disabled>
                                <button class="btn btn-xs btn-outline-light" id="btnSetMax">{% trans 'Max' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button
                        class="btn btn-primary w-100 mb-1 no-transform" disabled id="btnLoadFileData"
                >{% trans 'Load File Data' %}</button>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12" id="idx-box-data">
            <div class="w-100 d-flex mb-1" id="idx-box-data-btn-util-application">
                <button
                        class="btn btn-xs btn-icon btn-soft-secondary"
                        id="btn-collapse"
                >
                    <span class="icon"><i class="fa-solid fa-angles-left"></i></span>
                </button>
                <span class="badge badge-primary ml-3" id="spanAppNameSelected"></span>
                <a
                        href="#" class="ml-3" id="btnPageListLink" style="display:none;" target="_blank"
                ><small>{% trans 'List page' %}</small></a>
                <a
                        href="#" class="ml-3" id="btnPageCreateLink" style="display:none;" target="_blank"
                ><small>{% trans 'Create page' %}</small></a>
            </div>
            <div class="w-100 mb-1 p-3 bg-blue-light-5" id="group-tbl-utils" style="display: none;"></div>
            <div class="w-100">
                <table class="table w-100 no-wrap border-bottom" id="tbl-display-data"></table>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsHeaderUnCompress %}
    <script src="{% static 'vendors/xlsx/dist/xlsx.full.min.js' %}"></script>
    <script src="{% static 'assets/js/additional-methods.min.js' %}"></script>
{% endblock %}

{% block jsFooter %}
    <script src="{% static 'fimport/fimport.js' %}"></script>
{% endblock %}