.action-center {
    text-align: center;
}

.btn-save-group-level {
    padding: 0.5rem;
    background-color: #007D88;
    color: #ffffff;
    text-align: center;
    border-style: solid;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-right: 15px;
    font-weight: normal;
}

.btn-cancel-group-level {
    padding: 0.5rem;
    background-color: #ffffff;
    color: #007D88;
    text-align: center;
    border-style: solid;
    border-radius: 0.3rem;
    border-color: #007D88;
    cursor: pointer;
    margin-left: 15px;
    font-weight: normal;
}