.div-input {
    min-height: 38px;
    margin-top: -0.4px
}

.input-group-wth-btn .input-affix-wrapper .input-suffix {
    top: unset;
}

.chip input {
    position: unset;
    height: 15px;
    width: 15px;
    left: unset;
    top: unset;
    opacity: unset;
    cursor: unset;
}

.chip .form-check {
    display: unset;
    min-height: unset;
    margin-bottom: unset;
}



.modal-body-warning-add-product {
    text-align: center;
}

.row.modal-footer-warning-add-product {
    position: relative;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #c7c7c7;
}

.row.modal-footer-warning-add-product::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #b5b5b5;
}

.btn-cancel-add-product {
    color: red;
}

.btn-continue-add-product {
    color: #00D67F;
}

.disabled-custom-show:disabled {
    color: #0c0c0c;
}

.modal-xlg-custom {
    max-width: 1680px;
    margin-left: 100px;
}

.modal-fullscreen.modal-fullscreen-custom {
    width: 97vw;
    height: 90%;
}

.inline-elements {
    display: inline-block;
}













.select-filter {
    margin-left: -35px;
}







.fa-angle-double-up {
    color: #007D88;
    text-align: right;
}

.fa-angle-double-down {
    color: #007D88;
    text-align: right;
}

ul.quotation-tabs li.quotation-tab-item {
  margin-right: 10px;
}

.fa-info-circle {
    color: #298dff;
}

.option-btn-checked {
    background-color: #f7f7f7;
}

.expired-price {
    color: #EB5757CC;
}

.valid-price {
    color: #00D67F;
}

.fa-angle-down {
    font-size: x-small;
    color: #c7c7c7;
}
