.input-affix-wrapper .input-suffix {
    padding: unset;
}

.div-input {
    min-height: 38px;
    margin-top: -0.4px
}

.inline-elements-badge {
    display: inline-block;
    background-color: #ebfcf5;
    border-radius: 0.5rem;
    padding: 5px;
    font-size: 80%;
    min-width: 25px;
    text-align: center;
    text-transform: capitalize;
}

.inline-elements-badge input {
    display: inline-block;
    margin-left: unset;
}

.custom-btn-remove {
    padding: unset;
    font-size: 13px;
    color: #EB5757CC;
}

.custom-checkbox {
    margin-top: 5px;
}

.modal-body-warning-add-product {
    text-align: center;
}

.row.modal-footer-warning-add-product {
    position: relative;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #c7c7c7;
}

.row.modal-footer-warning-add-product::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #b5b5b5;
}

.btn-cancel-add-product {
    color: red;
}

.btn-continue-add-product {
    color: #00D67F;
}

.disabled-custom-show:disabled {
    color: #0c0c0c;
}

.modal-xlg-custom {
    max-width: 1280px;
}








.select-filter {
    margin-left: -35px;
}

.disabled-show-normal:disabled {
    color: #0c0c0c;
    background-color: white;
}






.fa-angle-double-up {
    color: #007D88;
    text-align: right;
}

.fa-angle-double-down {
    color: #007D88;
    text-align: right;
}

ul.quotation-tabs li.quotation-tab-item {
  margin-right: 10px;
}

.fa-info-circle {
    color: #298dff;
}

.option-btn-checked {
    background-color: #f7f7f7;
}

.expired-price {
    color: #EB5757CC;
}

.valid-price {
    color: #00D67F;
}

.fa-angle-down {
    font-size: x-small;
    color: #c7c7c7;
}

.status-draft:disabled {
    background-color: #f7f7f7;
    color: #6f6f6f;
}

.status-created:disabled {
    background-color: #ebf5f5;
    color: #007D88;
}

.status-added:disabled {
    background-color: #edfcfe;
    color: #18DDEF;
}

.status-finish:disabled {
    background-color: #ebfcf5;
    color: #00ab66;
}

.status-cancel:disabled {
    background-color: #ffebeb;
    color: #e60000;
}