{% extends 'base.html' %}
{% load static i18n %}

{% block cssHeader %}
{% endblock %}

{% block pageAction %}
{% endblock %}

{% block pageContent %}
    <ul class="nav nav-line nav-tabs nav-light">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#tab_default_data">
                <span class="nav-link-text">Default Data</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab_plan_app">
                <span class="nav-link-text">Plan - App</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab_default_data">
            {% include 'core/utilities/extends/default_data.html' %}
        </div>
        <div class="tab-pane fade" id="tab_plan_app">
            {% include 'core/utilities/extends/plan_app.html' %}
        </div>
    </div>
{% endblock %}

{% block jsFooter %}
    <script>
        $('.expand-app-config').on('click', function (){
            $(this).find('.expand-app-config-icon').toggleClass('d-none');
            $(this).parent().find('.app-config-data').toggleClass('d-none');
        })
    </script>
{% endblock %}