{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Workflow create' %}{% endblock %}
{% block cssHeader %}
{% endblock %}
{% block jsHeader %}
    <!-- Daterangepicker CSS -->
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block pageAction %}
    <button class="btn btn-flush-success btn-animated mr-1 font-5" type="button"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Save"
            data-bs-original-title="Save">
        <span class="icon">
            <span class="feather-icon">
                <i data-feather="save"></i>
            </span>
        </span>
    </button>
    <button class="btn btn-flush-danger btn-animated font-4" type="button" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Back" data-bs-original-title="Back"
            onclick="window.history.go(-1); return false;">
        <span class="icon">
            <span class="feather-icon">
                <i class="fas fa-step-backward"></i>
            </span>
        </span>
    </button>
{% endblock %}
{% block pageContent %}
    <form id="promo_create" data-url="" method="post" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="form-create-title">{% trans 'Name' %}</label>
                    <input class="form-control" type="text" name="title" id="form-create-title" required>
                </div>
            </div>
            <div class="col-md-4 offset-md-2 col-xs-6 offset-xs-0">
                <div class="form-group">
                    <label class="form-label" for="form-create-valid_time">{% trans 'Valid time' %}</label>
                    <input class="form-control" type="text" name="valid_time" id="form-create-valid_time" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="form-create-remark">{% trans 'Description' %}</label>
                    <input class="form-control" type="text" name="remark" id="form-create-remark"/>
                </div>
            </div>
            <div class="col-md-4 offset-md-2 col-xs-6 offset-xs-0">
                <div class="form-group">
                    <label class="form-label" for="form-create-currency">{% trans 'Currency' %}</label>
                    <select class="form-control dropdown-select_two"
                            data-placeholder="{% trans 'VND' %}"
                            name="currency"
                            id="form-create-currency"
                            data-multiple="false"
                            data-prefix="currency_list"
                            data-url="{% url 'CurrencyListAPI' %}"
                            required
                    ></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label w-100" for="form-create-customer">
                        <span>{% trans 'Customer' %}</span>
                        <button type="button" class="float-right btn btn-flush-success btn-animated">
                            <i class="bi bi-pencil-square mr-1"></i>
                            {% trans 'Edit' %}
                        </button>
                    </label>
                    <input type="hidden" name="customer" id="form-create-customer">
                    <textarea class="form-control" type="text" name="customer_hint"
                              id="form-create-customer"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-label" for="form-create-valid_time">{% trans 'Select method' %}</label>
            </div>
            <div class="col-md-6">
                <div class="col">
                    <div class="form-check form-check-lg">
                        <input type="checkbox" class="form-check-input" id="is_discount" checked>
                        <label class="form-check-label" for="is_discount">{% trans 'Discount' %}</label>
                    </div>

                </div>
                <div class="col">
                    <div class="form-check form-check-lg">
                        <input type="checkbox" class="form-check-input" id="is_coupons">
                        <label class="form-check-label" for="is_coupons">{% trans 'Coupons' %}</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-check-lg">
                        <input type="checkbox" class="form-check-input" id="is_gift">
                        <label class="form-check-label" for="is_gift">{% trans 'Gift' %}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check mr-5">
                    <input type="radio" id="tax_position_01" name="tax_position" class="form-check-input">
                    <label class="form-check-label" for="tax_position_01">{% trans 'Before Tax' %}</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="tax_position_02" name="tax_position" class="form-check-input">
                    <label class="form-check-label" for="tax_position_02">{% trans 'After Tax' %}</label>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-between align-items-center">
                <div class="form-check">
                    <input type="radio" id="percent_01" name="percent" class="form-check-input">
                    <label class="form-check-label" for="percent_01">{% trans '%' %}</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="percent_02" name="percent" class="form-check-input">
                    <label class="form-check-label" for="percent_02">{% trans 'Fixed Amount' %}</label>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="percent_value" id="form-create-percent_value">
                </div>
                <div class="form-label"> <p>{% trans 'Max amount' %}</p></div>
                <div class="form-group">
                    <input class="form-control" type="text" name="percent_value" id="form-create-percent_value">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="percent_value" id="form-create-percent_value">
                </div>
                <label class="form-label" for="form-create-customer_per">{% trans 'use  for each customer per' %}</label>
                <select name="customer_per" id="form-create-customer_per" class="form-select">
                    <option value="0">{% trans 'Valid time' %}</option>
                    <option value="1">{% trans 'Week' %}</option>
                    <option value="2">{% trans 'Month' %}</option>
                </select>
                <div class="form-label"><p>{% trans 'Max Usages' %}</p></div>
                <div class="form-group">
                    <input class="form-control" type="number" min="0" max="999999" name="max_usages"
                           id="form-create-max_usages">
                </div>
            </div>
            <div class="group-select-box">
                <div class="col-md-6">
                    <div class="form-check form-check-lg">
                        <input type="checkbox" class="form-check-input" id="is_discount_order">
                        <label class="form-check-label" for="is_discount_order">{% trans 'Discount on order' %}</label>
                    </div>
                    <div class="form-label"><p>{% trans 'When' %}</p></div>
                    <div class="form-check form-check-lg">
                        <input type="checkbox" class="form-check-input" id="is_discount_order_opt">
                        <label class="form-check-label" for="is_discount_order_opt">
                            {% trans 'Minimum purchase value' %}</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="discount_order_opt_value"
                               id="form-create-discount_order_opt_value">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check form-check-lg">
                        <input type="checkbox" class="form-check-input" id="is_discount_special">
                        <label class="form-check-label" for="is_discount_special">
                            {% trans 'Discount on special product' %}</label>
                    </div>
                    <div class="form-select">
                        <select class="form-control dropdown-select_two"
                                data-placeholder="{% trans 'Nothing selected' %}"
                                name="discount_special_pro_list"
                                id="form-create-discount_special_pro_list"
                                data-multiple="false"
                                data-prefix="product_list"
                                data-url="{% url 'ProductListAPI' %}"
                        ></select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-label"><p>{% trans 'When' %}</p></div>
                    <div class="form-check form-check-lg">
                        <input type="checkbox" class="form-check-input" id="discount_special_quantity">
                        <label class="form-check-label" for="discount_special_quantity">
                            {% trans 'Minimum quantity' %}</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="discount_special_quantity_value"
                               id="form-create-discount_special_quantity_value">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check form-check-lg">
                        <input type="checkbox" class="form-check-input" id="is_free_shipping">
                        <label class="form-check-label" for="is_free_shipping">
                            {% trans 'Free shipping' %}</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <input type="hidden" id="trans-factory">
    <input type="hidden" id="url-factory">
{% endblock %}
{% block jsFooter %}
    <!-- Daterangepicker JS -->
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/js/sale/saledata/masterdata/saledata_price.js' %}"></script>
{% endblock %}

