{% load i18n %}

<div id="bastion-space">
    {% trans 'Select Sale Person (Beneficiary)' as inherit_title %}
    {% include 'extends/the-documents/bastion.html' with auto_select_current_employee=True opp_title=opp_title has_opp=True has_process=True has_inherit=True is_open=True inherit_title=inherit_title inherit_required=True %}
</div>

<div class="row">
    <div class="col-12 col-md-9 col-lg-9">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="quotation_mapped_select" class="form-label">{% trans "Quotation" %}</label>
                    <select name="quotation_id"
                            class="select2 form-select"
                            data-url="{% url 'CashOutflowQuotationListAPI' %}"
                            id="quotation_mapped_select">
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="sale_order_mapped_select" class="form-label">{% trans "Sale Order" %}</label>
                    <select name="sale_order_id"
                            class="select2 form-select"
                            data-url="{% url 'CashOutflowSaleOrderListAPI' %}"
                            id="sale_order_mapped_select"></select>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="title" class="form-label required">{% trans "Title" %}</label>
                    <input required maxlength="100" name="title" class="form-control" id="title">
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label required" for="payment_type">{% trans "Type" %}</label>
                    <select required class="form-select" id="payment_type" name="payment_type">
                        <option value="0">{% trans "Payment for supplier" %}</option>
                        <option value="1">{% trans "Payment for employee" %}</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-9 col-lg-9">
                <div class="form-group">
                    <label for="supplier_id" class="form-label">{% trans "Supplier" %}</label>
                    <select required name="supplier_id" class="form-select" data-method="GET" id="supplier_id" data-url="{% url 'CashOutflowSupplierListAPI' %}"></select>
                </div>
                <div class="form-group" hidden>
                    <label for="employee_payment_id" class="form-label">{% trans "Employee" %}</label>
                    <select required name="employee_payment_id" class="form-select" data-method="GET" id="employee_payment_id" data-url="{% url 'EmployeeListAPI' %}"></select>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label for="payment-method" class="form-label required">{% trans "Method" %}</label>
                    <select required name="method" class="form-select" id="payment-method">
                        <option value="0">{% trans "None" %}</option>
                        <option value="1">{% trans "Cash" %}</option>
                        <option value="2">{% trans "Bank transfer" %}</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-9 col-lg-9">
                <div class="form-group">
                    <label class="form-label" for="bank-info">{% trans "Bank information" %}</label>
                    <textarea readonly
                              rows="3"
                              placeholder="{% trans 'Click to select or input new' %}" id="bank-info" class="form-control"
                              data-bs-toggle="modal"
                              data-bs-target="#bank-account-modal"
                    ></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="date_created">{% trans "Date created" %}</label>
                    <input disabled readonly class="form-control form-control-line" id="date_created" name="date_created">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="employee_created">{% trans "Employee created" %}</label>
                    <input disabled readonly class="form-control form-control-line" id="employee_created" name="employee_created">
                </div>
            </div>
        </div>
    </div>
</div>
