{% load i18n %}

<div class="tab-pane fade" id="tab_plan" data-zone="plan_tab">
    <div class="row">
        <div class="col-12">
            <table id="tab_plan_datatable"
                   class="table nowrap w-100"
                   data-method="GET"
                   data-url-sale-order="{% url 'SaleOrderExpenseListAPI' %}"
                   data-url-quotation="{% url 'QuotationExpenseListAPI' %}">
                <thead>
                    <tr>
                        <th style="min-width: 50px"></th>
                        <th style="min-width: 100px">{% trans 'Expense items' %}</th>
                        <th style="min-width: 100px">{% trans 'Plan After Tax' %}</th>
                        <th style="min-width: 100px">{% trans 'AP Approved' %}</th>
                        <th style="min-width: 100px">{% trans 'Returned value' %}</th>
                        <th style="min-width: 100px">{% trans 'To payment' %}</th>
                        <th style="min-width: 100px">{% trans 'Other Payment' %}</th>
                        <th style="min-width: 100px">
                            {% trans 'Available' %}
                            <i class="fas fa-info-circle icon-info"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="{% trans 'Available' %} = {% trans 'Plan After Tax' %} - {% trans 'Other Payment' %} - {% trans 'AP Approved' %} + {% trans 'Returned value' %}">
                            </i>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="notify-none-sale-code" class="alert alert-warning" role="alert">
                <span class="alert-icon-wrap"><i class="bi bi-exclamation-triangle-fill"></i></span>
                &nbsp;{% trans "Sale Order/Quotation is not selected!" %}
            </div>
        </div>
    </div>
</div>
