{% load i18n %}

<div class="row mt-5 mb-5">
    <div class="col-12">
        <ul class="nav nav-tabs nav-icon nav-light">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#tab_line_detail">
                    <span class="nav-icon-wrap"><span class="feather-icon"><i class="bi bi-list-task"></i></span></span>
                    <span class="nav-link-text">{% trans 'Line Detail' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab_plan">
                    <span class="nav-icon-wrap"><span class="feather-icon"><i class="bi bi-newspaper"></i></span></span>
                    <span class="nav-link-text">{% trans 'Plan' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab_bank_info">
                    <span class="nav-icon-wrap"><span class="feather-icon"><i class="bi bi-bank"></i></span></span>
                    <span class="nav-link-text">{% trans 'Bank info' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab_attachment">
                    <span class="nav-icon-wrap"><span class="feather-icon"><i class="bi bi-file-earmark-arrow-up"></i></span></span>
                    <span class="nav-link-text">{% trans 'Attachment' %}</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            {% include 'payment/common/tab_line_detail.html' %}
            {% include 'payment/common/tab_plan.html' %}
            {% include 'payment/common/tab_bank_info.html' %}
            {% include 'payment/common/tab_attachment.html' %}
        </div>
    </div>
</div>
